html {
    height: 100%;
}
body 
{
    background:#f7f7f7;
    font-size:10px;
    margin: 0;
    height:99%;
    width:99%;
}

fieldset{
    background-color: #F8F8F8;
    border: 5px solid #F1F1F1;
    border-radius: 5px 5px 5px 5px;
    margin: 15px;
    padding: 10px;
}

legend {
    color: #A8A8A8;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 5px;
}

#wrapper
{
    margin: 0 auto;
    width: 95%;
    height: 100%;
    background-size: 100% auto;
    border-left: solid 1px gray;
    border-right: solid 1px gray;
}

.fieldLabel{
    color: #A8A8A8;
    text-align: right;
}

input, select, textarea {
    padding: 4px;
    border: 1px solid #b5b5b5;
    background: #fff url(../images/buttons.png) repeat-x scroll 0 -375px;
}
#directorySelector{
    height: 30px;

}

#periodSelector, #directorySelector{
    height: 30px;
    width: 360px;
}

#thestatusform select{
    font-weight: bold;
    font-size: 17px;
}

#contentDiv{
    width: 720px;
}

div.header-panel
{
    background: #eeeeee;
    height: 62px;
    overflow: hidden;
    width: 100%;
    font-size: 11px;
    margin: 0;
    border-bottom: 1px solid #A8A8A8;
}

.bar-panel
{
    color: #A8A8A8;
    font-family: tahoma,verdana,sans-serif;
    font-size: 10px;
    border: solid 0 green;
    height: 4px;
    width: 100%;
    padding-left: 20px;  
}
div.navbar * {
    color: #828282;
    text-decoration: none;    
}

div.navbar dl.main {
    clear: both;
    height: 34px;
    width: 100%;
}

div.navbar dl.main dt {
    color: #FFFFFF;
    font: bold 11px Tahoma,sans-serif;
    background: url("data:image/png;charset=utf-8;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABICAIAAAC4IAh6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAEFJREFUeNpivHjxIhMjIyMTAwMDmIZhGB8EkMVhGFkcFxuffmwYZuf////BbBBNDP737x9OPi42NvXodgL5AAEGADguYwbzePwrAAAAAElFTkSuQmCC") repeat-x scroll 0 -36px #E8E8E8;
    border: 1px solid #A8A8A8;
    box-shadow: 1px 1px 0 #FFFFFF inset;
    cursor: pointer;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 26px;
    padding-top: 10px;
    text-align: center;
    text-shadow: 1px 1px 0 #FFFFFF;
    width: 150px;
}

div.navbar dl.main *:hover {
    background-position: 0 0 !important;
}


.bar-panel #welcome 
{
    float: left;
    padding-right: 10px;
    padding-top: 3px;
}

.bar-panel #selected_directory
{
    position: relative;
    left: 35px;
    float:left;
    overflow:hidden;
    width: auto;
    top: -3px;
}

#selDirDiv, #selPeriodDiv {
    font-weight:bold;
    text-shadow: 1px 1px 0 #FFFFFF;
    font-size:20px;
    color:#828282;
    float: left;
    width:auto;
}

.bar-panel #selDirDiv{
    border-right: 1px solid #E8E8E8;
    padding-right: 10px;
}

.bar-panel #selPeriodDiv{
    padding-left: 10px;
}

.icon_actions{
    margin-left: 5px !important;
    float: left;
}

.footer-panel
{

    /*position: absolute;*/
    width: 100%;
    clear:both;
    font-family: Georgia, serif;
    background-color: #87B6D9;
    border: solid 0 green;
    margin-top: 5px;
}

.admin-panel 
{
    /*position: absolute;
                float: left;*/
    /*padding-left:50px;*/
    background: #fff;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    margin:	0 auto;
    border: solid 0 green;
}
.right-border
{
    top: 40px;
    left: 835px;
    border: solid 0 #454542;
    position: absolute;
}
.mainbody-panel
{
    position: absolute;
    height:100%;   
    padding-top: 15px;
    border: solid 0 blue;
    width: 100%;
}
.top-panels
{
    height: 188px;
    margin: auto 0;
    width: 100%;
}
.mid-panels
{
    width: 100%;
    margin-top: 5px;
    border: solid 0 green;
    height: 315px;
}

.bottom-panels
{
    margin-top: 85px;
    margin-bottom: 5px;
    height: 175px;
}

.client-options-panel  
{
    float: left;
    left:20px; 
    width:240px; 
    height:193px; 
    background:#fff;
}

#tab1s {
    height: 180px;
    margin-left: 15px;
}

.client-options-panel button
{
    width: 200px;
    margin-top: 5px;
}

.other-options-panel 
{
    float: left;
    margin-left: 5px; 
    width:240px; 
    height:130px; 
    background:#fff;
}

.other-options-panel button
{
    width: 200px;
    margin-top: 5px;
}

#tab-content-directory-reports-3 button{
    width: 200px;
    margin-top: 5px;
}

#tab-content-directory-options-2 button{
    width: 200px;
    margin-top: 5px;
}

.directory-status-panel
{
    float: left;
    margin-left:5px; 
    width:75%; 
    background:#fff;
}

.directory-reports-panel
{
    float: left;
    margin-left:5px; 
    width:250px; 
    height:130px; 
    background:#fff;
}

.directory-reports-panel button
{
    width: 200px;
    margin-top: 5px;
}

.category-options-panel
{
    float: left;
    width:240px; 
    height:193px; 
    background:#fff;
}

.category-options-panel button
{
    width: 200px;
    margin-top: 5px;
}

#tab3s
{
    margin-left: 15px;
}

.query-panel
{
    float: left;
    margin-left:5px; 
    top: 100px;
    width:75%; 
    height:130px; 
}

#query-list{
    height:                 35px;
    width:                  100%; 
}

#query-result{
    width: 100%;
    height: 100%;
}

#query-n
{
    margin-bottom: 12px;
    margin-top: 2px;
    width: 502px;
}

.member-options-panel
{
    /*	position: absolute;*/
    clear:left;
    float:left;
    height:170px;
    left: 50px;
    margin-top: 40px;
    width:240px;

}

#tab4s{
    margin-left: 15px;
}

.member-options-panel button
{
    width: 200px;
    margin-top: 5px;
}

.controlpanel1-options-panel {
    clear:left;
    float:left;
    height:130px;
    left: 50px;
    width:240px;	
}

#tab6s{
    margin-left: 15px;
}


.controlpanel1-options-panel button,
.controlpanel2-options-panel button,
.controlpanel3-options-panel button{
    width: 200px;
    margin-top: 5px;
}

.controlpanel2-options-panel
{
    float: left;
    margin-left:20px; 
    width:240px; 
    height:130px; 
    background:#fff;
}

.controlpanel3-options-panel
{
    float: left;
    margin-left:20px; 
    width:240px; 
    height:130px; 
    background:#fff;
}

table td
{
    font-family:tahoma,verdana,sans-serif;
    font-size:12px;
}

div.category_dlg_wrapper
{
    border: solid 0 black;
    width: 99%;
    height:100%
}

div.category_dlg_left
{
    border: solid 0 yellow;
    width: 260px;
    float: left;
    height: 100%;
    background:#ffffff url(../images/vdivider.png) no-repeat right top;
}

div.category_dlg_right
{
    border: solid 0 blue;
    width: 300px;
    float: right;
    height: 100%;
}

div#category_tree
{
    margin-top: 10px;
    border: dashed 0 red;
}

div#category_path
{
    margin: 5px 0 5px 5px;
    font-size: 11px;
    /*font-family: Arial Helvetica sans-serif;*/
    border: dashed 0 black;
}

div#category_info
{
    margin-top: 0px;
    border: dashed 0 green;
}
.hide_directory_period_panel{
    visibility: hidden; 
    display: none;
}

.show_directory_period_panel{
    visibility: visible;
    display: block;
}