  



<div class="contactmebox-wapper" style="width: 500px;height:500px;font-size: 13px;">






    <div {{action collectionSwitch }} class="btn" id="recordID" {{bindAttr text="controller.selectedTitle" }}>Choose One</div>

    {{view Ember.TextArea valueBinding="controller.selectedDesc" rows="12" cols="70"}}


    {{#if controller.selectionPop}}
    <div class="contact-container" style="width: 600px;height:200px;">
        {{view App.SearchRequireTextFieldView valueBinding="newCollectionName"  id="AddRecord" class=""  placeholder=".............." }}   

        <button type="button" {{action addNewCollection }} class="btn">New Collection</button>



        {{#each controller.collections}}
        <div>
            <a {{action chooseRecord title}}> {{title}}</a>
        </div>
        {{/each}}

    </div>
    {{/if}}




    <button type="button" {{action exit }} class="btn">Cancel</button>
    <button type="button" {{action submit }}  class="btn btn-primary">Submit</button>


</div>