
<div id="user-header-menu" style="top: 10px">
    <ul class="loging_table moveTop nav" style='margin: 0;'>
        <li class="dropdown">

            <div class="profilepic-container" data-toggle="dropdown" style="margin:5px;position: absolute;right: 50px;">
                <a {{bindAttr href="controller.myUserProfile"}} ><img {{bindAttr src="controller.user.photo_url"}} class="profilepic_user profilepic_effect easing" style='width: 35px;height:35px;'/></a>              
            </div>

            <ul id="user-dd-menu" class="dropdown-menu">
                <li class="active">
                    <a tabindex="-1" {{bindAttr href="controller.myUserProfile"}}>My Trends</a>
                </li>
                <!--                <li class="active">
                                    <a tabindex="-1" href="#">Find Friends</a>
                                </li>
                                <li class="active">
                                    <a tabindex="-1" href="#" {{action reloadPage target="controller" }}>Settings</a>
                                </li>
                                <li class="active">
                                    <a tabindex="-1" href="#">Help Center</a>
                                </li>-->
                <li class="active">
                    <a tabindex="-1" {{bindAttr href="controller.myUserProfile"}}>Feedback & Support</a>
                </li>                
                <li>
                    <a tabindex="-1" href="#" onclick="logout();">Logout </a>
                </li>
            </ul>
        </li>
    </ul>
</div>


<script>

                        function logout() {

                            var address = document.URL;
                            var domain = address.split("/")[2];



                            $.ajax({
                                type: 'POST',
                                url: 'http://' + domain + '/site/logout',
                                contentType: 'application/json; charset=uft-8',
                                dataType: 'json',
                                success: function() {

                                }
                            });

                            localStorage.clear();


                        }
</script>
