<div id="user-header-menu" style="top: 10px">
    <ul class="loging_table moveTop nav" style='margin: 0;'>
        <li class="dropdown">

            <div class="profilepic-container" data-toggle="dropdown" style="margin:3px;">
                <a href="#"><img {{bindAttr src="controller.user.photo_url"}} class="profilepic profilepic_effect easing" style='width: 35px;height:35px;'/></a>              
            </div>

            <ul id="user-dd-menu" class="dropdown-menu">
                <li class="active">
                    <a tabindex="-1" href="#">Ideabook</a>
                </li>
                <li class="active">
                    <a tabindex="-1" href="#">Find Friends</a>
                </li>
                <li class="active">
                    <a tabindex="-1" href="#">Settings</a>
                </li>
                <li class="active">
                    <a tabindex="-1" href="#">Help Center</a>
                </li>
                <li>
                    <a tabindex="-1" href="#" onclick="logout();">Logout </a>
                </li>
            </ul>
        </li>
    </ul>
</div>


<script>

                        function logout() {



                            $.ajax({
                                type: 'POST',
                                url: 'http://www.develop.devbox/site/logout',
                                contentType: 'application/json; charset=uft-8',
                                dataType: 'json',
                                success: function() {

                                }
                            });

                            localStorage.clear();
        

                        }
</script>