



{{#if indexPage}}


<div >  {{view App.CarouselView}}</div>
<div style="width:100px;height:100px" {{action Profile_page on="click" target="controller"}}>  {{view App.PhotoView}}</div>


<div style="margin-top: 360px;">
    
    
    <h1>I am an Ember App :) </h1>
<a  {{bindAttr title=name}}>Hover over me</a>
<h2>and you are looking at the application template.</h2>
enter you name here ... {{input type="text" value=name}}
<h1>Hi, my name is ...{{name}}</h1>
<h2>Last Name {{input type="text" value=lastname}}</h2>
<h1>{{lastname}}</h1>
    
    
</div>

{{else}}

<div>{{view App.UsersView}}</div>





{{/if}}






