

{{view App.HeaderView}}


{{outlet profiles}}

{{outlet users}}

{{view App.DiscoveryView}}



{{view App.MasonryView}}

{{outlet photos}}





{{render "footer"}}






<script type="text/javascript">

    function DropDown(el) {
        this.dd = el;
        this.placeholder = this.dd.children('span');
        this.opts = this.dd.find('ul.dropdown > li');
        this.val = '';
        this.index = -1;
        this.initEvents();
    }
    DropDown.prototype = {
        initEvents: function() {
            var obj = this;

            obj.dd.on('click', function(event) {
                $(this).parents('div .wrapper-dropdown-3').toggleClass('active');
                return false;
            });


            obj.opts.on('click', function() {
                var opt = $(this);
                obj.val = opt.text();
                obj.index = opt.index();
                obj.placeholder.text(obj.val);
            });
        },
        getValue: function() {
            return this.val;
        },
        getIndex: function() {
            return this.index;
        }
    };

    $(function() {


        var dd1 = new DropDown($('.dropdown_test_1'));

        $(document).click(function() {
            // all dropdowns
            $('.wrapper-dropdown-3').removeClass('active');
        });

        var dd3 = new DropDown($('.dropdown_test_3'));

        $(document).click(function() {
            // all dropdowns
            $('.wrapper-dropdown-3').removeClass('active');
        });
        var dd4 = new DropDown($('.dropdown_test_4'));

        $(document).click(function() {
            // all dropdowns
            $('.wrapper-dropdown-3').removeClass('active');
        });

    });










</script>