



<div style="position: absolute;z-index: 10;box-shadow: 0px 1px 30px 5px #555;width: 100%; height: 100%; overflow: hidden;">
    <img style="width: 100%; position: absolute; min-width: 1260px;" src="../images/coming-soon.jpg"/>

    <div style="font-size: 160px; line-height: 200px; font-weight: bold;color: white;margin: auto;display: block;left: 0;text-shadow: 1px 1px 40px #555;right: 0;text-align: CENTER;position: absolute;top: 200px;opacity: 0.2;">
        COMING SOON
    </div>

    <div style="text-align: center;position: relative;top: 100px;">
        <div style="font-size: 30px; line-height: 50px; font-weight: bold;width: 800px;color: white;margin: auto;display: block;left: 0;text-shadow: 1px 1px 40px #555;right: 0;">
            100, 000 MORE IDEAS AT
        </div>
        <img style="width: 415px;   left: 0; right: 0; margin: auto;margin: -40px auto -47px;display: block;" src="../images/trendsbigbrand.png">
        <div style="font-size: 35px; line-height: 50px;width: 800px;color: white;margin: 0px auto;display: block;left: 0;text-shadow: 1px 1px 30px #333;right: 0;">
            — <b>trendsideas.com</b> —
        </div>

        <div style="font-size: 13px; line-height: 18px;width: 380px;color: white;margin: auto;display: block;left: 0;text-shadow: 0px 0px 5px #333;right: 0;">
            Hundreds of videos, thousands of articles and tens of thousands of high quality images from around the world showcasing: Architecture, Kitchen Design, Bathroom Design, Interiors, Landscape Design and Commercial Design. 
        </div>

        <div style="text-align: center;position: relative;top: 80px;">
            <div class="tile_img" style="right: 0; left: 0; position: relative;">
                <div id="dd3" class="wrapper-dropdown-3" tabindex="1" style=" width:270px; height:45px;">
                    <div>
                        <div id="dropdown-cover" class="dropdown_test_3" style="float: left; bottom: 10px; position: relative; width: 64px; height: 45px; margin-left: -10.5px; padding-left: 35px;">
                            <div class="login-icon">
                                <i class="icon-facebook icon-large">
                                </i>
                            </div>   
                        </div>
                        <div  id="dropdown-cover" onclick="Facebook(650, 400);" style="float: right; bottom: 10px; position: relative; width: 204px; height: 45px; margin-right: -10px;">
                            <div class="sign-in-with" >Register with Facebook</div>
                        </div>
                    </div>
                    <ul class="dropdown" style="width:270px">
                        <li  onclick="LinkedIn(650, 400);" ><a style="color:rgb(0,172,237)" href="#"><i class="icon-twitter icon-large"></i>Sign in with LinkedIn</a></li>
                        <li  onclick="Google(650, 400);" ><a style="color:rgb(211,72,54)" href="#"><i class="icon-google-plus icon-large"></i>Sign in with Google+</a></li>
                        <li  onclick="Yahoo(650, 400);" ><a style="color:rgb(123,0,153)" href="#"><img src='../../../images/yahoo.png' style='width: auto; height: 35px; float:left;margin: -3% -5% 0 6%;'>Sign in with Yahoo</a></li>
                        <li  onclick="Sina(650, 400);" ><a style="color:rgb(245,213,0)" href="#"><img src='../../../images/sina.png' style='width: auto; height: 35px; float:left;margin: -3% -3% 0 6%;'>Sign in with Sina</a></li>
                        <li  onclick="QQ(650, 400);" ><a style="color:rgb(62,59,62)" href="#"><img src='../../../images/qq.png' style='width: auto; height: 35px; float:left;margin: -3% -2% 0 7%;'>Sign in with QQ</a></li>
                    </ul>
                </div>
            </div>
            <div style="font-size: 14px; line-height: 20px;width: 280px;color: white;margin: auto;display: block;left: 0;text-shadow: 0px 0px 5px #555;right: 0;font-weight: bold;">
                Register now to be one of the first users of our platform!
            </div>
            <div style="font-size: 20px; line-height: 20px;width: 280px;color: white;margin: 20px auto;display: block;left: 0;text-shadow: 0px 0px 5px #555;right: 0;font-weight: bold;">
                <a href="https://www.facebook.com/TrendsIdeas" target="blank" style="color: white; text-decoration: none; margin: 10px;"> <i class="icon-facebook"></i></a>
                <a href="https://twitter.com/Trendsideas" target="blank" style="color: white;text-decoration: none; margin: 10px;"> <i class="icon-twitter"></i></a>
            </div>

        </div>


    </div>
</div>
