<div class="contactmebox-wapper" style="width: 500px;font-size: 13px;">
    <div class="head">
        <div class="poster_user" >
            <div style="display: block; font-size: 17px; font-weight: bold; margin-bottom: 5px;">
                <span style="display: inline-block;margin-right: 5px;">Send an Email to</span>
                <a style="width: 250px; display: inline-block; overflow: hidden; text-overflow: ellipsis;">Name</a>
            </div>
            <div style="display: block; margin-bottom: 10px;">
                <span style="display: inline-block;margin-right: 5px;">From: Allen_wen@gmail.com</span>
                <a>edit</a>
            </div>
        </div>
        <div style="float: right;position: relative; display: inline-block; vertical-align: top;">
            <a href="#"><img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash3/556015_10151601804148200_348426023_n.jpg" class="profilepic"/></a>              
        </div>
        <div>
            <span style="display: inline-block; margin-right: 10px;">Subject:</span>
            <div class="addcommnetbox" style="display: inline-block; width: 388px; height: 25px; vertical-align: middle; padding: 2px 8px;">
                Project inquiry
            </div>
        </div>


    </div>
    <div class="content">
        <div class="contactme-table">
            <table style="padding: 0 20px 10px; width: 100%;font-size: 16px;  display: table;border-collapse: separate;border-spacing: 4px;">
                <tbody style="display: table-row-group; vertical-align: middle; border-color: inherit;">
                    <tr>
                        <td>Project Category:</td>
                        <td class="btn-group"> 
                            <a class="dropdown-contactme btn dropdown-toggle" data-toggle="dropdown" href="#">
                                Kitchen Remodel
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- dropdown menu links -->
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Project Timeframe:</td>
                        <td class="btn-group"> 
                            <a class="dropdown-contactme btn dropdown-toggle" data-toggle="dropdown" href="#">
                                1-2 months
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- dropdown menu links -->
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Project Budget:</td>
                        <td class="btn-group"> 
                            <a class="dropdown-contactme btn dropdown-toggle" data-toggle="dropdown" href="#">
                                Less than 5k
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- dropdown menu links -->
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Project Experience:</td>
                        <td class="btn-group"> 
                            <a class="dropdown-contactme btn dropdown-toggle" data-toggle="dropdown" href="#">
                                First Time
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- dropdown menu links -->
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>I want help on:</td>
                        <td> 
                            (Select one or more)
                        </td>
                    </tr>
                </tbody>
            </table>            
        </div>

        <div class="buttons" style="display: inline-block;">
            <div></div>
            <button type="button" {{action closeContact }}  class="btn btn-primary"><i class="icon-ok icon-white"></i></button>

            <button type="button" {{action closeContact }} class="btn"><i class="icon-remove"></i></button>
        </div>
    </div>
</div>