<div class="contactmebox-wapper" style="width: 500px;font-size: 13px;background-color: white;margin-top: 20px;">


    {{#unless controller.firstStepOfContactEmail}}

    <div style="position: relative;margin-bottom: 20px;text-align: center;">
        <div class="panelcircle" style="position: relative; display: inline-block;  margin: 0 65px; font-weight: bold;background-color: #427fed;z-index: 1;">1</div>
        <div {{action nextSendingEmailProcess}} class="panelcircle" style="position: relative; display: inline-block;  margin: 0 65px; font-weight: bold; z-index: 1;">2</div>
        <div style="width: 300px; height: 2px; border-radius: 20%;background-color:#ccc;position: absolute;margin: auto;left: 0;right: 0;top: 19px;z-index: 0;"></div>
    </div>


    <div class="head controlbtn-field">
        <div class="poster_user" >
            <div style="display: block; font-size: 16px; font-weight: bold; margin-bottom: 5px;">
                <span style="display: inline-block;margin-right: 5px;">Send an Email to</span>
                <a style="max-width: 240px; display: inline-block; overflow: hidden; text-overflow: ellipsis;">{{controller.selectedMega.owner_title}}</a>
            </div>
            <div style="display: block;">
                {{#unless controller.isDisplayNameEditable}}
                <span style="display: inline-block;margin-right: 5px;">From: {{controller.displayName}}</span>
                {{else}}
                {{view App.SearchRequireTextFieldView valueBinding="controller.displayName" class="lineuptextbox"}}
                {{/unless}}
                <a style="display: inline-block; cursor: pointer;" {{action setEditable "Name"}}>{{editNameStatus}}</a>
            </div>
            <div style="display: block; margin-bottom: 15px;">
                {{#unless controller.isDisplayEmailEditable}}
                <span style="display: inline-block;margin-right: 5px;">Email: {{controller.displayEmail}}</span>
                {{else}}
                {{view App.SearchAreaTextFieldView valueBinding="controller.displayEmail" class="lineuptextbox"}}
                {{/unless}}
                <a style="display: inline-block;cursor: pointer;" {{action setEditable "Email"}}>{{editEmailStatus}}</a>
            </div>
        </div>
        <div style="float: right;position: relative; display: inline-block; vertical-align: top;margin: 5px 0;">
            <a href="#"><img {{bindAttr src="controller.selectedMega.owner_profile_pic"}} class="profilepic"/></a>              
        </div>
        <div>
            <span style="display: inline-block; margin-right: 10px;">Subject:</span>
            <div style="display: inline-block; width: 378px; vertical-align: middle;">
                {{view Ember.TextField valueBinding="controller.emailSubject"}}
            </div>
        </div>
    </div>
    {{/unless}}


    {{#if controller.secondStepOfContactEmail}}
    <div style="position: relative;margin-bottom: 20px;">
        <div {{action proviousSendingEmailProcess}} class="panelcircle" style="position: relative; display: inline-block;  margin: 0 65px; font-weight: bold; z-index:1;">1</div>
        <div class="panelcircle" style="position: relative; display: inline-block;  margin: 0 65px; font-weight: bold; background-color: #427fed; z-index: 1;">2</div>
        <div style="width: 300px; height: 2px; border-radius: 20%;background-color:#ccc;position: absolute;margin: auto;left: 0;right: 0;top: 19px;z-index: 0;"></div>
    </div>
    {{/if}}






    <div class="content" style="border-radius: 0; padding: 15px 30px 0px;">
        <div class="contactme-table easing" style="text-align: center;">

            {{#if controller.secondStepOfContactEmail}}


            <table style="padding: 0 20px; width: 100%;font-size: 14px;  display: table;border-collapse: separate;border-spacing: 4px;">
                <tbody style="display: table-row-group; vertical-align: middle; border-color: inherit;">
                    <tr>
                        <td>Project Category:</td>
                        <td> 
                            <div class="new-btn" style="display: block;" {{action dropdown controller.dropdownCategory}}>
                                 <span id="dropdownCategory">Bathrooms</span>
                                <span class="caret"></span>
                            </div>
                            {{#if controller.projectCategoryDropdown}}
                            {{view App.DropdownListView}}
                            {{/if}}
                        </td>
                    </tr>
                    <tr>
                        <td>Project Timeframe:</td>
                        <td> 
                            <div class="new-btn" style="display: block;" {{action dropdown controller.dropdownTimeframe}}>
                                 <span id="dropdownTimeframe">1-2 months</span>
                                <span class="caret"></span>
                            </div>
                            {{#if controller.projectTimeframeDropdown}}
                            {{view App.DropdownListView}}
                            {{/if}}
                        </td>
                    </tr>
                    <tr>
                        <td>Project Budget:</td>
                        <td> 
                            <div class="new-btn" style="display: block;" {{action dropdown controller.dropdownBudget}}>
                                 <span id="dropdownBudget">Less than 5k</span>
                                <span class="caret"></span>
                            </div>
                            {{#if controller.projectBudgetDropdown}}
                            {{view App.DropdownListView}}
                            {{/if}}
                        </td>
                    </tr>
                    <tr>
                        <td>Project Experience:</td>
                        <td>
                            <div class="new-btn" style="display: block;"  {{action dropdown controller.dropdownExperience}}>
                                 <span id="dropdownExperience"> First Time </span>
                                <span class="caret"></span>
                            </div>
                            {{#if controller.projectExperienceDropdown}}
                            {{view App.DropdownListView}}
                            {{/if}}
                        </td>
                    </tr>
                </tbody>
            </table>    



            <div class="checkbox-columncontainer" style="margin: 20px 0;">
                <div class="checkbox-container">
                    <input type="checkbox" id="checkbox1" class="css-checkbox" checked="checked">
                    <label for="checkbox5" name="checkbox2_lbl" class="css-label lite-blue-check">Kitchen Products</label>
                </div>
                <div class="checkbox-container">
                    <input type="checkbox" id="checkbox2" class="css-checkbox" checked="checked">
                    <label for="checkbox5" name="checkbox2_lbl" class="css-label lite-blue-check">Kitchen Design</label>
                </div>
                <div class="checkbox-container">
                    <input type="checkbox" id="checkbox3" class="css-checkbox" checked="checked">
                    <label for="checkbox5" name="checkbox2_lbl" class="css-label lite-blue-check">Kitchen Ideas</label>
                </div>
            </div>
            <div class="checkbox-columncontainer">
                <div class="checkbox-container">
                    <input type="checkbox" id="checkbox4" class="css-checkbox" checked="checked">
                    <label for="checkbox5" name="checkbox2_lbl" class="css-label lite-blue-check">Kitchen Appliances</label>
                </div>
                <div class="checkbox-container">
                    <input type="checkbox" id="checkbox5" class="css-checkbox" checked="checked">
                    <label for="checkbox5" name="checkbox2_lbl" class="css-label lite-blue-check">Kitchen Benchtops</label>
                </div>
                <div class="checkbox-container">
                    <input type="checkbox" id="checkbox6" class="css-checkbox" checked="checked">
                    <label for="checkbox5" name="checkbox2_lbl" class="css-label lite-blue-check">Kitchen Layout</label>
                </div>
            </div>

            {{/if}}


        </div>


        {{#unless controller.firstStepOfContactEmail}}



        <div style="display: block;padding: 5px 0px;">
            <div>
                <span style="display: inline-block; margin-bottom: 5px;">Message:</span>
                <div style="margin-bottom: 10px; width: 100%; height: 200px;resize: none;">
                    {{view Ember.TextArea valueBinding="controller.emailBody" rows="12" cols="70" class="" placeholder="I saw your profile, I'd love to talk to you about my project, Please reply if you are interested.........."}}

                </div>
            </div>
        </div>


        {{/unless}}

    </div>


    <div class="controlbtn-field">
        {{#if controller.secondStepOfContactEmail}}
        <span style="float: left;margin: 15px;position: relative;left: 15px;">
            <div type="button" {{action proviousSendingEmailProcess}}  class="new-btn blue-btn">Previous</div>
        </span>
        {{/if}}
        <span class="controlbtn">
            <div type="button" {{action closeContact }} class="new-btn">Cancel</div>
            {{#if controller.secondStepOfContactEmail}}
            <div type="button" {{action emailSend }}  class="new-btn green-btn">Submit</div>
            {{/if}}
            {{#unless controller.firstStepOfContactEmail}}
            <div type="button" {{action nextSendingEmailProcess}}  class="new-btn green-btn">Next</div>
            {{/unless}}
        </span>
    </div>
</div>
