




<div id="discovery_search_bar_wrapper" style="margin: 0 0 100px 0;">
    <div style="width: 100%; height: 300px; background-color: black; opacity: 0.05;"></div>
    <P style="position: absolute; font-size: 20px; top: 110px;z-index: 600; width: 600px; color: white; left:0; right: 0; margin: auto; line-height: 25px; text-align: center;">
        Collect your online resource for kitchen, products, services & ideas
    </P>

    <div id="discovery_search_bar">

        <input id="search_key" class="search_input" placeholder="All region in New Zealand" name="search_key" type="text" />
        <input id="search_business" class="search_business" placeholder="Search by Business and keyword" type="text"  />
        <a  style="right: 117px;" href="#"><i class="icon-group" ></i></a>
        <a  style="right: 80px;" href="#"><i class="icon-book" ></i></a>
        <a  style="right: 43px;" href='#'><i class="icon-picture" ></i></a>
        <a  style="right: 6px;" href='#")'><i class="icon-film" ></i></a>
        <a  style="right: -35px;" class="cancleIcon"  href="#" ><i class="icon-remove-sign" ></i></a>
    </div>
    <div class="new-btn" style="margin: auto; width: 100px; display: block; position: absolute;left: 0;right: 0;top: 235px;" {{action searching on="click" target="view"}}>
        <i class="icon-search" style="margin-right: 10px;"></i> Search
    </div>


</div>

<script>
    $("#search_business").keyup(function(event) {
        if (event.which == 13) {
            //     alert('testging');

            App.DiscoveryView.prototype.test();
        }
    });
    $("#search_key").keyup(function(event) {
        if (event.which == 13) {
            //     alert('testging');

            App.DiscoveryView.prototype.test();
        }
    });
</script>