




    <div id="discovery_search_bar_wrapper">
        <div class="select_container_left">
            <ul class="discovery_select_left">
                <li>
                    <a href="#" >PRODUCTS</a>
                </li>
                <li>
                    <a href="#" >SERVICES</a>
                </li>
                <li>
                    <a href="#" >BRANDS</a>
                </li>
                <li>
                    <a href="#" >SUPPLIERS</a>
                </li>
            </ul>
        </div>
        <div id="discovery_search_bar">
            <input id="search_key" class="search_input" placeholder="All region in New Zealand" name="search_key" type="text"  />
            <input id="search_business" class="search_business" placeholder="Search by Business and keyword" type="text" />
            <a class="view_book" href="#"><i class="icon-book" ></i></a>
            <a class="view_control_list" href='#'><i class="icon-picture" ></i></a>
            <a class="view_control_gal"  href='#")'><i class="icon-film" ></i></a>
            <a class="search_button" href="#"><i class="icon-search" ></i></a>
            <a  class="cancleIcon"  href="#" ><i class="icon-remove-sign" ></i></a>
        </div>
    </div>