{{#view App.DragNDropView }}


<div  style="margin-top: 70px;height: 500px;width: 2000px; background-color: grey">   drop files to here. 

    {{controller.content.length}}    
    {{#each content}}
    <div style="float:left">

        <div> <img  {{bindAttr src= "src"}}  alt="Logo" > </div>
        <div>{{name}}</div>

        <div style="width: 260px;">

            <div class="progress progress-striped active">

                <div class="bar" style="width:{{unbound progress}}%"></div>

            </div>

        </div>


    </div>
    {{/each}}
</div>

{{/view}}

<button {{action test}}>aaa</button>
