{{#view App.DragNDropView }}


<div  style="margin-top: 70px;height: 500px;width: 2000px; background-color: grey">   drop files to here. 



    {{view App.DragNDropView.childView}}



    <div style="float:left">
        {{#each content}}
        <div> <img  {{bindAttr src= "src"}}  alt="Logo" > </div>
        <div>{{name}}</div>

        <div style="width: 260px;">

            <div class="progress progress-striped active">

                <div class="bar" style="width:{{unbound progress}}%"></div>

            </div>

        </div>

        {{/each}}
    </div>

</div>

{{/view}}


