


{{#if controller.projectCategoryDropdown}}
<div id="dropItem1"  {{action dropdown controller.dropdownCategory}}>
     <div  class="ite ">Bathrooms</div>
    <div  class="ite ">Home Theatre</div>
    <div  class="ite ">Interior Living</div>
    <div  class="ite ">Kitchens</div>
    <div  class="ite ">New Homes</div>
    <div  class="ite ">Outdoor Living</div>
    <div  class="ite ">Renovation</div>
    <div  class="ite ">Apartment Design</div>
    <div  class="ite ">Civic Design</div>
    <div  class="ite ">Educational Design</div>
    <div  class="ite ">Hospitality Design</div>
    <div  class="ite ">Office Design</div>
    <div  class="ite ">Refurbishment</div>
    <div  class="ite ">Retail design</div>
</div>
{{/if}}

{{#if controller.projectTimeframeDropdown}}
<div id="dropItem2" {{action dropdown controller.dropdownTimeframe}}>
     <div  class="ite ">1-2 months</div>
    <div  class="ite ">Next 6 months</div>
    <div  class="ite ">Within 12 months</div>
    <div  class="ite ">1-2 years</div>
    <div  class="ite ">Within 3 years</div>
</div>
{{/if}}

{{#if controller.projectBudgetDropdown}}
<div id="dropItem3" {{action dropdown controller.dropdownBudget}}>
     <div  class="ite ">Less than 5k</div>
    <div  class="ite ">5k-10k</div>
    <div  class="ite ">10k-50k</div>
    <div  class="ite ">50k-100k</div>
    <div  class="ite ">100k-250k</div>
    <div  class="ite ">250k-500k</div>
    <div  class="ite ">500k- 1M</div>
    <div  class="ite ">1M+</div>
</div>
{{/if}}

{{#if controller.projectExperienceDropdown}}
<div id="dropItem4" {{action dropdown controller.dropdownExperience}}>
     <div  class="ite ">First Time</div>
    <div  class="ite ">Helped someone do this</div>
    <div  class="ite ">Have done this once before</div>
    <div  class="ite ">Experienced at this type of project</div>
</div>
{{/if}}



<script>
    $('#dropItem1 > .ite').click(function() {

        $('#dropdownCategory').text($(this).text());
    });

    $('#dropItem2 > .ite').click(function() {

        $('#dropdownTimeframe').text($(this).text());
    });
    $('#dropItem3 > .ite').click(function() {

        $('#dropdownBudget').text($(this).text());
    });
    $('#dropItem4 > .ite').click(function() {

        $('#dropdownExperience').text($(this).text());
    });
</script>
