<div id="uploadArea"  style="height: 510px;width: 570px;  display: none">

    <div id="createCollection" style=' color: #333; font-size: 20px; font-weight: bold; text-align: center; margin: 5px 0 0;'>Create a Collection</div>

    <div id="updateCollection" style=' color: #333; font-size: 20px; font-weight: bold; text-align: center; margin: 5px 0 0; display: none' >Update a Collection</div>

    <div  style=" width: 80%;  margin: auto;">
        <div style="font-size: 16px;font-weight: bold;color: #555; line-height: 25px;">Name*</div>
        {{view App.SearchRequireTextFieldView valueBinding="controller.selectedCollection.id"  id="" class="new-collection-name_insert" style="height:30px;" placeholder="e.g. Bedroom Design" }} 

        <div style="font-size: 16px;font-weight: bold;color: #555; line-height: 25px;">Description   </div>
        {{view Ember.TextArea valueBinding="controller.selectedCollection.desc" rows="12" cols="70" class="new-collection-area"  placeholder="Add a short description to your Collection"}}

    </div>

    <div class="controlbtn-field" style="margin-top: 15px;height: 60px;">

        <div id="deletebtn" type="button" {{action deleteSelectedCollection}} class="new-btn red-btn"style="right:0; display: none">
             <i class='icon-trash'></i>
        </div>
        <div style="position: relative; right: 15px;margin: 10px auto;float: right;">

            <div id="uploadingObject" class='new-btn' style="right: 0;"  {{action returnCollection  id target="view" on="click"}}>Cancel</div>
            <div id="createbtn" type="button" {{action submit }}  class="new-btn green-btn"style="right:0;">Create</div>
            <div id="updatebtn" type="button" {{action updateCollectionInfo }} class="new-btn green-btn"style="right:0; display: none">Update</div>

        </div>
    </div>
</div>
