<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="brand">
                <a href="/#">
                    <img class="logonew" style="position: relative; top: 0; margin:0;" src="../../../images/landing-trends.png">
                </a>
            </div>

            <div id="title" class="title-strapline">
                <p class="titleText">Global  recommendations from </p>
            </div>
            <div id="dd4" class="wrapper-dropdown-3" tabindex="1" style="background:none;border: none;color:white;height: 45px;left: 0;display: inline-block;box-shadow: none;">
                <div class="SpanFontSetting dropdown_test_4" style="margin: -10px 0px 0px -10px;height: 45px;"><p style=" position: absolute; margin: 13px 0;">Region</p></div>
                <ul class="dropdown" style="background: none repeat scroll 0% 0% rgb(45, 45, 45);border: 1px solid rgba(0, 0, 0, 0.17);">
                    <li><a href="#" style="margin:0; border-radius:0px;color: white;border-bottom: 1px solid black;padding: 10px;border-top: 1px solid rgb(66, 66, 66);box-shadow: none;"><i></i>Australia</a></li>
                    <li><a href="#" style="margin:0; border-radius:0px;color: white;border-bottom: 1px solid black;padding: 10px;border-top: 1px solid rgb(66, 66, 66);box-shadow: none;"><i></i>New Zealand</a></li>
                    <li><a href="#" style="margin:0; border-radius:0px;color: white;border-bottom: 1px solid black;padding: 10px;border-top: 1px solid rgb(66, 66, 66);box-shadow: none;"><i></i>India</a></li>
                    <li><a href="#" style="margin:0; border-radius:0px;color: white;border-bottom: 1px solid black;padding: 10px;border-top: 1px solid rgb(66, 66, 66);box-shadow: none;"><i></i>China</a></li>
                    <li><a href="#" style="margin:0; border-radius:0px;color: white;border-bottom: 1px solid black;padding: 10px;border-top: 1px solid rgb(66, 66, 66);box-shadow: none;"><i></i>America</a></li>
                </ul>
            </div>
            <div class="smallIcon">
                <a class="icon_a" href="#"><i class="icon-th icon-large"></i></a>
                <a class="icon_b" href="#"><i class="icon-list-ul  icon-large"></i></a>
                <a href="#" class="icon_c"><i class="icon-search icon-large"></i></a>
            </div>
            <!-- show if not logged into platform-->

            {{#if controller.isLogin}}
            {{render 'afterLogin'}}
            {{else}}
            {{render 'beforeLogin'}}
            {{/if}}
            <!-- user is logged in -->

        </div>
    </div>
</div>