



<div style="width: 100%; margin: 100px auto; left: 0;right: 0;position: relative;display: block;">
    <!-- masonry from here -->
    <div id="masonry_photo_collection_container"  class="transitions-enabled centered clearfix" >

        <!--SECTION CONTROL BAR-->

        <div class="style-box t-style-box" style="width: 100%; min-width: 800px; height: 50px; background: white;margin: -70px auto;left: 0;right: 0;position: relative;display: block;">

            <div style="margin: 4px 20px 4px 40px; font-size: 18px; text-shadow: 0 1px 0 rgba(255,255,255,0.8);float: left;" >{{controller.title}}  {{controller}}</div>
            <i class="icon-upload" style="color: #555; text-shadow: 0 1px 0 rgba(255,255,255,0.8); font-size: 20px; margin: 15px 0; display: inline-block;"></i>


            <ul class="user-stats" id="user-stats">
                <li><a>Collections</a></li>
                <li><a>Photos</a></li>
                <li><a>Videos</a></li>
                <li><a>Following </a></li>
                <li><a>Followers {{controller}}</a></li>
            </ul>



        </div>
        {{#if controller.uploadStuff}}

        <div class="box style-box t-style-box" id="addNew">




            <div id="tagetUplaod" {{action newUpload }}  >
                 <div class="add-new-object-hoverarea easing">
                    <i class="icon-upload" style="font-size: 80px;"></i>
                </div>
                <div class="masonry-object t-style-box">
                    <div class="add-new-object-content">
                        <i class="icon-group"></i>
                        <i class="icon-book"></i>
                        <i class="icon-picture"></i>
                        <i class="icon-film"></i>
                    </div>

                </div>
            </div>


            <div id="ownerUpload"  class="col4" style="display:none">


                {{#view App.PhotoUploadView }}


                <div style="margin: 15px auto;height: 520px; width: 690px; background-color: rgba(242,240,240,0.5);border: 3px dashed #aaa;"> 
                    <div style="top: 200px;position: relative;margin: auto;width: 80%;font-size: 26px; text-shadow: 1px 1px 0px #fff, -0.5px -0.5px 0px #555;color: #aaa;text-align: center;font-size: 35px;">
                        <i class="icon-upload" style="font-size: 45px;"></i>
                        <p style="font-weight: bold;">
                            Drag and drop. 
                        </p>
                    </div>


                    <div style="margin: auto; width: 200px; top: 470px; position: absolute;left: 0;right: 0;">{{view App.ImageInputButtonView}}</div>    

                    <div style="position: relative; height: 430px; bottom: 25px; padding: 15px; overflow-y: auto; overflow-x: hidden;">
                        {{#each content}}
                        <div style="position: relative;margin:8px; display: inline-block; vertical-align: top; min-width: 150px;">
                            <div> <img  {{bindAttr src= "photo_url"}}  alt="Logo" style="max-width: 150px; max-height: 160px;"> </div>
                            <div style="margin-top: 2px; font-size: 13px; text-overflow:ellipsis; text-align: center; width: 150px;overflow: hidden;">{{photo_title}}</div>
                        </div>
                        {{/each}}

                    </div>

                </div>
                <div class="controlbtn-field" style="margin-top: 20px;">
                    <div style="float: right; margin: 10px 30px;">
                        <div class="new-btn green-btn">submit</div> 
                        <div class="new-btn" {{action back }}>back</div>
                    </div>
                </div>
                {{/view}}
            </div>
        </div>
        {{/if}}


        {{#each controller.content}}
        {{view App.ItemView}}
        <script>

            $(function() {
                var $container = $('#masonry_photo_collection_container');
                window.setTimeout(function() {
                    $container.masonry();
                    $container.masonry('reload');
                }, 400);
            });



        </script>

        {{/each}}

    </div>

</div>



