



<div style="width: 100%; margin: 100px auto; left: 0;right: 0;position: relative;display: block;">
    <!-- masonry from here -->
    <div id="masonry_photo_collection_container"  class="centered clearfix" >

        <!--SECTION CONTROL BAR-->

        <div class="style-box t-style-box" style="width: 100%; min-width: 800px; height: 50px; background: white;margin: -70px auto;left: 0;right: 0;position: relative;display: block;">

            <div style="margin: 4px 20px 4px 40px; font-size: 18px; text-shadow: 0 1px 0 rgba(255,255,255,0.8);float: left;" >{{controller.title}}  </div>
            <i class="icon-level-up edit-btn" style="color: #555; text-shadow: 0 1px 0 rgba(255,255,255,0.8); font-size: 20px; margin: 15px 0; display: inline-block;"></i>

            <!--    
                        <ul class="user-stats" id="user-stats">
                            <li><a>Collections</a></li>
                            <li><a>Photos</a></li>
                            <li><a>Videos</a></li>
                            <li><a>Following </a></li>
                            <li><a>Followers </a></li>
                        </ul>
            -->


        </div>
        {{#if controller.is_authentic_user}}
        {{#if controller.uploadStuff}}

        <div class="box style-box t-style-box" id="addNew">

            <div id="tagetUplaod" {{action newUpload }}  >
                 <div class="add-new-object-hoverarea easing">
                    <i class="icon-upload" style="font-size: 80px;"></i>
                </div>
                <div class="masonry-object t-style-box">
                    <div class="add-new-object-content">
                        <i class="icon-group"></i>
                        <i class="icon-book"></i>
                        <i class="icon-picture"></i>
                        <i class="icon-film"></i>
                    </div>

                </div>
            </div>


            <div id="ownerUpload"  class="col4" style="display:none">

                {{render PhotoCreate}}


            </div>
        </div>
        {{/if}}
        {{/if}}


        {{#each controller.content}}
        {{view App.ItemView}}
        <script>

            $(function() {
                var $container = $('#masonry_photo_collection_container');
                window.setTimeout(function() {
                    $container.masonry();
                    $container.masonry('reload');
                }, 400);
            });



        </script>

        {{/each}}

        <div class="box style-box t-style-box" style="opacity: 0;"></div>

    </div>

</div>



