











{{#each model.profile}}
<div class="box col2 noStyle1">

    <div class="masonry-object">
        <div class="masonry-object_profile-cover">
            <div class="masonry-object_cover-wapper">
                <img {{bindAttr src="profile_hero_url"}}/>
            </div>
        </div>

        <div class="masonry-object_profilepic" style="cursor:pointer;" {{action toProfilePage this}}>
             <img class="easing" {{bindAttr src="profile_pic_url"}} />                 
            <div  type="button" class="new-btn green-btn object-followbtn-position" style="left: 40px; top: -75px;">
                <i class="icon-plus">&nbsp;</i> Follow
            </div>
        </div>


        <div class="masonry-object_name-position" style="top: 133%;"> 
            <a {{bindAttr href="getProfile_id"}}  {{action toProfilePage this}}  style="cursor:pointer" >{{profile_name}} </a>
        </div>
        <div class="masonry-object_name-position" style="top: 145%; font-size: 12px; color: #aaa;">
        </div>


        <div class="object-tags-box">

            <div class="object-tags">
                <span class="tags-mark" style="background-color: #427fed"></span>
                <div class="tags easing">
                    <div class="tags-new">New </div>
                    <div class="object-tpye">
                        <i class="icon-group"></i>
                    </div>
                </div>
            </div>

            <div class="object-tags ">
                <span class="tags-mark" style="background-color: #76a7fa"></span>
                <div class="tags easing tagsappear">
                    <div class="tags-new">#{{profile_regoin}}</div>                   
                </div>
            </div>

            <div class="object-tags ">
                <span class="tags-mark" style="background-color: #a0c3ff"></span>
                <div class="tags easing tagsappear">
                    <div class="tags-new">#{{profile_category}}</div>                   
                </div>
            </div>

        </div>



        <div class="masonry-object_mainfeature" style="margin: 110px 0 0 0">

            <div class="masonry-object_text">


                <div class="more_detail" {{bindAttr id="id"}} >


                    <div style="display:block;">

                    </div>


                </div>

                <span role="button" class="masonry_more-btn easing"  {{bindAttr id="more_button"}} {{action 'moreContent' this target='view' on="click"}}>more</span>

                <span role="button" class="masonry_more-btn easing" {{bindAttr id="collape_button"}}  style="display: none" {{action 'collapeContent' this target='view' on="click"}}>collapes</span>

                <span style="float: right; display: inline-block;"><k class="icon-trash edit-btn easing" {{action deletePartner this}}></k> </span>
            </div>

        </div>
        {{render "comment" this}}

    </div>

</div>


{{/each}}
