

<div class="hover panel" style='width: 480px; text-align: center; color: rgb(51, 51, 51); border-radius: 3px;'>
    <div class="front">


        <div class="head" >
            <div type="button" {{action closeModal }} class="closeview"><i class="icon-remove"></i></div>
            <img class="logonew"  style="margin: 30px auto 0; width: 92px; display: block;" src="../../../images/trendslogo(black).png"></img>
            <div style="margin: 20px auto; width: 360px;s">
                <p style="text-align:center; font-weight: bold; ">COLLECT YOUR ONLINE RESOURCE FOR KITCHENS, PRODUCTS, SERVICES & IDEAS</p>
                <p style="font-size: 12px; text-align: center;">
                    Hundreds of videos, thousands of articles and tens of thousands of high quality images from around the world showcasing: Architecture, Kitchen Design, Bathroom Design, Interiors, Landscape Design and Commercial Design. 
                </p>
            </div>
            <div id="dd" class="wrapper-dropdown-3" tabindex="1" style=" width:270px; height:45px;">

                <div>
                    <div id="dropdown-cover" class="dropdown_test"  style="float: left; bottom: 10px; position: relative; width: 64px; height: 45px; margin-left: -11px; padding-left: 35px; border-radius: 3px 0 0 3px;">
                        <div class="login-icon">
                            <i class="icon-facebook icon-large">
                            </i>
                        </div>   
                    </div>
                    <div  id="dropdown-cover" onclick="Facebook(650, 400);" style="float: right; bottom: 10px; position: relative; width: 204.5px; height: 45px; margin-right: -9.5px; border-radius: 0 3px 3px 0;">
                        <div class="sign-in-with" >Sign In with Facebook</div>
                    </div>
                </div>
                <ul class="dropdown"  style="width:270px">
                    <li  onclick="Twitter(650, 400);" ><a style="color:rgb(0,172,237)" href="#"><i class="icon-twitter icon-large"></i>Sign in with Twitter</a></li>
                    <li  onclick="Google(650, 400);" ><a style="color:rgb(211,72,54)" href="#"><i class="icon-google-plus icon-large"></i>Sign in with Google+</a></li>
                    <li  onclick="Yahoo(650, 400);" ><a style="color:rgb(123,0,153)" href="#"><img src='../../../images/yahoo.png' style='width: auto; height: 35px; float:left;margin: -3% -5% 0 6%;'>Sign in with Yahoo</a></li>
                    <li  onclick="Sina(650, 400);" ><a style="color:rgb(245,213,0)" href="#"><img src='../../../images/sina.png' style='width: auto; height: 35px; float:left;margin: -3% -3% 0 6%;'>Sign in with Sina</a></li>
                    <li  onclick="QQ(650, 400);" ><a style="color:rgb(62,59,62)" href="#"><img src='../../../images/qq.png' style='width: auto; height: 35px; float:left;margin: -3% -2% 0 7%;'>Sign in with QQ</a></li>
                    <li  onclick="dismiss_modal_test();" ><a style="color:rgb(0,153,68)" href="#myModal"><i class="icon-envelope-alt icon-large"></i>Sign in with Email</a></li>
                </ul>
            </div>

        </div>

        <div class="panelcircle" style="position: absolute; right: 0; top: 300px; margin: auto;left: 0;"><b>OR</b></div>

        <div class="content" >
            {{#unless mail}}
            <div style="font-size: 12px; margin: 20px auto 0; font-weight: bold;">Other platform you might prefer:</div>

            <div style="margin: 10px auto 5px; width: 100%;">
                <a  class="square-button" href='#' onclick="Twitter(650, 400);" >
                    <div id="dropdown-cover" style="position: absolute; width: 45px; height: 45px; border-radius: 3px;"></div>
                    <div class="square-button-twitter"><i class="icon-twitter icon-large" style="float: left; margin: 11px 13px; width: auto; height:22px; "></i></div></a>

                <a  class="square-button"  href='#' onclick="Google(650, 400);" >
                    <div id="dropdown-cover" style="position: absolute; width: 45px; height: 45px; border-radius: 3px;"></div>
                    <div class="square-button-google"><i class="icon-google-plus icon-large" style="float: left; margin: 11px 15px; width: auto; height:22px; "></i></div></a>

                <a  class="square-button"  href='#' onclick="Yahoo(650, 400);">
                    <div id="dropdown-cover" style="position: absolute; width: 45px; height: 45px; border-radius: 3px;"></div>
                    <div class="square-button-yahoo"><img src="../../../images/yahoo(white).png" style="float: left; margin: 10px 0px; width: auto; height:22px;  "></img></div></a>

                <a  class="square-button"  href='#' onclick="Sina(650, 400);">  
                    <div id="dropdown-cover" style="position: absolute; width: 45px; height: 45px; border-radius: 3px;"></div>
                    <div class="square-button-sina"><img src="../../../images/sina(white).png" style="float: left; margin: 10px 3px; width: auto; height:22px; "></img></div></a>

                <a  class="square-button"  href='#' onclick="QQ(650, 400);">
                    <div id="dropdown-cover" style="position: absolute; width: 45px; height: 45px; border-radius: 3px;"></div>
                    <div class="square-button-qq"><img src="../../../images/QQ(white).png" style="float: left; margin: 11px 9px; width: auto; height:22px;"></img></div></a>

                <a  class="square-button" href="#email_login" {{action email_login}} >
                    <div id="dropdown-cover" style="position: absolute; width: 45px; height: 45px; border-radius: 3px;"></div>
                    <div class="square-button-email"><i class="icon-envelope-alt icon-large" style="float: left; margin: 11px 13px; width: auto; height:22px; "></i></div></a> 

            </div>
            {{else}}
            <div style='margin: 30px auto 5px; display: block;'>
                <p style='display: inline-block; vertical-align: middle;'>Username:</p>
                <input type="text" class="span2">
            </div>
            <div style='margin: 0 auto 5px; display: block;'>
                <p style='display: inline-block; vertical-align: middle;'>Password:</p>
                <input type="text" class="span2">
            </div>
            <div>
                <div  type="button" class="new-btn green-btn" >
                    Login
                </div>

                <div  type="button" class="new-btn" {{action email_login }}>
                      Cancel
            </div>
            <div style="font-size: 11px;">
                <a href='#'>Forgot your username or password?</a>
            </div>
        </div>



        {{/unless}}

        <div style="position: relative; text-align: center; font-size: 12px; margin-bottom: 15px;"> 
            Don't have an account? Click <a  href="#" id='signup'>here </a> to sign up!
        </div>


    </div>


</div>
<div class="back"  style='width: 480px; text-align: center; color: rgb(51, 51, 51); border-radius: 3px; position: relative; bottom: 500px;'>













    <div class="head" >
        <div type="button" {{action closeModal }} class="closeview"><i class="icon-remove"></i></div>
        <div style="font-size: 22px; font-weight: bold; margin: 20px auto 15px;"> 
            Sign Up for your Free Account!
        </div>

        <div id="dd2" class="wrapper-dropdown-3" tabindex="1" style="top: 3px; height: 45px;">
            <div>
                <div id="dropdown-cover" class="dropdown_test_2"  style="float: left; bottom: 10px; position: relative; width: 64px; height: 45px; margin-left: -11px; padding-left: 35px; border-radius: 3px 0 0 3px;">
                    <div class="login-icon">
                        <i class="icon-facebook icon-large">
                        </i>
                    </div>   
                </div>
                <div  id="dropdown-cover" onclick="Facebook(650, 400);" style="float: right; bottom: 10px; position: relative; width: 204.5px; height: 45px; margin-right: -9.5px; border-radius: 0 3px 3px 0;">
                    <div class="sign-in-with" >Sign In with Facebook</div>
                </div>
            </div>
            <ul class="dropdown"  style="width:270px">
                <li  onclick="Twitter(650, 400);" ><a style="color:rgb(0,172,237)" href="#"><i class="icon-twitter icon-large"></i>Sign in with Twitter</a></li>
                <li  onclick="Google(650, 400);" ><a style="color:rgb(211,72,54)" href="#"><i class="icon-google-plus icon-large"></i>Sign in with Google+</a></li>
                <li  onclick="Yahoo(650, 400);" ><a style="color:rgb(123,0,153)" href="#"><img src='../../../images/yahoo.png' style='width: auto; height: 35px; float:left;margin: -3% -5% 0 6%;'>Sign in with Yahoo</a></li>
                <li  onclick="Sina(650, 400);" ><a style="color:rgb(245,213,0)" href="#"><img src='../../../images/sina.png' style='width: auto; height: 35px; float:left;margin: -3% -3% 0 6%;'>Sign in with Sina</a></li>
                <li  onclick="QQ(650, 400);" ><a style="color:rgb(62,59,62)" href="#"><img src='../../../images/qq.png' style='width: auto; height: 35px; float:left;margin: -3% -2% 0 7%;'>Sign in with QQ</a></li>
            </ul>
        </div>
        <div style="font-size: 11px; margin-bottom: 10px;">
            Don't worry , we'll never post without your permission.
        </div>
    </div>
    <div class="panelcircle" style="position: absolute; right: 0; top: 160px; margin: auto;left: 0;"><b>OR</b></div>

    <div class="content" >

        <div style="font-size: 14px; font-weight: bold; margin: 15px auto 10px;">
            Sign Up with your Email Address:
        </div>





        <div>

            <input type="text" class="span2" placeholder="Email Address">

            <input type="text" class="span2" placeholder="Username">


            <input type="text" class="span2" placeholder="Password">

            <input type="text" class="span2" placeholder="Confirm Password">

        </div>







        <div style="font-size: 11px; width: 250px; margin: auto;">
            By clicking Sign Up you indicate that you have read and agreed to the <a href='#'>Terms of Use</a> and <a href='#'>Privacy Policy </a>.
        </div>
        <div>
            <div  type="button" class="new-btn green-btn" >
                Sign Up
            </div>

            <div  type="button" class="new-btn" id="goback">
                Go Back
            </div>
        </div>
    </div>







</div>
</div>




<script>



                        $('#signup').click(function() {
                            $(".hover").addClass('flip');
                        });

                        $('#goback').click(function() {
                            $(".hover").removeClass('flip');
                        });




                        function DropDown(el) {
                            this.dd = el;
                            this.placeholder = this.dd.children('span');
                            this.opts = this.dd.find('ul.dropdown > li');
                            this.val = '';
                            this.index = -1;
                            this.initEvents();
                        }
                        DropDown.prototype = {
                            initEvents: function() {
                                var obj = this;

                                obj.dd.on('click', function(event) {
                                    $(this).parents('div .wrapper-dropdown-3').toggleClass('active');
                                    return false;
                                });


                                obj.opts.on('click', function() {
                                    var opt = $(this);
                                    obj.val = opt.text();
                                    obj.index = opt.index();
                                    obj.placeholder.text(obj.val);
                                });
                            },
                            getValue: function() {
                                return this.val;
                            },
                            getIndex: function() {
                                return this.index;
                            }
                        };
                        $(function() {


                            var dd = new DropDown($('.dropdown_test'));

                            $(document).click(function() {
                                // all dropdowns
                                $('.wrapper-dropdown-3').removeClass('active');
                            });
                            var dd2 = new DropDown($('.dropdown_test_2'));

                            $(document).click(function() {
                                // all dropdowns
                                $('.wrapper-dropdown-3').removeClass('active');
                            });

                        });

</script>





<style type="text/css">
    .panel {
        float: left;
        width: 200px;
        height: 200px;
        margin: 20px;
        position: relative;
        font-size: .8em;

        -webkit-perspective: 600px;
        -moz-perspective: 600px;
    }
    /* -- make sure to declare a default for every property that you want animated -- */
    /* -- general styles, including Y axis rotation -- */
    .panel .front {
        float: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 900;
        width: inherit;
        height: inherit;
        border: 1px solid #ccc;
        background: #6b7077;
        text-align: center;



        -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.9);
        -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.9);
        box-shadow: 0 1px 5px rgba(0,0,0,0.9);

        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;

        -moz-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform-style: preserve-3d;
        -moz-backface-visibility: hidden;

        /* -- transition is the magic sauce for animation -- */
        -o-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
    .panel.flip .front {
        z-index: 900;
        border-color: #eee;
        background: #333;

        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);

        -moz-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
        -webkit-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
        box-shadow: 0 15px 50px rgba(0,0,0,0.2);
    }

    .panel .back {
        float: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 800;
        width: inherit;
        height: inherit;
        border: 1px solid #ccc;
        background: #333;
        text-shadow: 1px  1px 1px rgba(0,0,0,0.6); 

        -webkit-transform: rotateY(-180deg);
        -webkit-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;

        -moz-transform: rotateY(-180deg);
        -moz-transform-style: preserve-3d;
        -moz-backface-visibility: hidden;

        /* -- transition is the magic sauce for animation -- */
        -o-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel.flip .back {
        z-index: 1000;
        background: #80868d;

        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);

        box-shadow: 0 15px 50px rgba(0,0,0,0.2);
        -moz-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
        -webkit-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
    }

    /* -- X axis rotation for click panel -- */
    .click .front {
        cursor: pointer;
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
    }
    .click.flip .front {
        -webkit-transform: rotateX(180deg);
        -moz-transform: rotateX(180deg);
    }
    .click .back {
        cursor: pointer;
        -webkit-transform: rotateX(-180deg);
        -moz-transform: rotateX(-180deg);
    }
    .click.flip .back {
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
    }

    /* -- contact panel -- */
    .contact {
        width: 290px;
        height: 240px;
    }

    /* -- diagonal axis rotation -- */
    .diagonal .front {
        -webkit-transform: rotate3d(45,45,0,0deg);
        -moz-transform: rotate3d(45,45,0,0deg);
    }
    .diagonal .front:hover {
        /* for the patient :) */
        -webkit-transition-duration: 10s;
        -moz-transition-duration: 10s;
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;

        -webkit-transform: rotate3d(45,45,0,-36deg);
        -moz-transform: rotate3d(45,45,0,-36deg);
    }

    .diagonal.flip .front,
    .diagonal.flip .front:hover {
        -webkit-transform: rotate3d(-45,-45,0,150deg);
        -moz-transform: rotate3d(-45,-45,0,150deg);

        -o-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .diagonal .front .message {
        opacity: 0;
        font-size: 1.4em;
    }
    .diagonal .front:hover .message {
        opacity: .4;
        -webkit-transition-duration: 12s;
        -moz-transition-duration: 12s;
        -webkit-transition-delay: 4s;
        -moz-transition-delay: 4s;
        -webkit-transform: translateX(-30px) translateZ(40px) scale(1.4);
        -moz-transform: translateX(-30px) translateZ(40px) scale(1.4);
    }
    .diagonal.flip .front .message {
        -webkit-transition-duration: 1s;
        -webkit-transform: translateZ(0px) scale(.5);
    }

    .diagonal .back {
        -webkit-transform: rotate3d(45,45,0,-180deg);
        -moz-transform: rotate3d(45,45,0,-180deg);
    }
    .diagonal.flip .back {
        -webkit-transform: rotate3d(45,45,0,-30deg);
        -moz-transform: rotate3d(45,45,0,-30deg);
    }

    /* -- swing like a gate -- */
    .swing .front,
    .swing .back {
        width: 140px;
        -webkit-backface-visibility: visible;
        -moz-backface-visibility: visible;
        -webkit-transition-duration: 1s;
        -moz-transition-duration: 1s;
        -webkit-transform-origin: 170px 0;
        -moz-transform-origin: 170px 0;
    }
    .swing .front {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
    }
    .swing .back {
        background-color: #555; /* hiding this side, so get darker */
        -webkit-transform: rotateY(-180deg) translateX(198px) translateZ(2px);
        -moz-transform: rotateY(-180deg) translateX(198px) translateZ(2px);
      
    }

    .swing.flip .front {
        background-color: #222; /* hiding this side, so get darker */
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
    }
    .swing.flip .back {
        background-color: #80888f;
        -webkit-transform: rotateY(0deg) translateX(198px) translateZ(2px);
        -moz-transform: rotateY(0deg) translateX(198px) translateZ(2px);
    }


    /* -- cosmetics -- */
    .panel .pad {padding: 0 15px; }
    .panel.flip .action {display: none; }
    .block ol li {text-align: left; margin: 0 0 0 28px; }
    .block .action {display: block; padding: 3px; background: #333; text-align: right; font-size: .8em; opacity: 0; position: absolute; cursor: pointer; -webkit-transition: opacity .2s linear; }
    .block:hover .action {opacity: .7; }
    .circle div {border-radius: 100px; }
    .circle div h2 {padding-top: 3em; text-align: center; }


</style>
