
<div id="masonry_container" class="transitions-enabled centered clearfix">

    <div class="box col4">
        <h1>{{controller}}</h1>

    </div>


    {{#each  model}}

    {{#if getProfile}}
    <div class="box col4">




        <div class="isotope-object" style="-webkit-border-radius:2px; border-radius: 2px;background-color: #fff; box-shadow: inset 0px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);width: 350px;">
            <div class="isotope-object_profile-cover" style="background: url(../../images/searchbarbg.jpg) repeat scroll 0% 5% rgb(242, 240, 240);  background-size: 100% auto; padding: 0; position: relative;height: 170px;">
                <div>
                    <img {{bindAttr src="profile_pic_url"}} class="profilepicture" scr="" style="width: 150px;height: 150px;box-shadow: 0 0 10px #333; margin: auto; left: 0;-webkit-border-radius: 6%; border-radius: 6%;right: 0;position: absolute;top: 40%;"/>
                    <div style=" position: absolute;display: block; width: 80%; margin: auto; left: 0; right: 0; text-align: center; top: 133%;"> <a {{bindAttr href="getProfile_id"}}>{{id}}</a></div>
                    <div style="position: absolute;display: block; width: 80%; margin: auto; left: 0; right: 0; text-align: center; top: 145%; font-size: 12px; color: #aaa;">
                        <span> type</span>
                        <span> <k class="icon-star" ></k><k class="icon-star" ></k><k class="icon-star" ></k><k class="icon-star" ></k><k class="icon-star-half" ></k></span>
                    </div>
                </div>
            </div>

            <div class="isotope-object_mainfeature" style="margin: 110px 0 0 0; padding: 0 20px 0 20px; text-overflow: ellipsis;">
                <div class="isotope-object_text" style="display:block;">
                    <div style="color: #404040;font-size: 13px;line-height: 1.4;min-height: 0; overflow: hidden;">
                        <div style="max-height: 72px; overflow: hidden;">
                            <p class="isotope-object_describtion" style="display:block;">
                                Smeg was founded by the Bertazzoni family in the 1940s as Smalterie Metallurgiche Emiliane Guastalla (metal enamelling factory in the village of Guastalla, Reggio Emilia). Today that foresight continues with Smeg constantly breaking new ground in design originality and superior performance. Smeg classic appliances elevate food preparation areas worldwide into architectural masterpieces.

                                Smeg retains its leading edge in the worldwide market through a total dedication to the design and manufacturing of specialist appliances. A continual monitoring of trends and developments in both style and technology has led to a constantly evolving partnership with leading architects and designers. Indeed, this dedication to the marrying of style with function has created an ongoing love affair between Smeg, architects and designers worldwide.
                            </p>
                        </div>

                        <span role="button" style="text-align: center; -webkit-user-select: none;color: #999;display: block;font-size: 12px;margin-top: 2px;vertical-align: middle;" >more</span>
                    </div>
                </div>
            </div>

            <div class="isotope-object_interact" style="margin: 20px 0 0 0; border-top: 1px solid #e5e5e5; -webkit-border-radius: 0 0 2px 2px; border-radius: 0 0 2px 2px; background-color: #f8f8f8;">
                <div style="background-color: #f8f8f8;margin: 16px 20px 12px 20px;padding: 0 0 0 0;">
                    <div style="background-color: #f8f8f8; color: #999; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                        <span style="-webkit-transition: color .218s; transition: color .218s; background-color: #f8f8f8; color: #999; font-size: 12px; padding-right: 5px;">
                            <span class="comment-amount" style="overflow: hidden;vertical-align: top;"> 10 </span>
                            <span style="overflow: hidden; vertical-align: top;"> comments</span>
                        </span>
                        <div style="background-color: #f8f8f8; display: inline-block; vertical-align: top;">
                            <i class="icon-chevron-down" style="opacity: .4; height: 16px; float: right; margin-top: 0; width: 16px;"></i>
                        </div>
                    </div>
                    <div class="object-like" style=""></div>
                    <div class="object-save" style=""></div>
                </div>
                <div class="isotope-object_commnetbox" style="margin: 0 20px 0 20px;padding: 0 0 20px 0;">
                    <div class="" style="background-color: #fff; border: 1px solid #ddd; color: #999; cursor: text; font-size: 12px; height: auto; margin: 0 0 0 0; padding: 6px 8px;">
                        Add comments
                    </div>
                </div>
            </div>
        </div>

    </div>
    {{/if}}

















    {{#if getPhoto}}
    <div class="box col4">


        <div class="isotope-object" style="-webkit-border-radius:2px; border-radius: 2px;background-color: #fff; box-shadow: inset 0px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);width: 350px;">
            <div class="isotope-object_poster" style="margin-bottom: 20px;padding: 0 20px 0 20px;position: relative;">
                <a href="#" class="toprofile" style="">
                    <a {{bindAttr href="getProfile_id"}}><img {{bindAttr src="profile_pic_url"}} class="profilepicture" scr="" style="width: 46px;height: 46px;float: left; margin: 20px 15px 0 0; padding: 0;-webkit-border-radius: 50%; border-radius: 50%;"/></a>
                </a>   
                <div class="object_username" style="margin: 0 0 15px 61px; padding: 23px 0 0 0; text-overflow: ellipsis;">
                    <p style="margin: 0;border: 0;font-size: 14px;font-weight: normal;unicode-bidi:normal "><a {{bindAttr href="getProfile_id"}}>{{profile_id}}</a></p>
                    <span class="posttime" style="color: #999; display: inline-block; font-size: 12px;">yesterday 8:37</span>
                </div>
            </div>
            <div class="isotope-object_mainfeature" style="margin: 0 0 0 0; padding: 0 20px 0 20px; text-overflow: ellipsis;">
                <div style="display:block;">
                    <div class="isotope-object_image" style="margin: 0 -14px 0 -14px;clear: both;line-height: 0;overflow: hidden;position: relative;padding: 0 0 20px 0;">
                        <a href="#" style="background-color: #f5f5f5; line-height: 0;min-width: 70px;overflow: hidden; position: relative;">
                            {{#linkTo 'photo' this}} <img {{bindAttr src="image_url" }} style="max-height: 100%; max-width: 100%; display: inline-block;" />{{/linkTo}}

                        </a>
                    </div>
                </div>
                <div class="isotope-object_text" style="display:block;">
                    <div  style="color: #404040;font-size: 13px;line-height: 1.4;min-height: 0; overflow: hidden;">
                        <div style="max-height: 72px; overflow: hidden;">
                            <p class="isotope-object_title" style="display: block;">   {{#linkTo 'photo' this}} Title{{/linkTo}} </p>
                            <p class="isotope-object_describtion" style="display:block;">{{description}}</p>
                        </div>
                        <div  class="more_detail" {{bindAttr id="id"}} style="display:none;width:auto">
                            <h1>article show</h1>

                        </div>


                        <span role="button" style="-webkit-user-select: none;color: #999;display: block;font-size: 12px;margin-top: 2px;vertical-align: middle;" {{action detailToggle id target="view" }} >more</span>

                    </div>
                </div>
            </div>

            <div class="isotope-object_interact" style="margin: 20px 0 0 0; border-top: 1px solid #e5e5e5; -webkit-border-radius: 0 0 2px 2px; border-radius: 0 0 2px 2px; background-color: #f8f8f8;">
                <div style="background-color: #f8f8f8;margin: 16px 20px 12px 20px;padding: 0 0 0 0;">
                    <div style="background-color: #f8f8f8; color: #999; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                        <span style="-webkit-transition: color .218s; transition: color .218s; background-color: #f8f8f8; color: #999; font-size: 12px; padding-right: 5px;">
                            <span class="comment-amount" style="overflow: hidden;vertical-align: top;"> 10 </span>
                            <span style="overflow: hidden; vertical-align: top;"> comments</span>
                        </span>
                        <div style="background-color: #f8f8f8; display: inline-block; vertical-align: top;">
                            <i class="icon-chevron-down" style="opacity: .4; height: 16px; float: right; margin-top: 0; width: 16px;"></i>
                        </div>
                    </div>
                    <div class="object-like" style=""></div>
                    <div class="object-save" style=""></div>
                </div>
                <div class="isotope-object_commnetbox" style="margin: 0 20px 0 20px;padding: 0 0 20px 0;">
                    <div class="" style="background-color: #fff; border: 1px solid #ddd; color: #999; cursor: text; font-size: 12px; height: auto; margin: 0 0 0 0; padding: 6px 8px;">
                        Add comments
                    </div>
                </div>
            </div>
        </div>


    </div>


    {{/if}}

    {{#if getVideo}}
    <div class="box col4">

        <div class="isotope-object" style="-webkit-border-radius:2px; border-radius: 2px;background-color: #fff; box-shadow: inset 0px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);width: 350px;">
            <div class="isotope-object_poster" style="margin-bottom: 20px;padding: 0 20px 0 20px;position: relative;">
                <a href="#" class="toprofile" style="">
                    <img {{bindAttr src="profile_pic_url"}} class="profilepicture" scr="" style="width: 46px;height: 46px;float: left; margin: 20px 15px 0 0; padding: 0;-webkit-border-radius: 50%; border-radius: 50%;"/>
                </a>   
                <div class="object_username" style="margin: 0 0 15px 61px; padding: 23px 0 0 0; text-overflow: ellipsis;">
                    <p style="margin: 0;border: 0;font-size: 14px;font-weight: normal;unicode-bidi:normal;"><a {{bindAttr href="getProfile_id"}}>{{profile_id}}</a></p>
                    <span class="posttime" style="color: #999; display: inline-block; font-size: 12px;">yesterday 8:37</span>
                </div>
            </div>
            <div class="isotope-object_mainfeature" style="margin: 0 0 0 0; padding: 0 20px 0 20px; text-overflow: ellipsis;">
                <div style="display:block;">
                    <div class="isotope-object_image" style="margin: 0 -14px 0 -14px;clear: both;line-height: 0;overflow: hidden;position: relative;padding: 0 0 20px 0;">
                        <a href="#" style="background-color: #f5f5f5; line-height: 0;min-width: 70px;overflow: hidden; position: relative;">
                            {{#linkTo 'video' this}} <img {{bindAttr src="image_url" }} style="max-height: 100%; max-width: 100%; display: inline-block;" />{{/linkTo}}

                        </a>
                    </div>
                </div>
                <div class="isotope-object_text" style="display:block;">
                    <div style="color: #404040;font-size: 13px;line-height: 1.4;min-height: 0; overflow: hidden;">
                        <div style="max-height: 72px; overflow: hidden;">
                            <p class="isotope-object_title" style="display: block;">Videos</p>
                            <p class="isotope-object_describtion" style="display:block;">{{article_title}}</p>
                        </div>
                        <span role="button" style="-webkit-user-select: none;color: #999;display: block;font-size: 12px;margin-top: 2px;vertical-align: middle;">more</span>
                    </div>
                </div>
            </div>

            <div class="isotope-object_interact" style="margin: 20px 0 0 0; border-top: 1px solid #e5e5e5; -webkit-border-radius: 0 0 2px 2px; border-radius: 0 0 2px 2px; background-color: #f8f8f8;">
                <div style="background-color: #f8f8f8;margin: 16px 20px 12px 20px;padding: 0 0 0 0;">
                    <div style="background-color: #f8f8f8; color: #999; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                        <span style="-webkit-transition: color .218s; transition: color .218s; background-color: #f8f8f8; color: #999; font-size: 12px; padding-right: 5px;">
                            <span class="comment-amount" style="overflow: hidden;vertical-align: top;"> 10 </span>
                            <span style="overflow: hidden; vertical-align: top;"> comments</span>
                        </span>
                        <div style="background-color: #f8f8f8; display: inline-block; vertical-align: top;">
                            <i class="icon-chevron-down" style="opacity: .4; height: 16px; float: right; margin-top: 0; width: 16px;"></i>
                        </div>
                    </div>
                    <div class="object-like" style=""></div>
                    <div class="object-save" style=""></div>
                </div>
                <div class="isotope-object_commnetbox" style="margin: 0 20px 0 20px;padding: 0 0 20px 0;">
                    <div class="" style="background-color: #fff; border: 1px solid #ddd; color: #999; cursor: text; font-size: 12px; height: auto; margin: 0 0 0 0; padding: 6px 8px;">
                        Add comments
                    </div>
                </div>
            </div>
        </div>

    </div>
    {{/if}}

    {{#if getFile}}
    <div class="box col4">
        <img {{bindAttr src="profile_pic_url"}} />
        {{#linkTo 'files' this}}<h1>{{type}}</h1>{{/linkTo}}
    </div>
    {{/if}}

    {{#if getArticle}}
    <div class="box col4">

        <div class="isotope-object" style="-webkit-border-radius:2px; border-radius: 2px;background-color: #fff; box-shadow: inset 0px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);width: 350px;">
            <div class="isotope-object_poster" style="margin-bottom: 20px;padding: 0 20px 0 20px;position: relative;">
                <a href="#" class="toprofile" style="">
                    <img {{bindAttr src="profile_pic_url"}} class="profilepicture" scr="" style="width: 46px;height: 46px;float: left; margin: 20px 15px 0 0; padding: 0;-webkit-border-radius: 50%; border-radius: 50%;"/>
                </a>   
                <div class="object_username" style="margin: 0 0 15px 61px; padding: 23px 0 0 0; text-overflow: ellipsis;">
                    <p style="margin: 0;border: 0;font-size: 14px;font-weight: normal;unicode-bidi:normal;"><a {{bindAttr href="getProfile_id"}}>{{profile_id}}</a></p>
                    <span class="posttime" style="color: #999; display: inline-block; font-size: 12px;">yesterday 8:37</span>
                </div>
            </div>
            <div class="isotope-object_mainfeature" style="margin: 0 0 0 0; padding: 0 20px 0 20px; text-overflow: ellipsis;">
                <div style="display:block;">
                    <div class="isotope-object_image" style="margin: 0 -14px 0 -14px;clear: both;line-height: 0;overflow: hidden;position: relative;padding: 0 0 20px 0;">
                        <a href="#" style="background-color: #f5f5f5; line-height: 0;min-width: 70px;overflow: hidden; position: relative;">
                            {{#linkTo 'article' this}} <img {{bindAttr src="image_url" }} style="max-height: 100%; max-width: 100%; display: inline-block;" />{{/linkTo}}

                        </a>
                    </div>
                </div>
                <div class="isotope-object_text" style="display:block;">
                    <div style="color: #404040;font-size: 13px;line-height: 1.4;min-height: 0; overflow: hidden;">
                        <div style="max-height: 72px; overflow: hidden;">
                            <p class="isotope-object_title" style="display: block;">  {{#linkTo 'article' this}}  {{article_title}}  {{/linkTo}}</p>
                            <p class="isotope-object_describtion" style="display:block;">{{description}}</p>
                        </div>
                        <span role="button" style="-webkit-user-select: none;color: #999;display: block;font-size: 12px;margin-top: 2px;vertical-align: middle;">more</span>
                    </div>
                </div>
            </div>

            <div class="isotope-object_interact" style="margin: 20px 0 0 0; border-top: 1px solid #e5e5e5; -webkit-border-radius: 0 0 2px 2px; border-radius: 0 0 2px 2px; background-color: #f8f8f8;">
                <div style="background-color: #f8f8f8;margin: 16px 20px 12px 20px;padding: 0 0 0 0;">
                    <div style="background-color: #f8f8f8; color: #999; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                        <span style="-webkit-transition: color .218s; transition: color .218s; background-color: #f8f8f8; color: #999; font-size: 12px; padding-right: 5px;">
                            <span class="comment-amount" style="overflow: hidden;vertical-align: top;"> 10 </span>
                            <span style="overflow: hidden; vertical-align: top;"> comments</span>
                        </span>
                        <div style="background-color: #f8f8f8; display: inline-block; vertical-align: top;">
                            <i class="icon-chevron-down" style="opacity: .4; height: 16px; float: right; margin-top: 0; width: 16px;"></i>
                        </div>
                    </div>
                    <div class="object-like" style=""></div>
                    <div class="object-save" style=""></div>
                </div>
                <div class="isotope-object_commnetbox" style="margin: 0 20px 0 20px;padding: 0 0 20px 0;">
                    <div class="" style="background-color: #fff; border: 1px solid #ddd; color: #999; cursor: text; font-size: 12px; height: auto; margin: 0 0 0 0; padding: 6px 8px;">
                        Add comments
                    </div>
                </div>
            </div>
        </div>

    </div>
    {{/if}}

    {{#if getIdeabook}}
    <div class="box col4">
        <img {{bindAttr src="profile_pic_url"}} />
        {{#linkTo 'ideabooks' this}}<h1>{{type}}</h1>{{/linkTo}}
    </div>
    {{/if}}

    {{#if getDiscussion}}
    <div class="box col4">
        <img {{bindAttr src="profile_pic_url"}} />
        {{#linkTo 'discussions' this}}<h1>{{type}}</h1>{{/linkTo}}
    </div>
    {{/if}}







    <script>

        $(function() {
            var $container = $('#masonry_container');
            var $boxes = $('.box');
            window.setTimeout(function() {
                $container.prepend($boxes).masonry('reload');
            }, 10);
        });



    </script>

    {{/each}}




</div> <!-- #container -->



