<div style="width: 100%; margin: 100px auto; left: 0;right: 0;position: relative;display: block;">
    <!-- masonry from here -->
    <div id="masonry_user_container"  class="centered clearfix">

        <!--SECTION CONTROL BAR-->

        <div class="style-box t-style-box" style="width: 100%; min-width: 796px; height: 50px; background: white;margin: -70px auto;left: 0;right: 0;position: relative;display: block;">

            <div style="margin: 4px 20px 4px 40px; font-size: 18px; text-shadow: 0 1px 0 rgba(255,255,255,0.8);float: left;" >{{controller.profileSelectionStatus}}</div>

            <ul class="user-stats" id="user-stats">
                <li id="defualt" ><a {{action selectCollection}}> Collections</a></li>
                <li ><a {{action selectPartner this}}>Partners</a></li>
                <li ><a {{action selectFollower}}>Followers</a></li>
            </ul>

        </div>


        {{#if collectionTag}}
        {{view App.ProfileCollectionsView}}
        {{/if}} 

        {{#if partnerTag}}
        {{render profilePartners}}
        {{/if}} 

        {{#if followerTag}}
        {{render profileFollowers}}
        {{/if}} 

        <!--END SECTION CONTROL BAR-->

        <div class="box style-box t-style-box" ></div>
        <div class="box style-box t-style-box" style="opacity: 0;"></div>


    </div>

</div>

