
<div id="masonry_container" class="transitions-enabled centered clearfix">

    <div class="box col4">



        {{#linkTo "searchIndex" }}<button type="button"  id="login_button" class="btn btn-primary" >login in</button>{{/linkTo}}

        <div id="afterLogin">After login </div>

    </div>


    {{#each  model}}

    {{#if getProfile}}
    <div class="box col4">




        <div class="masonry-object">
            <div class="masonry-object_profile-cover">
                <div>
                    <img {{bindAttr src="profile_pic_url"}} class="masonry-object_profilepic"/>
                    <div class="masonry-object_name-position" style="top: 133%;"> 
                        <a {{bindAttr href="getProfile_id"}}>{{id}}</a>
                    </div>
                    <div class="masonry-object_name-position" style="top: 145%; font-size: 12px; color: #aaa;">
                        <span> type</span>
                        <span> <k class="icon-star" ></k><k class="icon-star" ></k><k class="icon-star" ></k><k class="icon-star" ></k><k class="icon-star-half" ></k></span>
                    </div>
                </div>
            </div>

            <div class="masonry-object_mainfeature" style="margin: 110px 0 0 0">

                <div class="masonry-object_text">
                    <div class="masonry-object_text-container" >
                        <div style="display:block;">
                            Smeg was founded by the Bertazzoni family in the 1940s as Smalterie Metallurgiche Emiliane Guastalla (metal enamelling factory in the village of Guastalla, Reggio Emilia). Today that foresight continues with Smeg constantly breaking new ground in design originality and superior performance. Smeg classic appliances elevate food preparation areas worldwide into architectural masterpieces.

                            Smeg retains its leading edge in the worldwide market through a total dedication to the design and manufacturing of specialist appliances. A continual monitoring of trends and developments in both style and technology has led to a constantly evolving partnership with leading architects and designers. Indeed, this dedication to the marrying of style with function has created an ongoing love affair between Smeg, architects and designers worldwide.
                        </div>
                    </div>
                    <span role="button" class="masonry_more-btn">more</span>
                </div>

            </div>

            <div class="masonry-object_interact">
                <div class="masonry_show-comment">
                    <div class="show-comment_container">
                        <span class="show-comment_inner">
                            <span class="comment-amount"> 10 </span>
                            <span class="comment-amount"> comments</span>
                        </span>
                        <div class="dropdownicon masonry_dropdownicon">
                            <i class="icon-chevron-down"></i>
                        </div>
                    </div>
                    <div class="object-like" style=""></div>
                    <div class="object-save" style=""></div>
                </div>
                <div class="masonry_addcommnetbox-container">
                    <div class="addcommnetbox">
                        Add comments
                    </div>
                </div>
            </div>

        </div>

    </div>
    {{/if}}

















    {{#if getPhoto}}
    <div class="box col4">


        <div class="masonry-object">
            <div class="masonry-object_poster">  
                <a {{bindAttr href="getProfile_id"}}>
                    <img {{bindAttr src="profile_pic_url"}} class="profilepic-on-masonry"/>
                </a>
                <div class="object_username">
                    <a class="poster-name" {{bindAttr href="getProfile_id"}}>{{profile_id}}</a>
                    <span class="posttime">yesterday 8:37</span>
                </div>
            </div>
            <div class="masonry-object_mainfeature">             
                <div class="mainfeature-wrapper">
                    <a class="mainfeature-container">
                        {{#linkTo 'photo' this}} <img class="this-is-the-object"{{bindAttr src="image_url" }} />{{/linkTo}}
                    </a>                 
                </div>


                <div class="masonry-object_text">
                    <div class="masonry-object_text-container">
                        <p>   {{#linkTo 'photo' this}} Title{{/linkTo}} </p>
                        <p>{{description}}</p>
                    </div>
                    <span role="button" class="masonry_more-btn">more</span>
                </div>
            </div>

            <div class="masonry-object_interact">
                <div class="masonry_show-comment">
                    <div class="show-comment_container">
                        <span class="show-comment_inner">
                            <span class="comment-amount"> 10 </span>
                            <span class="comment-amount"> comments</span>
                        </span>
                        <div class="dropdownicon masonry_dropdownicon">
                            <i class="icon-chevron-down"></i>
                        </div>
                    </div>
                    <div class="object-like" style=""></div>
                    <div class="object-save" style=""></div>
                </div>
                <div class="masonry_addcommnetbox-container">
                    <div class="addcommnetbox">
                        Add comments
                    </div>
                </div>
            </div>
        </div>


    </div>


    {{/if}}

    {{#if getVideo}}
    <div class="box col4">

        <div class="masonry-object">
            <div class="masonry-object_poster">
                <a href="#" class="masonry-object_poster">
                    <img {{bindAttr src="profile_pic_url"}} class="profilepic-on-masonry" />
                </a>   
                <div class="object_username">
                    <a class="poster-name" {{bindAttr href="getProfile_id"}}>{{profile_id}}</a>
                    <span class="posttime">yesterday 8:37</span>
                </div>
            </div>
            <div class="masonry-object_mainfeature">
                <div class="mainfeature-wrapper">
                    <a class="mainfeature-container">
                        {{#linkTo 'video' this}} <img {{bindAttr src="image_url" }} class="this-is-the-object"/>{{/linkTo}}
                    </a>
                </div>              


                <div class="masonry-object_text">
                    <div class="masonry-object_text-container">
                        <p>  {{#linkTo 'video' this}} VIDEO{{/linkTo}} </p>
                        <p>{{article_title}}</p>
                    </div>
                    <span role="button" class="masonry_more-btn">more</span>
                </div>

            </div>

            <div class="masonry-object_interact">
                <div class="masonry_show-comment">
                    <div class="show-comment_container">
                        <span class="show-comment_inner">
                            <span class="comment-amount"> 10 </span>
                            <span class="comment-amount"> comments</span>
                        </span>

                        <div class="dropdownicon masonry_dropdownicon">
                            <i class="icon-chevron-down"></i>
                        </div>

                    </div>
                    <div class="object-like" style=""></div>
                    <div class="object-save" style=""></div>
                </div>
                <div class="masonry_addcommnetbox-container">
                    <div class="addcommnetbox">
                        Add comments
                    </div>
                </div>
            </div>
        </div>

    </div>
    {{/if}}







    {{#if getFile}}
    <div class="box col4">
        <img {{bindAttr src="profile_pic_url"}} />
        {{#linkTo 'files' this}}<h1>{{type}}</h1>{{/linkTo}}
    </div>
    {{/if}}







    {{#if getArticle}}
    <div class="box col4">

        <div class="masonry-object">
            <div class="masonry-object_poster">  
                <a {{bindAttr href="getProfile_id"}}>
                    <img {{bindAttr src="profile_pic_url"}} class="profilepic-on-masonry"/>
                </a>
                <div class="object_username">
                    <a class="poster-name" {{bindAttr href="getProfile_id"}}>{{profile_id}}</a>
                    <span class="posttime">yesterday 8:37</span>
                </div>
            </div>
            <div class="masonry-object_mainfeature">             
                <div class="mainfeature-wrapper">
                    <a class="mainfeature-container">
                        {{#linkTo 'article' this}} <img class="this-is-the-object"{{bindAttr src="image_url" }} />{{/linkTo}}
                    </a>                 
                </div>


                <div class="masonry-object_text">
                    <div class="masonry-object_text-container">
                        <p>   {{#linkTo 'article' this}} Title{{/linkTo}} </p>
                        <p>{{description}}</p>
                    </div>
                    <span role="button" class="masonry_more-btn">more</span>
                </div>
            </div>

            <div class="masonry-object_interact">
                <div class="masonry_show-comment">
                    <div class="show-comment_container">
                        <span class="show-comment_inner">
                            <span class="comment-amount"> 10 </span>
                            <span class="comment-amount"> comments</span>
                        </span>
                        <div class="dropdownicon masonry_dropdownicon">
                            <i class="icon-chevron-down"></i>
                        </div>
                    </div>
                    <div class="object-like" style=""></div>
                    <div class="object-save" style=""></div>
                </div>
                <div class="masonry_addcommnetbox-container">
                    <div class="addcommnetbox">
                        Add comments
                    </div>
                </div>
            </div>
        </div>

    </div>
    {{/if}}






    {{#if getIdeabook}}
    <div class="box col4">
        <img {{bindAttr src="profile_pic_url"}} />
        {{#linkTo 'ideabooks' this}}<h1>{{type}}</h1>{{/linkTo}}
    </div>
    {{/if}}

    {{#if getDiscussion}}
    <div class="box col4">
        <img {{bindAttr src="profile_pic_url"}} />
        {{#linkTo 'discussions' this}}<h1>{{type}}</h1>{{/linkTo}}
    </div>
    {{/if}}







    <script>

        $(function() {
            var $container = $('#masonry_container');
            var $boxes = $('.box');
            window.setTimeout(function() {
                $container.prepend($boxes).masonry('reload');
            }, 10);
        });



    </script>





    {{/each}}




</div> <!-- #container -->



