









<div style="position: relative; margin: 15px auto;height: 520px; width: 690px; background-color: rgba(242,240,240,0.5);border: 3px dashed #aaa;">



    {{#each photoInfo}}
    <img {{bindAttr src="url"}} style="width: 30px"/>

    {{view Ember.TextField valueBinding="title"  id="" class="edit_photo-titile_field"  }} 
    {{view Ember.TextArea valueBinding="caption"  id="" class="edit_photo-caption_field"}} 

    {{/each}}




</div>
<div class="controlbtn-field" style="margin-top: 20px;">
    <div class="controlbtn" style="left: 34%;">

        <span class="new-btn" {{action backToDragAndDrop}}>Select more</span>
        <span class="new-btn green-btn" {{action finishUploadingAndInfo}}>Skip</span> 
        <span class="new-btn green-btn" {{action submitPhotoInfo}}>Submit</span> 
    </div>
</div>