          {{#view App.PhotoUploadView }}


                <div style="margin: 15px auto;height: 520px; width: 690px; background-color: rgba(242,240,240,0.5);border: 3px dashed #aaa;"> 
                    <div style="top: 200px;position: relative;margin: auto;width: 80%;font-size: 26px; text-shadow: 1px 1px 0px #fff, -0.5px -0.5px 0px #555;color: #aaa;text-align: center;font-size: 35px;">
                        <i class="icon-upload" style="font-size: 45px;"></i>
                        <p style="font-weight: bold;">
                            Drag and drop. 
                        </p>
                    </div>


                    <div style="margin: auto; width: 200px; top: 470px; position: absolute;left: 0;right: 0;">{{view App.ImageInputButtonView}}</div>    

                    <div style="position: relative; height: auto; bottom: 25px; padding: 15px; overflow-y: auto; overflow-x: hidden;">
                        {{#each content}}
                        <div style="position: relative;margin:8px; display: inline-block; vertical-align: top; min-width: 150px;">
                            <div> <img  {{bindAttr src= "photo_image_url"}}  alt="Logo" style="max-width: 150px; max-height: 160px;"> </div>
                            <div style="margin-top: 2px; font-size: 13px; text-overflow:ellipsis; text-align: center; width: 150px;overflow: hidden;">{{photo_title}}</div>
                        </div>
                        {{/each}}
                    </div>

                </div>
                <div class="controlbtn-field" style="margin-top: 20px;">
                    <div style="float: right; margin: 10px 30px;">
                        <div class="new-btn green-btn">submit</div> 
                        <div class="new-btn" {{action back }}>back</div>
                    </div>
                </div>
                {{/view}}
    
