


<div class="objectview-wrapper">


    <div class="exit" style="cursor: pointer;height: 44px;left: 0;filter: alpha(opacity=80);opacity: .8;position: absolute;right: 320px;top: 0;z-index: 100;">
        {{#linkTo index}}<button type="button" class="btn btn-primary"  style="height: 44px; position: absolute; right: 0; top: 0; width: 44px;">X</button>{{/linkTo}}
    </div>


    <div class="top-controlbar" style="height: 44px; left: 0;position: absolute; right: 320px; top: 0; line-height: 44px; text-align: center;">
        <div class="objectview_askquestion" style="position: relative; display: inline-block;"><i class="icon-question-sign icon-2x"></i></div>
        <div class="objectview_collect" style="position: relative; display: inline-block;"><i class="icon-folder-close icon-2x"></i></div>
        <div class="objectview_share" style="position: relative; display: inline-block;"><i class="icon-share-alt icon-2x"></i></div>
    </div>


    <div class="mainfeature" style="bottom: 44px; left: 0; overflow: hidden; position: absolute; right: 320px; top: 44px;">
        <img {{bindAttr src="image_url" }} style='bottom: 0; left: 0; margin: auto; position: absolute; right: 0; top: 0;'/>
    </div>


    <div class="bottom-controlbar" style="bottom: 0; height: 44px; left: 0; margin: 0 auto; position: absolute; right: 320px; width: 132px;">
        <div class="object-name" style="right: 132px; -webkit-transition: 130ms; color: #737373; font: normal 14px Roboto,arial,sans-serif; line-height: 44px; padding: 0 10px; position: absolute; white-space: nowrap;"> object Name</div>
        <div class="botcontrol-previous" style="height: 44px;filter: alpha(opacity=80);opacity: .8;position: absolute;-webkit-transition: 130ms;transition: 130ms;width: 44px;">
            <i class="icon-arrow-left icon-2x"></i>
        </div>
        <div class="object-album-view" style="left: 44px; height: 44px;filter: alpha(opacity=80);opacity: .8;position: absolute;-webkit-transition: 130ms;transition: 130ms;width: 44px;">
            <i class="icon-th icon-2x"></i>
        </div>
        <div class="botcontrol-next" style="left: 88px; height: 44px;filter: alpha(opacity=80);opacity: .8;position: absolute;-webkit-transition: 130ms;transition: 130ms;width: 44px;">
            <i class="icon-arrow-right icon-2x"></i>
        </div>
        <div class="objectview_numbering" style="left: 132px;color: #737373;font: normal 14px Roboto,arial,sans-serif;line-height: 44px;padding: 0 10px;position: absolute;white-space: nowrap;"> 18/30 </div>
    </div>






    <div class="objectview-right" style="bottom: 0; position: absolute; right: 0; top: 0; width: 320px; background-color: white; overflow-y: scroll;">

        <!-- USER SECTION -->
        <div>
            <div class="object-poster easing" style="padding: 15px;width: 100%; margin:0;" {{action setNameTag on="click" target="view"}}>
                <div class="profilepic" style="position: relative; display: inline-block; vertical-align: top;">
                    <div style="margin-right: 10px; vertical-align: top; display: inline-block;">
                        <a href="#" class="toprofile" ><img {{bindAttr src="profile_pic_url"}} class="profilepicture" style="border-radius: 50%; width: 46px; height: 46px;"/></a>              
                    </div>
                </div>
                <div class="object_username" style="position: relative; top: 3px;display: inline-block;">
                    <p style="font-size: 14px;font-weight: bold;margin-bottom: 0;"><a href="#">NAME</a></p>
                    <span class="posttime" style="color: #aaa; font-size: 11px;">yesterday 8:37</span>
                </div>

                <div class="contactmebtn" style="cursor: pointer;position: absolute; right: 15px; top: 23px;">
                    <a class="contactmeicon" href="#" style=" width: 35px; height: 35px;">
                        <img src="../images/mail_24dark.png" style="vertical-align: 6px; width: 15px;"/>
                    </a>
                </div>
            </div>
            {{#if view.NameTag}}

            <div class="object-poster_contact easing" style="background-color: #f8f8f8;">
                <table style="padding: 15px; width: 100%;font-size: 13px;  display: table;border-collapse: separate;border-spacing: 4px;">
                    <tbody style="display: table-row-group; vertical-align: middle; border-color: inherit;">
                        <tr>
                            <td>Contact:</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <td>Type:</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <td>Address:</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <td>Phone:</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <td>Website:</td>
                            <td>--</td>
                        </tr>
                    </tbody>
                </table>                
            </div>
            {{/if}}

        </div>

        <!-- OBJECT DESCRIBTION SECTION -->
        <div >
            <div class="object-detail" {{action setTitleTag  on="click" target="view"}}  style="cursor: pointer;background-color: rgb(242,240,240);color: #404040; padding: 15px; position: relative; -webkit-transition: 130ms; transition: 130ms;-webkit-user-select: none;border-top: 2px solid #fff;">
                <div class="object-detail_title">
                    Title
                </div>
                <div class="dropdownicon" style="position: absolute; right: 15px; top: 15px;">
                    <i class="icon-chevron-down" style="height: 16px; width: 16px;"></i>
                </div>
            </div>



            {{#if view.TitleTag}}



            <div class="object-detail_content" style="background-color: #f8f8f8;">
                <div style="padding: 15px;">
                    <p style="font-size: 14px;">Title</p>
                    <p style="font-size: 13px;">alskdjflakjdsfl;kajdsl;fk</p>
                </div>
            </div>

            {{/if}}


        </div>

        <!-- OBJECT PARTNER SECTION -->
        <div>
            <div class="object-partner" {{action setPartnerTag on="click" target="view"}}  style="cursor: pointer;">
                <div style="background-color: rgb(242,240,240);color: #404040; padding: 15px; position: relative; -webkit-transition: 130ms; transition: 130ms;-webkit-user-select: none;border-top: 2px solid #fff;">
                    <div class="object-partner_title">
                        Partner
                    </div>
                    <div class="dropdownicon" style="position: absolute; right: 15px; top: 15px;">
                        <i class="icon-chevron-down" style="height: 16px; width: 16px;"></i>
                    </div>      
                </div>
            </div>

            {{#if view.PartnerTag}}


            <div class="object-partner_content" style="background-color: #f8f8f8;">
                <div style="padding: 15px;">
                    <a href="#" ><img src="../images/profilepic1.jpg" /></a>
                    <a href="#" ><img src="../images/profilepic2.jpg" /></a>
                    <a href="#" ><img src="../images/profilepic3.jpg" /></a>
                    <a href="#" ><img src="../images/profilepic4.jpg" /></a>
                    <a href="#" ><img src="../images/profilepic5.jpg" /></a>
                    <a href="#" ><img src="../images/profilepic6.jpg" /></a>
                    <a href="#" ><img src="../images/profilepic7.jpg" /></a>
                    <a href="#" ><img src="../images/profilepic8.jpg" /></a>          
                </div>
            </div>
            {{/if}}
        </div>




        <!-- OBJECT DISCUSSION SECTION -->
        <div>
            <div class="object-discussion" {{action setDiscussionTag on="click" target="view"}}  style="cursor: pointer;">
                <div style="background-color: rgb(242,240,240);color: #404040; padding: 15px; position: relative; -webkit-transition: 130ms; transition: 130ms;-webkit-user-select: none;border-top: 2px solid #fff;">
                    <div class="object-discussion_title">
                        Discussion
                    </div>
                    <div class="dropdownicon" style="position: absolute; right: 15px; top: 15px;">
                        <i class="icon-chevron-down" style="height: 16px; width: 16px;"></i>
                    </div>      
                </div>
                {{#if view.DiscussionTag}}


                <div class="object-discussion_content" style="background-color: #f8f8f8;">


                    <div style="background-color: #f8f8f8;margin: 0 20px;padding: 16px 0 12px;">
                        <div style="background-color: #f8f8f8; color: #999; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            <span style="-webkit-transition: color .218s; transition: color .218s; background-color: #f8f8f8; color: #999; font-size: 12px; padding-right: 5px;">
                                <span class="comment-amount" style="overflow: hidden;vertical-align: top;"> 10 </span>
                                <span style="overflow: hidden; vertical-align: top;"> comments</span>
                            </span>

                        </div>
                        <div class="object-like" style=""></div>
                        <div class="object-save" style=""></div>
                    </div>

                    <div class="isotope-object_commnetbox" style="margin: 0 20px 0 20px;padding: 0 0 20px 0;">
                        <div class="" style="background-color: #fff; border: 1px solid #ddd; color: #999; cursor: text; font-size: 12px; height: auto; margin: 0 0 0 0; padding: 6px 8px;">
                            Add comments
                        </div>
                    </div>

                    <div class="object-discussion_comments" style="position: relative; margin-right: 0; overflow-y: auto; width: auto; display: block;">
                        <div style="padding: 0 0 0 0; position: relative;">
                            <div style="padding: 0 20px 16px 58px; vertical-align: top;">
                                <a href="#" style=" cursor: pointer; position: absolute;left: 20px;top: 5px;">
                                    <img style="width: 30px; height: 30px;" src="../images/profilepic1.jpg" />
                                </a>
                                <div style="">
                                    <div style="position: relative; display: block;">
                                        <div style="margin-right: 100px;">
                                            <a href="" style="-webkit-transition: color .218s;transition: color .218s;color: #404040;font-size: 13px;font-weight: bold;margin-right: 8px;">
                                                Carmilita Zotomayor-Riveral 
                                            </a>
                                            <div style="display: inline-block; white-space: nowrap;">
                                                <span style="display: inline; margin-left: 0; text-align: left; color: #999; font-size: 12px;">yesterday 10:14 pm</span>
                                                <span style="display: inline-block; float: none; font-size: 11px; margin-top: 2px; vertical-align: top;">+1</span>
                                            </div>
                                        </div>
                                        <div style="display: inline-block; font-size: 11px; min-height: 16px; padding: 0 0 0 0; position: absolute; right: 0; text-align: right; top: 0; width: 115px;">
                                            <!--this div for reply-->
                                        </div>
                                    </div>
                                    <div style="color: #404040; font-size: 13px; margin: 0 0 0 0; overflow: hidden;">
                                        Thanks. I love vintage photos. More than half a century later, Manhattan has transformed and evolved into what it is today. 
                                        <!-- for +someone into the conversation-->
                                        <span>
                                            <span></span>
                                            <a></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>                     
                    </div>

                    <div class="object-discussion_comments" style="position: relative; margin-right: 0; overflow-y: auto; width: auto; display: block;">
                        <div style="padding: 0 0 0 0; position: relative;">
                            <div style="padding: 0 20px 16px 58px; vertical-align: top;">
                                <a href="#" style=" cursor: pointer; position: absolute;left: 20px;top: 5px;">
                                    <img style="width: 30px; height: 30px;" src="../images/profilepic2.jpg" />
                                </a>
                                <div style="">
                                    <div style="position: relative; display: block;">
                                        <div style="margin-right: 100px;">
                                            <a href="" style="-webkit-transition: color .218s;transition: color .218s;color: #404040;font-size: 13px;font-weight: bold;margin-right: 8px;">
                                                John Patrick Anthony Cummins
                                            </a>
                                            <div style="display: inline-block; white-space: nowrap;">
                                                <span style="display: inline; margin-left: 0; text-align: left; color: #999; font-size: 12px;">yesterday 10:14 pm</span>
                                                <span style="display: inline-block; float: none; font-size: 11px; margin-top: 2px; vertical-align: top;">+1</span>
                                            </div>
                                        </div>
                                        <div style="display: inline-block; font-size: 11px; min-height: 16px; padding: 0 0 0 0; position: absolute; right: 0; text-align: right; top: 0; width: 115px;">
                                            <!--this div for reply-->
                                        </div>
                                    </div>
                                    <div style="color: #404040; font-size: 13px; margin: 0 0 0 0; overflow: hidden;">
                                        My pleasure! I thought a New Yorker would like it, the island has changed lot in 50 yrs. 
                                        <!-- for +someone into the conversation-->
                                        <span>
                                            <span></span>
                                            <a></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>                     
                    </div>


                </div>
                {{/if}}
            </div>
        </div>







    </div>


</div>