{{#view App.PhotoUploadView }}




<div  style="margin: 11px;height: 510px;width: 570px; background-color: rgb(242,240,240);"> 
    <p style="font-size: 26px; font-weight: bold;text-shadow: 1px 1px 0px #fff, -0.5px -0.5px 0px #555;color: #ccc;top: 225px;position: relative;margin: auto;width: 185px;">
        Drag and drop.
    </p>


    <div style="margin: auto; width: 200px; top: 450px; position: relative;">{{view App.ImageInputButtonView}}</div>    
    <div style=" position: relative; height: 430px; bottom: 25px; padding: 15px; overflow-y: auto; overflow-x: hidden;">
        {{#each content}}

        <div style="position: relative;margin:8px; display: inline-block; vertical-align: top; min-width: 150px;">

            <div> <img  {{bindAttr src= "src"}}  alt="Logo" style="max-width: 150px; max-height: 160px;"> </div>
            <div style="margin-top: 2px; font-size: 13px; text-overflow:ellipsis; text-align: center; width: 150px;overflow: hidden;">{{name}}</div>

            <!--    <div style="width: 260px;">
           <div class="progress progress-striped active">
                       <div class="bar" style="width:{{unbound progress}}%"></div>
                   </div>
               </div>
            </div>-->
        </div>

        {{/each}}
    </div>

    {{/view}}


