










<div class="plaform_bar">



    <div id="navContainer" class="easing">
      
        <ul id="nav-ul">
            <li> 
                <span> <img {{bindAttr src="controller.user.photo_url"}} class="profilepic_user"/></span>
            </li>

            <li style="margin-top: 20px;"> <span><a href="#"> <i class="icon-eye-open" style="font-size: 20px;"></i></a></span>  
                <ul>
                    <li>&nbsp;</li>
                    {{#each controller.categorys}}

                    <li> <span><a href="#" {{action topicSearch topic}} > {{topic}}</a></span>
                        <ul>
                            <li>&nbsp;</li>
                            {{#each subcate}}
                            <li> <a href="#" {{action topicSearch category_topic}} > {{category_topic}}</a>
                                <ul>
                                    <li>&nbsp;</li>
                                    {{#each subcategories}}
                                    <li> <a href="#" {{action topicSearch search_topic}} >{{search_topic}}</a>
                                        {{/each}}
                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </li>


                    {{/each}}
                </ul>
            </li>
            <li> <span><a href="#"> <i class="icon-folder-open" style="font-size: 20px;"></i></a></span>   
                <ul>
                    <li>&nbsp;</li>
                    {{#each controller.user.collections}}

                    <li><a  href="{{unbound controller.myUserProfile}}/{{unbound id}}" > {{id}}</a></li>

                    {{/each}}
                </ul>
            </li>
            <li> <span><a href="#"> <i class="icon-question-sign" style="font-size: 20px;"></i></a></span>   
            </li>
            <li> <span><a href="#"> <i class="icon-off" style="font-size: 20px;"></i></a></span>   
            </li>
        </ul>
    </div>
</div>