












<div style="position: fixed;left: 0px;top:30%;height: 400px;width:50px;background-color: black">
    <ul>
        <li style="width:auto;height:60px;background-color: gainsboro;"> aaaaaaaa</li>
        <li style="width:auto;height:60px;background-color: gainsboro;"> dddddddddd</li>
        <li style="width:auto;height:60px;background-color: gainsboro;"> ffffffffffffff</li>
        <li style="width:auto;height:60px;background-color: gainsboro;"> ssssssssssssss</li>
        <li style="width:auto;height:60px;background-color: gainsboro;">xxxxxxxxxxx</li>
    </ul>

</div>