<script  type="text/javascript">

    $(window).scroll(function() {
        var p = $('div#tab-right');
        var ul = $('ul#tab-title');
        var ul_height = ul.height();
        var p_height = p.height();

        var position = p.offset();
        var top_pos = position.top;
        var scroll_up = $(window).scrollTop();

        if (scroll_up + ul_height > top_pos) {
            var new_top = scroll_up - position.top;
            if ((new_top + ul_height) > p_height) {
                if (new_top < 0)
                    new_top = 0;
                ul.css("top", new_top);
            }
        }

        console.log("title hight: " + ul_height);
        console.log("content hight: " + p_height);
        console.log("scroll up: " + scroll_up);
        console.log("top pos: " + top_pos);

        console.log("----------------------------------------------------------");
    });

    $('img#profile_cover-image').hover(function() {
        $('div#profile_dogearhover').css("display", "block");
    }, function() {
        $('div#profile_dogearhover').css("display", "none");
    });

    $('div#profile_dogearhover').click(function() {
        console.log("1111111111111111111111");
    });




    $('#flip-front').click(function() {
        $(".hover").addClass('flip');
    });

    $('#flip-back').click(function() {
        $(".hover").removeClass('flip');
    });




</script>

<div class="profilegb" style="background: #fff url('../images/texture.png') repeat;width: 100%;height: auto; padding-bottom: 300px;">
    <div style="width: 100%; height: 500px; overflow: hidden; position: fixed;"> 
        <img  {{bindAttr src= model.profile_bg_url}} style="width: 100%; height:auto;">

        <!--        <div style="background-color: black;position: absolute; top:125px; left: 6%; border-radius: 3px;padding: 5px;opacity: 0.6;">
                    <p style="color: white;margin: 2px;font-size: 12px;">Change Background</p>
                </div>-->
    </div>


    <div style="width: 100%; height:170px; position: relative; display: block; opacity: 0;">      </div>








    <div class="hover panel" style='float: none;position: relative; width: 87%; height: auto; margin:  auto; background: #fff; box-shadow: 0px 0px 8px #555; border-radius: 3px 3px 0 0;max-width: 1260px;min-width: 796px;'>

        <div class="front" style="text-align: inherit; width: auto; height: auto; box-shadow: none; border: none; position: relative;">

            <div class="profilewrapper" style="">
                <!--corpbanner-->

                <div class="profilecorpbanner"    style="overflow:hidden;width: 100%; max-height: 650px; border-radius: 3px 3px 0 0; position: relative;">
                    <img {{bindAttr src= model.profile_cover_url}} style="width:100%;">
                    <div style="background-image:url('../images/dogearhover.png');width: 30px;height: 29px;position: absolute;right: 0; top: 0;"></div>
                    <div class="corpbanner_mask" style="background: url('../images/bannershadow.png') repeat-x; position: absolute;bottom:0; width: 100%; height: 200px;">
                        <div class="corpbanner_content" style="position: absolute;bottom:0;margin-left: 30%;width: 70%;">
                            <div class="main_title" style="height: 100px;">
                                <div>


                                    {{#if controller.editing}}
                                    <!--                                    {{view App.EditingView}}-->
                                    {{view App.SearchRequireTextFieldView valueBinding="model.profile_name"  id="" class=""  }} 
                                    <div class="edit-btn easing" style="color: white;" {{action toggleEditing}}>
                                         <i class="icon-edit"></i>                          
                                    </div>
                                    {{else}}
                                    <div style="display: inline-block; color: white;max-width: 750px;overflow: hidden; font-size: 28px; margin-bottom: 15px;line-height: 32px;">
                                        {{model.profile_name}}
                                    </div>
                                    <div class="edit-btn easing" style="color: white;" {{action toggleEditing}}>
                                         <i class="icon-edit"></i>
                                    </div>
                                    {{/if}}
                                </div>
                                <!--contact me-->
                                <div class="contactmebtn">
                                    <a class="contactmeicon" href=""><img src="../images/mail_24dark.png"/></a>
                                </div>

                                <div style="display: inline-block;">
                                    <p style='display: inline-block; float: left; color: white; margin: 7px 0; font-size: 14px;'>
                                        <a href='#' style='margin-right: 15px;'>
                                            <k class="icon-star" ></k>
                                            <k class="icon-star" ></k>
                                            <k class="icon-star" ></k>
                                            <k class="icon-star" ></k>
                                            <k class="icon-star" ></k>
                                        </a>
                                        <a href='#' style=" margin-right: 20px; color: #fff; opacity: .8;">23 Reviews</a>|<a href='#'style=" margin-left: 20px;color: #fff; opacity: .8;">Review me »</a></p>                       
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!--corpbanner                                  END-->




                <div style="position: relative; width: 100%;background-color: rgb(242,240,240); border-radius: 0 0 3px 3px;">

                    <!--PROFILE PAGE LEFT SIDE-->

                    <div class="profileaside" style="background-color: rgb(242,240,240); width: 29.5%; min-width: 230px;height: auto; padding: 10px; border-radius:3px 0 0 0; display: inline-block;vertical-align: top;">
                        <div class="profileaside_content" style="margin:auto; margin-top: -200px; position: relative; width:87%;">

                            <div class="aside-profilepic" style="padding: 20px 5px; border-bottom: 1px solid #ccc;">
                                <img {{bindAttr src= model.profile_pic_url}} style="width: 200px; height:auto; display: block;margin: 10px auto; border:3px solid white;width: 200px; height:auto; display: block;margin: 20px auto; border:5px solid white;box-shadow: 0px 0px 5px #888;"> 
                                <div href="#question_modal" role="button" class="new-btn green-btn" data-toggle="modal" style="margin:10px auto;display: block;width: 150px;">Follow</div>

                            </div>


                            <!--PROFILE CONTACT SECTION-->

                            <div class="aside-container" style="padding: 20px 0; border-bottom: 1px solid #ccc; border-top: 1px solid #fff; font-size: 14px;margin: auto;width: 95%;">
                                {{#unless controller.editingContact}}
                                <div>
                                    <div style='margin-bottom: 15px;display: inline-block;font-size: 18px; vertical-align: top;'><i class='icon-phone' style='margin-right: 10px;'></i>Contact Detail</div>

                                    <div class="edit-btn easing"  {{action toggleEditingContact}}>
                                         <i class="icon-edit"></i>
                                    </div>
                                </div>

                                {{/unless}}



                                <table id="aside_contact">
                                    <tr>
                                        <th style="color: #aaa; text-align: right; padding-bottom: 10px;font-size: 14px; font-weight: normal;">Contact:</th>
                                        {{#if controller.editingContact}}
                                        {{input type="text" value=contact_user  }}
                                        {{else}}
                                        <th {{action toggleEditingContact}} class="second-th">{{model.contact_user}}</th>
                                        {{/if}}
                                    </tr>
                                    <tr>
                                        <th>Type:</th>
                                        {{#if controller.editingContact}}
                                        {{input type="text" value=profile_category  }}
                                        {{else}}
                                        <th {{action toggleEditingContact}} class="second-th"><a href="#">{{model.profile_category}}</a></th>
                                        {{/if}}
                                    </tr>
                                    <tr>
                                        <th>Address:</th>
                                        {{#if controller.editingContact}}
                                        {{input type="text" value=profile_physical_address  }}
                                        {{else}}
                                        <th {{action toggleEditingContact}} class="second-th">{{model.profile_physical_address}}</th>
                                        {{/if}}
                                    </tr>
                                    <tr>
                                        <th>Phone:</th>
                                        {{#if controller.editingContact}}
                                        {{input type="text" value=phone_number  }}
                                        {{else}}
                                        <th {{action toggleEditingContact}} class="second-th">{{model.phone_number}}</th>
                                        {{/if}}
                                    </tr>
                                    <tr>
                                        <th>Website:</th>
                                        {{#if controller.editingContact}}
                                        {{input type="text" value=website_url  }}
                                        {{else}}
                                        <th  {{action toggleEditingContact}} class="second-th"><a href="http://ikitchen.y8.co.nz">{{model.website_url}}</a></th>
                                        {{/if}}
                                    </tr>

                                </table>
                                {{#unless controller.editingContact}}

                                {{else}}
                                <div class="buttons" style="position: relative;display: block;margin: 10px auto 0;text-align: center;">

                                    <div  type="button" class="new-btn blue-btn" {{action changeEditingContact }}> <i class="icon-ok icon-white"></i></div>

                                    <div  type="button" class="new-btn" {{action exitContactEditing }}> <i class="icon-remove"></i></div>

                                </div>
                                {{/unless}}

                            </div>


                            <!--PROFILE HOURS SECTION-->

                            <div class="aside-container" style="padding: 20px 0; border-top: 1px solid #fff; font-size: 14px;margin: auto;width: 95%;">
                                <div style='margin-bottom: 15px;display: inline-block;font-size: 18px; vertical-align: top;'><i class='icon-time' style='margin-right: 10px;'></i>Hours</div>
                                <div class="edit-btn easing">
                                    <i class="icon-edit"></i>                            
                                </div>
                                <div style="display: block">
                                    <div style='display: inline-block;color: #888;text-align: right;'>
                                        <p>Mon - Fri: </p>
                                        <p>Saturday:</p>
                                        <p>Sunday:</p>
                                        <p>Holidays:</p>
                                    </div>
                                    <div style='ffont-weight: bold;display: inline-block;text-align: right;margin: auto;left: 0;width: 60%;'>
                                        <p>7:00am - Late</p>
                                        <p>10:00am - Late</p>
                                        <p>4:00pm - Late</p>
                                        <p>Closed</p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>




                    <!--PROFILE PAGE MAIN PART-->

                    <div class="profilemain" style="display: inline-block; width: 70%;left: 0;right: 0; background-color: white;margin: auto; min-width: 553px;">

                        <div class="profile-main-content" style="margin: 20px auto;width: 90%;">   

                            <div class="main_aboutus" style="border-bottom: 1px solid rgba(0,0,0,.1); padding:20px 0 30px 0; font-size: 15px; min-height: 300px;">
                                <div><p style='margin-bottom: 20px;display: inline-block; font-size: 18px;'><i class='icon-group' style='margin-right: 10px;display: inline-block;'></i>About Us</p>

                                    {{#if controller.editingAbout}}
                                    {{view App.EditingAboutView}}
                                    {{else}}
                                    <div class="edit-btn" {{action toggleEditingAbout}}>
                                         <i class="icon-edit"></i>                            
                                    </div>
                                    {{/if}}
                                </div>
                                <div style="padding: 10px 50px;">
                                    {{{model.about}}} 
                                </div>
                            </div>

                            <div class="main_comments" style="padding:20px 0 30px 0; font-size: 16px;">
                                <p style="font-size:18px;margin: 20px auto 0;">
                                    <i class='icon-comments-alt' style='margin-right: 10px;'></i>
                                    Comments
                                </p>


                                <div class="collapes-container_inner">

                                    <div class="show-comment">
                                        <div class="show-comment_container">
                                            <span class="show-comment_inner">
                                                <span class="comment-amount" > 10 </span>
                                                <span class="comment-amount" > comments</span>
                                            </span>
                                        </div>

                                        <div class="object-like" style=""></div>
                                        <div class="object-save" style=""></div>
                                    </div>

                                    <div class="addcommnetbox-container">
                                        <div class="addcommnetbox">
                                            Add comments
                                        </div>
                                    </div>

                                    <div class="comment-item">

                                        <div class="comment-position">
                                            <a class="profilepic-comment-container" href="#">
                                                <img class="profilepic_comment" src="../images/profilepic1.jpg" />
                                            </a>
                                            <div style="">
                                                <div class="comment-namentime">
                                                    <div class="namentime_position">
                                                        <a class="comment-username" href="" >
                                                            Carmilita Zotomayor-Riveral 
                                                        </a>
                                                        <div class="posttime-container">
                                                            <span class="posttime">yesterday 10:14 pm</span>
                                                            <span class="like-amount">+1</span>
                                                        </div>
                                                    </div>

                                                    <div class="reply-comment">
                                                        <!--this div for reply-->
                                                    </div>

                                                </div>

                                                <div class="comment-content">
                                                    Thanks. I love vintage photos. More than half a century later, Manhattan has transformed and evolved into what it is today. 

                                                    <!-- for +someone into the conversation-->
                                                    <span>
                                                        <span></span>
                                                        <a></a>
                                                    </span>
                                                </div>

                                            </div>
                                        </div>

                                    </div>


                                    <div class="comment-item">

                                        <div class="comment-position">
                                            <a class="profilepic-comment-container" href="#">
                                                <img class="profilepic_comment" src="../images/profilepic3.jpg" />
                                            </a>
                                            <div style="">
                                                <div class="comment-namentime">
                                                    <div class="namentime_position">
                                                        <a class="comment-username" href="" >
                                                            John Patrick Anthony Cummins
                                                        </a>
                                                        <div class="posttime-container">
                                                            <span class="posttime">yesterday 10:14 pm</span>
                                                            <span class="like-amount">+1</span>
                                                        </div>
                                                    </div>

                                                    <div class="reply-comment">
                                                        <!--this div for reply-->
                                                    </div>

                                                </div>

                                                <div class="comment-content">
                                                    My pleasure! I thought a New Yorker would like it, the island has changed lot in 50 yrs. 

                                                    <!-- for +someone into the conversation-->
                                                    <span>
                                                        <span></span>
                                                        <a></a>
                                                    </span>
                                                </div>

                                            </div>
                                        </div>

                                    </div>




                                </div>


                            </div>

                            <div id="flip-front" class='new-btn blue-btn' style="float: right;display: block;margin: 10px 0;">
                                <i class="icon-map-marker"></i>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
            <!-- wrapper   end-->

        </div>

        <div class="back t-style-box"  style='width: 100%;height:auto;  background-color: white; border-radius: 3px;border:none; min-height: 1000px;'>

            <div style="width:100%; height:650px; border-radius: 3px 3px 0 0; overflow: hidden;">
                {{view App.MapView}}
            </div>

            <div class="main_Location" style="padding:20px 20px 30px ; font-size: 15px;text-shadow: none;">
                <div><p style='margin-bottom: 20px;display: inline-block; font-size: 18px;'>
                        <i class='icon-map-marker' style='margin-right: 10px;display: inline-block;'></i>
                        Location
                    </p>

                </div>
                <div style="padding: 10px 50px;">
                </div>
            </div>

            <div id="flip-back" class='new-btn blue-btn' style="float: right;position: relative;top: 200px;right: 20px;text-shadow: none;">Back</div>
        </div>



    </div>



    {{#if controller.switchPhoto}}



    {{view App.MasonryCollectionView}}



    {{else}}



    {{render insideCollection}}



    {{/if}}



    {{#if controller.makeSureDelete}}

    {{view App.DeleteFunctionView}}


    {{/if}}