


{{#each  content}}
<div class="box col2 noStyle1">
    <div class="masonry-object">
        {{render itemProfiles this}}
        {{render "comment" this}}
    </div>
</div>

<script>
    $(function() {
        var $container = $('#masonry_user_container');
        window.setTimeout(function() {
            $container.masonry();
            $container.masonry('reload');
        }, 10);
    });
</script>
{{/each}}










{{#if controller.makeSureDelete}}

{{view App.DeleteFunctionView}}

{{/if}}