








{{#each collections}}
<div class="box col2 style-box t-style-box">
    <div class="masonry-object Targeting_Object_front" {{bindAttr id="id"}}>
        <a class="album-description-hoverarea easing" href="" {{action transitionToCollectionPhoto id}}>

           <div class="album-description">{{desc}}</div>
            <div class="album-description-bg">{{desc}}</div>
        </a>
        <div class="albumcover-container"  >
            <img class="albumcover" {{bindAttr src="cover"}} />
        </div>
        <div class="album-info">
            <div class="album-info_name"><i class="icon-picture" ></i>   {{title}}</div>
            <div class="album-info_content">
                {{#if controller.is_authentic_user}}
                <div class="edit-btn edit-collection-btn easing"><i class="icon-cog" {{action editCollectionButton id desc target="view" on="click"}}></i></div>
                {{/if}}
                <span><a href="" {{action transitionToCollectionPhoto id}}> </a> photos</span>
                <span><img src="../../images/list-doc.png"/> April 1 2013</span>
            </div>
        </div>
    </div>
    <div id="Targeting_Object_back"{{bindAttr class="id"}}>
        {{view App.EditCollectionView}}
    </div>
</div>

<script>

    $(function() {
        var $container = $('#masonry_user_container');
        window.setTimeout(function() {
            $container.masonry();
            $container.masonry('reload');
        }, 400);
    });

</script>
{{/each}}

