
<div class="box style-box t-style-box" id="addNew">

    <div id="uploadObject" {{action newCollection }}>
         <div class="add-new-object-hoverarea easing">

            <i class="icon-plus-sign"></i>
        </div>
        <div class="masonry-object t-style-box">
            <div class="add-new-object-content">
                <i class="icon-group"></i>
                <i class="icon-book"></i>
                <i class="icon-picture"></i>
                <i class="icon-film"></i>
            </div>

        </div>
    </div>
    {{view App.EditCollectionView}}
</div>

{{#each  content}}
<div class="box col2 noStyle1">
    <div class="masonry-object">
        {{render itemProfiles this}}
        {{render "comment" this}}
    </div>
</div>

<script>
    $(function() {
        var $container = $('#masonry_user_container');
        window.setTimeout(function() {
            $container.masonry();
            $container.masonry('reload');
        }, 10);
    });
</script>
{{/each}}



<div class="col2 box style-box t-style-box" style="opacity: 0;height:300px">text</div>





{{#if controller.makeSureDelete}}

{{view App.DeleteFunctionView}}

{{/if}}