
 {{#linkTo "users"}}{{plainButton "Users Page"}}{{/linkTo}}
 
 {{#each model}}
 <ul>
     <li>
         <h3>{{#linkTo 'profile' this}}{{id}}{{/linkTo}}    {{profile_name}}</h3>
     </li>
 </ul>
 
 
 {{/each}}
 <h3>new profile</h3>

<a href="#" {{action newProfile}}><img style="width:100px;height:100px" src="https://s3-ap-southeast-2.amazonaws.com/hubstar-dev/slide_img/kichen_c.jpg"></a>

{{#linkTo 'profileNew' }}<img style="width:100px;height:100px" src="https://s3-ap-southeast-2.amazonaws.com/hubstar-dev/slide_img/kichen_c.jpg"></a>{{/linkTo }}

