
<div style="width: 100%; height:300px; position: relative;background: #fff url('../images/defaultbg/defaultbg6.jpg') repeat;margin-bottom: -50px;">
    <P style="text-shadow: 0 0 10px #333; position: relative; font-size: 40px; font-weight: bold; top: 120px; width: 600px; color: white; left:0; right: 0; margin: 0 auto 10px; line-height: 25px; text-align: center;">
        All Finished! </p>
    <P style="text-shadow: 0 0 10px #333; position: relative; font-size: 18px;  top: 130px; width: 600px; color: white; left:0; right: 0; margin: auto; line-height: 25px; text-align: center;">
        Scroll down for a quick intro to Trendsideas!
    </P>

    <div style="position: absolute; left: 0; right: 0; margin: auto; width: 100px; text-align: center; bottom: 45px;">
        {{#linkTo searchIndex}}<div style="width: 100px;" class="new-btn green-btn" >Skip</div>{{/linkTo}}
    </div>

</div>




<div id="discovery_search_bar_wrapper" style="height: 500px; box-shadow: 0 0 15px #333;position: relative;margin: 0;border: none;">
    <div style="width: 100%; height: 100%; background-color: black; opacity: 0.05;"></div>
    <div style='position: absolute; top: 100px; margin:auto;width: 1200px;left: 0;right: 0;'>
        <div style="width: 600px;border: 6px solid #fff;box-shadow: 0 0 10px #333;display: inline-block;margin-right: 80px;">
            <img src='../images/quickstart1.jpg'/>
        </div>
        <div style='display: inline-block;width: 500px;top: 25px;position: relative;'>
            <span style='margin-bottom: 20px;display: block;font-size: 30px; vertical-align: top; color: white;font-weight: bold;line-height: 35px;text-shadow: -1px -1px 1px #aaa; text-shadow: 0px 0px 15px #555;'>
                <i class='icon-search' style='margin-right: 25px;'></i>Search Engine
            </span>
            <span style="color: white; text-shadow: 0px 0px 15px #555; font-size: 16px; ">Search across 100,000 photos and articles. Simply enter your idea into the search area and inspirational ideas appear. Magic!</span>
        </div>
    </div>
</div>

<div style="width: 100%; height: 570px; background: #fff url('../images/defaultbg/defaultbg6.jpg') repeat; position: relative; top:30px;">

    <div style='position: absolute; top: 80px; margin:auto;width: 1200px;left: 0;right: 0;'>
        <div style='display: inline-block;width: 500px;top: 25px;position: relative;margin: auto 80px auto 100px;'>
            <span style='margin-bottom: 20px;display: block;font-size: 30px; vertical-align: top; color: white;font-weight: bold;line-height: 35px;text-shadow: -1px -1px 1px #aaa;'>
                <i class='icon-eye-open' style='margin-right: 25px;'></i>Object view
            </span>
            <span style="color: white; text-shadow: 0px 0px 5px #aaa;font-size: 16px; ">Click on any photo to bring instantly to life in a full High-Definition clear image. To view related photos, use the navigation to view the entire collection to fully inspire your creativity.</span>
        </div>
        <div style="width: 400px;display: inline-block;">
            <img src='../images/quickstart2.png'/>
        </div>
    </div>

</div>

<div style="height: 500px; box-shadow: 0 0 15px #333;position: relative;margin: 0; background: #fff url('../images/texture.png') repeat; z-index: 1;">
    <div style='position: absolute; top: 90px; margin:auto;width: 1200px;left: 0;right: 0;'>
        <div style="display: inline-block;margin-right: 80px;">
            <div style="border: 6px solid #fff;box-shadow: 0 0 5px #333;display: inline-block;">
                <img style="height: 300px;" src="../images/welcomepage/bedroom.jpg"/>
            </div>
            <div style=" position: absolute; bottom: -90px; left: 140px;">
                <img src='../images/quickstart3.png'/>
            </div>
        </div>
        <div style='display: inline-block;width: 500px;top: 25px;position: relative;left: 365px;'>
            <span style='margin-bottom: 20px;display: block;font-size: 30px; vertical-align: top; color: #333;font-weight: bold;line-height: 35px;text-shadow: -1px -1px 1px #aaa; '>
                <i class='icon-comments-alt' style='margin-right: 25px;'></i>Comment Feature
            </span>
            <span style="color: #333;  font-size: 16px; ">Got something you want to voice to the world? We would love to hear your voice. Comment to your hearts content!</span>
        </div>
    </div>


</div>

<div style="width: 100%; height: 570px; background: #fff url('../images/defaultbg/defaultbg6.jpg') repeat; position: relative; margin-bottom: -20px;">


    <div style='display: inline-block;width: 330px;top: 200px;position: absolute;left: 300px;z-index: 1;'>
        <span style='margin-bottom: 20px;display: block;font-size: 30px; vertical-align: top; color: white;font-weight: bold;line-height: 35px;text-shadow: -1px -1px 1px #aaa;'>
            <i class='icon-group' style='margin-right: 25px;'></i>Client Profiles
        </span>
        <span style="color: white; text-shadow: 0px 0px 5px #aaa;font-size: 16px; ">Found something amazing and want to know how to get it? Use our direct enquiry feature!</span>
    </div>
    <div style="width: 800px;display: inline-block;position: absolute;bottom: 0;border-radius: 3px 3px 0 0;overflow: hidden;box-shadow: 0 0 15px #aaa;right: 150px;">
        <img src='../images/quickstart4.png'/>
    </div>

    {{#linkTo searchIndex}}
    <div style="position: absolute; top: 450px; left: 300px; width: 100px;" class="new-btn green-btn" >Get started!</div>
    {{/linkTo}}

</div>

