
<div class="user-board">
    <div class="user-board_left style-box">
        <img style="width: 150px; height: 150px; border-radius: 3px 0 0 3px;display: inline-block;vertical-align: top;" {{bindAttr src="controller.user.photo_url_large"}}/>
        <div style="height: 128px; margin: 10px 20px;display: inline-block;position: absolute;left: 150px;">
            <div style='display: block;'>
                <div style="font-size: 26px;font-weight: bold; line-height: 30px; overflow: hidden; display: inline-block;">{{controller.user.display_name}}</div>
                <div  type="button" class="new-btn green-btn" style="margin-left: 20px;">
                    Follow
                </div>
            </div>
            <div style="font-size: 13px;line-height: 20px;margin: 5px auto;color: #888; overflow: hidden;height: 50px; text-overflow: ellipsis;">{{description}}</div>
            <ul class="locationandlinks">
                <li class="location_li" style="background: none;padding: 0;"><i class="icon-map-marker"> </i>Auckland</li> 
                <li><a href="#" target="_blank">www.you.com</a></li>
                <li><a href="#" target="_blank"><i class="icon-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="icon-facebook"></i></a></li>
                <li><a href="#" target="_blank"><i class="icon-google-plus"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="user-board_right style-box" style="background: white; width: 30%; height: 150px; display: inline-block; vertical-align: top;padding: 15px 20px;">
        <div style="font-weight: bold;line-height: 20px; color: #777; font-size: 13px;">Interested in:</div>
        <div style="padding: 0 8px; line-height: 25px;">

            {{#each controller.selected_topics}}
            <div class='hashtags' >{{topics}}<i class='remove-hashtages' {{action deleteTopic topics}}>x</i></div>


            {{/each}}

        </div>
    </div>
</div>


{{#if controller.switchPhoto}}



{{view App.MasonryCollectionView}}



{{else}}



{{render insideCollection}}



{{/if}}


{{#if controller.makeSureDelete}}

{{view App.DeleteFunctionView}}


{{/if}}