
<div class="user-board" style="width: 87%; position: relative; margin: 100px auto 20px; left: 0; right: 0; min-width: 796px; max-width: 1260px;">
    <div class="user-board_left style-box" style="background: white; width: 69%;display: inline-block;vertical-align: top;height: 150px;margin-right: 0.5%;">
        <img style="width: 150px; height: 150px; border-radius: 3px 0 0 3px;display: inline-block;vertical-align: top;" {{bindAttr src="photo_url_large"}}/>
        <div style="height: 120px; margin: 15px 20px;display: inline-block;position: absolute;left: 150px;">
            <div style="font-size: 26px;font-weight: bold; line-height: 30px; overflow: hidden;">{{display_name}}</div>
            <div style="font-size: 13px;line-height: 20px;margin: 5px auto;color: #888; overflow: hidden;height: 60px; text-overflow: ellipsis;">{{description}}</div>
            <ul class="locationandlinks">
                <li class="location_li" style="background: none;padding: 0;"><i class="icon-map-marker"></i>Auckland</li> 
                <li><a href="#" target="_blank">www.you.com</a></li>
                <li><a href="#" target="_blank"><i class="icon-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="icon-facebook"></i></a></li>
                <li><a href="#" target="_blank"><i class="icon-google-plus"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="user-board_right style-box" style="background: white; width: 30%; height: 150px; display: inline-block; vertical-align: top;">



    </div>
</div>

<div style="width: 100%; margin: 100px auto; left: 0;right: 0;position: relative;display: block;">
    <!-- masonry from here -->
    <div id="masonry_user_container"  class="transitions-enabled centered clearfix" >

        <!--SECTION CONTROL BAR-->

        <div class="style-box t-style-box" style="width: 100%; min-width: 796px; height: 50px; background: white;margin: -70px auto;left: 0;right: 0;position: relative;display: block;">
            <div style="margin: 2px 20px 2px 40px; font-size: 20px; font-weight: bold; text-shadow: 0 1px 0 rgba(255,255,255,0.8);float: left;">Album Name</div>



            <ul class="user-stats" id="user-stats">
                <li><a>Collections</a></li>
                <li><a>Photos</a></li>
                <li><a>Videos</a></li>
                <li><a>Discussions</a></li>
                <li><a>Following</a></li>
                <li><a>Followers</a></li>
            </ul>



        </div>

        <!--END SECTION CONTROL BAR-->



        <div class="box col2">
            <div class="masonry-object">
                <div class="masonry-object_poster">  
                    <a {{bindAttr href="getProfile_id"}}>
                        <img {{bindAttr src="owner_profile_pic"}} class="profilepic-on-masonry"/>
                    </a>
                    <div class="object_username">
                        <a class="poster-name" {{bindAttr href="getProfile_id"}}>{{owner_title}}</a>
                        <span class="posttime">{{date created}}</span>
                    </div>


                    <div class="object-tags-box">

                        <div class="object-tags">
                            <span class="tags-mark" style="background-color: #427fed"></span>
                            <div class="tags easing">
                                <div class="tags-new">New</div>
                                <div class="object-tpye">
                                    <i class="icon-picture"></i>
                                </div>                      
                            </div>
                        </div>

                        <div class="object-tags ">
                            <span class="tags-mark" style="background-color: #76a7fa"></span>
                            <div class="tags easing tagsappear">
                                <div class="tags-new">#{{region}}</div>                   
                            </div>
                        </div>

                        <div class="object-tags ">
                            <span class="tags-mark" style="background-color: #a0c3ff"></span>
                            <div class="tags easing tagsappear">
                                <div class="tags-new">#{{topic}}</div>                   
                            </div>
                        </div>

                    </div>


                </div>
                <div class="masonry-object_mainfeature">             
                    <div class="mainfeature-wrapper">
                        <a class="mainfeature-container">
                            {{#linkTo 'photo' this}} <img class="this-is-the-object"{{bindAttr src="object_image_url" }} />{{/linkTo}}
                        </a>                 
                        <div>                                                                                                                                                                                                                                                                                                                                                                       </div>
                    </div>


                    <div class="masonry-object_text">
                        <div class="masonry-object_text-container">
                            <p>   {{#linkTo 'photo' this}} {{photo_title}}{{/linkTo}} </p>

                        </div>

                        <div class="more_detail" {{bindAttr id="id"}} >

                            <div class="more_text-container" >
                                <div style="display:block;">
                                    {{description}}
                                </div>
                            </div>

                        </div>

                        <span role="button" class="masonry_more-btn easing"  {{bindAttr id="more_button"}} {{action 'moreContent' this target='view' on="click"}}>more</span>

                        <span role="button" class="masonry_more-btn easing" {{bindAttr id="collape_button"}}  style="display: none" {{action 'collapeContent' this target='view' on="click"}}>collapes</span>

                    </div>
                </div>

                <div class="masonry-object_interact">
                    <div class="masonry_show-comment">
                        <div class="show-comment_container">
                            <span class="show-comment_inner">
                                <span class="comment-amount"> 10 </span>
                                <span class="comment-amount"> comments</span>
                            </span>
                            <div class="dropdownicon masonry_dropdownicon">
                                <i class="icon-chevron-down"></i>
                            </div>
                        </div>
                        <div class="object-like" style=""></div>
                        <div class="object-save" style=""></div>
                    </div>
                    <div class="masonry_addcommnetbox-container">
                        <div class="addcommnetbox">
                            Add comments
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="box col2">
            <div class="masonry-object">
                <div class="masonry-object_poster">  
                    <a {{bindAttr href="getProfile_id"}}>
                        <img {{bindAttr src="owner_profile_pic"}} class="profilepic-on-masonry"/>
                    </a>
                    <div class="object_username">
                        <a class="poster-name" {{bindAttr href="getProfile_id"}}>{{owner_title}}</a>
                        <span class="posttime">{{date created}}</span>
                    </div>


                    <div class="object-tags-box">

                        <div class="object-tags">
                            <span class="tags-mark" style="background-color: #427fed"></span>
                            <div class="tags easing">
                                <div class="tags-new">New</div>
                                <div class="object-tpye">
                                    <i class="icon-picture"></i>
                                </div>                      
                            </div>
                        </div>

                        <div class="object-tags ">
                            <span class="tags-mark" style="background-color: #76a7fa"></span>
                            <div class="tags easing tagsappear">
                                <div class="tags-new">#{{region}}</div>                   
                            </div>
                        </div>

                        <div class="object-tags ">
                            <span class="tags-mark" style="background-color: #a0c3ff"></span>
                            <div class="tags easing tagsappear">
                                <div class="tags-new">#{{topic}}</div>                   
                            </div>
                        </div>

                    </div>


                </div>
                <div class="masonry-object_mainfeature">             
                    <div class="mainfeature-wrapper">
                        <a class="mainfeature-container">
                            {{#linkTo 'photo' this}} <img class="this-is-the-object"{{bindAttr src="object_image_url" }} />{{/linkTo}}
                        </a>                 
                        <div>                                                                                                                                                                                                                                                                                                                                                                       </div>
                    </div>


                    <div class="masonry-object_text">
                        <div class="masonry-object_text-container">
                            <p>   {{#linkTo 'photo' this}} {{photo_title}}{{/linkTo}} </p>

                        </div>

                        <div class="more_detail" {{bindAttr id="id"}} >

                            <div class="more_text-container" >
                                <div style="display:block;">
                                    {{description}}
                                </div>
                            </div>

                        </div>

                        <span role="button" class="masonry_more-btn easing"  {{bindAttr id="more_button"}} {{action 'moreContent' this target='view' on="click"}}>more</span>

                        <span role="button" class="masonry_more-btn easing" {{bindAttr id="collape_button"}}  style="display: none" {{action 'collapeContent' this target='view' on="click"}}>collapes</span>

                    </div>
                </div>

                <div class="masonry-object_interact">
                    <div class="masonry_show-comment">
                        <div class="show-comment_container">
                            <span class="show-comment_inner">
                                <span class="comment-amount"> 10 </span>
                                <span class="comment-amount"> comments</span>
                            </span>
                            <div class="dropdownicon masonry_dropdownicon">
                                <i class="icon-chevron-down"></i>
                            </div>
                        </div>
                        <div class="object-like" style=""></div>
                        <div class="object-save" style=""></div>
                    </div>
                    <div class="masonry_addcommnetbox-container">
                        <div class="addcommnetbox">
                            Add comments
                        </div>
                    </div>
                </div>
            </div>

        </div>






        <div class="box col2">

            <div class="masonry-object">
                <div class="masonry-object_poster">  
                    <a {{bindAttr href="getProfile_id"}}>
                        <img {{bindAttr src="owner_profile_pic"}} class="profilepic-on-masonry"/>
                    </a>
                    <div class="object_username">
                        <a class="poster-name" {{bindAttr href="getProfile_id"}}>{{owner_title}}</a>
                        <span class="posttime">{{date created}}</span>
                    </div>


                    <div class="object-tags-box">

                        <div class="object-tags">
                            <span class="tags-mark" style="background-color: #427fed"></span>
                            <div class="tags easing">
                                <div class="tags-new">New</div>
                                <div class="object-tpye">
                                    <i class="icon-picture"></i>
                                </div>                      
                            </div>
                        </div>

                        <div class="object-tags ">
                            <span class="tags-mark" style="background-color: #76a7fa"></span>
                            <div class="tags easing tagsappear">
                                <div class="tags-new">#{{region}}</div>                   
                            </div>
                        </div>

                        <div class="object-tags ">
                            <span class="tags-mark" style="background-color: #a0c3ff"></span>
                            <div class="tags easing tagsappear">
                                <div class="tags-new">#{{topic}}</div>                   
                            </div>
                        </div>

                    </div>


                </div>
                <div class="masonry-object_mainfeature">             
                    <div class="mainfeature-wrapper">
                        <a class="mainfeature-container">
                            {{#linkTo 'photo' this}} <img class="this-is-the-object"{{bindAttr src="object_image_url" }} />{{/linkTo}}
                        </a>                 
                        <div>                                                                                                                                                                                                                                                                                                                                                                       </div>
                    </div>


                    <div class="masonry-object_text">
                        <div class="masonry-object_text-container">
                            <p>   {{#linkTo 'photo' this}} {{photo_title}}{{/linkTo}} </p>

                        </div>

                        <div class="more_detail" {{bindAttr id="id"}} >

                            <div class="more_text-container" >
                                <div style="display:block;">
                                    {{description}}
                                </div>
                            </div>

                        </div>

                        <span role="button" class="masonry_more-btn easing"  {{bindAttr id="more_button"}} {{action 'moreContent' this target='view' on="click"}}>more</span>

                        <span role="button" class="masonry_more-btn easing" {{bindAttr id="collape_button"}}  style="display: none" {{action 'collapeContent' this target='view' on="click"}}>collapes</span>

                    </div>
                </div>

                <div class="masonry-object_interact">
                    <div class="masonry_show-comment">
                        <div class="show-comment_container">
                            <span class="show-comment_inner">
                                <span class="comment-amount"> 10 </span>
                                <span class="comment-amount"> comments</span>
                            </span>
                            <div class="dropdownicon masonry_dropdownicon">
                                <i class="icon-chevron-down"></i>
                            </div>
                        </div>
                        <div class="object-like" style=""></div>
                        <div class="object-save" style=""></div>
                    </div>
                    <div class="masonry_addcommnetbox-container">
                        <div class="addcommnetbox">
                            Add comments
                        </div>
                    </div>
                </div>
            </div>


        </div>





        <div class="box col2">


            <div class="masonry-object">
                <div class="masonry-object_poster">  
                    <a {{bindAttr href="getProfile_id"}}>
                        <img {{bindAttr src="owner_profile_pic"}} class="profilepic-on-masonry"/>
                    </a>
                    <div class="object_username">
                        <a class="poster-name" {{bindAttr href="getProfile_id"}}>{{owner_title}}</a>
                        <span class="posttime">{{date created}}</span>
                    </div>


                    <div class="object-tags-box">

                        <div class="object-tags">
                            <span class="tags-mark" style="background-color: #427fed"></span>
                            <div class="tags easing">
                                <div class="tags-new">New</div>
                                <div class="object-tpye">
                                    <i class="icon-picture"></i>
                                </div>                      
                            </div>
                        </div>

                        <div class="object-tags ">
                            <span class="tags-mark" style="background-color: #76a7fa"></span>
                            <div class="tags easing tagsappear">
                                <div class="tags-new">#{{region}}</div>                   
                            </div>
                        </div>

                        <div class="object-tags ">
                            <span class="tags-mark" style="background-color: #a0c3ff"></span>
                            <div class="tags easing tagsappear">
                                <div class="tags-new">#{{topic}}</div>                   
                            </div>
                        </div>

                    </div>


                </div>
                <div class="masonry-object_mainfeature">             
                    <div class="mainfeature-wrapper">
                        <a class="mainfeature-container">
                            {{#linkTo 'photo' this}} <img class="this-is-the-object"{{bindAttr src="object_image_url" }} />{{/linkTo}}
                        </a>                 
                        <div>                                                                                                                                                                                                                                                                                                                                                                       </div>
                    </div>


                    <div class="masonry-object_text">
                        <div class="masonry-object_text-container">
                            <p>   {{#linkTo 'photo' this}} {{photo_title}}{{/linkTo}} </p>

                        </div>

                        <div class="more_detail" {{bindAttr id="id"}} >

                            <div class="more_text-container" >
                                <div style="display:block;">
                                    {{description}}
                                </div>
                            </div>

                        </div>

                        <span role="button" class="masonry_more-btn easing"  {{bindAttr id="more_button"}} {{action 'moreContent' this target='view' on="click"}}>more</span>

                        <span role="button" class="masonry_more-btn easing" {{bindAttr id="collape_button"}}  style="display: none" {{action 'collapeContent' this target='view' on="click"}}>collapes</span>

                    </div>
                </div>

                <div class="masonry-object_interact">
                    <div class="masonry_show-comment">
                        <div class="show-comment_container">
                            <span class="show-comment_inner">
                                <span class="comment-amount"> 10 </span>
                                <span class="comment-amount"> comments</span>
                            </span>
                            <div class="dropdownicon masonry_dropdownicon">
                                <i class="icon-chevron-down"></i>
                            </div>
                        </div>
                        <div class="object-like" style=""></div>
                        <div class="object-save" style=""></div>
                    </div>
                    <div class="masonry_addcommnetbox-container">
                        <div class="addcommnetbox">
                            Add comments
                        </div>
                    </div>
                </div>
            </div>

        </div>





        <div class="box col2">

            <div class="masonry-object">
                <div class="masonry-object_poster">  
                    <a {{bindAttr href="getProfile_id"}}>
                        <img {{bindAttr src="owner_profile_pic"}} class="profilepic-on-masonry"/>
                    </a>
                    <div class="object_username">
                        <a class="poster-name" {{bindAttr href="getProfile_id"}}>{{owner_title}}</a>
                        <span class="posttime">{{date created}}</span>
                    </div>


                    <div class="object-tags-box">

                        <div class="object-tags">
                            <span class="tags-mark" style="background-color: #427fed"></span>
                            <div class="tags easing">
                                <div class="tags-new">New</div>
                                <div class="object-tpye">
                                    <i class="icon-picture"></i>
                                </div>                      
                            </div>
                        </div>

                        <div class="object-tags ">
                            <span class="tags-mark" style="background-color: #76a7fa"></span>
                            <div class="tags easing tagsappear">
                                <div class="tags-new">#{{region}}</div>                   
                            </div>
                        </div>

                        <div class="object-tags ">
                            <span class="tags-mark" style="background-color: #a0c3ff"></span>
                            <div class="tags easing tagsappear">
                                <div class="tags-new">#{{topic}}</div>                   
                            </div>
                        </div>

                    </div>


                </div>
                <div class="masonry-object_mainfeature">             
                    <div class="mainfeature-wrapper">
                        <a class="mainfeature-container">
                            {{#linkTo 'photo' this}} <img class="this-is-the-object"{{bindAttr src="object_image_url" }} />{{/linkTo}}
                        </a>                 
                        <div>                                                                                                                                                                                                                                                                                                                                                                       </div>
                    </div>


                    <div class="masonry-object_text">
                        <div class="masonry-object_text-container">
                            <p>   {{#linkTo 'photo' this}} {{photo_title}}{{/linkTo}} </p>

                        </div>

                        <div class="more_detail" {{bindAttr id="id"}} >

                            <div class="more_text-container" >
                                <div style="display:block;">
                                    {{description}}
                                </div>
                            </div>

                        </div>

                        <span role="button" class="masonry_more-btn easing"  {{bindAttr id="more_button"}} {{action 'moreContent' this target='view' on="click"}}>more</span>

                        <span role="button" class="masonry_more-btn easing" {{bindAttr id="collape_button"}}  style="display: none" {{action 'collapeContent' this target='view' on="click"}}>collapes</span>

                    </div>
                </div>

                <div class="masonry-object_interact">
                    <div class="masonry_show-comment">
                        <div class="show-comment_container">
                            <span class="show-comment_inner">
                                <span class="comment-amount"> 10 </span>
                                <span class="comment-amount"> comments</span>
                            </span>
                            <div class="dropdownicon masonry_dropdownicon">
                                <i class="icon-chevron-down"></i>
                            </div>
                        </div>
                        <div class="object-like" style=""></div>
                        <div class="object-save" style=""></div>
                    </div>
                    <div class="masonry_addcommnetbox-container">
                        <div class="addcommnetbox">
                            Add comments
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>
</div>
