


<div id="discovery_search_bar_wrapper" style="height: 200px; margin: 0 0 100px 0;">
    <div style="width: 100%; height: 200px; background-color: black; opacity: 0.05;"></div>
    <P style="position: absolute; font-size: 25px; top: 100px;z-index: 600; width: 600px; color: white; left:0; right: 0; margin: auto; line-height: 25px; text-align: center;">
        What are you looking for?
    </P>
    <div style="position: absolute; left: 0; right: 0; margin: auto; width: 100px; text-align: center; bottom: 15px;">
        {{#linkTo quickstart}}<div class="new-btn green-btn">Next</div>{{/linkTo}}
    </div>
</div>


