


<div id="discovery_search_bar_wrapper" style="height: 200px; margin: 0 0 100px 0;">
    <div style="width: 100%; height: 200px; background-color: black; opacity: 0.05;"></div>
    <P style="position: absolute; font-size: 25px; top: 100px;z-index: 600; width: 600px; color: white; left:0; right: 0; margin: auto; line-height: 25px; text-align: center;">
        What are you looking for?
    </P>
    <div style="position: absolute; left: 0; right: 0; margin: auto; width: 100px; text-align: center; bottom: 15px;">
        {{#linkTo quickstart}}<div class="new-btn green-btn">Next</div>{{/linkTo}}
    </div>
</div>



<div style="width: 1280px; margin: 40px auto 20px;display: block;position: relative;height: 1630px;">

    <div class="box col3">
        <div class="masonry-object" style=" height: 350px; width: 300px;">
            <div class="usersobject-hoverarea easing" style="height: 350px; width: 300px;">
                <div class="usersobject-hoverarea_bg">                
                    <i class="icon-ok" style="font-size: 140px;  line-height: 300px;  text-align: center;display: block; color: white;"></i>
                </div>


            </div>
            <div style="position: relative;">
                <div style="width: 300px; height: 300px; overflow: hidden; background-color: rgb(242,240,240);">
                    <div style="font-size: 11em;line-height: 300px;font-weight: bold;text-align: center; text-shadow: 1px 1px 0px #fff, -1px -1px 0px #333;color: #555;">?</div>
                </div>
            </div>

            <div class="masonry-object_username" style="height: 50px;">
                <div class="object-username" style=" font-size: 16px; padding: 15px 0;">
                    Not Sure Yet!
                </div>
            </div>
        </div>
    </div>


    <div class="box col3">
        <div class="masonry-object" style=" height: 350px; width: 300px;">
            <div class="usersobject-hoverarea easing" style="height: 350px; width: 300px;">
                <div class="usersobject-hoverarea_bg">
                    <i class="icon-ok" style="font-size: 140px;  line-height: 300px;  text-align: center;display: block; color: white;"></i>
                </div>
            </div>
            <div style="position: relative;">
                <div style="width: 300px; height: 300px; overflow: hidden;">
                    <img src="../images/welcomepage/accessories.jpg" style="height: 300px; width: auto; max-width: none;"/>
                </div>
            </div>
            <div class="masonry-object_username" style="height: 50px;">
                <div class="object-username" style=" font-size: 16px; padding: 15px 0;">
                    Accessories
                </div>
            </div>
        </div>
    </div>

    <div class="box col3">
        <div class="masonry-object" style=" height: 350px; width: 300px;">
            <div class="usersobject-hoverarea easing" style="height: 350px; width: 300px;">
                <div class="usersobject-hoverarea_bg">
                    <i class="icon-ok" style="font-size: 140px;  line-height: 300px;  text-align: center;display: block; color: white;"></i>
                </div>
            </div>
            <div style="position: relative;">
                <div style="width: 300px; height: 300px; overflow: hidden;">
                    <img src="../images/welcomepage/appliances.jpg" style="height: 300px; width: auto; max-width: none;"/>
                </div>
            </div>
            <div class="masonry-object_username" style="height: 50px;">
                <div class="object-username" style=" font-size: 16px; padding: 15px 0;">
                    Appliances
                </div>
            </div>
        </div>
    </div>

    <div class="box col3">
        <div class="masonry-object" style=" height: 350px; width: 300px;">
            <div class="usersobject-hoverarea easing" style="height: 350px; width: 300px;">
                <div class="usersobject-hoverarea_bg">
                    <i class="icon-ok" style="font-size: 140px;  line-height: 300px;  text-align: center;display: block; color: white;"></i>
                </div>
            </div>
            <div style="position: relative;">
                <div style="width: 300px; height: 300px; overflow: hidden;">
                    <img src="../images/welcomepage/benchtop.jpg" style="height: 300px; width: auto; max-width: none;"/>
                </div>
            </div>
            <div class="masonry-object_username" style="height: 50px;">
                <div class="object-username" style=" font-size: 16px; padding: 15px 0;">
                    Benchtops
                </div>
            </div>
        </div>
    </div>

    <div class="box col3">
        <div class="masonry-object" style=" height: 350px; width: 300px;">
            <div class="usersobject-hoverarea easing" style="height: 350px; width: 300px;">
                <div class="usersobject-hoverarea_bg">
                    <i class="icon-ok" style="font-size: 140px;  line-height: 300px;  text-align: center;display: block; color: white;"></i>
                </div>
            </div>
            <div style="position: relative;">
                <div style="width: 300px; height: 300px; overflow: hidden;">
                    <img src="../images/welcomepage/culinary.jpg" style="height: 300px; width: auto; max-width: none;"/>
                </div>
            </div>
            <div class="masonry-object_username" style="height: 50px;">
                <div class="object-username" style=" font-size: 16px; padding: 15px 0;">
                    Culinary & Dining
                </div>
            </div>
        </div>
    </div>

    <div class="box col3">
        <div class="masonry-object" style=" height: 350px; width: 300px;">
            <div class="usersobject-hoverarea easing" style="height: 350px; width: 300px;">
                <div class="usersobject-hoverarea_bg">
                    <i class="icon-ok" style="font-size: 140px;  line-height: 300px;  text-align: center;display: block; color: white;"></i>
                </div>
            </div>
            <div style="position: relative;">
                <div style="width: 300px; height: 300px; overflow: hidden;">
                    <img src="../images/welcomepage/Design.jpg" style="height: 300px; width: auto; max-width: none;"/>
                </div>
            </div>
            <div class="masonry-object_username" style="height: 50px;">
                <div class="object-username" style=" font-size: 16px; padding: 15px 0;">
                    Design
                </div>
            </div>
        </div>
    </div>

    <div class="box col3">
        <div class="masonry-object" style=" height: 350px; width: 300px;">
            <div class="usersobject-hoverarea easing" style="height: 350px; width: 300px;">
                <div class="usersobject-hoverarea_bg">
                    <i class="icon-ok" style="font-size: 140px;  line-height: 300px;  text-align: center;display: block; color: white;"></i>
                </div>
            </div>
            <div style="position: relative;">
                <div style="width: 300px; height: 300px; overflow: hidden;">
                    <img src="../images/welcomepage/windows.jpg" style="height: 300px; width: auto; max-width: none;"/>
                </div>
            </div>
            <div class="masonry-object_username" style="height: 50px;">
                <div class="object-username" style=" font-size: 16px; padding: 15px 0;">
                    Door & Windows
                </div>
            </div>
        </div>
    </div>

    <div class="box col3">
        <div class="masonry-object" style=" height: 350px; width: 300px;">
            <div class="usersobject-hoverarea easing" style="height: 350px; width: 300px;">
                <div class="usersobject-hoverarea_bg">
                    <i class="icon-ok" style="font-size: 140px;  line-height: 300px;  text-align: center;display: block; color: white;"></i>
                </div>
            </div>
            <div style="position: relative;">
                <div style="width: 300px; height: 300px; overflow: hidden;">
                    <img src="../images/welcomepage/flooring.jpg" style="height: 300px; width: auto; max-width: none;"/>
                </div>
            </div>
            <div class="masonry-object_username" style="height: 50px;">
                <div class="object-username" style=" font-size: 16px; padding: 15px 0;">
                    Flooring
                </div>
            </div>
        </div>
    </div>

    <div class="box col3">
        <div class="masonry-object" style=" height: 350px; width: 300px;">
            <div class="usersobject-hoverarea easing" style="height: 350px; width: 300px;">
                <div class="usersobject-hoverarea_bg">
                    <i class="icon-ok" style="font-size: 140px;  line-height: 300px;  text-align: center;display: block; color: white;"></i>
                </div>
            </div>
            <div style="position: relative;">
                <div style="width: 300px; height: 300px; overflow: hidden;">
                    <img src="../images/welcomepage/furniture.jpg" style="height: 300px; width: auto; max-width: none;"/>
                </div>
            </div>
            <div class="masonry-object_username" style="height: 50px;">
                <div class="object-username" style=" font-size: 16px; padding: 15px 0;">
                    Furniture
                </div>
            </div>
        </div>
    </div>

    <div class="box col3">
        <div class="masonry-object" style=" height: 350px; width: 300px;">
            <div class="usersobject-hoverarea easing" style="height: 350px; width: 300px;">
                <div class="usersobject-hoverarea_bg">
                    <i class="icon-ok" style="font-size: 140px;  line-height: 300px;  text-align: center;display: block; color: white;"></i>
                </div>
            </div>
            <div style="position: relative;">
                <div style="width: 300px; height: 300px; overflow: hidden;">
                    <img src="../images/welcomepage/heating.jpg" style="height: 300px; width: auto; max-width: none;"/>
                </div>
            </div>
            <div class="masonry-object_username" style="height: 50px;">
                <div class="object-username" style=" font-size: 16px; padding: 15px 0;">
                    Heating & Cooling
                </div>
            </div>
        </div>
    </div>

    <div class="box col3">
        <div class="masonry-object" style=" height: 350px; width: 300px;">
            <div class="usersobject-hoverarea easing" style="height: 350px; width: 300px;">
                <div class="usersobject-hoverarea_bg">
                    <i class="icon-ok" style="font-size: 140px;  line-height: 300px;  text-align: center;display: block; color: white;"></i>
                </div>
            </div>
            <div style="position: relative;">
                <div style="width: 300px; height: 300px; overflow: hidden;">
                    <img src="../images/welcomepage/light.jpg" style="height: auto; width: 300px; max-width: none;"/>
                </div>
            </div>
            <div class="masonry-object_username" style="height: 50px;">
                <div class="object-username" style=" font-size: 16px; padding: 15px 0;">
                    Lighting
                </div>
            </div>
        </div>
    </div>

    <div class="box col3">
        <div class="masonry-object" style=" height: 350px; width: 300px;">
            <div class="usersobject-hoverarea easing" style="height: 350px; width: 300px;">
                <div class="usersobject-hoverarea_bg">
                    <i class="icon-ok" style="font-size: 140px;  line-height: 300px;  text-align: center;display: block; color: white;"></i>
                </div>
            </div>
            <div style="position: relative;">
                <div style="width: 300px; height: 300px; overflow: hidden;">
                    <img src="../images/welcomepage/outdoor.jpg" style="height: 300px; width: auto; max-width: none;"/>
                </div>
            </div>
            <div class="masonry-object_username" style="height: 50px;">
                <div class="object-username" style=" font-size: 16px; padding: 15px 0;">
                    Outdoors
                </div>
            </div>
        </div>
    </div>

    <div class="box col3">
        <div class="masonry-object" style=" height: 350px; width: 300px;">
            <div class="usersobject-hoverarea easing" style="height: 350px; width: 300px;">
                <div class="usersobject-hoverarea_bg">
                    <i class="icon-ok" style="font-size: 140px;  line-height: 300px;  text-align: center;display: block; color: white;"></i>
                </div>
            </div>
            <div style="position: relative;">
                <div style="width: 300px; height: 300px; overflow: hidden;">
                    <img src="../images/welcomepage/paints.jpg" style="height: 300px; width: auto; max-width: none;"/>
                </div>
            </div>
            <div class="masonry-object_username" style="height: 50px;">
                <div class="object-username" style=" font-size: 16px; padding: 15px 0;">
                    Paints & Varnishes
                </div>
            </div>
        </div>
    </div>

    <div class="box col3">
        <div class="masonry-object" style=" height: 350px; width: 300px;">
            <div class="usersobject-hoverarea easing" style="height: 350px; width: 300px;">
                <div class="usersobject-hoverarea_bg">
                    <i class="icon-ok" style="font-size: 140px;  line-height: 300px;  text-align: center;display: block; color: white;"></i>
                </div>
            </div>
            <div style="position: relative;">
                <div style="width: 300px; height: 300px; overflow: hidden;">
                    <img src="../images/welcomepage/shelving.jpg" style="height: 300px; width: auto; max-width: none;"/>
                </div>
            </div>
            <div class="masonry-object_username" style="height: 50px;">
                <div class="object-username" style=" font-size: 16px; padding: 15px 0;">
                    Cabinetry & Shelving
                </div>
            </div>
        </div>
    </div>

    <div class="box col3">
        <div class="masonry-object" style=" height: 350px; width: 300px;">
            <div class="usersobject-hoverarea easing" style="height: 350px; width: 300px;">
                <div class="usersobject-hoverarea_bg">
                    <i class="icon-ok" style="font-size: 140px;  line-height: 300px;  text-align: center;display: block; color: white;"></i>
                </div>
            </div>
            <div style="position: relative;">
                <div style="width: 300px; height: 300px; overflow: hidden;">
                    <img src="../images/welcomepage/taps.jpg" style="height: 300px; width: auto; max-width: none;"/>
                </div>
            </div>
            <div class="masonry-object_username" style="height: 50px;">
                <div class="object-username" style=" font-size: 16px; padding: 15px 0;">
                    Taps & Fittings
                </div>
            </div>
        </div>
    </div>

    <div class="box col3">
        <div class="masonry-object" style=" height: 350px; width: 300px;">
            <div class="usersobject-hoverarea easing" style="height: 350px; width: 300px;">
                <div class="usersobject-hoverarea_bg">
                    <i class="icon-ok" style="font-size: 140px;  line-height: 300px;  text-align: center;display: block; color: white;"></i>
                </div>
            </div>
            <div style="position: relative;">
                <div style="width: 300px; height: 300px; overflow: hidden;">
                    <img src="../images/welcomepage/wall-covering.jpg" style="height: 300px; width: auto; max-width: none;"/>
                </div>
            </div>
            <div class="masonry-object_username" style="height: 50px;">
                <div class="object-username" style=" font-size: 16px; padding: 15px 0;">
                    Wall Coverings
                </div>
            </div>
        </div>
    </div>


    <div style="position: absolute;  right: 0; margin: auto; width: 100px; text-align: right; bottom: 50px;">
        {{#linkTo quickstart}}<div class="new-btn green-btn">Next</div>{{/linkTo}}
    </div>

</div>

