/* 
    Document   : dashboard
    Created on : 17/04/2012, 6:50:18 AM
    Author     : devbox
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

input[type=text]{
    background: -moz-linear-gradient(center top , #FFFFFF, #EEEEEE 1px, #FFFFFF 25px) repeat scroll 0 0 transparent;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    color: #000000;
    float: left;
    font: 15px/100% Arial,Helvetica,sans-serif;
    height: 18px;
    margin: 8px 0 0 10px;
    outline: 0 none;
    padding: 9px;
    position: relative;
}

#wrapper
{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    border-bottom: solid 1px gray;
    display: block;
}

#mainbodycontent{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C5C5C5;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 17px auto 0;
    margin-bottom: 35px;
    width:1024px;
    padding: 3px;

}

div.header{
    background: url("/images/headerbg-client-dashboard.png") repeat-x 0 0 #EDEDED;
    border-bottom: 1px solid #A8A8A8;
    /*    border-top: 1px solid #FFFFFF;*/
    box-shadow: 0 1px 0 #FFFFFF;
    height: 62px;
    width: 100%;
    font-size: 11px;
    margin: 0 auto;
}

div.header #nav-container{
    background: url("/images/menubg-client-dashboard.png") repeat-x scroll 0 -124px #E2E1E1;
    border-bottom: 1px solid #A8A8A8;
    border-radius: 5px;
    box-shadow: 0 1px 0 #FFFFFF;
    width:1024px;
    height: 36px;
    margin: 0 auto 0;
    position: relative;
    top:15px;

}


#navbar{
    width: 1024px;
    margin: 0 auto;
}

#navbar .main .module > a {
    -moz-transition: color 0.1s ease-in 0s;

    position: relative;
}

#navbar .main .module.active{
    color: #4B5156;
}

.navbar .main .module > a .icon{
    -moz-transition: opacity 0.1s ease-in 0s;
    background-image: url("/images/icons-client-dashboard.png");
    height: 30px;
    left: 4px;
    opacity: 0.5;
    position: absolute;
    top: 4px;
    width: 30px;
}

.navbar .main .module > a .title{
    -moz-transition: opacity 0.1s ease-in 0s;
}

div.navbar dl.main a:hover .title{
    color: #58585A;
}


div.navbar dl.main a:hover .icon {
    opacity: 1;
}

#module_dashboard .icon{
    background-position: -60px 0;
}

#module_profile .icon {
    background-position: -30px 0;
}

#module_account .icon{
    background-position: 0px 0;
}

#module_settings .icon {
    background-position: -90px 0;
}

.menu_hit_area{
    height: 36px;
    width: 150px;
    position: absolute;
    top: 0;
}

div #directoryname {
    background: none repeat scroll 0 0 transparent;
    border-left: 1px solid #A8A8A8;
    border-top: 1px solid #A8A8A8;
    border-radius: 5px 0 0 5px;
    height:16px;
    float: left;

}

div #directoryname .directorytitle {
    font: bold 20px Tahoma,sans-serif;
    text-shadow: 1px 1px 0 #FFFFFF;
    color:#828282;
    line-height:36px;
    margin-left: 10px;
}

div #directoryname .directorynamelink{
    text-decoration: none;
}

div.navbar dt a{
    color: #A8A8A8;
    text-decoration: none;
}

div.navbar dl.main {
    float:right;
    margin: 0 auto;
}

div.navbar dl.main dt {
    color: #FFFFFF;
    font: bold 11px Tahoma,sans-serif;
    background: url("data:image/png;charset=utf-8;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABICAIAAAC4IAh6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAEFJREFUeNpivHjxIhMjIyMTAwMDmIZhGB8EkMVhGFkcFxuffmwYZuf////BbBBNDP737x9OPi42NvXodgL5AAEGADguYwbzePwrAAAAAElFTkSuQmCC") repeat-x scroll 0 -36px #E8E8E8;
    border: 1px solid #A8A8A8;
    box-shadow: 1px 1px 0 #FFFFFF inset;
    cursor: pointer;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 26px;
    padding-top: 10px;
    text-align: center;
    text-shadow: 1px 1px 0 #FFFFFF;
    width: 150px;
    position: relative;
}

div.navbar dl.main dt:last-child {
    border-radius: 0 5px 5px 0;
}

/*div.navbar dl.main *:hover {
    background-position: 0 0 !important;
}*/

.bar-panel
{
    color: #A8A8A8;
    font-family: tahoma,verdana,sans-serif;
    font-size: 10px;
    border: solid 0 green;
    height: 4px;
    width: 740px;
}

.bar-panel #welcome 
{
    display: block;
    float: left;
    padding-right: 10px;
    padding-top: 3px;
}

.bar-panel #selDirDiv, .bar-panel #selYrDiv {
    font-weight:bold;
    text-shadow: 1px 1px 0 #FFFFFF;
    font-size:20px;
    color:#828282;
    float: right;
    width:auto;
}

.dashboard-panel
{
    display: block;
    float: left;
    border: 1px solid #A8A8A8;
    width:200px;
    height:200px;
    padding: 10px;
    margin: 25px 0 25px 25px;
}

#listing_summary_wrapper{
    clear:both;
}

#listingTypeCombo{
    width: 170px;
}

.client-title{
    padding-left: 12px; 
    font-family: Arial, Sans-Serif; 
    font-size: 20pt; 
    font-weight:bold; 
    color: #58585A;
}
.client-name-label{
    padding-left: 12px; 
    font-family: Arial,Sans-Serif; 
    font-size: 12pt; 
    font-weight: bold;
}
.client-name{
    padding-left: 12px; 
    font-family: Arial,Sans-Serif; 
    font-size: 12pt; 
    font-weight: bold;
}
.step{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C5C5C5;
    border-radius: 5px 5px 5px 5px;
    display: block;
    float: right;
    height: 110px;
    margin: 10px;
    text-align: center;
    width: 290px;   
}
.step_number{
    background: none repeat scroll 0 0 #EEEEEE;
    border: thin solid #606060;
    border-radius: 85px 85px 85px 85px;
    float: left;
    width: 25px;
    font: 2em bold,sans-serif;
    margin: 10px;
}
.step_text{
    font: 1.3em bold,sans-serif;
    line-height: 50px;
    text-align: left;
    display: block;
}
.step_desc{
    display: block;
    height: 50px;
    margin-left: 15px;
    text-align: left;
    width: 280px;
}
.process_button{
    height: 44px;
    margin: 20px;
    width: 242px;
}

/*  fields labels and inputs */

fieldset ol {  
    padding: 0 10px 0 48px;  
    list-style: none;
}

#fields .fieldIcon, #fields .fieldHelp{
    float:left;
    position: relative;
    top: 20px;
    margin-left: 5px;
}

#fields .fieldExample {
    float:left;
}

#fields label {
    position:	relative;
    clear:left;
    float:left;
    width:12.5em;
    margin-right:5px;
    padding-top:3px;
    line-height:1.4em;
    text-align:right;
}