* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#footer{
    background: #1E1D1B url('../images/footerbg.png') repeat-x;
    color: white;
    margin-top:120px;
    bottom:0;
    left:0;
    float:left;
    clear:both;
    width:100%;
    
}

.footer_contentbox {
    width: 1000px;
    margin: auto;
    height: 220px;
    position: relative;
}


#back-top {
    position: fixed;
    bottom: -5px;
    right: 2%;
    z-index: 999;
    opacity: 0.9;
}

#back-top a {
    width: 50px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #bbb;

    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover {
    color: #000;
}

/* arrow icon (span tag) */
#back-top span {
    width: 50px;
    height: 50px;
    display: block;
    margin-bottom: 7px;
    background:  #ddd url(../images/up-arrow.png) no-repeat center center;
    background-size: 45px;
    opacity: 0.9;


    /* rounded corners */
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 6px;

    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover span {
    background-color: #777;
}