.navbar .brand {
    display: block;
    float: left;
    padding: 10px;
    font-size: 20px;
    color: rgb(119, 119, 119);
    text-shadow: none;
    margin: 0;
    margin-right: 30px;
    position: relative;
}

.title-strapline{
    width: auto;
    display: inline-block;
    vertical-align: top;

}

.titleText{
    width: auto;
    padding: 13px;
    margin: 0;
}
.navbar-inner > .container {
    min-width:600px;
    height:45px;
}


.navbar {
    min-width: 692px;
    height: 45px;
    overflow: visible;
    color: white;
    margin-bottom: 0px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top:0;
    display: block;



    -webkit-box-shadow: 0px 0px 10px rgb(0, 0, 0);
    -moz-box-shadow: 0px 0px 10px rgb(0, 0, 0);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);

    background-color: #07b7ea;
    background-image: -moz-linear-gradient(top,#07b7ea , #02a6dc);
    background-image: -ms-linear-gradient(top, #07b7ea , #02a6dc );
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#07b7ea ), to( #02a6dc));
    background-image: -webkit-linear-gradient(top, #07b7ea , #02a6dc);
    background-image: -o-linear-gradient(top, #07b7ea , #02a6dc);
    background-image: linear-gradient(top, #07b7ea , #02a6dc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#07b7ea', endColorstr='#02a6dc', GradientType=0);
}



.logonew{
    height: 25px;
}


.wrapper-dropdown-3 {

    position: relative;
    width: 200px;
    margin: auto;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;

}



.tile_img .wrapper-dropdown-3 {
    left: 0px;
    color: white;
    width:270px;
    text-align: center;
    position:relative;

    /* gradients */
    background-color: #2b4170;
    background: -moz-linear-gradient(top, #3b5998, #2b4170);
    background: -ms-linear-gradient(top, #3b5998, #2b4170);
    background: -webkit-linear-gradient(top, #3b5998, #2b4170);
    border: 1px solid #2b4170;
    border-top: 1px solid rgb(161,163,197);
    border-left:  1px solid rgb(110,112,146);

    -moz-text-shadow: -1px -1px  #595757;
    -webkit-text-shadow: -1px -1px  #595757;
    text-shadow: -1px -1px  #595757;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}

.head .wrapper-dropdown-3 {
    /*    left: 25%;*/
    color: white;
    width:270px;
    text-align: center;
    position:relative;

    /* gradients */
    background-color: #2b4170;
    background: -moz-linear-gradient(top, #3b5998, #2b4170);
    background: -ms-linear-gradient(top, #3b5998, #2b4170);
    background: -webkit-linear-gradient(top, #3b5998, #2b4170);
    border: 1px solid #2b4170;
    border-top: 1px solid rgb(161,163,197);
    border-left:  1px solid rgb(110,112,146);

    -moz-text-shadow: -1px 0px #aaa, 1px 1px #fff;
    -webkit-text-shadow: -1px 0px #aaa, 1px 1px #fff;
    text-shadow: -1px 0px #aaa, 1px 1px #fff;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}


.tile_img  .sign-in-with{
    text-shadow: -1px -1px 1px #000000; 
    padding-left: 3%; 
    border-left: 1px solid rgba(242,240,240,0.4); 
    font-weight: bold; 
    size: 16px; 
    margin-right: 0%;       
    position: relative;
    bottom: -12px;
    height: 20px;
}

.head .sign-in-with{
    text-shadow: -1px -1px 1px #000000; 
    padding-left: 3%; 
    border-left: 1px solid rgba(242,240,240,0.4); 
    font-weight: bold; 
    size: 16px; 
    margin-right: 0%;       
    position: relative;
    bottom: -12px;
}      

.tile_img  .login-icon {
    margin-right: 0px; 
    text-shadow: 1.5px 2px 1px #000000; 
    border-right:1px solid rgba(42,39,42,1); 
    padding-left: 0%; 
    padding-right: 0%; 
    width: 44px;
    position: relative;
    bottom: -11px;
    left:-15px;
}

.head  .login-icon {
    margin-right: 0px; 
    text-shadow: 1.5px 2px 1px #000000; 
    border-right:1px solid rgba(42,39,42,1); 
    padding-left: 0%; 
    padding-right: 0%; 
    width: 40px;
    position: relative;
    bottom: -11px;
    left:-11px;
}




.head  .login-icon:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 38px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #fff transparent;

}

.tile_img  .login-icon:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 38px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #fff transparent;
}


.wrapper-dropdown-3  .SpanFontSetting:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #fff transparent;
}



/*region dropdown triangle*/
.container >.wrapper-dropdown-3:after {

    border-color: #fff transparent;

}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 170px;
    min-height: 200px;
    margin: 15px 0px 0px 0px;
    list-style: none outside none;
    background-color: rgba(0, 0, 0,1);
    border: none;
    border-radius: 6px 6px 6px 6px;
    box-shadow: none;
    background-clip: padding-box;
}

.login_icon{
    position:absolute;
    margin: 10px 10px 10px 10px ;
}

.loging_image{
    margin-top: -65px;
    position: absolute;
    left:72%;
    float: right;
}

.loging_text{
    margin-top: -60px;
    position: absolute;
    left:76%;
    float: right;
}

.navbar .nav.loging_table {
    float: right;
    margin: 50px 0px 0px 0px;
}
.loging_table >.dropdown>.dropdown-toggle>.caret {
    position:absolute;
    margin-top: 8px;
    margin-left: 0px;
}

#user-dd-menu li a {
    border-radius: 0px;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border-bottom:1px solid black;
    padding:10px;
    border-top:1px solid rgb(66,66,66);
    box-shadow:none;
    margin:0;
}


.navbar .nav > li > #user-dd-menu:after {
    border-color: #000 transparent;
    left:47%

}


.navbar .nav > li >#user-dd-menu:before {
    left:47%;
}

#user-dd-menu {
    background: none repeat scroll 0% 0% rgb(45,45,45);
    border: 1px solid rgba(0,0,0,0.17);
    margin-top:20px;
    padding:0px;
    width:150px;
    top:35px;
    left: -60px;
}


.wrapper-dropdown-3  .SpanFontSetting:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #fff transparent;
}



/*region dropdown triangle*/
.container >.wrapper-dropdown-3:after {

    border-color: #fff transparent;

}

/*button dropdown triangle*/
.wrapper-dropdown-3:after {
    border-color:  #fff  transparent;
    left:15px;
}



.LoginModelSize{


    width:480px;
    left:38%;

}




.wrapper-dropdown-3 .dropdown {
    /* Size & position */
    position: absolute;
    top: 140%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0;

    /* Styles */
    background: rgb(242,240,240);
    border-radius: inherit;
    box-shadow: 1px 2px 10px rgb(0,0,0);
    font-weight: normal;
    transition: all 0.5s ease-in;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
    z-index:3;
    display:none;
}

.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #8aa8bd;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    transition: all 0.3s ease-out;
    margin: 0;
}

.wrapper-dropdown-3 .dropdown li i {
    float: left;
    margin-left: 10%;
    color: inherit;
}

.wrapper-dropdown-3 .dropdown li:first-of-type a {
    border-radius: 3px 3px 0 0;
}

.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border-radius: 0 0 3px 3px;
    border: none;
}





.wrapper-dropdown-3 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;   
}
/*dropdowntriangle*/
.tile_img > .wrapper-dropdown-3 .dropdown:after {
    right: 90%;
}
.head > .wrapper-dropdown-3 .dropdown:after {
    right: 90%;
}

/*" Region"dropdowntriangle*/
.container > .wrapper-dropdown-3 .dropdown:after {
    border-color: #000 transparent;
}

/*dropdowntriangle back shadow*/
.wrapper-dropdown-3 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 89%;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;   
}

.container  .wrapper-dropdown-3 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 7%;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;   
}

.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
    display:block;
    transition: all 0.5s ease-in 0s;
}



.tile_img {
    position: absolute;
    color:white;
    right: 10%;
    top:50%;
}

.title_text{
    position: relative;
    text-align: right;
    width: 1000px;
    text-shadow: 0 0 0.5em #000;
    filter: 
        progid:DXImageTransform.Microsoft.Shadow(color=#404040,direction=135,strength=3) 
        progid:DXImageTransform.Microsoft.Shadow(color=#404040,direction=315,strength=3);
}


/* Hover state */

#dd4  .dropdown li:hover a{
    color: #ffffff;
    text-decoration: none;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}


#dropdown-cover{
    /* webkit example */
    background-image: -webkit-gradient(
        linear, left top, left bottom, from(rgba(255,255,255,0.15)),
        to(rgba(255,255,255,0))
        );

    /* mozilla example - FF3.6+ */
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0.15) , rgba(255, 255, 255, 0) 
        );

    /* approximately a 33% opacity on blue */
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr=rgba(255,255,255,0.15), endColorstr=rgba(255, 255, 255, 0)
        );

    /* IE8 uses -ms-filter for whatever reason... */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr=rgba(255, 255, 255, 0.15), endColorstr=rgba(255, 255, 255, 0)
        );
}     


#dropdown-cover:hover{
    /* webkit example */
    background-image: -webkit-gradient(
        linear, left top, left bottom, from(rgba(255,255,255,0)),
        to(rgba(255,255,255,0))
        );

    /* mozilla example - FF3.6+ */
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) , rgba(255, 255, 255, 0) 
        );

    /* approximately a 33% opacity on blue */
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr=rgba(255,255,255,0), endColorstr=rgba(255, 255, 255, 0)
        );

    /* IE8 uses -ms-filter for whatever reason... */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr=rgba(255, 255, 255, 0), endColorstr=rgba(255, 255, 255, 0)
        );
}      

#dropdown-cover:active{
    /* webkit example */
    background-image: -webkit-gradient(
        linear, left top, left bottom, from(rgba(0,0,0,0.45)),
        to(rgba(0,0,0,0.05))
        );

    /* mozilla example - FF3.6+ */
    background-image: -moz-linear-gradient(
        rgba(0,0,0,0.45) , rgba(0,0,0,0.05) 
        );

    /* approximately a 33% opacity on blue */
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr=rgba(0,0,0,0.45), endColorstr=rgba(0,0,0,0.05)
        );

    /* IE8 uses -ms-filter for whatever reason... */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr=rgba(0,0,0,0.45), endColorstr=rgba(0,0,0,0.05)
        );
}

#dropdown-cover:last-child{
    max-width:202px;
}



/*frontpage login button hover state*/
.wrapper-dropdown-3 .dropdown li:nth-child(1):hover a{

    background: rgba(0,172,237,0.2);
}
.wrapper-dropdown-3 .dropdown li:nth-child(2):hover a{

    background: rgba(211,72,54,0.2);
}
.wrapper-dropdown-3 .dropdown li:nth-child(3):hover a{

    background: rgba(123,0,153,0.2);
}
.wrapper-dropdown-3 .dropdown li:nth-child(4):hover a{

    background: rgba(245,213,0,0.2);
}
.wrapper-dropdown-3 .dropdown li:nth-child(5):hover a{

    background: rgba(62,59,62,0.2);
}
.wrapper-dropdown-3 .dropdown li:nth-child(6):hover a{

    background: rgba(0,153,68,0.2);
}





/*login panel login button hover state*/

.modal-topbox .dropdown li:nth-child(1):hover a{

    background: rgba(0,172,237,0.2);
}
.modal-topbox .dropdown li:nth-child(2):hover a{

    background: rgba(211,72,54,0.2);
}
.modal-topbox .dropdown li:nth-child(3):hover a{

    background: rgba(123,0,153,0.2);
}
.modal-topbox .dropdown li:nth-child(4):hover a{

    background: rgba(245,213,0,0.2);
}
.modal-topbox .dropdown li:nth-child(5):hover a{

    background: rgba(62,59,62,0.2);
}
.modal-topbox .dropdown li:nth-child(6):hover a{

    background: rgba(0,153,68,0.2);
}


/*square button*/
.square-button {
    display: inline-block;
    margin: 10px;

}

.square-button-google {
    width: 45px;
    height: 45px;
    /*    border: 1px solid rgb(201,202,202);
            padding: 60px 0;*/
    text-align: center;
    color: white; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: #666 1px 0px 0px;
    -moz-box-shadow: #666 1px 0px 0px;
    box-shadow: #666 1px 0px 0px;
    background: #e64522;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#e64522), to(#c33219));
    background: -webkit-linear-gradient(#e64522, #c33219);
    background: -moz-linear-gradient(#e64522, #c33219);
    background: -ms-linear-gradient(#e64522, #c33219);
    background: -o-linear-gradient(#e64522, #c33219);
    background: linear-gradient(#e64522, #c33219);
    -pie-background: linear-gradient(#e64522, #c33219);
    behavior: url(/pie/PIE.htc);

    -moz-text-shadow: -1px -1px  #595757; 
    -webkit-text-shadow: -1px -1px  #595757;
    text-shadow: -1px -1px  #595757;

}

.square-button-twitter {
    width: 45px;
    height: 45px;
    /*    border: 1px solid rgb(201,202,202);
            padding: 60px 0;*/
    text-align: center;
    color: white; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: #666 1px 0px 0px;
    -moz-box-shadow: #666 1px 0px 0px;
    box-shadow: #666 1px 0px 0px;
    background: #e64522;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#00aced), to(#0081ce));
    background: -webkit-linear-gradient(#00aced, #0081ce);
    background: -moz-linear-gradient(#00aced, #0081ce);
    background: -ms-linear-gradient(#00aced, #0081ce);
    background: -o-linear-gradient(#00aced, #0081ce);
    background: linear-gradient(#00aced, #0081ce);
    -pie-background: linear-gradient(#00aced, #0081ce);
    behavior: url(/pie/PIE.htc);

    -moz-text-shadow: -1px -1px  #595757; 
    -webkit-text-shadow: -1px -1px  #595757;
    text-shadow: -1px -1px  #595757;
}

.square-button-yahoo  {
    width: 45px;
    height: 45px;
    /*    border: 1px solid rgb(201,202,202);
            padding: 60px 0;*/
    text-align: center;
    color: white; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: #666 1px 0px 0px;
    -moz-box-shadow: #666 1px 0px 0px;
    box-shadow: #666 1px 0px 0px;
    background: rgb(163,89,167);
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgb(163,89,167)), to(rgb(138,43,143)));
    background: -webkit-linear-gradient(rgb(163,89,167), rgb(138,43,143));
    background: -moz-linear-gradient(rgb(163,89,167), rgb(138,43,143));
    background: -ms-linear-gradient(rgb(163,89,167), rgb(138,43,143));
    background: -o-linear-gradient(rgb(163,89,167), rgb(138,43,143));
    background: linear-gradient(rgb(163,89,167), rgb(138,43,143));
    -pie-background: linear-gradient(rgb(163,89,167), rgb(138,43,143));
    behavior: url(/pie/PIE.htc);
}

.square-button-sina {
    width: 45px;
    height: 45px;
    /*    border: 1px solid rgb(201,202,202);
            padding: 60px 0;*/
    text-align: center;
    color: white; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: #666 1px 0px 0px;
    -moz-box-shadow: #666 1px 0px 0px;
    box-shadow: #666 1px 0px 0px;
    background: rgb(245,213,0);
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgb(245,213,0)), to(rgb(230,200,0)));
    background: -webkit-linear-gradient(rgb(245,213,0), rgb(230,200,0));
    background: -moz-linear-gradient(rgb(245,213,0), rgb(230,200,0));
    background: -ms-linear-gradient(rgb(245,213,0), rgb(230,200,0));
    background: -o-linear-gradient(rgb(245,213,0), rgb(230,200,0));
    background: linear-gradient(rgb(245,213,0), rgb(230,200,0));
    -pie-background: linear-gradient(rgb(245,213,0), rgb(230,200,0));
    behavior: url(/pie/PIE.htc);
}

.square-button-qq {
    width: 45px;
    height: 45px;
    /*    border: 1px solid rgb(201,202,202);
            padding: 60px 0;*/
    text-align: center;
    color: white; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: #666 1px 0px 0px;
    -moz-box-shadow: #666 1px 0px 0px;
    box-shadow: #666 1px 0px 0px;
    background: rgba(62,59,62,0.8);
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(62,59,62,0.8)), to(rgba(62,59,62,1)));
    background: -webkit-linear-gradient(rgba(62,59,62,0.8), rgba(62,59,62,1));
    background: -moz-linear-gradient(rgba(62,59,62,0.8), rgba(62,59,62,1));
    background: -ms-linear-gradient(rgba(62,59,62,0.8), rgba(62,59,62,1));
    background: -o-linear-gradient(rgba(62,59,62,0.8), rgba(62,59,62,1));
    background: linear-gradient(rgba(62,59,62,0.8), rgba(62,59,62,1));
    -pie-background: linear-gradient(rgba(62,59,62,0.8), rgba(62,59,62,1));
    behavior: url(/pie/PIE.htc);
}

.square-button-email {
    width: 45px;
    height: 45px;
    /*    border: 1px solid rgb(201,202,202);*/
    text-align: center;
    color: white; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: #666 1px 0px 0px;
    -moz-box-shadow: #666 1px 0px 0px;
    box-shadow: #666 1px 0px 0px;
    background: rgb(84,181,112);
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgb(84,181,112)), to(rgb(39,162,75)));
    background: -webkit-linear-gradient(rgb(84,181,112), rgb(39,162,75));
    background: -moz-linear-gradient(rgb(84,181,112), rgb(39,162,75));
    background: -ms-linear-gradient(rgb(84,181,112), rgb(39,162,75));
    background: -o-linear-gradient(rgb(84,181,112), rgb(39,162,75));
    background: linear-gradient(rgb(84,181,112), rgb(39,162,75));
    -pie-background: linear-gradient(rgb(84,181,112), rgb(39,162,75));
    behavior: url(/pie/PIE.htc);

    -moz-text-shadow: -1px -1px  #595757; 
    -webkit-text-shadow: -1px -1px  #595757;
    text-shadow: -1px -1px  #595757;
}

.navbar-fixed-top .container >.login_guest
{
    margin: 0;
    padding: 7px;
    top: 0px;
    left: 0%;
    display: inline-block;
    vertical-align: top;
    width: auto;
    float: right;
}


.panelcircle {
    width:40px;
    height:40px;
    border-radius:50px;
    font-size:18px;
    color:#fff;
    line-height:40px;
    text-align:center;
    background:rgb(201,202,202)
}

div.form .rememberMe label
{
    display: inline;
    font-size: 12px;
}



/* Login lightbox BEGINS, Clint Rex Lewis 4/9/13 */
    div#login_lightbox{
        position:fixed;
        top:0;
        left:0;
        height:3000px;
        width:3000px;
        opacity:0.7;
        background:#000;
        z-index:999;
    }
    div#login_icon > div.ui-draggable
    {
        position: fixed!important;
        top: 10%;
        left: 37%;
        width:25%;
        
    }
     div#login_icon > div.ember-view > div.panel
     {
         width:100%;
         color:#333333;
         float:left;
         -moz-border-radius:3px;
        -webkit-border-radius:3px;
        border-radius:3px;
        z-index:1000;
         
     }

/* Login lightbox ENDS, Clint Rex Lewis 4/9/13 */