
.navbar {
    height: 90px;
    line-height: 60px;
    overflow: visible;
    color: white;
    padding: 2px 0;
    position: fixed;
    z-index: 9999;
    width: 100%;
    top: 0;
    display: block;
    background-size: 100% auto !important;
    background-image: url(../../images/discoverybarbg.jpg);
}

.selected-navigation{
    background-color: #d2d2d2;
}

.navbar .brand {
    display: block;
    float: left;
    padding: 13px 10px;
    margin: 0;
    position: relative;
    font-size: 20px;
}
.navbar > #version-no
{
    position: absolute;
    right: 0;
    z-index: 1;
    max-width:6.5%;
}

.navbar-inner {
    min-width:50%;
    height:100%;
    width:97%;
    margin:auto;
}

.logonew{
    height: 35px;
}

#user-dd-menu{
    padding: inherit;  
    width: 220px; 
    right: 157px; 
    position: relative; 
    top:-16px; 
    display:none;
}

#user-dd-menu > li {padding:0}

#user-dd-menu > li > a >span {
    color: #555;
    font-size: 13px;
    padding: 10px 30px 10px 60px;
    display: block;
}

#user-dd-menu > li >  a > i {
    font-size: 15px;
    margin: 8px 0 0 30px;
    position: absolute;
    color: #555;
}

#user-dd-menu:before{
    content: "";
    position: absolute;
    top: -7px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    z-index: 11;
    left: 170px;
}

#user-dd-menu:after{
    content: "";
    position: absolute;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #888;
    z-index: 10;
    left: 170px;
}

.residentialCommerical{
display: inline-block;
font-weight: bold;
font-size: 30px;
color: black;
background-color: white;
text-align: center;
padding: 20px 45px;
position: relative;
top: 40px;
border-radius: 5px;
margin: 5px;
cursor: pointer;
opacity: .4;
}

.residentialCommerical:hover{opacity: .9}

#topResidentialCommerical{
top: 10px;
position: relative;
float: left;
margin: 2px 1% 0 1%;
    }

.residentialCommericalTop{
display: inline-block;
font-weight: bold;
font-size: 20px;
color: black;
background-color: white;
text-align: center;
position: relative;
line-height: 45px;
border-radius: 5px;
margin: 5px;
cursor: pointer;
padding: 5px 15px;
opacity: .4;
}

.residentialCommericalTop:hover{opacity: .8}

.residentialCommerical-selected{
opacity: 1;
}

#discovery_search_bar_wrapper {
    height: 520px;
    width: 100%;
    background: url(../../images/discoverybarbg.jpg);
    background-size: 100% 100%;
    background-position: left top;
    position: relative;
    min-width: 1040px;
}

.search-bar{
    width: 90%;
    position: absolute;
    top: 330px;
    margin: 0 auto;
    min-width: 800px;
    left: 23%;
}

.search-bar-ontop{
position: relative;
margin: 6px auto;
top: 13px;
float: left;
width: 30%;
min-width: 445px;
}


.Nav-btn{
    border-radius: 3px; 
    margin-right: 5px;
    line-height: 50px; 
    text-align: center;
    opacity: .9;
    cursor: pointer;
    
    float: left;
width: 100px;
height: 60px;
top: -5px;
position: relative;
font-size: 15px;
font-weight: bold;
color: #333;
background-color: white;
}

.Nav-btn:hover{opacity: 1}

.search-box{
    min-width:50%;
    max-width: 80%;
    top: -5px;
    position: relative;
    float: left;
    display: inline-block;
}



.search-box > input {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    height: 60px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #eee;
    padding-left: 10px;
    vertical-align: top;
}

.popular-topics{
    top: 410px;
    width: 1075px;
    position:absolute; 
    margin: auto;
    left: 0;
    right: 0;
}

.popular-topics > div{
    padding: 5px 15px;
    border-radius: 2px;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 10px 0 5px;
    float: left;
    cursor: pointer;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.popular-topics > div:hover{
    color: #555;
    background-color: #fff;
    opacity: 1;
}


.top-about-menu{position: relative; float: left; margin-left: 50px;}

.top-about-menu > span{margin: 0 2em}

.top-about-menu > span > a {font-size: 1em; color: white; opacity: .8;}

.top-about-menu > span > a:hover {opacity: 1;}




.Navigator-box{
    margin-top: 60px;
    width: 665px;
    height: 460px;
    border-radius: 3px;
    box-shadow: 0 0 10px #aaa;
    background-color: white;
    z-index: 11;
    position: absolute;
    display:none;
}

.Navigator-box:before{
    content: "";
    position: absolute;
    left: 30px;
    top: -19px;
    border-color: transparent transparent #f3f3f3 transparent;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    z-index: 0;
}

.Navigator-box:after{
    content: "";
    position: absolute;
    left: 30px;
    top: -20px;
    border-color: transparent transparent #888 transparent;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    z-index: -1;
}

.Navigator-content{
    height: 380px;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    color: #555;
    overflow: hidden;
}

.Navigator-content  li {padding: 3px 15px;cursor: pointer;}
.Navigator-content  li:hover {background-color: #d2d2d2}

.Navigator-content  li >.fa-search{
    font-size: 18px;
    color: white;
    float: right;
    margin-top: 2px;
}

.Navigator_links{
    background-color: #f3f3f3; 
    height: 35px; 
    line-height: 35px;
    width: 100%; 
    border-top: 1px solid #ddd;
    padding: 0 15px;
    font-size: 11px;
    font-weight: bold;
    color: #555;
    border-radius: 0 0 3px 3px;
}

.Navigator_links > div > span{margin: 0 5px;cursor: pointer;}







/*new login style Colin Shaw 25/9/2013*/
.Register-Page{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
}

.Register-Page .ember-text-field, .Register-Page .ember-text-field:focus{
    background-color: rgba(255,255,255,0);
    box-shadow: none;
    border: none;
    margin: 0 0 0 0;
}

.Register-Page_background{
    width: 100%; 
    height: 100%;
    position: absolute;
    display: block; 
    background: url(../../../images/landingpagebg.jpg) no-repeat center center fixed;

    -webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
}


.register-page-top-bar > .logonew{
    position: relative; 
    height: 30px;
    margin: 8px;
    float: left;
}

.register-page-top-bar{
    width: 87%;
    margin: 40px auto;
    display: block;
    line-height: 45px;
    text-align: center;
    min-height: 40px;
    min-width: 265px;
}

.promotion-line{
    color: #fff;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    opacity: .9;

    width: 60%;
    margin: auto;
}

.Login-or-Register{
    position:relative; 
    float:right;
    color: #fff; 
    font-size:15px;
    font-weight: bold; 
    letter-spacing: 1px; 
    margin: 0 0 0 10px;
    cursor:pointer;
}


#fadein-image{
    position: relative;
    margin: 0 auto 3%; 
    height: 180px;
    display: block; 
    top: 5%
}

.register-info-box{
    width: 300px;margin: 0 auto ;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
}


#register-with-email-step-2{
    width: 300px;
    margin: 0 auto ;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
}

#login-with-email-drop-down{
    width: 300px;
    margin: 0 auto ;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
}

.interest-selecting-container{
    z-index: 11;
    overflow: hidden; 
    background-color: white;
    border-radius: 5px;  
    width: 75%;
    max-width: 900px; 
    margin: 0px auto; 
    position: absolute; 
    top: 20%; 
    left: 0px; 
    right: 0px;
    box-shadow: 0 0 5px #999;
}

.interest-image-container{
    width: 100px; 
    height: 100px; 
    overflow: hidden;
}

.interest-topic-name{
    position: relative;
    text-align: center;
    font-size: 13px;
}

.tell-us-what-ur-interested-in{
    text-align: center;
    line-height: 25px;
    margin: 5px auto;
    font-size: 18px;
    background-color: #f3f3f3;
    opacity: 0.5;
}

#register-with-email-step-4{
    overflow: hidden;
    z-index: 11;
    background-color: white;
    border-radius: 5px;
    width: 300px;
    margin: 20px auto 0;
    position: fixed;
    left: 0px;
    right: 0px;
}

.registraion-suceesful-message{
    text-align: center; 
    padding: 10px 20px; 
    height: 165px; 
    font-size: 13px; 
    color: #333;
}




.error-textfield{
    box-shadow: 0 0 10px rgba(255,0,0,.5);
    -webkit-box-shadow: 0 0 10px rgba(255,0,0,.5);
    -moz-box-shadow: 0 0 10px rgba(255,0,0,.5);
    -o-box-shadow: 0 0 10px rgba(255,0,0,.5);
}


.register-with{
    width: 300px;
    height: 45px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    color: #888;
    line-height: 45px; 
    font-size: 15px;

    background-clip:border-box;
    cursor: pointer;
    opacity: .7;
}

.register-with:hover{opacity: 1}

.social-links-container{
    width: 300px; 
    height: 60px; 
    line-height: 60px; 
    margin: 0px auto; 
    background-color: white;
    padding:12px;
    border-bottom: 1px solid #e3e3e3;
}

.login-textfield{
    margin: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #e3e3e3;
}

.login-textfield > input{
    padding: 0 10px;
    border: 0 none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -o-box-shadow: none !important;

    font-weight: bold;
    color: #555;
    font-size: 15px;
}

.login-textfield > input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ccc;   font-weight: normal;
}
.login-textfield > input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ccc;   font-weight: normal;
}
.login-textfield > input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ccc;   font-weight: normal;
}
.login-textfield > input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ccc;   font-weight: normal;
}

.social-login-iconbox{
    width: 35px; 
    height: 35px; 
    border-radius: 3px; 
    display: inline-block;
    vertical-align: top; 
    background-color: #fff;
    line-height: 36px;
    color: #555;
    margin: 0 3px;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.login-select{
    width: 49%;
    display: inline-block;
    vertical-align: top;
    height: 45px;
    line-height: 45px;
    color: #888;
    text-align: left;
    padding-left: 10px;

    cursor: pointer;
}

.login-select:hover{
    background-color: #f3f3f3;
}

.login-selected{
    border-top: 1px solid rgba(0,0,0,.16);
    border-right: 1px solid rgba(0,0,0,0.16);
    border-bottom: 1px solid rgba(0,0,0,.05);
    margin-bottom: -1px;

    background: rgba(0,0,0,0.05);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
    -ms-box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
    -o-box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
    box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
}/* this is the active gender class use this */


.social-login-iconbox:hover, .social-login-iconbox:focus{
    background-color: #f3f3f3;
    /* just a set up class for ya colin! */
}
.social-login-iconbox:active{color: #fff;background-color: #08c; }

div > div > i.icon-envelope, div > div > #click-register,
div > div > i.icon-envelope, div > div > #click-login
{
    cursor:pointer;

    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.register-btn{
    width: 300px;
    height: 45px;
    background-color: #fff;
    text-align: center;
    color: #888;
    font-size: 15px;
    line-height: 45px; 
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;

    cursor: pointer;
    background-clip:border-box;
}
div.register-btn-small{
    width:147px;
    -webkit-border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
    display:inline-block;  

}
.back-btn{
    width: 147px;
    height: 45px;
    background:#fff;
    text-align: center;
    color: #9c9c9c;
    font-size: 15px;
    line-height: 45px; 
    -webkit-border-radius: 0 0 0 5px;
    -moz-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
    display:inline-block;

    cursor: pointer;
    background-clip:border-box;

}

.register-btn:hover, .register-btn:focus, .back-btn:hover, .back-btn:focus{background-color: #f3f3f3;}

.register-btn:active, .back-btn:active{background-color: #08c;color: #fff;}

.social-active{opacity:1;}


div >div.active-tab
{
    -webkit-border-bottom-right-radius: 0!important;
    -webkit-border-bottom-left-radius: 0!important;
    -moz-border-radius-bottomright: 0!important;
    -moz-border-radius-bottomleft: 0!important;
    border-bottom-right-radius: 0!important;
    border-bottom-left-radius: 0!important;
    opacity:1;

}
i#forgot-password-btn{cursor:help}
div#forgot-password-container{

    display:none;
    background:#fff;
    border:1px solid #ccc;
    position:absolute;
    bottom:52px;
    right:-120px;
    padding:5px;




}
.login-textfield > .hint--right{background:#fff;}

.login-textfield .hint--right:before
{
    border-right-color:#e3e3e3;

}
.login-textfield .hint--right:after
{
    background:#fff;
    color:#666;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    text-shadow:0 0 0;
}


.white-text-hover{
    color: #fff;
    opacity: .7;
}

.white-text-hover:hover{
    opacity: 1;
    color: #fff;
}

.black-tool-tip{
    width: 300px;
    color: white;
    font-size: 13px;
    line-height: 17px;
    background-color: rgba(0,0,0,.5);
    padding: 20px 35px;
    margin: 10px auto;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}

.learnmore-btn{
    font-size: 13px;
    color: #888;
    margin: 15px auto;
    opacity: .7;
    display: block;
    width: 120px;
    height: 30px;
    line-height: 29px;
    border-radius: 20px;
    background-color: #fff;
}

.learnmore-btn:hover{opacity: 1;}


.select-interest{
    width: auto;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 10px 15px;
}

.select-interest > .invite-this-friend {opacity: 0}

.select-interest:hover > .invite-this-friend {opacity: 0.8}








.crop-canvas{height: auto;max-height: 500px;width: auto;margin: 0 auto; max-width: 850px;}




/*STAR RATING STYLE*/

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 20px;
}

.rating > span.star {
    content: "";
    color: #999999;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "";
}




.Geo-Filter{
    position: relative;
    float: right;
    color: #fff;
    opacity: .7;
    cursor: pointer;
    font-size: 15px;
    width: 100px;
    height: 75px;
    
    font-weight: bold;
}

.Geo-Filter:hover, .Geo-Filter:active{opacity: 1}

.Geo-Filter:active{color: #fff;}

.Geo-Filter-active{
    color: #fff;
    opacity: 1
}

/* Clint Lewis's style's 29/10/13 */

div#login_detail{
    width:55px;
    float:right;
    cursor: pointer;
    vertical-align: top;
    height:70px;
}


.Notification-top{
    position: absolute;
    width: 410px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    top: 45px;
    right: 40px;
    box-shadow: 0 0 10px #555;
}


.Notification-top > div:first-child{border-radius: 3px 3px 0 0}
.Notification-top > div:last-child{border-radius: 0 0 3px 3px}



.user-face-size{width: 45px; height: 45px;}


/*TOUR*/


.tour-background{
    background-color: #475476;
    margin: 5px !important;
    padding: 5px !important;
}





/*DEVICES FOR REGISTER PAGE*/


/*letop & tablet*/
@media all and (max-width: 1800px){

    .register-page-top-bar{
        width: 87%;
        margin: 40px auto 2%;

    }

    .register-page-top-bar > .logonew{
        height: 28px;    
    }

    .promotion-line{
        font-size: 11px;
    }

    .Login-or-Register{
        font-size: 11px;
    }

    #fadein-image{
        margin: 0 auto 30px;
        height: 130px;
        top: 0%;
    }

    .register-with{
        width: 250px;
        font-size: 13px;
        height: 40px;
        line-height: 40px;
    }

    .social-links-container {
        width: 250px;
    }

    .register-info-box{
        width: 250px;
    }
    #register-with-email-drop-down{width: 250px;}
    #register-with-email-step-2{width: 250px;}
    #login-with-email-drop-down{width: 250px;}

    .login-textfield {
        height: 40px;
        line-height: 40px;
    }


    .login-textfield > input{
        font-size: 13px;
    }

    .login-select {
        height:40px;
        line-height: 40px;
    }


    .register-btn {
        width: 250px;
        height: 40px;
        line-height: 40px;
        font-size: 13px;
    }

    .back-btn {
        width: 49%;
        height: 40px;
        line-height: 40px;
        font-size: 13px;
    }

    div.register-btn-small {width: 49%}

    .interest-image-container{width: 70px; height: 70px;}

    .select-interest{margin: 8px 10px;}

    .interest-selecting-container{max-width: 650px;}


}


@media only screen 
and (max-width : 1400px) {
    .residentialCommericalTop{
        font-size: 20px;
        line-height: 20px;
        display:block;
    }
    
    #topResidentialCommerical{
        top:5px;
        margin: 2px 25px 2px 10px; 
    }

}

@media only screen 
and (max-width : 1249px) {
    #top-about-menu{
        display:none!Important;
    }
#topResidentialCommerical{
        right:1%;
    }

}

@media only screen 
and (max-width : 1120px) {

 #topResidentialCommerical{
        right:1%;
        display:none!Important;
    }
   
}
  

@media only screen 
and (max-width : 900px) {
    .promotion-line{ display: none; }

    .interest-image-container{width: 70px; height: 70px;}

    .select-interest{margin: 8px 10px;}

    .usersobject-hoverarea {width: 70px; height: 90px;}

    .interest-topic-name{font-size: 11px;}

    #register-with-email-step-4{width: 250px}

    .registraion-suceesful-message{font-size: 11px; line-height: 15px;}
    

}




@media only screen 
and (max-width : 480px) {
    #fadein-image{ display: none!important;}

    .register-page-top-bar {margin: 40px auto 15%;}

    .interest-image-container{width: 50px; height: 50px;}

    .select-interest{margin: 6px 8px;}

    .usersobject-hoverarea {width: 50px; height: 70px;}

    .interest-topic-name{font-size: 9px;}

    .tell-us-what-ur-interested-in{
        line-height: 20px;
        margin: 4px auto;
        font-size: 15px;
    }


}






/*smart phone*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {


}
