
.navbar {
    min-width: 1200px;
    height: 75px;
    line-height: 60px;
    overflow: visible;
    color: white;
    margin-bottom: 0px;
    position: fixed;
    z-index: 9999;
    width: 100%;
    top: 0;
    display: block;
    background-size: 100% auto !important;
    background-image: url(../../images/discoverybarbg.jpg);
}


.navbar .brand {
    display: block;
    float: left;
    padding: 0px;
    margin: 0;
    position: relative;
    font-size: 20px;
}
.navbar > #version-no
{
    position: absolute;
    right: 0;
    z-index: 1;
    max-width:6.5%;
}

.navbar-inner {
    min-width:600px;
    height:75px;
    width:87%;
    margin:auto;
}

.logonew{
    height: 35px;
}

#user-dd-menu > li {padding:0}

#user-dd-menu > li > a >span {
    color: #555;
    font-size: 13px;
    padding: 10px 30px 10px 60px;
    display: block;
}

#user-dd-menu > li >  a > i {
    font-size: 15px;
    margin: 8px 0 0 30px;
    position: absolute;
    color: #555;
}

#user-dd-menu:before{
    content: "";
    position: absolute;
    top: -7px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    z-index: 11;
    left: 70px;
}

#user-dd-menu:after{
    content: "";
    position: absolute;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #888;
    z-index: 10;
    left: 70px;
}






#discovery_search_bar_wrapper {
    height: 520px;
    width: 100%;
    background: url(../../images/discoverybarbg.jpg);
    background-size: 100% 100%;
    background-position: left top;
    position: relative;
    min-width: 1040px;
}

.search-bar{
    width: 45%;
    max-width: 800px;
    position: absolute;
    top: 330px;
    margin: auto;
    left: 0;
    right: 0;
    min-width: 700px;
}


.Nav-btn{
    width: 50px; 
    height: 50px; 
    border-radius: 3px; 
    margin-right: 5px;
    line-height: 50px; 
    color: #555;
    text-align: center;
    background-color: #fff;
    opacity: .9;
    cursor: pointer;
}

.Nav-btn:hover{opacity: 1}

.Search-box{
    width: 90%;
    height: 50px;
    float: left;
    display: inline-block;
    max-width: 745px;
}

.search-bar-ontop{
    position: absolute;
    width: 45%;
    max-width: 800px;
    margin: 12px auto;
    left: 0;
    right: 0;
    min-width: 550px;
}

.Search-box > input {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    height: 50px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #eee;
    padding-left: 10px;
    vertical-align: top;
}

.popular-topics{
    top: 410px;
    width: 1075px;
    position:absolute; 
    margin: auto;
    left: 0;
    right: 0;
}

.popular-topics > div{
    padding: 5px 15px;
    border-radius: 2px;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 10px 0 5px;
    float: left;
    cursor: pointer;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.popular-topics > div:hover{
    color: #555;
    background-color: #fff;
    opacity: 1;
}


.top-about-menu{position: relative; float: left; margin-left: 50px;}

.top-about-menu > span{margin: 0 2em}

.top-about-menu > span > a {font-size: 1em; color: white; opacity: .8;}

.top-about-menu > span > a:hover {opacity: 1;}




.Navigator-box{
    margin-top: 60px;
    width: 665px;
    height: 450px;
    border-radius: 3px;
    box-shadow: 0 0 10px #aaa;
    background-color: white;
    z-index: 11;
    position: absolute;
    display:none;
}

.Navigator-box:before{
    content: "";
    position: absolute;
    left: 18px;
    top: -19px;
    border-color: transparent transparent #f3f3f3 transparent;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    z-index: 0;
}

.Navigator-box:after{
    content: "";
    position: absolute;
    left: 18px;
    top: -20px;
    border-color: transparent transparent #888 transparent;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    z-index: -1;
}

.Navigator-content{
    height: 380px;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    color: #555;
    overflow: hidden;
}

.Navigator-content  li {padding: 3px 15px;cursor: pointer;}
.Navigator-content  li:hover {background-color: #d2d2d2}

.Navigator-content  li >.fa-search{
    font-size: 18px;
    color: white;
    float: right;
    margin-top: 2px;
}

.Navigator_links{
    background-color: #f3f3f3; 
    height: 35px; 
    line-height: 35px;
    width: 100%; 
    border-top: 1px solid #ddd;
    padding: 0 15px;
    font-size: 11px;
    font-weight: bold;
    color: #555;
    border-radius: 0 0 3px 3px;
}

.Navigator_links > div > span{margin: 0 5px;cursor: pointer;}







/*new login style Colin Shaw 25/9/2013*/
.Register-Page{
    width: 100%;
    height: 100%;
    position: fixed;
}

.Register-Page .ember-text-field, .Register-Page .ember-text-field:focus{
    background-color: rgba(255,255,255,0);
    box-shadow: none;
    border: none;
    margin: 0 0 0 0;
}

.Register-Page_background{
    width: 100%; 
    height: 100%;
    position: absolute;
    display: block; 
    background: url(../../../images/landingpagebg.jpg) no-repeat center center fixed;

    -webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
}


#fadein-image{
    position: relative;
    margin: 0 auto 40px; 
    min-height: 150px;
    max-height: 256px; 
    height: 20%;
    display: block; top: 5%
}



.error-textfield{
    box-shadow: 0 0 10px rgba(255,0,0,.5);
    -webkit-box-shadow: 0 0 10px rgba(255,0,0,.5);
    -moz-box-shadow: 0 0 10px rgba(255,0,0,.5);
    -o-box-shadow: 0 0 10px rgba(255,0,0,.5);
}


.register-with{
    width: 300px;
    height: 45px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    color: #888;
    line-height: 45px; 
    font-size: 15px;

    background-clip:border-box;
    cursor: pointer;
    opacity: .7;
}

.register-with:hover{opacity: 1}

.social-links-container{
    width: 300px; 
    height: 60px; 
    line-height: 60px; 
    margin: 0px auto; 
    background-color: white;
    padding:12px;
    border-bottom: 1px solid #e3e3e3;
}

.login-textfield{
    margin: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #e3e3e3;
}

.login-textfield > input{
    padding: 0 10px;
    border: 0 none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -o-box-shadow: none !important;

    font-weight: bold;
    color: #555;
    font-size: 15px;
}

.login-textfield > input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ccc;   font-weight: normal;
}
.login-textfield > input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ccc;   font-weight: normal;
}
.login-textfield > input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ccc;   font-weight: normal;
}
.login-textfield > input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ccc;   font-weight: normal;
}

.social-login-iconbox{
    width: 35px; 
    height: 35px; 
    border-radius: 3px; 
    display: inline-block;
    vertical-align: top; 
    background-color: #fff;
    line-height: 36px;
    color: #555;
    margin: 0 3px;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.login-select{
    width: 49%;
    display: inline-block;
    vertical-align: top;
    height: 45px;
    line-height: 45px;
    color: #888;
    text-align: left;
    padding-left: 10px;

    cursor: pointer;
}

.login-select:hover{
    background-color: #f3f3f3;
}

.login-selected{
    border-top: 1px solid rgba(0,0,0,.16);
    border-right: 1px solid rgba(0,0,0,0.16);
    border-bottom: 1px solid rgba(0,0,0,.05);
    margin-bottom: -1px;

    background: rgba(0,0,0,0.05);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
    -ms-box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
    -o-box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
    box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
}/* this is the active gender class use this */


.social-login-iconbox:hover, .social-login-iconbox:focus{
    background-color: #f3f3f3;
    /* just a set up class for ya colin! */
}
.social-login-iconbox:active{color: #fff;background-color: #08c; }

div > div > i.icon-envelope, div > div > #click-register,
div > div > i.icon-envelope, div > div > #click-login
{
    cursor:pointer;

    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.register-btn{
    width: 300px;
    height: 45px;
    background-color: #fff;
    text-align: center;
    color: #888;
    font-size: 15px;
    line-height: 45px; 
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;

    cursor: pointer;
    background-clip:border-box;
}
div.register-btn-small{
    width:148px;
    -webkit-border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
    display:inline-block;  

}
.back-btn{
    width: 148px;
    height: 45px;
    background:#fff;
    text-align: center;
    color: #9c9c9c;
    font-size: 15px;
    line-height: 45px; 
    -webkit-border-radius: 0 0 0 5px;
    -moz-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
    display:inline-block;

    cursor: pointer;
    background-clip:border-box;

}

.register-btn:hover, .register-btn:focus, .back-btn:hover, .back-btn:focus{background-color: #f3f3f3;}

.register-btn:active, .back-btn:active{background-color: #08c;color: #fff;}

.social-active{opacity:1;}


div >div.active-tab
{
    -webkit-border-bottom-right-radius: 0!important;
    -webkit-border-bottom-left-radius: 0!important;
    -moz-border-radius-bottomright: 0!important;
    -moz-border-radius-bottomleft: 0!important;
    border-bottom-right-radius: 0!important;
    border-bottom-left-radius: 0!important;
    opacity:1;

}
i#forgot-password-btn{cursor:help}
div#forgot-password-container{

    display:none;
    background:#fff;
    border:1px solid #ccc;
    position:absolute;
    bottom:52px;
    right:-120px;
    padding:5px;




}
.login-textfield > .hint--right{background:#fff;}

.login-textfield .hint--right:before
{
    border-right-color:#e3e3e3;

}
.login-textfield .hint--right:after
{
    background:#fff;
    color:#666;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    text-shadow:0 0 0;
}


.white-text-hover{
    color: #fff;
    opacity: .7;
}

.white-text-hover:hover{
    opacity: 1;
    color: #fff;
}

.black-tool-tip{
    width: 300px;
    color: white;
    font-size: 13px;
    line-height: 17px;
    background-color: rgba(0,0,0,.5);
    padding: 20px 35px;
    margin: 10px auto;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}

.learnmore-btn{
    font-size: 13px;
    color: #888;
    margin: 15px auto;
    opacity: .7;
    display: block;
    width: 120px;
    height: 30px;
    line-height: 29px;
    border-radius: 20px;
    background-color: #fff;
}

.learnmore-btn:hover{opacity: 1;}


.select-interest > .invite-this-friend {opacity: 0}

.select-interest:hover > .invite-this-friend {opacity: 0.8}








.crop-canvas{height: auto;max-height: 500px;width: auto;margin: 0 auto; max-width: 850px;}




/*STAR RATING STYLE*/

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 20px;
}

.rating > span.star {
    content: "";
    color: #999999;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "";
}




.Geo-Filter{
    position: relative;
    float: right;
    color: #fff;
    opacity: .7;
    cursor: pointer;
    margin-right: 40px;
}

.Geo-Filter:hover, .Geo-Filter:active{opacity: 1}

.Geo-Filter:active{color: #fff;}

.Geo-Filter-active{
    color: #fff;
    opacity: 1
}

/* Clint Lewis's style's 29/10/13 */

div#login_detail{
    width:55px;
    float:right;
    cursor: pointer;
    vertical-align: top;
    height:70px;
}



.Notification-top{
    position: absolute;
    width: 410px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    top: 45px;
    right: 40px;
    box-shadow: 0 0 10px #555;
}

/*.Notification-top:before{
    content: "";
    position: absolute;
    left: 204px;
    top: -19px;
    border-color: transparent transparent #f3f3f3 transparent;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    z-index: 0;
}

.Notification-top:after{
    content: "";
    position: absolute;
    left: 204px;
    top: -20px;
    border-color: transparent transparent #888 transparent;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    z-index: -1;
}*/

.Notification-top > div:first-child{border-radius: 3px 3px 0 0}
.Notification-top > div:last-child{border-radius: 0 0 3px 3px}



.user-face-size{width: 45px; height: 45px;}


/*TOUR*/


.tour-background{
    background-color: #475476;
    margin: 5px !important;
    padding: 5px !important;
}

