.search_input{width: 25%;display: inline-block}
.search_business{width: 73.5%}

.navbar-inner{
    width: 87%;
    margin: auto;
}


.brand {
    display: block;
    float: left;
    padding: 10px;
    font-size: 20px;
    color: rgb(119, 119, 119);
    text-shadow: none;
    margin: 0;
    margin-right: 30px;
    position: relative;
}



.navbar {
    min-width: 692px;
    height: 45px;
    overflow: visible;
    color: white;
    margin-bottom: 0px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top:0;
    display: block;



    -webkit-box-shadow: 0px 0px 10px rgb(0, 0, 0);
    -moz-box-shadow: 0px 0px 10px rgb(0, 0, 0);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);

    background-color: #07b7ea;
    background-image: -moz-linear-gradient(top,#07b7ea , #02a6dc);
    background-image: -ms-linear-gradient(top, #07b7ea , #02a6dc );
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#07b7ea ), to( #02a6dc));
    background-image: -webkit-linear-gradient(top, #07b7ea , #02a6dc);
    background-image: -o-linear-gradient(top, #07b7ea , #02a6dc);
    background-image: linear-gradient(top, #07b7ea , #02a6dc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#07b7ea', endColorstr='#02a6dc', GradientType=0);
}
.navbar > #version-no
{
    position: absolute;
    right: 0;
    z-index: 1;
    max-width:6.5%;
}




#user-dd-menu > li {padding:0}

#user-dd-menu > li > a >span {
    color: #555;
    font-size: 13px;
    padding:6px 30px 6px 60px;
    display:block;
}

#user-dd-menu > li >  a > k {
    font-size: 15px;
    margin: 8px 0 0 30px;
    position: absolute;
    color: #555;
}

#user-dd-menu:before{
    content: "";
    position: absolute;
    top: -7px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    z-index: 11;
    left: 70px;
}

#user-dd-menu:after{
    content: "";
    position: absolute;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #888;
    z-index: 10;
    left: 70px;
}


/*new login style Colin Shaw 25/9/2013*/
.Register-Page{
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
}

.Register-Page .ember-text-field, .Register-Page .ember-text-field:focus{
    background-color: rgba(255,255,255,0);
    box-shadow: none;
    border: none;
    margin: 0 0 0 0;
}

.error-textfield{
    box-shadow: 0 0 10px rgba(255,0,0,.5);
    -webkit-box-shadow: 0 0 10px rgba(255,0,0,.5);
    -moz-box-shadow: 0 0 10px rgba(255,0,0,.5);
    -o-box-shadow: 0 0 10px rgba(255,0,0,.5);
}


.register-with{
    width: 300px;
    height: 45px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    color: #888;
    font-weight: bold; 
    line-height: 45px; 
    font-size: 15px;

    background-clip:border-box;
    cursor: pointer;
    opacity: .7;
}

.register-with:hover{opacity: 1}

.social-links-container{
    width: 300px; 
    height: 60px; 
    line-height: 60px; 
    margin: 0px auto; 
    background-color: white;
    padding:12px;
    border-bottom: 1px solid #e3e3e3;
}

.login-textfield{
    margin: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #e3e3e3;
}

.login-textfield > input{
    padding: 0 10px;
    border: 0 none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -o-box-shadow: none !important;

    font-weight: bold;
    color: #555;
    font-size: 15px;
}

.login-textfield > input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ccc;
}
.login-textfield > input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ccc;
}
.login-textfield > input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ccc;
}
.login-textfield > input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ccc;
}

.social-login-iconbox{
    width: 35px; 
    height: 35px; 
    border-radius: 3px; 
    display: inline-block;
    vertical-align: top; 
    background-color: #fff;
    line-height: 36px;
    color: #555;
    margin: 0 3px;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.login-select{
    width: 49%;
    display: inline-block;
    vertical-align: top;
    height: 45px;
    line-height: 45px;
    color: #888;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;

    cursor: pointer;
}

.login-select:hover{
    background-color: #f3f3f3;
}

.login-selected{
    border-top: 1px solid rgba(0,0,0,.16);
    border-right: 1px solid rgba(0,0,0,0.16);
    border-bottom: 1px solid rgba(0,0,0,.05);
    margin-bottom: -1px;

    background: rgba(0,0,0,0.05);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
    -ms-box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
    -o-box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
    box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
}/* this is the active gender class use this */


.social-login-iconbox:hover, .social-login-iconbox:focus{
    background-color: #f3f3f3;
    /* just a set up class for ya colin! */
}
.social-login-iconbox:active{color: #fff;background-color: #08c; }

div > div > i.icon-envelope, div > div > #click-register,
div > div > i.icon-envelope, div > div > #click-login
{
    cursor:pointer;

    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.register-btn{
    width: 300px;
    height: 45px;
    background-color: #fff;
    text-align: center;
    color: #888;
    font-weight: bold; 
    font-size: 15px;
    line-height: 45px; 
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;

    cursor: pointer;
    background-clip:border-box;
}
div.register-btn-small{
    width:148px;
    -webkit-border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
    display:inline-block;  

}
.back-btn{
    width: 148px;
    height: 45px;
    background:#fff;
    text-align: center;
    color: #9c9c9c;
    font-weight: bold; 
    font-size: 15px;
    line-height: 45px; 
    -webkit-border-radius: 0 0 0 5px;
    -moz-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
    display:inline-block;

    cursor: pointer;
    background-clip:border-box;

}

.register-btn:hover, .register-btn:focus, .back-btn:hover, .back-btn:focus{background-color: #f3f3f3;}

.register-btn:active, .back-btn:active{background-color: #08c;color: #fff;}

.social-active{opacity:1;}


div >div.active-tab
{
    -webkit-border-bottom-right-radius: 0!important;
    -webkit-border-bottom-left-radius: 0!important;
    -moz-border-radius-bottomright: 0!important;
    -moz-border-radius-bottomleft: 0!important;
    border-bottom-right-radius: 0!important;
    border-bottom-left-radius: 0!important;
    opacity:1;

}
i#forgot-password-btn{cursor:help}
div#forgot-password-container{

    display:none;
    background:#fff;
    border:1px solid #ccc;
    position:absolute;
    bottom:52px;
    right:-120px;
    padding:5px;




}
.login-textfield > .hint--right{background:#fff;}

.login-textfield .hint--right:before
{
    border-right-color:#e3e3e3;

}
.login-textfield .hint--right:after
{
    background:#fff;
    color:#666;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    text-shadow:0 0 0;
}


.white-text-hover{
    color: #fff;
    opacity: .7;
}

.white-text-hover:hover{
    opacity: 1;
    color: #fff;
}

.black-tool-tip{
    width: 300px;
    color: white;
    font-size: 13px;
    line-height: 17px;
    background-color: rgba(0,0,0,.5);
    padding: 20px 35px;
    margin: 10px auto;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}

.learnmore-btn{
    font-size: 13px;
    color: #888;
    margin: 15px auto;
    opacity: .7;
    display: block;
    width: 120px;
    height: 30px;
    line-height: 29px;
    border-radius: 20px;
    background-color: #fff;
}

.learnmore-btn:hover{opacity: 1;}





.crop-canvas{height: auto;max-height: 500px;width: auto;margin: 0 auto; max-width: 850px;}




/*STAR RATING STYLE*/

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 20px;
}

.rating > span.star {
    content: "";
    color: #999999;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "";
}




.Geo-Filter{
    position: relative;
    float: right;
    padding: 12px;
    color: #fff; 
    line-height: 19px;

    opacity: .7;
    cursor:pointer
}

.Geo-Filter:hover, .Geo-Filter:active{
    opacity: 1
}

.Geo-Filter:active{
    background-color: #fff;
    color: #888;
}

.Geo-Filter-active{
    background-color: #fff;
    color: #888;
    opacity: 1
}

/* Clint Lewis's style's 29/10/13 */

div#login_detail{
    width:35px;
    margin-right: 50px;
    float:right;
    cursor: pointer;
    vertical-align: top;
}



.Notification-top{
    position: absolute;
    width: 410px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    top: 45px;
    right: 40px;
    box-shadow: 0 0 10px #555;
}

.Notification-top:before{
    content: "";
    position: absolute;
    left: 204px;
    top: -19px;
    border-color: transparent transparent #f3f3f3 transparent;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    z-index: 0;
}

.Notification-top:after{
    content: "";
    position: absolute;
    left: 204px;
    top: -20px;
    border-color: transparent transparent #888 transparent;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    z-index: -1;
}

.Notification-top > div:first-child{border-radius: 3px 3px 0 0}
.Notification-top > div:last-child{border-radius: 0 0 3px 3px}

