


body {

    font-size:15.5px;

}



.titleText{
    margin:13px 0 0 17%;

}

.navbar-fixed-bottom .navbar-inner {

    background-color: #07b7ea;
    background-image: -moz-linear-gradient(top,#07b7ea , #02a6dc);
    background-image: -ms-linear-gradient(top, #07b7ea , #02a6dc );
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#07b7ea ), to( #02a6dc));
    background-image: -webkit-linear-gradient(top, #07b7ea ,  #02a6dc);
    background-image: -o-linear-gradient(top, #07b7ea ,  #02a6dc);
    background-image: linear-gradient(top, #07b7ea ,  #02a6dc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#07b7ea', endColorstr='#02a6dc', GradientType=0);
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.1);
}


.navbar-inner {
    width:87%;
    margin:auto;
    height:45px;

}
.navbar .navbar-inner .container{
    float:left;
    width:100%;
    position:relative;
}



.navbar .nav > li > a {
    color: rgb(242,240,240);
    text-shadow: none;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    color: #fff;
}



.bootstrap-widget-header {

    position: relative;

    height: 40px;
    /*line-height: 40px;*/

    background: #111;
    background: -moz-linear-gradient(top, #FAFAFA 0%, #111 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FAFAFA), color-stop(100%, #111)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #FAFAFA 0%, #111 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #FAFAFA 0%, #111 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #FAFAFA 0%, #111 100%); /* IE10+ */
    background: linear-gradient(top, #FAFAFA 0%, #111 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#FAFAFA', endColorstr = '#111');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#111')";

    border: 1px solid #D5D5D5;

    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    -webkit-background-clip: padding-box;
}



.main-nav .dropdown-menu{

    background-color: rgba(242, 240, 240,0);
    padding: 0px 0px 0px 30px;
}


.navbar .nav {
    color: rgb(242,240,240);
    position: relative;
    right: 0px;
    top: 0px;
    float: right;
}





.navbar .nav .dropdown-toggle .caret {
    margin-top: 8px;
    margin-left: 110px;
}



.dropdown-menu li > a {
    display: block;
    padding: 2px 20px;
    clear: both;
    font-weight: normal;
    color: rgb(62, 59, 62);
    white-space: nowrap;
}


.open > #yw6 {

    background: none repeat scroll 0% 0% rgb(45,45,45);
    border: 1px solid rgba(0,0,0,0.17);
    margin-top:20px;
    padding:0px;
    width:200px;
}






.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {

    background-image: linear-gradient(to bottom, rgb(0, 136, 204), rgb(0, 119, 179));
    background-repeat: repeat-x;
}


.dropdown-menu .active > a {
    color: rgb(51, 51, 51);
    text-decoration: none;
    background-color: rgb(242, 240, 240);
    background-image:none;
    background-repeat: repeat-x;
    outline: 0px none;
}


.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: white;
    border-bottom-color:white;
}


.carousel .active {
    left: 0px;
    height: 650px;
}


#item_detail_modal .carousel .active {

    height: auto;
}




.carousel-inner > .item > img {
    width:100%;
    height:auto;
}




.carousel .item {
    -webkit-transition: opacity 1s; 
    -moz-transition: opacity 1s; 
    -ms-transition: opacity 1s; 
    -o-transition: opacity 1s; 
    transition: opacity 1s;
}

.carousel .active.left {
    left:0;
    opacity:0;
    z-index:2;
}

.carousel .active.right{
    left:0;
    opacity:0;
    z-index:2;
}

.carousel .next {
    left:0;
    opacity:1;
    z-index:1;
}




.modal{
    width:auto;
}
#mainmenu > #myModal {

}

.modal-backdrop {

    background-color: rgba(255, 255, 255,0.8);
}


.modal-body {
    height: 100%;
    padding: 0 15px 15px 15px;
    margin-top: 15px;
    overflow-y: visible;
    max-height: 100%;

}


.modal-backdrop {

    top: 45px;

}



.social_modal {
    position: relative;
    width:500px;
    z-index: 1050;
    background-color: rgb(255, 255, 255);
    outline: medium none;
    background-clip: padding-box;
    border-radius: 0 0 6px 6px;
}

.email_modal {
    position: relative;

    z-index: 1050;
    width: 700px;

    height: 300px;
}

.register_modal{
    position: relative;

    z-index: 1050;
    width: 500px;

    height: 500px;

}
.question_modal{
    background-color: rgb(255, 255, 255);
    outline: medium none;
    background-clip: padding-box;
    position: fixed;
    width:420px;
    z-index: 99050;
    top:15%;
    left:33%;
    height:auto;
    overflow:hidden;
}



.fade{
    opacity:1;
}

.row{
    margin-left: 0
}

.row > .required {
    font-size: 16px;
    font-weight: bold;
}

.row > #LoginForm_username {
    width: 100%;
    height: 30px;
    font-size: 16px;
}

.row > #LoginForm_password {
    width: 100%;
    height: 30px;
    font-size: 16px;
}


.row > #User_EMAIL_ADDRESS {
    text-align: center;
    width: 100%;
    height: 30px;
    font-size: 16px;
}

.row > #User_USER_NAME {
    text-align: center;
    width: 100%;
    height: 30px;
    font-size: 16px;
}

.row > #User_PWD_HASH {
    text-align: center;
    width: 100%;
    height: 30px;
    font-size: 16px;
}

.row > #User_repeatPassword {
    text-align: center;
    width: 100%;
    height: 30px;
    font-size: 16px;
}





#LoginForm_rememberMe {
    margin-top: 1px;
}

.form .btn {
    width: 100px;
    height: 25px;
    line-height: 14px;
    font-size: 13px;
    font-weight: bold;
    color:white;
    border-radius:2px;

    -moz-text-shadow: -1px -1px  #595757; 
    -webkit-text-shadow: -1px -1px  #595757;
    text-shadow: -1px -1px  #595757;

    background: rgb(35,140,60);
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgb(115,191,133)), to(rgb(35,140,60)));
    background: -webkit-linear-gradient(rgb(115,191,133), rgb(35,140,60));
    background: -moz-linear-gradient(rgb(115,191,133), rgb(35,140,60));
    background: -ms-linear-gradient(rgb(115,191,133), rgb(35,140,60));
    background: -o-linear-gradient(rgb(115,191,133), rgb(35,140,60));
    background: linear-gradient(rgb(115,191,133), rgb(35,140,60));
    -pie-background: linear-gradient(rgb(115,191,133), rgb(35,140,60));
    behavior: url(/pie/PIE.htc);

}

.form .btn:hover {
    background: rgb(39,162,75);
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgb(84,181,112)), to(rgb(39,162,75)));
    background: -webkit-linear-gradient(rgb(84,181,112), rgb(39,162,75));
    background: -moz-linear-gradient(rgb(84,181,112), rgb(39,162,75));
    background: -ms-linear-gradient(rgb(84,181,112), rgb(39,162,75));
    background: -o-linear-gradient(rgb(84,181,112), rgb(39,162,75));
    background: linear-gradient(rgb(84,181,112), rgb(39,162,75));
    -pie-background: linear-gradient(rgb(84,181,112), rgb(39,162,75));
    behavior: url(/pie/PIE.htc);

}

.carousel-control {

    top: 50%;

}

body{
    padding-right:0px;
    padding-left:0px;
}

.dropdown-submenu > .dropdown-menu {

    top: 0px;
    left: 100%;
    margin-top: -110px;
    margin-left: 0px;
    border-radius: 0px 6px 6px 6px;
}

.main-nav .nav a:hover{
    background-color:black;
    color:rgba(255,255,255,1);
    font-weight:bold;
}



.nav li + .nav-header {
    margin-top: 0px;
    color:black;
    font-style: italic;
}

.moveTop{
    top:-40px;
}


#mainmenu #dd ul li a {

    font-size: 100%;
    text-decoration: none;
    padding: 10px;

}

#mainmenu #dd1 ul li a {
    padding: 10px;
}

#mainmenu #dd2 ul li a {
    padding: 10px;
}



.dropdown-menu .dropdown-submenu > a:after {
    margin-top: 10px;
    margin-right: -50px;
    border-left-color: transparent;
    border-width: 10px;
}

.dropdown-menu .dropdown-submenu:hover > a:after {

    border-left-color: rgb(242,240,240);
}




#slider-control {
    text-decoration: none;
    color: rgba(255,255,255,0.5);
    position: relative;
    top: -400px;
    font-size: 6em;
    z-index: 2;
}





#slider-control:hover {
    text-decoration: none;
    color: rgba(255,255,255,1);
}



#discovery_search_bar > #search_key {
    padding: 6px;
    height: 35px;
    width: 28%;

}

#discovery_search_bar > #search_business {
    padding: 6px;
    height: 35px;
    width: 70%;

}



#discovery_search_bar > .cancleIcon {
    color: #333333;
}

#discovery_search_bar > .cancleIcon:hover {
    color: #ccc;
}



#mainmenu #yw6 li a {
    border-radius: 0px;
    color: white;
    border-bottom:1px solid black;
    padding:10px;
    border-top:1px solid rgb(66,66,66);
    box-shadow:none;
    margin:0;

}


.navbar .nav > li > #yw6:after {
    border-color: #000 transparent;
    left:3%

}


.navbar .nav > li >#yw6:before {

    left:3%;


}

#yw6 {
    padding:0px;
}

#yw2 > li > a {
    padding: 7.5px 20px;
}

#yw2 > li > #yw3 > li {
    padding:7px 20px;
}

#yw2 > li > #yw4 > li {
    padding:7px 20px;
}



.footer_contentbox  ul li a {
    color: #ccc;
}


.footer_contentbox ul li:hover a{
    color: #fff;
}

#footer  .socon {
    display: inline-block;


}






.modal {
    top:10%;
    -webkit-transition: opacity 0.15s linear 0s;
    -moz-transition: opacity 0.15s linear 0s;
    -o-transition: opacity 0.15s linear 0s;
    transition: opacity 0.15s linear 0s;
}






.modal.fade {
    top: 30%;

}