



/*404 page*/

.inset-text{
    /* Shadows are visible under slightly transparent text color */
color: rgba(80,80,80,.8);
text-shadow: 1px 4px 6px #ddd, 0 0 0 #555, 1px 4px 6px #ddd;
}
/* Don't show shadows when selecting text */
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }






.popup-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    float: left;
    z-index: 1000;
}


.popup-bg-fadeout{
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
    height: 150%;
    opacity: 0.6;
    background-color: black;
}