.popup-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    float: left;
    z-index: 1000;
}


.popup-bg-fadeout{
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
    height: 150%;
    opacity: 0.6;
    background-color: black;
}