
/*-------------------------Group Part -------------------------------------------*/
.group-profilewrapper{
    z-index: 2;
    position: relative;
    width: 50%;
    margin: auto;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 13px;
    border-radius: 3px;
    padding: 5px;
    top: 200px; 
}

.group-profile-title-top{
    position: relative;
    height: 210px;
    margin: auto;
}


.group-step-button{
    display: inline-block;
    width: 20%;
    float: right;
    height: 210px;
    line-height: 200px;
    font-size: 30px;
    background-color: #ccc;
    text-align:center;
    color: #fff;
    font-weight:bold;
    padding: 0 50px;
}


.group-package{
    cursor: pointer;
    padding: 50px;
    background-color: gainsboro;
    margin: 30px;
    position: relative;
    text-align: center;
    font-weight: bold;
    float: left;
    width: 360px;
    font-size: 40px;
    color: #000;
}

.group-step{
    height:600px;
}

.group-step-title{
    padding: 10px;
    font-weight: bold;
    background-color: rgb(241, 238, 238);
    font-size: 20px;
    height: 210px;
    width: 80%;
    float: left;
    display: inline-block;
}

.group-content{
    height:70%;
    padding:60px;
}

.group-button{
    display: inline-block;
    font-weight: bold;
    font-size: 30px;
    color: #000;
    text-align: center;
    padding: 20px 45px;
    position: relative;
    top: 15px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #ddd;
}
.group-button-active{
    background-color: #fff;
    
}

.subcategory-box{
    
}

.subcategory-word{
    font-weight: bold;
    font-size: 10px;
    color: #000;
    text-align: center;
    padding: 5px 10px;
     border-radius: 5px;
     margin: 5px;
     cursor: pointer;
    border: 1px solid #ddd;
}

.selected-subcategory-word{
    font-weight: bold;
    font-size: 10px;
    color: #000;
    text-align: center;
    padding: 5px 10px;
     border-radius: 5px;
     margin: 5px;
     cursor: pointer;
    border: 1px solid #ddd;
    background-color: rgba(0, 255, 255,.8);
}

.group-topic-name{
    color:#fff;
    font-weight: bold;
}

