
/*-------------------------Creat Group Part -------------------------------------------*/
.group-profilewrapper{
    z-index: 2;
    position: relative;
    width: 50%;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 13px;
    border-radius: 3px;
    padding: 5px;
    top: 200px; 
    margin-bottom: 200px;
}

.group-profile-title-top{
    position: relative;
    height: 210px;
    margin: auto;
}


.group-step-button{
    display: inline-block;
    width: 20%;
    float: right;
    height: 210px;
    line-height: 200px;
    font-size: 30px;
    background-color: #ccc;
    text-align:center;
    color: #fff;
    font-weight:bold;

}


.group-package{
    cursor: pointer;
    padding: 50px;
    background-color: gainsboro;
    margin: 30px;
    position: relative;
    text-align: center;
    font-weight: bold;
    float: left;
    width: 360px;
    font-size: 40px;
    color: #000;
}

.group-step{
    height: auto;
}

.group-step-title{
    padding: 10px;
    font-weight: bold;
    background-color: rgb(241, 238, 238);
    font-size: 20px;
    height: 210px;
    width: 80%;
    float: left;
    display: inline-block;
}

.group-content{
    height:70%;

}

.group-button{
    display: inline-block;
    font-weight: bold;
    font-size: 30px;
    color: #000;
    text-align: center;
    padding: 20px 45px;
    position: relative;
    top: 20px;
    left: 15%;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #ddd;
}
.group-button-active{
    background-color: #fff;

}

.subcategory-box{
    height: auto;
    overflow: auto;
    padding: 10px;
}

.subcategory-word{
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid #ddd;
    width: auto;
    float: left;
}

.subcategory-word-selected{
    font-weight: bold;
    font-size: 15px;
    color: #000;
    text-align: center;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid #ddd;
    width: auto;
    float: left;
    background-color: white;
}

.select-group{
    width: 100px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 12px;
}

.group-title{
    width:60%;
    cursor: pointer;
    line-height: 170px;
    text-align: center;
}


.group-topic-name{
    color:#fff;
    font-weight: bold;
    text-align: center;
}

.group-number{
    z-index: 10;
    right: 0;
    color:#fff;
    background: red;
    position:absolute;
    padding: 0 6px;
    font-weight: bold;
}

.group-image{
    position: relative;
    overflow: hidden;
    top: -5px;
    float: left;

}


.group-images{
    margin: 5px;
}

.group-image-container{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}

.group-textarea{

    margin: 20px;
    height: 150px;
    padding: 10px;
    color:#fff;
    font-weight:bold;
    font-size:15px;

}
.textarea-style{
    background-color: rgba(255,255,255,.8);
    resize: none;
    overflow:auto;
}

.group-text{
    color:#fff;
    font-weight:bold;
    font-size:20px;
    float:left;
    width:20%;

}

.group-part{
    margin: 20px;
    height: 50px;
    padding: 10px;
}
.selected{
    background-color: #fff;
    color:#000;
}

.content-group-right{
    position:relative;
    bottom:10px;
    margin-left: 20px;
    color:#fff;
}

.content-group-right span{
    color:#fff;
}

.edit-group-left{
    display: inline-block;
    float:left;

}

.edit-group-right{
    display: inline-block;
    margin-left: 20px;
    position: relative;
    top: 4px;
}

.group-upload-image{
    width: 350px;
    max-height: 500px;
    height: 300px;
    padding: 10px 12px;
    margin: 20px;
    text-align: center;
    border: 1px solid #ddd;
    display: inline-block;
}

/* ------------------------new masonry style by Charis -------------------------*/
.new-masonry-bar{
    width: 60%;
    min-width: 800px;
    height: 40px;
    background: transparent;
    margin: 10px auto;
    left: 0;
    right: 0;
    position: relative;
    display: block;
    border-bottom: 3px solid rgba(255,255,255,.5);
}

.new-masonry-bar > ul{
    padding:0;
    margin:0;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;  
    color:rgba(255,255,255,.5);
    font-size: 15px;
    font-weight: bold;
}

.new-masonry-bar > ul > li{
    cursor: pointer;
    display: inline;
    float: left;
    line-height: 36px;
    margin: 0 60px;
    color: rgba(255,255,255,.5);

}
.new-masonry-bar > ul > li:hover{

    color: #fff;
    border-bottom: 5px solid #fff;

}


.new-selected {
      color: #fff !important;
    border-bottom: 5px solid #fff;
}

/* ------------------------new masonry style end -------------------------*/




/*------------------------- Group Part -------------------------------------------*/
.group-wallpaper{
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 90px;
}

.group-wallpaper > img{
    width: 100%; 
    max-height: 650px;
}

.group-panel{
    z-index: 0;
    float: none;
    position: relative;
    height: 500px;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    box-shadow: 0px 0px 8px #555;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    width: 70%;
    top: 20px;
    filter:blur(11px);
}

.group-item-profile{
    z-index: 1;
    width: 430px;
    height: 530px;
    margin: 0 auto;
    text-align: center;
    background: white;
    color: #000;
    position: relative;
    top: -80%;
}

.group-wrapper{
    height: 620px;
    margin: 0 auto;
    top: 110px;
    position: relative;
    width: 100%;
}

.group-panel-left{
    width: 33%;
    height: 500px;
    float: left;
}

.group-panel-left > div{
    margin:20px;
    width:90%;
    color:#fff;
    font-weight: bold;
    font-size:20px;
}

.group-panel-left > div > div{
    margin:20px 0;
}


.group-panel-right{
    width: 33%;
    height: 500px;
    float: right;
}

.group-cover-image{
    max-height: 300px;
    overflow: hidden;

}
.group-cover-image > img{
    width: 100%;
}

.group-edit-button{
    display: block;
    margin: 10px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;
    color:#fff;
}

.group-pic-image{
    cursor: pointer;
    position: absolute;
    top: 150px;
}


.group-desc-part{
    position: relative;
    top: 110px; 
    color: #000;

}

.group-name{
    font-weight: bold;
    font-size: 35px;
    line-height: 50px;
     word-wrap: break-word;
    overflow: hidden;

}

.group-desc{
    font-size: 20px;
    line-height: 20px;
    word-wrap: break-word;
overflow: hidden;

}

.group-creator{
    padding: 25px;
    width:100%;
}

.group-creator-image{
    display: inline-block;
    float: left;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin-right: 25px;

}

.group-creator-text{
    display: inline-block;
}

.group-creator-name{
    font-weight: bold;
    font-size: 35px;
    line-height: 45px;
    word-wrap: break-word;
    overflow: hidden;
    max-width: 200px;
}

.group-creator-time{
    font-size: 20px;
      line-height: 35px;
}





