/* 
styling for iOS/Andriod devices.
Using media queries and responsive % based classes
Creat
*/



/****************** iPad styling BEGINS ******************/


/* iPad in portrait & landscape; All iPads will be affected by this styling */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    #masonry_wrapper #masonry_container, #masonry_user_container{
        max-width:100%;
    }
    div.user-board{
        min-width:100%;
        max-width:100%;
    }
    
} /* iPad in portrait & landscape; All iPads will be affected by this styling ENDS */


/* iPad in landscape; All iPads will be affected by this styling */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
}/* iPad in landscape; All iPads will be affected by this styling ENDS */


/* iPad in portrait; All iPads will be affected by this styling */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
}/* iPad in portrait; All iPads will be affected by this styling ENDS */




/* iPad mini in portrait & landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)  {
    
    #masonry_wrapper #masonry_container, #masonry_user_container{
        max-width:100%;
    }
    div.user-board{
        min-width:100%;
        max-width:100%;
    }
}/* iPad mini in portrait & landscape  ENDS*/

/* iPad mini in landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  {
}/* iPad mini in landscape ENDS */

/* iPad mini in portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1)  {
}
/****************** iPad styling ENDS ******************/


/****************** iPhone styling BEGINS ******************/


/* iPhone 5 in portrait & landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
    
    #masonry_wrapper #masonry_container, #masonry_user_container{
        max-width:100%;
    }
    div.user-board{
        min-width:100%;
        max-width:100%;
    }
    div.objectview-left > bottom-controlbar{display:none!important;}
    div.objectview-left > .top-controlbar{
        bottom:0;
        opacity:1!important;
    }
}


/* iPhone 5 in landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) { 
}


/* iPhone 5 in portrait */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) {
}



/* iPhone 2G-4S in portrait & landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    
    #masonry_wrapper #masonry_container, #masonry_user_container{
        max-width:100%;
    }
    div.user-board{
        min-width:100%;
        max-width:100%;
    }
    div.objectview-left > bottom-controlbar{display:none!important;}
    div.objectview-left > .top-controlbar{
        bottom:0;
        opacity:1!important;
    }
}


/* iPhone 2G-4S in landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
and (orientation : landscape) { }


/*iPhone 2G-4S in portrait */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
and (orientation : portrait) {}


/****************** iPhone styling ENDS ******************/