/* 
styling for iOS/Andriod devices.
Using media queries and responsive % based classes
Creat
*/



/****************** iPad styling BEGINS ******************/


/* iPad in portrait & landscape; All iPads will be affected by this styling */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    #masonry_wrapper #masonry_container, #masonry_user_container{
        max-width:100%;
    }
    /* masonry objects */

    div.user-board{
        min-width:100%;
        max-width:100%;
    }/* user profile page master container */

    .plaform_bar > .showsidebar{
        opacity:.5;
    }
    /* side nav styles */


    div.Register-Page{
        z-index:999;
        position:relative;
    }
    /* Register page */


    .show-interest #interest_btn{
        opacity:1;
    }

    .interest-insert-hint{
        font-size:.9em!important;
    }
    /* misc */

    #login_details{
        margin-right: 175px;
    }
    #top-about-menu span{
        margin-right:0px;
    }

    #search-bar .Search-box{
        width:60%;
    }
    #geoDropdown{
        left:-60px;
        top:5px
    }
    .popular-topics>div{
        padding:5px 5px;
    }



} /* iPad in portrait & landscape; All iPads will be affected by this styling ENDS */


/* iPad in landscape; All iPads will be affected by this styling */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
}/* iPad in landscape; All iPads will be affected by this styling ENDS */


/* iPad in portrait; All iPads will be affected by this styling */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
}/* iPad in portrait; All iPads will be affected by this styling ENDS */




/* iPad mini in portrait & landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)  {

    #masonry_wrapper #masonry_container, #masonry_user_container{
        max-width:100%;
    }
    /* masonry objects */

    div.user-board{
        min-width:100%;
        max-width:100%;
    }/* user profile page master container */

    div.Register-Page{
        z-index:999;
        position:relative;
    }
    /* Register page */

    #login_details{
        margin-right: 175px;
    }
    #top-about-menu span{
        margin-right:0px;
    }

    #search-bar .Search-box{
        width:60%;
    }
    #geoDropdown{
        left:-60px;
        top:5px
    }
    .popular-topics>div{
        padding:5px 5px;
    }
}/* iPad mini in portrait & landscape  ENDS*/

/* iPad mini in landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  {
}/* iPad mini in landscape ENDS */

/* iPad mini in portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1)  {
}
/****************** iPad styling ENDS ******************/




/****************** iPhone styling BEGINS ******************/


/* iPhone 5 in portrait & landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {

    #masonry_wrapper #masonry_container, #masonry_user_container{
        max-width:100%;
    }
    /* masonry objects */

    div.user-board{
        min-width:100%;
        max-width:100%;
    }/* user profile page master container */


    div.objectview-left > bottom-controlbar{display:none!important;}
    div.objectview-left > .top-controlbar{
        bottom:0;
        opacity:1!important;
    }/* View item (full screen) */


    /* header styles begin */
    .navbar{
        -webkit-box-shadow: 0px 0px 0px;
        -moz-box-shadow: 0px 0px 0px;
        box-shadow: 0px 0px 0px;

    }
    .navbar .brand{padding:2.5px 0;}
    .logonew{height:40px;}
    /* header styles end */
    
    div.Register-Page{
        z-index:999;
    }
    /* Register page */


    .plaform_bar > .showsidebar{
        display:none;
    }
    /* side nav styles */


    div.Register-Page{
        z-index:999;
        position:relative;
    }
    /* Register page */


    .interest-insert-hint{
        font-size:.9em!important;
    }

    .show-interest #interest_btn{
        opacity:1;
    }
    /* misc */

    #login_details{
        margin-right: 175px;
    }
    #top-about-menu span{
        margin-right:0px;
    }

    #search-bar .Search-box{
        width:60%;
    }
    #geoDropdown{
        left:-60px;
        top:5px
    }
    .popular-topics>div{
        padding:5px 5px;
    }


}


/* iPhone 5 in landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) { 
}


/* iPhone 5 in portrait */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) {
}



/* iPhone 2G-4S in portrait & landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

    #masonry_wrapper #masonry_container, #masonry_user_container{
        max-width:100%;
    }
    /* masonry objects */

    div.user-board{
        min-width:100%;
        max-width:100%;
    }/* user profile page master container */


    div.objectview-left > bottom-controlbar{display:none!important;}
    div.objectview-left > .top-controlbar{
        bottom:0;
        opacity:1!important;
    }/* View item (full screen) */


    /* header styles begin */
    .navbar{
        -webkit-box-shadow: 0px 0px 0px;
        -moz-box-shadow: 0px 0px 0px;
        box-shadow: 0px 0px 0px;

    }
    .navbar .brand{padding:2.5px 0;}
    .logonew{height:40px;}
    /* header styles end */

    .plaform_bar > .showsidebar{
        display:none;
    }
    /* side nav styles */

    div.Register-Page{
        z-index:999;
        position:relative;
    }
    /* Register page */


    .interest-insert-hint{
        font-size:.9em!important;
    }

    .show-interest #interest_btn{
        opacity:1;
    }
    /* misc  */
    #login_details{
        margin-right: 175px;
    }
    #top-about-menu span{
        margin-right:0px;
    }

    #search-bar .Search-box{
        width:60%;
    }
    #geoDropdown{
        left:-60px;
        top:5px
    }
    .popular-topics>div{
        padding:5px 5px;
    }

}


/* iPhone 2G-4S in landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
and (orientation : landscape) { }


/*iPhone 2G-4S in portrait */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
and (orientation : portrait) {}


/****************** iPhone styling ENDS ******************/
