
.no-effect, .no-effect:hover, .no-effect:focus{    
    box-shadow: none;
    border: none;
}

.no-effect, .no-effect:hover, .no-effect:focus{    
    box-shadow: none !important;
    border: none !important;
}

textarea{
    padding: 3px 8px !important;
    line-height: 22px!important;
    font-size: 14px !important;
}

input{
    height: 30px;
    line-height: 30px !important;
}

.no-effect, .no-effect:hover, .no-effect:focus{    
    box-shadow: none !important;
    border: none !important;
}


.insetbox-shadow {
    -moz-box-shadow:    inset 1px 1px 3px #aaa;
    -webkit-box-shadow: inset 1px 1px 3px #aaa;
    box-shadow:        inset 1px 1px 3px #aaa;
}

.radius-circle{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.radius-rounded-corner{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.nav-tabs a {
    color: #999;
}

.nav-tabs a:hover{
    color:#555;
}

.active a {
    color:#555;
}



.hint,[data-hint]{position:relative;display:inline-block}.hint:before,.hint:after,[data-hint]:before,[data-hint]:after{position:absolute;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);transform:translate3d(0,0,0);visibility:hidden;opacity:0;z-index:1000000;pointer-events:none;-webkit-transition:.3s ease;-moz-transition:.3s ease;transition:.3s ease}.hint:hover:before,.hint:hover:after,[data-hint]:hover:before,[data-hint]:hover:after{visibility:visible;opacity:1}.hint:before,[data-hint]:before{content:'';position:absolute;background:transparent;border:6px solid transparent;z-index:1000001}.hint:after,[data-hint]:after{content:attr(data-hint);background:#383838;color:#fff;text-shadow:0 -1px 0 black;padding:8px 10px;font-size:12px;line-height:12px;white-space:nowrap;box-shadow:4px 4px 8px rgba(0,0,0,.3)}.hint--top:before{border-top-color:#383838}.hint--bottom:before{border-bottom-color:#383838}.hint--left:before{border-left-color:#383838}.hint--right:before{border-right-color:#383838}.hint--top:before{margin-bottom:-12px}.hint--top:after{margin-left:-18px}.hint--top:before,.hint--top:after{bottom:100%;left:50%}.hint--top:hover:before,.hint--top:hover:after{-webkit-transform:translateY(-8px);-moz-transform:translateY(-8px);transform:translateY(-8px)}.hint--bottom:before{margin-top:-12px}.hint--bottom:after{margin-left:-18px}.hint--bottom:before,.hint--bottom:after{top:100%;left:50%}.hint--bottom:hover:before,.hint--bottom:hover:after{-webkit-transform:translateY(8px);-moz-transform:translateY(8px);transform:translateY(8px)}.hint--right:before{margin-left:-12px;margin-bottom:-6px}.hint--right:after{margin-bottom:-14px}.hint--right:before,.hint--right:after{left:100%;bottom:50%}.hint--right:hover:before,.hint--right:hover:after{-webkit-transform:translateX(8px);-moz-transform:translateX(8px);transform:translateX(8px)}.hint--left:before{margin-right:-12px;margin-bottom:-6px}.hint--left:after{margin-bottom:-14px}.hint--left:before,.hint--left:after{right:100%;bottom:50%}.hint--left:hover:before,.hint--left:hover:after{-webkit-transform:translateX(-8px);-moz-transform:translateX(-8px);transform:translateX(-8px)}.hint--error:after{background-color:#b34e4d;text-shadow:0 -1px 0 #5a2626}.hint--error.hint--top:before{border-top-color:#b34e4d}.hint--error.hint--bottom:before{border-bottom-color:#b34e4d}.hint--error.hint--left:before{border-left-color:#b34e4d}.hint--error.hint--right:before{border-right-color:#b34e4d}.hint--warning:after{background-color:#c09854;text-shadow:0 -1px 0 #6d5228}.hint--warning.hint--top:before{border-top-color:#c09854}.hint--warning.hint--bottom:before{border-bottom-color:#c09854}.hint--warning.hint--left:before{border-left-color:#c09854}.hint--warning.hint--right:before{border-right-color:#c09854}.hint--info:after{background-color:#3986ac;text-shadow:0 -1px 0 #193c4c}.hint--info.hint--top:before{border-top-color:#3986ac}.hint--info.hint--bottom:before{border-bottom-color:#3986ac}.hint--info.hint--left:before{border-left-color:#3986ac}.hint--info.hint--right:before{border-right-color:#3986ac}.hint--success:after{background-color:#458746;text-shadow:0 -1px 0 #1a331a}.hint--success.hint--top:before{border-top-color:#458746}.hint--success.hint--bottom:before{border-bottom-color:#458746}.hint--success.hint--left:before{border-left-color:#458746}.hint--success.hint--right:before{border-right-color:#458746}.hint--always:after,.hint--always:before{opacity:1;visibility:visible}.hint--always.hint--top:after,.hint--always.hint--top:before{-webkit-transform:translateY(-8px);-moz-transform:translateY(-8px);transform:translateY(-8px)}.hint--always.hint--bottom:after,.hint--always.hint--bottom:before{-webkit-transform:translateY(8px);-moz-transform:translateY(8px);transform:translateY(8px)}.hint--always.hint--left:after,.hint--always.hint--left:before{-webkit-transform:translateX(-8px);-moz-transform:translateX(-8px);transform:translateX(-8px)}.hint--always.hint--right:after,.hint--always.hint--right:before{-webkit-transform:translateX(8px);-moz-transform:translateX(8px);transform:translateX(8px)}.hint--rounded:after{border-radius:4px}



.style-box{
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3f3f3), color-stop(100%, #e5e5e5));
    background: -webkit-linear-gradient(#f3f3f3,#e5e5e5);
    background: -moz-linear-gradient(#f3f3f3,#e5e5e5);
    background: -o-linear-gradient(#f3f3f3,#e5e5e5);
    background: linear-gradient(#f3f3f3,#e5e5e5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.14);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.14);
    box-shadow: 0 1px 4px rgba(0,0,0,0.14);
    overflow: hidden;
    background-color: #f3f3f3;
    border-left: 1px solid #d4d4d4;
    border-left: 1px solid rgba(0,0,0,0.17);
    border-top: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(0,0,0,0.17);
    border-left: 1px solid #d4d4d4;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    clear: both;
    color: #333;
    line-height: 44px;

    max-width: 10000px;
    position: relative;
}

.t-style-box{
    padding: 0;
    background-color: #fff;
    box-shadow: 0 0 0 0px #eef2f9 inset,0 0 20px 0px rgba(0,0,0,0.07) inset;
    background-image: none;
}

.user-board{
    width: 87%;
    position: relative;
    margin: 0 auto 20px;
    left: 0;
    right: 0;
    min-width: 1060px;
    max-width: 1260px;
}

.user-board_left{
    background: white;
    width: 26%;
    display: inline-block;
    vertical-align: top;
    height: 500px;
    margin-right: 0.5%;
}

.user-board_right{
    background: white;
    width: 73%;
    height: 500px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}

.locationandlinks{
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    bottom: 0;
    color: #777;
    font-size: 17px;
    position: absolute;
    display: block;
    list-style-type: none;
    padding:0;
    margin: 0 0 0 -10px;
}



.locationandlinks > li{
    background: url(../../images/list-doc.png) no-repeat 5px 9px;
    display: inline-block;
    padding: 0 12px;
    vertical-align: middle;
}


.location_li{
    white-space: nowrap;

    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    color: #777;
    line-height: 19px;
    height: 19px;
    max-width: 180px;
    padding-left: 20px;
    position: relative;
}


.itemprofile{
    -webkit-font-smoothing: antialiased;
    font-family: 'Helvetica', sans-serif;
    font-size: 11px;
    color: #aaa;
    position: relative;
    display: block;
    list-style-type: none;
    margin: 0 0 0 0;
}

.itemprofile > li{
    display: inline-block;
    padding: 0 10px 0 0;
}

.itemprofile > li > a{
    cursor: pointer
}


.album-name{
    margin: 2px 20px 2px 40px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    float: left;
}


.album-name:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background: -webkit-linear-gradient(top,rgba(222,222,222,1),rgba(222,222,222,0.5) 90%,rgba(222,222,222,0) 100%) no-repeat;
    background: -moz-linear-gradient(top,rgba(222,222,222,1),rgba(222,222,222,0.5) 90%,rgba(222,222,222,0) 100%) no-repeat;
    background: linear-gradient(top,rgba(222,222,222,1),rgba(222,222,222,0.5) 90%,rgba(222,222,222,0) 100%) no-repeat;
}


.user-stats{
    padding:0;
    margin:0;
    float: right;
    display: inline-block;
    overflow: hidden;

    vertical-align: top;
    background: -webkit-linear-gradient(top,rgba(0,0,0,.03),rgba(0,0,0,.01) 90%,rgba(0,0,0,0) 100%) no-repeat;
    background: -moz-linear-gradient(top,rgba(0,0,0,.03),rgba(0,0,0,.01) 90%,rgba(0,0,0,0) 100%) no-repeat;
    background: linear-gradient(top,rgba(0,0,0,.03),rgba(0,0,0,.01) 90%,rgba(0,0,0,0) 100%) no-repeat;
}

.user-stats > li{
    cursor: pointer;
    border-left: 1px solid rgba(0,0,0,0.05);
    padding: 0!important;
    display: inline;
    float: left;
}

.selected-user-stats{
    border-top: 1px solid rgba(0,0,0,.16);
    border-right: 1px solid rgba(0,0,0,0.16);
    border-bottom: 1px solid rgba(0,0,0,.05);
    margin-bottom: -1px;
    position: relative;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255,255,255,1);
    background: rgba(0,0,0,0.05);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
    -ms-box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
    -o-box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
    box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
    color: #555;
}


.user-stats li a{
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,0.9) inset;
    -moz-box-shadow: 0 0 1px rgba(255,255,255,0.9) inset;
    box-shadow: 0 0 1px rgba(255,255,255,0.9) inset;
    color: #777;
    display: block;
    font-weight: bold;
    padding: 1px 20px 0;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    line-height: 44px;
    height: 50px;

    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
}


.user-stats li a:hover{
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f4f4f4));
    background: -webkit-linear-gradient(#ffffff,#f4f4f4);
    background: -moz-linear-gradient(#ffffff,#f4f4f4);
    background: -o-linear-gradient(#ffffff,#f4f4f4);
    background: linear-gradient(#ffffff,#f4f4f4);
    background-color: #fff;
    color: #333;
    text-decoration: none;
}

#user-stats > .selected-user-stats > a:hover{
    background: none;
    color: #333;
    text-decoration: none;
}

.user-profilepic-container{
    width: 180px; 
    height: 180px; 
    margin: auto;
    margin-top: 40px;
    position: relative;
    display: block;
    border: 5px solid #f3f3f3; 
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius:50%;
    overflow: hidden;
}

.changeuserprofilepic{
    cursor: pointer;
    opacity: 0;
    background-color: #000;
    position: absolute;
    width: 170px;
    height: 170px;
    overflow:hidden;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius:50%;
}

.changePDFpic{
    cursor: pointer;
    opacity: 0;
    background-color: #000;
    position: absolute;
    width: 180px;
    height: 240px;

}
.changePDFpic:hover{
    opacity: 0.6;
    overflow:hidden;
}




.user-profilepic-container:hover .changeuserprofilepic{
    opacity: 0.6;
}

.changeuserprofilepic > i{
    font-size: 35px;
    color: #fff;
    line-height: 180px;
    margin: auto;
    display: block;
    width: 35px;
}

.edit-dashboard-btn{
    opacity: 0;
    margin: 10px;
    box-shadow: 0 0 10px #bbb;
}

.profilecorpbanner{
    width: 100%;
    max-height: 650px;
    border-radius: 3px 3px 0 0;
    position: relative;
    min-height: 400px;
}

.profilecorpbanner:hover .edit-dashboard-btn{
    opacity: 1;
    box-shadow: 0 0 10px #fff;
}

/*USERPAGE*/
.user-cover{

    height: 300px; 
    overflow: hidden;
}

.user-cover:hover .edit-dashboard-btn{
    opacity: 1;
    box-shadow: 0 0 10px #fff;
}
/*USERPAGE*/

.profile-wallpaper{
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 85%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(85%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 85%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 85%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 85%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 85%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.latestebook{
    position: relative;
    max-width: 220px;
    margin: 10px 0px;
}

.latestebook-control{
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: 100px;
    margin: auto;
    left: 0;
    right: 0;
}

.latestebook:hover .latestebook-control{
    opacity: 1;
}



/*STYLE INSIDE DASHBOARD*/

.styleup_section{
    height: 200px;
    width:100%;
    background-color: #f3f3f3;
    padding: 10px 20px;
    line-height:200px
}

.styleup_section:hover{
    background-color: #fff;
}

.styleup_uploadbox{
    height:150px;
    width: 150px;
    border: 2px dashed #aaa;
    border-radius: 2px;
    display: inline-block;
    margin: 10px;
    color: #aaa;
    text-align: center;
    line-height: 150px;
}

.styleup_uploadbox:hover{
    border: 2px dashed #888;
    color: #888;
    background-color: #e3e3e3;
}

.fresh-profile-pic{
    overflow: hidden; 
    height: 80px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 12;

    top: -30PX;
    box-shadow: 0 0 10px #777;
    border: 3px solid #f3f3f3;

    display: inline-block;
    position: relative;
}

div#appfeedback{

    position:fixed;
    z-index: 100000;
    text-align: center;
    top: -80px;
    width: 100%;
}

div#appfeedback div.fresh-profile-pic > img:first-child
{
    height: 80px;
    width: 80px;
    z-index: 1;
    top: -3px;
    position: relative; 
}
div#appfeedback div.fresh-profile-pic > img:last-child
{
    height: 80px;
    width: 80px;
    z-index: 2;
    position: absolute;
    top: -3px;
    left: 0;
}
div#appfeedback .fresh-message > span.feed-back{float:left;max-width:85%;overflow:hidden;text-align:left;}

div#appfeedback .fresh-message > i.fa-times{
    position:relative;
    float:right;
    font-size:16px;
    margin:15px;

}

.fresh-message{
    position:relative;
    line-height: 50px;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    border-top: 1px solid #85aed3;
    background: #618fb9 url(../../images/alert-lines.png);
    height: 50px;
    text-align: center;
    z-index: 11;
    top: -5px;
    box-shadow: 0px 1px 5px #555;

    border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -o-border-radius: 0 3px 3px 0;

    display: inline-block;
    width: auto;
    min-width:600px;
    position: relative;
    vertical-align: top;
    margin-left: -20px;

    overflow:hidden;
}

.fresh-message > .fresh-message-sign{
    float:left; 
    margin:13px 20px 13px 40px;
    font-size: 23px;
}


.fresh_succeed{
    border-top-color: #a4d178;
    background-color: #8aba56;
}

.fresh_failed{
    border-top-color: #fba69c;
    background-color: #fa8072;
}
.fresh_warnning{
    border-top-color: #f6f0ba;
    background-color: #d8cf7e;
}


/* paid profile BEGINS, Clint Rex Lewis 4/9/13 */
.premium > div > table tr td.left_col{background:#F2F0F0;}
.premium > div > table tr td.right_col{background:#FFFFFF;}

.premium > div > table  .profileaside
{
    background-color: rgb(242,240,240);
    width:100%;
    min-width:230px;
    border-radius:3px 0 0 0;
    display:inline-block;
    vertical-align: top;
    position:relative;

}
.premium > div > table .profileaside > .profileaside_content
{

    margin:0 6.5%;
    position: relative; 
    width:87%;

}
.premium > div > table  .profileaside > .profileaside_content .aside-profilepic
{
    position:relative;
    margin:-160px 17.5% 0 17.5%;
    float:left;
    width:65%;
    padding:0 5px;
}


.premium > div > table .profilemain
{
    display: inline-block;
    width: 100%;
    left: 0;
    right: 0;
    background-color: white;
    margin: auto;
    min-width: 553px;
    padding-bottom: 30px;
}

.premium > div > table  .profileaside > .profileaside_content .aside-container{
    padding: 20px 0;
    border-bottom:1px solid #ccc;
    border-top: 1px solid #fff;
    font-size: 14px;
    width: 90%;
    margin: 0 auto;
}

.flip .front .main_aboutus{display:none;}

/* paid profile ENDS, Clint Rex Lewis 4/9/13 */



/* interest BEGINS */
.show-interest{
    background-color: #f3f3f3;
    height: 30px;
    line-height: 33px;
    margin: 5px -20px 10px;
    padding: 0 20px;
}

.show-interest:hover{
    background-color: #fff;
}

.unvisible{
    color: #777;
    opacity: 0;
}
.user-photo_left{
    float:left;
    width:100%;
}
#interest_btn{cursor:pointer;}


#show_interest:hover .unvisible{
    opacity: .7
}

#show_interest
{
    position:absolute;
    top:298px;
    left:0;
    padding: 5px 20px 0;
    width: 100%;
    height: 200px;
    float:left;
    overflow: hidden;
    background: #F3F3F3;

}
div.profile-picture-active
{
    margin:5px 12px 0 20px!important;
    width:50px!important;
    height:50px!important;
    z-index:1!important;
    float:left!important;
    border-width:4px!important;
    position:absolute;
}
div#profile-picture.profile-picture-active > img{
    min-width:50px;
    min-height:50px;
    max-height:53px;
    max-width: 53px;
    margin:-4px 0 0 -4px;
}
#profile-picture > img{
    margin-left:-5px;
    min-width:180px;
    min-height:180px;
    max-width:235px;
    max-height:235px;
}

.follow-btn-active
{
    float: right!important;
    top: 13px!important;
    margin: 0 20px 0 0!important;
    width: auto !important;
}

textarea.add-interests{
    max-width:100%;
}

.user-profilepic-container > div#change_profile{max-width:100%;max-height:100%;}

.interesttags-container{width: 100%;height: 100px;line-height: 25px;padding: 0 0 0 0;margin-top: -5px;overflow: hidden;}

.interest-textarea{width: 100%;margin-bottom: 5px;height: 70px;}

.interest-insert-hint{
    display: none;
    height: 80px; 
    width: 100%; 
    border-radius: 6px; 
    border: 1px solid #999;
    background-color: rgba(30,30,30,.3); 
    color: #fff;
    line-height: 15px;
    text-align: center;
    font-weight: bold;

    margin: 5px auto 15px;
    padding: 6px 20px;
    font-size: 12px;
}

/* interest ENDS */

/* client profile content styling BEGINS */
.main_aboutus .editor-content iframe{margin:0!important;}

.main_aboutus .editor-content h5{font-weight:bold;margin:.4em 0;}
.main_aboutus .editor-content h4
{
    font-size:17.5px;
    font-weight:bold;
    margin:.4em 0;
}
.main_aboutus .editor-content p{font-size:13px;}

.main_aboutus .editor-content a > h4,
.main_aboutus .editor-content h4 > a,
.main_aboutus .editor-content a > h5,
.main_aboutus .editor-content h5 > a
{
    color:#0088CC;
    font-weight:bold;
}
.main_aboutus .editor-content a p, .main_aboutus .editor-content p a{color:#0088CC;}

.main_aboutus .editor-content a > h4:hover, .main_aboutus .editor-content a > h4:focus,
.main_aboutus .editor-content h4 > a:hover, .main_aboutus .editor-content h4 > a:focus,
.main_aboutus .editor-content a > h5:hover, .main_aboutus .editor-content a > h5:focus,
.main_aboutus .editor-content h5 > a:hover, .main_aboutus .editor-content h5 > a:focus,
.main_aboutus .editor-content a p:hover,     .main_aboutus .editor-content a p:focus,
.main_aboutus .editor-content p a:hover,     .main_aboutus .editor-content p a:focus
{
    color:#005580!important;
}
.main_aboutus .editor-content font{font-size:14px;line-height:150%;}
.main_aboutus .editor-content .green-btn{color:#fff;}

.main_aboutus .editor-content a{
    display:inline-block;

}






.aboutus-attr{font-size: 13px; font-weight: bold;margin: 5px;}

/* client profile content styling ENDS */










/*CROP FUNCTION*/

.crop-canvas{height: auto;max-height: 500px;width: auto;margin: 0 auto; max-width: 850px;}




/*Latest follower*/



.LatestFollower{
    text-align: center;
    width: 300px;
    height: 35px;
    margin: 10px auto;

    display: block;
    clear: both;
}

.LatestFollower  img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;

    border: 2px solid #fff;
    margin: 0 4px;
}

.Followed-by{
    display: block;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #888;
    position: relative;
    width: 90%;
    clear: both;
    margin: 0 auto;
    opacity: .8;
    cursor: pointer;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

.Followed-by:hover{opacity: 1}   



/*CLIENT KEYWORDS STYLE   by Colin 11st Oct 2013 --------------start*/

.Client-Keywords-tags{
    margin:0;
    padding:0;
    position:relative;
    list-style:none;
}

.Client-Keywords-tags li{
    display: inline-block;
    vertical-align: top;
    height:30px;
    line-height:30px;
    position:relative;
    font-size:13px;

    margin: 3px 5px;
}

.tags-before{
    display: inline-block;
    height: 30px;
    width: 20px;
    background: #0089e0;
    color: #fff;

    border-radius: 1px 0 0 1px;
    -webkit-border-radius: 1px 0 0 1px;
    -moz-border-radius: 1px 0 0 1px;
    -o-border-radius: 1px 0 0 1px;
}

.tags-before:before{
    content: "";
    float: left;
    position: absolute;
    top: 0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent #0089e0 transparent transparent;
    border-style: solid;
    border-width: 15px 12px 15px 0;
}

.tags-before:after{
    content:"";
    position:absolute;
    top:12px;
    left:0;
    float:left;
    width:4px;
    height:4px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    background:#fff;
    -moz-box-shadow:-1px -1px 2px #004977;
    -webkit-box-shadow:-1px -1px 2px #004977;
    box-shadow:-1px -1px 2px #004977;
}

.Client-Keywords-tags > li > a{
    position: relative;
    top: -11px;
    padding: 7px 20px 7px 0px;
    background: #fff;
    color: #888;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid #ddd;
    cursor: pointer;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.Client-Keywords-tags > li > a:before{
    content: "";
    float: left;

    position: absolute;
    top: 0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent #fff transparent transparent;
    border-style: solid;
    border-width: 15px 12px 15px 0;
}

.Client-Keywords-tags > li > a:after {
    content: "";
    position: absolute;
    float: right;
    top: -1px;
    right: -1px;
    width: 0;
    height: 0;
    border-color: transparent #f2f0f0 transparent transparent;
    border-style: solid;
    border-width: 17px 16px 16px 0;
}


.Client-Keywords-tags > li > a:hover{background-color: #f4f6f8;color: #555}
.Client-Keywords-tags > li > a:hover:before{border-color:transparent #f4f6f8 transparent transparent;}



.keyword-pool{
    margin: 0 0 5px; 
    width: 100%; 
    min-height: 200px;
    padding: 5px 8px;
}

.keyword-pool > div {
    display: inline-block;
    vertical-align: top;
}

/*CLIENT KEYWORDS STYLE   by Colin 11st Oct 2013 --------------end*/


/*MESSAGE CENTER STYLE FROM HERE*/

.Message-Board{
    position: absolute; 
    width: 545px; 
    margin: 2px; 
    border-radius:5px;
    overflow: hidden; 
    background-color: rgb(255, 255, 255);
    top: 0px;
    left: 0px;
}



.message-btn{
    width: 50%; 
    float: left; 
    height:30px; 
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    background-color: #f3f3f3;
    opacity: .8;
}


.message-btn-x{
    width: 50%; 
    float: left; 
    height:30px; 
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    cursor: default;
    opacity: .8;
    background-color: #e3e3e3;
    color: #999;
}

.message-btn:hover{
    opacity: 1;

    -webkit-box-shadow: inset 0 -2px 0 #ddd;
    -o-box-shadow: inset 0 -2px 0 #ddd;
    -ms-box-shadow: inset 0 -2px 0 #ddd;
    -moz-box-shadow: inset 0 -2px 0 #ddd;
    box-shadow: inset 0 -2px 0 #ddd;
    background-color: #fff;
}

.message-btn:active{
    opacity: 1;
    background-color: #08c;
    color: #fff;

    -webkit-box-shadow: inset 0 2px 0 #ddd;
    -o-box-shadow: inset 0 2px 0 #ddd;
    -ms-box-shadow: inset 0 2px 0 #ddd;
    -moz-box-shadow: inset 0 2px 0 #ddd;
    box-shadow: inset 0 2px 0 #ddd;
}


.Message-Board_comment-item{
    position: relative;
    width: auto;
    display: block;
    overflow-wrap: break-word;
    overflow-x: hidden;
    padding: 10px 6.5%;

    border-bottom: 1px solid #eee;
    border-top: #f3f3f3;
}

.mCSB_container > div:nth-child(odd){background-color: #fff}
.mCSB_container > div:nth-child(even){background-color: #f4f6f8}
.mCSB_container > div:hover{background-color: rgba(200,200,200,.1);
                            -webkit-transition: all 0.5s ease;
                            -moz-transition: all 0.5s ease;
                            -o-transition: all 0.5s ease;}

.mCSB_container > div:hover .reply-comment{opacity: .8}

.Message-Board_comment-container .profilepic-comment-container{ left: 6.5%; top: 18px;}
.your-relpy_profilepic{
    position:absolute;
    right:6.5%;
    margin:3px 0 0;
}

.your-relpy{
    padding: 10px 50px 10px 0;
    vertical-align: top;
    text-align: right;
    border-top: 1px solid #eee;
}

.your-relpy .namentime_position{margin:0 0 0 40px}
.your-relpy .comment-content{margin-left: 40px;}
.Message-Board_comment-item .comment-position{
    padding: 10px 0 10px 43px;
    min-height: 90px;
}

.reply-comment-frame{
    padding: 15px 0 0 40px;
    border-top: 1px solid #eee;
    width: 100%;
}

.reply-comment{
    font-size: 11px;
    position: absolute;
    right: 0;
    top: 0;
    color: #333;
    opacity: 0;
}

.reply-comment i{
    cursor: pointer;
}

.your-relpy:hover .reply-comment{opacity: .8}

.Message-Board_comment-item .masonry_addcommnetbox-container{width: 430px; margin-left: 20px;}


.post-comment-container{
    width: 430px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
}

.post-comment-container textarea, .post-comment-container textarea:focus{
    background-color: rgba(255,255,255,0);
    box-shadow: none;
    border: none;

    height: 70px;
}

.reply-comment-container {
    width: 390px;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
}

.reply-comment-container input, .reply-comment-container input:focus{
    background-color: rgba(255,255,255,0);
    box-shadow: none;
    border: none;
    height: 30px;
    padding:6px;
    line-height:18px!important;
}

.user-says-angle-before{
    width: 0px;
    height: 0px;
    margin-top: 3px;
    left: 67px;
    border-top: 15px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 15px solid #fff;
    position: absolute;
    z-index: 2;
}

.user-says-angle-after{
    width: 0px;
    height: 0px;
    margin-top: 4px;
    left: 65px;
    border-top: 15px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 15px solid #ddd;	

    position: absolute;
    z-index: 1;
}

.user-reply-angle-before{
    width: 0px;
    height: 0px;
    margin-top: 3px;
    border-top: 15px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 15px solid #f3f3f3;
    border-right: 0px solid transparent;
    right: 74px;
    position: absolute;
    z-index: 2;
}

.user-reply-angle-after{
    width: 0px;
    height: 0px;
    margin-top: 4px;
    border-top: 15px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 15px solid rgba(50,50,50,.1);
    border-right: 0px solid transparent;
    right: 72px;

    position: absolute;
    z-index: 1;
}


.remove-comment-photo{
    float: right;
    position: relative;
    background-color: #fff;
    color: #888;
    width: 20px;
    height: 20px;
    font-size: 13px;
    top: -10px;
    right: -12px;
    cursor: pointer;
    line-height: 20px;
    opacity: .6;
}

.remove-comment-photo:hover{opacity: 1;}





/*message menu*/

.create-conversation{
    height: 69px;
    width: 70px;
    float: right;
    opacity: .7;
    color: #888;
    font-size: 18px;
    line-height: 73px;
    text-align: center;
    cursor: pointer;
}

.create-conversation:hover{
    background-color: #fff;
    opacity: 1;
}

.each-conversation{
    min-height: 100px; 
    width: 100%; 
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #fff;
    cursor: pointer;
    line-height: 20px;
}

.each-conversation:hover{
    background-color: rgba(150,150,150,.1) !important;
}


.Message-menu-messages-container > div:nth-child(odd){background-color: #fff}
.Message-menu-messages-container > div:nth-child(even){background-color: #f4f6f8}


.invite-this-friend{
    background-color: #000;
    opacity: 0;

    color: #fff;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    line-height: 22px;
    font-size: 13px;
    text-align: center;
    margin-right: -2px;
}

.invite-friend{
    float: left; 
    margin: 10px;
    position: relative;
    display: block;
}

.invite-friend:hover > .invite-this-friend{opacity: .8}


.selected-conversation{background-color: #555 !important;}
.selected-conversation > div {color: #fff !important;}

.selected-conversation .comment-username, .selected-conversation .comment-content, .selected-conversation .icon-trash{color: #fff !important}


#search_business{vertical-align: top;}






/*STAR RATING STYLE*/






.unread-style{
    background-color: rgba(85, 170, 255,.15) !important;
}

.Notification-Board > div:nth-child(odd){background-color: #fff}
.Notification-Board > div:nth-child(even){background-color: #f4f6f8}


#notititopbar > .mCustomScrollBox{

}



/*REVIEW PART STYLE*/

.Add-review{
    z-index: 11;
    background-color: white;  
    border-radius: 5px;
    box-shadow: 0 0 20px #bbb;  
    width: 500px;
    height: 350px;
    margin: 0 auto; 
    position: fixed; 
    top: 15%;
    left: 0;
    right: 0;
    overflow: hidden;
}

.Add-review .message-btn{
    height: 40px; 
    line-height: 40px;

    width: 33%;
}



.review-list{
    width: 535px; 
    position: absolute; 
    margin: 10px auto; 
    background-color: transparent; 
    border: 0;
    padding: 0 5px;
}


.review-list-profile-pic{
    height: 80px;
    width: 80px;
    z-index: 22;
    position: relative; 
    border: 3px solid #f3f3f3; 
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 5px #aaa;
    top: -5px;
    float:left;
}

.review-list-content{
    top: 50px; 
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 3px #aaa;
    width: 500px;
    margin: 5px 0px 5px 25px;
    opacity: .8.5;
    cursor: pointer;

}

.review-list-content:hover, .review-list-content.active{
    opacity: 1!important;
}


.profilegb div.profile-wallpaper{
    top:45px;
    left:0;
}



.profilenew-package{
    padding: 35px;
    background-color: gainsboro;
    margin: 30px 20px 0 20px;
    position: relative;
    width: 28%;
    float: left;
    text-align: center;
}


/*MAP SECTION*/

.enlarge-map{width: 45px;height: 45px;line-height: 45px; background-color: #fff; color: #555;opacity: 0;position: absolute;right: 9px;text-align: center;font-size: 15px;}

#google-map:hover > .enlarge-map{
    opacity: .8;
}



#directionsPanel .adp-placemark {
    background: #f3f3f3;
    border: 1px solid #ddd;
    color: #333;
    vertical-align: middle;
}

#directionsPanel .adp, #directionsPanel .adp table, #directionsPanel .adp-list{
    font-family: Roboto,Arial,sans-serif;
    font-weight: 300;
    color: #333;
    font-size: 13px;
}

#directionsPanel img.adp-marker {
    width: 22px;
    height: 40px;
    margin: 10px 30px 10px 10px;
}


#directionsPanel .adp-summary {
    padding: 0 3px 3px;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    margin-top: -8px;
}


#directionsPanel .adp b, .adp-list b {
    font-weight: 600;
}

#directionsPanel .adp-legal{
    font-size: 11px;
}

#directionsPanel .adp-step, #directionsPanel .adp-subste {
    border-top: 1px solid #cdcdcd;
    margin: 0;
    padding: .3em 3px;
    vertical-align: top;
    line-height: 18px;
}

#directionsPanel .adp-list img, .adp-substep img {top: -1px;}

#directionsPanel .adp-agencies {
    font-size: 80%;
    margin: 5px 15px;
}

#directionsPanel .adp-step:first-child, #directionsPanel .adp-substep:first-child {padding: .3em 3px .3em 10px !important;}

#directionsPanel .adp-step:last-child, #directionsPanel .adp-substep:last-child {padding: .3em 10px .3em 3px;}

#directionsPanel .adp-directions > tbody > tr:nth-child(odd){background-color: #fff}
#directionsPanel .adp-directions > tbody > tr:nth-child(even){background-color: #f3f3f3}



#routeModeDropdown > .ite {width: 270px;}


.clear-all{
    width: 15px;
    height: 15px;
    margin: 18px 10px;
    line-height: 15px;
    border-radius: 0 2px 2px;
    background-color: #333;
    float: left;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
}

.clear-all:before{
    content: "";
    float: left;
    margin-left: -5px;
    width: 0;
    height: 0;
    border-color: transparent #333 transparent transparent;
    border-style: solid;
    border-width: 8px 5px 7px 0;
    border-radius: 2px;
}

