

body > div.ember-view{
    overflow:hidden;
    max-width:100%;
}
body > div.ember-view > div
{

}
.tagview
{
    border:solid 3px #fff;
    width:100px;
    height:100px;
    position:absolute;
    display:none;
}
#tagit
{
    position:absolute;
    opacity:1;
    width:530px;
}
#tagit1
{
    position:absolute;
    opacity:1;
    margin:200px 600px;
    width:530px;
}

.tagit{
    opacity:1;
}

#tagitshow{
    width: 300px;
    opacity: 0;
    border-style: solid;
    border-color: #ffffff;
    position: absolute;
    z-index: 2;
    background-color: rgba(255,255,255,.9);
    border: 0 none;
    overflow: hidden;

    -moz-box-shadow: 0px 0px 5px #555;
    -webkit-box-shadow: 0px 0px 5px#555;
    box-shadow: 0px 0px 5px #555;
    padding: 10px 15px;
}


#tagit .box
{
    border:solid 3px #ffffff;
    width:100px;
    opacity:.2;
    height:100px;
    border-style:solid;
    border-color:#020202;
    margin: auto 220px;


}

#tagit .name
{
    float:left;
    background-color:white;
    width:200px;
    height:250px;
    padding:5px;

}
#tagit div.text
{
    margin-bottom:5px;
}
#tagit input[type=text]
{
    margin-bottom:5px;
}
#tagit #tagname
{
    width:110px;
}
#taglist
{
    background-color:#012D4A;
    width:300px;
    min-height:200px;
    height:auto !important;
    height:200px;
    float:left;
    padding:10px;
    margin-left:20px;
    color:#BFC6D0;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;

}
#taglist ol { padding:0 20px;float:left;cursor:pointer}
#taglist ol a { color:#BFC6D0;font-size:11px;}
#taglist ol a:hover { text-decoration:underline }
.tagtitle
{
    font-size:14px;
    text-align:center;
    width:100%;
    float:left;
}


#tagImg{
    z-index: 1;
    position: relative;
    width: 29%;
    height: 70px;
    line-height: 70px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
    overflow: hidden;
}


#tagContent{
    z-index: 1;
    float: left;
    width: 100%;
    font-size: 12px;
    margin-bottom: 10px;
}

#tagContent > div{max-height:91px;overflow:hidden;}

#tagBtn{
    margin-left: 10px;
    float: left;
    width: 180px;
}


#tagBtn >  div.disabled-btn{top:0;position:relative;left:0;}


#tagName{
    margin-left: 10px;
    line-height: 18px;
    font-size: 15px;
    color: #333;
    font-weight: bold;
    float: left;
    max-height: 50px;
}

.ember-view > .fa-tag
{

    animation-delay:2s;
    -webkit-animation-delay:2s; /* Safari and Chrome */

    animation: tagBounce;
    -moz-animation:tagBounce; /* Firefox */
    -webkit-animation: tagBounce; /* Safari and Chrome */

    animation-duration:.87s;
    -webkit-animation-duration:.87s; /* Safari and Chrome */
    -moz-animation-duration:.87s; /* Firefox */


    transform-origin:top left;
    -ms-transform-origin:top left; /* IE 9 */
    -webkit-transform-origin:top left; /* Safari and Chrome */

}
.ember-view > .fa-tag:hover, .ember-view > .fa-tag:focus{
    font-size:64px!important;

    nimation: tagBounce;
    -moz-animation:tagBounce; /* Firefox */
    -webkit-animation: tagBounce; /* Safari and Chrome */
}

@-moz-keyframes tagBounce { 
    50% { -moz-transform: rotate(70deg); } 
    68% { -moz-transform: rotate(10deg); } 
    82% { -moz-transform: rotate(35deg); } 
    99% { -moz-transform: rotate(0deg); } 

}
@-webkit-keyframes tagBounce { 
    50% { -webkit-transform: rotate(70deg); } 
    68% { -webkit-transform: rotate(10deg); } 
    82% { -webkit-transform: rotate(35deg); } 
    99% { -webkit-transform: rotate(0deg); } 
}
@keyframes tagBounce { 
    50% {transform:rotate(70deg); }
    68% {transform:rotate(10deg); }
    82% {transform:rotate(35deg);}
    99% {transform:rotate(0deg);}

}

.plaform_bar{
    height: 280px;

    position: fixed;
    left: 0px;
    top: 30%;
    z-index: 20;
    min-width: 10px;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: 100% 80%;
    border-radius: 0 10px 10px 0;
    background-color: rgba(50,50,50,0.4);
    box-shadow: 0 0 10px #fff;
    height:256px;
}



#masonry_user_container
{
    clear:both;
    width:0;
    overflow:hidden;
}
#masonry_wrapper{min-height:500px!important;}

#masonry_user_container[style="position: relative; height: 0px; width: 185px;"],
#masonry_user_container[style="position:relative;height:0px;width: 185px;"],
#masonry_user_container[style='position: relative; height: 0px; width: 185px;'],
#masonry_user_container[style='position:relative;height:0px;width: 185px;'],

#masonry_user_container[style="position: relative; height: 184px; width: 370px;"],
#masonry_user_container[style="position:relative;height:184px;width:370px;"],
#masonry_user_container[style='position: relative; height: 184px; width: 370px;'],
#masonry_user_container[style='position:relative;height:184px;width:370px;'],


#masonry_user_container[style="position: relative; height: 0px; width: 185px;"],
#masonry_user_container[style="position:relative;height:0px;width: 185px;"],
#masonry_user_container[style='position: relative; height: 0px; width: 185px;'],
#masonry_user_container[style='position:relative;height:0px;width: 185px;'],


#masonry_photo_collection_container[style="position: relative; height: 0px; width: 185px;"],
#masonry_photo_collection_container[style="position:relative;height:0px;width: 185px;"],
#masonry_photo_collection_container[style='position: relative; height: 0px; width: 185px;'],
#masonry_photo_collection_container[style='position:relative;height:0px;width: 185px;'],

#masonry_container[style="top: 100px; position: relative; height: 157px; width: 370px;"],
#masonry_container[style="top:100px;position:relative;height:157px;width:370px;"],
#masonry_container[style='top: 100px; position: relative; height: 157px; width: 370px;'],
#masonry_container[style='top:100px;position:relative;height:157px;width:370px;']
{
    width:0!important;
    overflow:hidden;
    margin-left:4000px;

}
.masonry_push_down{
    margin-top: 85px;
}


.masonry-ad{background-color: transparent; border: none;text-align: center;}

.plaform_bar:hover{
    box-shadow: none;
    background-color: transparent;
}

.plaform_bar:hover #navContainer{
    opacity: 1;

    margin: 0;
    padding: 15px 0;
    text-align: center;

    width: 100px;
    overflow: visible;
    box-shadow: 0 0 5px #333;
    border-radius: 0 10px 10px 0;
}

.plaform_bar > img{
    width: 10px;
    position: absolute;
    height: 250px;
    display: none;
}

.plaform_bar:hover > img{
    width: 100px;
    display: block;
}

.showsidebar{
    font-size: 30px;
    text-align: right;
    height: 250px;
    line-height: 250px;
    text-shadow: 0 0 10px #fff;
    opacity: .7;
    position: absolute;
    right: -40px;
    top: 0;
    color: #333;
}

.plaform_bar:hover .showsidebar{
    opacity: 0;
    text-shadow: none;
}

#navContainer {
    height: 280px;
    margin:0;
    padding:15px 0;
    opacity: 0;
    text-align:center;
    width:10px;
    overflow: hidden;
    box-shadow: 0 0 15px #fff;

    /* Safari 4+, Chrome 1-9 */
    background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(20,20,20,0.2)), to(rgba(40,40,40,0.7)));

    /* Safari 5.1+, Mobile Safari, Chrome 10+ */
    background-image: -webkit-linear-gradient(top, rgba(20,20,20,0.2), rgba(40,40,40,0.7));

    /* Firefox 3.6+ */
    background-image: -moz-linear-gradient(top, rgba(20,20,20,0.2), rgba(40,40,40,0.7));

    /* IE 10+ */
    background-image: -ms-linear-gradient(top, rgba(20,20,20,0.2), rgba(40,40,40,0.7));

    /* Opera 11.10+ */
    background-image: -o-linear-gradient(top, rgba(20,20,20,0.2), rgba(40,40,40,0.7));
}

#navContainer:hover {
}

#navContainer ul{
    margin:0;
    padding:0;

}


#navContainer ul li {
    position:relative;
    display: block;

}

#nav-ul ul li{
    position:relative;
    border-top: 1px solid #d4d4d4;
    border-top: 1px solid rgba(0,0,0,0.13);
    box-shadow: inset 0 1px #fff;
}

#nav-ul ul li:first-child {
    border-top: 0;
    box-shadow: none;
    background-color: #d4d4d4;
    border-radius: 6px 6px 0 0;
}

#nav-ul ul li:first-child

#nav-ul ul li:first-child

#nav-ul ul li:first-child:hover::after,
#nav-ul ul li:first-child:focus::after{
    border-right-color: #eaeced;
}

#navContainer ul li span{
    display:block;
}

.nav-ul ul li span{
    display:block;
}

#navContainer ul li a, .nav-geo-ul > li > div{
    text-decoration:none;
    color:white;
    font-family:Lucida Sans Unicode, Lucida Grande, sans-serif;
    display:block;
    padding:8px;

}


#navContainer ul li span:hover::before,
#navContainer ul li span:focus::before{
    content: "";
    position: absolute;
    border-right: 13px solid rgba(0,0,0,.26);
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    font-size: 0;
    height: 0;
    margin: 0 auto;
    top: 10px;
    width: 0;
    right: -8px;
}

#navContainer ul li span:hover::after,
#navContainer ul li span:focus::after{
    content: "";
    position: absolute;
    border-right: 12px solid #f3f3f3;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    font-size: 0;
    height: 0;
    margin: 0 auto;
    top: 11px;
    width: 0;
    right: -10px;
    z-index: 100;
}

.nav-geo-ul > li > div:hover, .nav-geo-ul > li > div.clicked, .nav-geo-ul > li > div.current,.nav-geo-ul > li > div:focus,
#navContainer ul li a:hover, #navContainer ul li a.clicked, #navContainer ul li a.current, #navContainer ul li a:focus{
    background: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.01));
    background: -moz-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.01));
    background: -ms-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.01));
    background: -o-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.01));
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.01));
    background-color: rgba(0,0,0,0.05);
}

.sidebar-hover{
    background: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.01));
    background: -moz-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.01));
    background: -ms-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.01));
    background: -o-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.01));
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.01));
    background-color: rgba(0,0,0,0.05);
}

.sidebar-hover:hover::before,
.sidebar-hover:focus::before{
    content: "";
    position: absolute;
    border-right: 13px solid rgba(0,0,0,.26);
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    font-size: 0;
    height: 0;
    margin: 0 auto;
    top: 10px;
    width: 0;
    right: -8px;
}

.sidebar-hover:hover::after,
.sidebar-hover:focus::after{
    content: "";
    position: absolute;
    border-right: 12px solid #f3f3f3;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    font-size: 0;
    height: 0;
    margin: 0 auto;
    top: 11px;
    width: 0;
    right: -10px;
    z-index: 100;
}


#navContainer ul ul{
    position:static;
    margin-left:-1000px;
    float:left;
}
#navContainer > ul > li> ul{}

.nav-geo-ul > li > div,
#navContainer ul ul li a{
    color: rgba(0,0,0,0.63);
    display: block;
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
    padding: 7px 15px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px #fff;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    float:none;
    cursor: pointer;
}


#navContainer > ul > li:hover> ul, 
#navContainer > ul > li:focus> ul{
    margin-left: 10px;
    width: 200px;
    position: absolute;
    display: block;
    left: 100px;
    top: -20px;
    background-color: #f3f3f3;
    border-radius: 6px;
    box-shadow: 0 0 5px #333;
    z-index: 21;
}
#navContainer > ul > li> ul > li > ul{

    display:none;
}
#navContainer > ul > li> ul > li:hover> ul,
#navContainer > ul > li> ul > li:focus > ul{
    margin-left: 10px;
    width: 200px;
    position: absolute;
    display: block;
    left: 200px;
    top: -20px;
    background-color: #f3f3f3;
    box-shadow: 0 0 5px #333;
    border-radius: 6px;
    z-index: 22;
}
#navContainer > ul > li> ul > li> ul> li > ul{
    display:none;
}
#navContainer > ul > li> ul > li> ul> li:hover> ul,
#navContainer > ul > li> ul > li> ul> li:focus > ul{
    margin-left: 10px;
    width: 200px;
    position: absolute;
    display: block;
    left: 200px;
    top: -20px;
    background-color: #f3f3f3;
    box-shadow: 0 0 5px #333;
    border-radius: 6px;
    z-index: 23;
}








.displayClass{
    display:block;

}

.hideClass{
    display:none;

}

.open > .hideClass{display: block;}

.blur{
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    height: 100%;
    background-color: transparent;
}

.blur_white{
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    height: 100%;
    opacity: .6;
    background-color: white;
}

.blur_black{
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    height: 100%;
    opacity: 0.6;
    background-color: black;
}

.text-anchor{
    cursor: pointer;
    color: #888;
}

.text-anchor:hover{
    color: #333;
}

div.search-loading-invisible{
    /*make invisible*/
    display:none;
}

.lightbox{
    min-width: 700px;
    overflow: visible;
    position: fixed;
    top: 0;
    width: 100%;
    height:100%;
    z-index: 10000;
    background-color: rgba(0,0,0,1) !important;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;


}

.masonry_show-comment .addCollection-container{
    top:20%;
    margin-left:-240px;
    left:50%;
}

/*/WindowContainer-------------------/*/
.window-container {
    overflow: visible;
    position: fixed;
    z-index: 20000;
    background-color: white;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px #888;
    -moz-box-shadow: 0 3px 7px #888;
    box-shadow: 0 3px 7px #888;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}


.contact-container {
    overflow: visible;
    position: fixed;
    left: 0;
    right: 0;
    width: 500px;
    height: 50px;
    margin: auto;
    top: 0;
    bottom: 80%;


    z-index: 100;
    background-color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px #888;
    -moz-box-shadow: 0 3px 7px #888;
    box-shadow: 0 3px 7px #888;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;

}

.addCollection-container{
    overflow: visible;
    position: fixed;
    text-align: center;
    left: 36%;
    top: 30%;
    z-index: 100;
    background-color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px #888;
    -moz-box-shadow: 0 3px 7px #888;
    box-shadow: 0 3px 7px #888;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}










.dropdownViewStyle {

}

.Dropdownstyle1{
    overflow: visible;
    position: absolute;
    min-width: 23px;
    z-index: 102;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.08);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px #888;
    -moz-box-shadow: 0 3px 7px #888;
    box-shadow: 0 3px 7px #888;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    max-height: 200px;
    overflow: auto;
}

.Dropdownstyle2{
    width: 150px;  
    padding: 0;
    left: 115px;
    position: relative;
    float: right;
}


.ite{
    padding: 6px 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    list-style: none;
}

.edit-object-ul > .ite{
    padding: 6px 15px 6px 30px;
    color: #888;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
    line-height: normal;
}

.edit-object-ul > .ite:first-child {border-radius: 3px 3px 0 0}
.edit-object-ul > .ite:last-child {border-radius: 0 0 3px 3px}

.ite:hover{
    color: #555;
    background-color: rgba(0,0,0,0.1);
}

.Dropdownstyle2:before{
    content: "";
    position: absolute;
    left: 65px;
    top: -20px;
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    z-index: 0;	
}

.Dropdownstyle2:after{
    content: "";
    position: absolute;
    left: 65px;
    top: -21px;
    border-color: transparent transparent #888 transparent;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    z-index: -1;	
}

.edit-object > .edit-object-ul:before{left: 15px;}
.top-controlbar > .edit-object-ul:before{left: 15px;}


.head {
    border-radius: 3px 3px 0 0;
    padding: 20px 30px;
    cursor: default;
}

.head > .closeview:hover{
    color: black;
}

.content {
    padding: 15px 30px 20px;
    border-radius: 0 0 3px 3px;
    cursor: default;
}

.panelcircle{
    position: relative;
    display: inline-block;
    margin: 0 65px;
    font-weight: bold;
    background-color: #427fed;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: white;
    cursor: pointer;
}

.lineuptextbox{
    display: inline-block;
    width: 270px;
    margin-right: 5px;
}






.contactme-table tr {
    display: table-row;
    vertical-align: top;
    border-color: inherit;

}

.contactme-table td:nth-child(1)  {
    color: #555;
    text-align: right;
    width: 35%;
    cursor: default;
}

.contactme-table td:nth-child(2)  {
    padding: 0 0 5px 20px;
    color: #555;
    text-align: center;
}

.tab-content td:nth-child(1)  {
    color: #555;
    text-align: right;
    width: 35%;
}

.tab-content td:nth-child(2)  {
    padding: 0 0 5px 20px;
    color: #555;
    text-align: center;
}

.dropdown-contactme {
    width: 230px;
}





.checkbox-columncontainer{
    display: inline-block;
    width: 440px;
    text-align: left;
    padding-left: 25px;
}

.checkbox-container{
    padding: 2px 8px;
    float: left;
    width: 200px;
}

/*CSS Checkboxes*/

input[type=checkbox].css-checkbox {
    display:none;
}

input[type=checkbox].css-checkbox + label.css-label {
    color: #555;
    padding-left: 25px;
    height: 15px;
    display: inline-block;
    line-height: 14px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 13px;
    font-weight: bold;
    vertical-align: middle;
    cursor: pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -15px;
}

.css-label{
    background-image:url(http://csscheckbox.com/checkboxes/dark-check-green.png);
}

.lite-blue-check{background-image: url(../../images/blue-check.png) ;}

input[type=checkbox].css-checkbox.med + label.css-label.med {
    padding-left:22px;
    height:17px;
    display:inline-block;
    line-height:17px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:15px;
    vertical-align:middle;
    cursor:pointer;
}

/*/End checkbox---------------/*/


/*/End WindowContainer---------------/*/


/*CONTACT ME  BUTTON*/
.contactmebtn {
    position: relative;
    z-index: 1;
    text-align: center;
    float: right;
    bottom: auto;
    right: 2px;
    cursor: pointer;
    margin: 0 10px;
}

.contactmeicon{
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;
    line-height: 45px;
    background-color: #eaeaea;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eaeaea));
    background-image: -webkit-linear-gradient(top, #f6f6f6, #eaeaea);
    background-image: -moz-linear-gradient(top, #f6f6f6, #eaeaea);
    background-image: -ms-linear-gradient(top, #f6f6f6, #eaeaea);
    background-image: -o-linear-gradient(top, #f6f6f6, #eaeaea);
    background-image: linear-gradient(top, #f6f6f6, #eaeaea);
    -moz-border-radius: 32px;
    -webkit-border-radius: 32px;
    border-radius: 32px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);

    color: #555;
    cursor: pointer;
}

.contactmeicon:hover{box-shadow: 0 0 10px #e3cf7a; color:#ad9424}

.contactmeicon:active {
    top: 1px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#f6f6f6));
    background-image: -webkit-linear-gradient(top, #eaeaea, #f6f6f6);
    background-image: -moz-linear-gradient(top, #eaeaea, #f6f6f6);
    background-image: -ms-linear-gradient(top, #eaeaea, #f6f6f6);
    background-image: -o-linear-gradient(top, #eaeaea, #f6f6f6);
    background-image: linear-gradient(top, #eaeaea, #f6f6f6);
}



.contactmeicon::before{
    content: '';
    position: absolute;
    z-index: -1;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    background-color: #eaeaea;
    -moz-border-radius: 140px;
    -webkit-border-radius: 140px;
    border-radius: 140px;
    opacity: 0.5;


    display: block;
    border-top: 2px solid #ddd;
    box-shadow: inset 0px 8px 48px #ddd;
}

.contactmeicon:active::before {
    top: -6px;
}

.contactmeicon:hover::before {
    opacity: 0.8;
    background-color: #6399cd;
}

.contactmeicon img {
    vertical-align: -7px;
    width: 24px;
}


.contactmebtn:hover > .contactmeicon > i {
    color: rgba(10,60,150, 0.8);
    text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
}







/*Contact Detail Table*/
#aside_contact  th:first-child{
    color: #aaa;
    text-align: right;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: normal;
    width: 90px;
}
#aside_contact > tbody > tr:nth-child(n) > th {
    position: relative!important;
    top: 5px!important;
}
#aside_contact > tbody > tr:nth-child(4) > th {
    position: relative!important;
    top: -20px!important;  
}

.Contact_1child{
    color: #aaa;
    text-align: right;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: normal;
    width: 90px;
}

.insert-contactdetails{
    margin-left: 20px;
}

.insert-profile-name{font-size: 15px;}

.Contact_2child{
    display: block;
    width: 170px;
    margin-left: 20px;
    text-align: left;
    word-wrap: break-word;
    font-weight: normal;
}

.inserthours-day{
    width:100px;
    margin-bottom: 5px;
}

.inserthours-time{
    width: 170px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.main_aboutus{
    text-align: left;
    padding: 20px 0;
    font-size: 15px;
    width: 100%;
    min-height: 650px;
    max-width: 800px;
    word-wrap: break-word;
    float: right;
}

.main_aboutus p{
    font-size: 100%;
}

.selected_image_style{
    opacity: 1;
    -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
    -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
    box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
    bottom: 5px;
    border: 7px solid #fff;
}




#addnew{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;

    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
}

#addnew:hover{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;

}


#exit-add-photos{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0px;
    margin: 13px 55px;
    color: #aaa;
}


#exit-add-photos:hover{

    color: #333;
}



/*SHOW ALBUM TEMPLATE STYLE*/

.photo_original_style{
    border-radius: 3px;
    width: 110px;
    margin: 5px;
    cursor: pointer;
}





.dragndropbox{
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    padding: 10px;
    overflow: auto;
    background-color: rgba(0,0,0,0.3);
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 13px;
    display: inline-block;
}

.rating span.star:hover {
    cursor: pointer;
}
.rating span.star {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
}

.rating span.star:hover:before, .rating span.star:hover~span.star:before {
    content: "\f005";
    color: #e3cf7a;
}
.rating span.star:before {
    content: "\f006";
    padding-right: 5px;
    color: #999999;
}




.profilesnew-table  .dropdownViewStyle{
    max-height: none;
    width: 500px;
}

/* style fix for edit screen  */
.profilesnew-table tbody tr td div.new-btn{top:0;}
.profilesnew-table tbody tr td{line-height:30px;}


.mustfull{
    display: block;
    color: #3B5998;
    text-align: center;
}

.no-resize{
    resize: none;
}





.tabs-left{
    vertical-align: top;
    background: -webkit-linear-gradient(top,rgba(0,0,0,.03),rgba(0,0,0,.01) 90%,rgba(0,0,0,0) 100%) no-repeat;
    background: -moz-linear-gradient(top,rgba(0,0,0,.03),rgba(0,0,0,.01) 90%,rgba(0,0,0,0) 100%) no-repeat;
    background: linear-gradient(top,rgba(0,0,0,.03),rgba(0,0,0,.01) 90%,rgba(0,0,0,0) 100%) no-repeat;
    width: 20%;
    float: left;
    padding-bottom: 200px;
    position: relative;
}

.tabs-left:after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background: -webkit-linear-gradient(top,rgba(222,222,222,1),rgba(222,222,222,0.5) 90%,rgba(222,222,222,0) 100%) no-repeat;
    background: -moz-linear-gradient(top,rgba(222,222,222,1),rgba(222,222,222,0.5) 90%,rgba(222,222,222,0) 100%) no-repeat;
    background: linear-gradient(top,rgba(222,222,222,1),rgba(222,222,222,0.5) 90%,rgba(222,222,222,0) 100%) no-repeat;
}

.nav-tabs > .active{
    border-top: 1px solid rgba(0,0,0,.16);
    border-right: 1px solid rgba(0,0,0,0.16);
    border-bottom: 1px solid rgba(0,0,0,.05);
    margin-bottom: -1px;
    position: relative;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255,255,255,1);
    background: rgba(0,0,0,0.05);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
    -ms-box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
    -o-box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
    box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
    color: #555;
}





.deletecomment-btn{
    cursor: pointer;
    color: #888;
    opacity: .6;
    text-shadow: 0 0 10px #fff;
    font-size: 11px;
    margin: 0 10px;
}

.deletecomment-btn:hover{
    opacity: 1;
}








/*SPINNER*/
#blurringTextG{
    width: 190px;
    margin: auto;
    position: relative;
    left: 0;
    right: 0;
    top: 40%;
}

.blurringTextG{
    color:transparent;
    font-family:Arial;
    font-size:13px;
    text-decoration:none;
    font-weight:bold;
    font-style:normal;
    float:left;
    text-shadow: #555555 0 0 0;
    -moz-animation-name:bounce_blurringTextG;
    -moz-animation-duration:2.31s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -webkit-animation-name:bounce_blurringTextG;
    -webkit-animation-duration:2.31s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -ms-animation-name:bounce_blurringTextG;
    -ms-animation-duration:2.31s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -o-animation-name:bounce_blurringTextG;
    -o-animation-duration:2.31s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    animation-name:bounce_blurringTextG;
    animation-duration:2.31s;
    animation-iteration-count:infinite;
    animation-direction:linear;
}

@-moz-keyframes bounce_blurringTextG{
    0%{
        text-shadow: #555555 0 0 0;
    }

    50%{
        text-shadow: #FFFFFF 0 0 20px;
    }

    100%{
        text-shadow: #555555 0 0 0;
    }

}

@-webkit-keyframes bounce_blurringTextG{
    0%{
        text-shadow: #555555 0 0 0;
    }

    50%{
        text-shadow: #FFFFFF 0 0 20px;
    }

    100%{
        text-shadow: #555555 0 0 0;
    }

}

@-ms-keyframes bounce_blurringTextG{
    0%{
        text-shadow: #555555 0 0 0;
    }

    50%{
        text-shadow: #FFFFFF 0 0 20px;
    }

    100%{
        text-shadow: #555555 0 0 0;
    }

}

@-o-keyframes bounce_blurringTextG{
    0%{
        text-shadow: #555555 0 0 0;
    }

    50%{
        text-shadow: #FFFFFF 0 0 20px;
    }

    100%{
        text-shadow: #555555 0 0 0;
    }

}

@keyframes bounce_blurringTextG{
    0%{
        text-shadow: #555555 0 0 0;
    }

    50%{
        text-shadow: #FFFFFF 0 0 20px;
    }

    100%{
        text-shadow: #555555 0 0 0;
    }

}



/*NEW SPINNER 2013/11/4*/

.spinner {
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    vertical-align: top;
    top: 7px;
    margin-right: 10px;
    border: 2px solid rgba(0,0,0,0.7);
    border-top-color: transparent;
    border-radius: 100%;
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -ms-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

.spinner:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: -5px;
    left: 0px;

    border: 4px solid transparent;
    border-bottom-color: rgba(0,0,0,0.5);

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
    to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes spin {
    to { -ms-transform: rotate(360deg); }
}

@-o-keyframes spin {
    to { -o-transform: rotate(360deg); }
}

@keyframes spin {
    to { transform: rotate(360deg); }
}


.spinner-sml{
    margin-left: 8px;
    width: 12px;
    height: 12px;
}

.spinner-sml:after{top: -6px;}



.loading {
    position: fixed;
    left: 47%;
    top: 38%;
    margin: -60px 0 0 -60px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    z-index: 11;
}
.loading:after {
    content: '';
    background: transparent;
    width: 140%;
    height: 140%;
    position: absolute;
    border-radius: 100%;
    top: -20%;
    left: -20%;
    opacity: 0.7;
    box-shadow: rgba(0, 0, 0, 0.4) -8px -4px 12px -5px;

    animation: rotating 3s linear infinite;
    -webkit-animation: rotating 3s linear infinite;
    -moz-animation: rotating 3s linear infinite;
    -o-animation: rotating 3s linear infinite;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}



.post-focus > div > div{box-shadow: 0 0 10px rgba(85,170,255,.8);}

.comment-namentime:hover > .edit-comment{opacity: 1;}

.edit-comment{font-size: 11px;top: 0;right: 0;position: absolute; opacity: 0;}
.edit-comment > i {cursor: pointer}

.select-profile-save{
    z-index: 100; 
    position: absolute; 
    border: 1px solid #ddd; 
    background-color: #fff; 
    right: 140px; 
    width: auto;
}

.select-profile-save:before{
    content: "";
    position: absolute;
    left: 117px;
    top: -19px;
    border-color: transparent transparent #f7f7f7 transparent;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    z-index: 0;
}

.select-profile-save:after{
    content: "";
    position: absolute;
    left: 117px;
    top: -20px;
    border-color: transparent transparent #ddd transparent;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    z-index: -1;
}





.gradient1{
    background: #f9f9f9; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyMiUiIHN0b3AtY29sb3I9IiNmOWY5ZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiNmNWY1ZjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f9f9f9 22%, #f5f5f5 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(22%,#f9f9f9), color-stop(99%,#f5f5f5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f9f9f9 22%,#f5f5f5 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f9f9f9 22%,#f5f5f5 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f9f9f9 22%,#f5f5f5 99%); /* IE10+ */
    background: linear-gradient(to bottom,  #f9f9f9 22%,#f5f5f5 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-8 */
}


.switch-container{
    position:absolute;
    top:0;
    line-height:45px;
    right:15px;
}
.switch-container > div {color:#333;}

.switch-btn {
    width: 20px;
    height: 20px;
    border: 1px solid #aaa;
    box-shadow: 0 5px 6px -3px #555;
    position: absolute;
    cursor: move;
    opacity: .8;
}

.switch-btn:hover{opacity: 1}

.switch-groove{
    width: 50px;
    height: 23px;
    border: 1px solid #aaa;
    border-radius: 20px;
    margin: 0 5px;
    vertical-align: middle;

    background: #E7E7E7;
}

.switch-groove:before{
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    position: absolute;
    margin-top: -10px;
    margin-left: 18px;
}

.Navigator-box .switch-groove:before{
    margin-left: 19px;
}








/*loading spinner*/




.spinner-box:nth-child(2n-1){
    background-color: rgba(0,0,0,0.05);
}

.spinner-box{
    display: inline-block;
    height: 200px;
    width: 33.3%;
    float:left;
    position: relative;
    /*margin:0 -4px -5px -2px;*/
    transition: all .2s ease;
}




/* MEDIA QUERIES */
@media (max-width: 700px){
    .spinner-box{
        width: 50%;
    }

    .spinner-box:nth-child(2n-1){
        background-color: inherit;
    }

    .spinner-box:nth-child(4n),.spinner-box:nth-child(4n-3) {
        background-color: rgba(0,0,0,0.05);
    }

}

@media (max-width: 420px){
    .spinner-box{
        width: 100%;
    }

    .spinner-box:nth-child(4n),.spinner-box:nth-child(4n-3){
        background-color: inherit;
    }

    .spinner-box:nth-child(2n-1){
        background-color:rgba(0,0,0,0.05);
    }

}



.loader2{
    position: relative;
    width: 5px;
    height: 5px;

    top: 49%;
    top: -webkit-calc(50% - 43px);
    top: calc(50% - 2.5px);
    left: 49%;
    left: -webkit-calc(50% - 43px);
    left: calc(50% - 2.5px);

    background-color: #555;
    border-radius: 50px;
}

.loader2:before{
    content: "";
    position: absolute;
    top: -12px;
    border-top: 3px solid #555;
    border-right: 3px solid #555;
    border-radius: 0 50px 0px  0;
    width: 11px;
    height: 11px;
    background-color: rgba(0, 0, 0, .1);
    -webkit-transform-origin:  0% 100%;
    transform-origin:  0% 100% ;
    -webkit-animation: loader2 1.5s linear infinite;
    animation: loader2 1.5s linear infinite;
}

.loader2:after{
    content: "";
    position: absolute;
    top: 2px;
    right: 2px;
    border-bottom: 3px solid #555;
    border-left: 3px solid #555;
    border-radius: 0 0px 0px  50px;
    width: 11px;
    height: 11px;
    background-color: rgba(0, 0, 0, .1);
    -webkit-transform-origin:  100% 0%;
    transform-origin:  100% 0% ;
    -webkit-animation: loader2 1.5s linear infinite;
    animation: loader2 1.5s linear infinite;
}



@-webkit-keyframes loader2{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes loader2{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}
