/* 
    Document   : user-css
    Created on : 18/06/2014, 2:59:30 PM
    Author     : Charis
    Description:
        Purpose of the stylesheet follows.
*/

.user-top{
    width:100%; 
    height: 120px; 
    display:block;
    opacity: 0;
}


.user-board{
    width: 87%;
    position: relative;
    margin: 0 auto 20px;
    left: 0;
    right: 0;
    min-width: 1060px;
    max-width: 1260px;
}

.user-board_left{
    background: white;
    width: 26%;
    display: inline-block;
    vertical-align: top;
    height: 500px;
    margin-right: 0.5%;
}

.user-board_right{
    background: white;
    width: 73%;
    height: 500px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}


.user-profilepic-container{
    width: 180px; 
    height: 180px; 
    margin: auto;
    margin-top: 40px;
    position: relative;
    display: block;
    border: 5px solid #f3f3f3; 
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius:50%;
    overflow: hidden;
}
.user-follow-style{
    margin: 30px auto 20px;
    display: block; 
    text-align: center;
}

.user-profilepic-container img{
   width: 180px;
   height: 180px; 
}

.user-profilepic-container:hover .changeuserprofilepic{
    opacity: 0.6;
}

.changeuserprofilepic > i{
    font-size: 35px;
    color: #fff;
    line-height: 180px;
    margin: auto;
    display: block;
    width: 35px;
}

.changeuserprofilepic{
    cursor: pointer;
    opacity: 0;
    background-color: #000;
    position: absolute;
    width: 170px;
    height: 170px;
    overflow:hidden;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius:50%;
}

.user-photo_left{
    float:left;
    width:100%;
}

