/* 
    Document   : user-css
    Created on : 18/06/2014, 2:59:30 PM
    Author     : Charis
    Description:
        Purpose of the stylesheet follows.
*/

.user-top{
    width:100%; 
    height: 120px !important; 
    display:block;
    opacity: 0;
}


.user-board{
    width: 87%;
    position: relative;
    margin: 0 auto 20px;
    left: 0;
    right: 0;
    min-width: 1060px;
    max-width: 1260px;
}

.user-board_left{
    background: white;
    width: 26%;
    display: inline-block;
    vertical-align: top;
    height: 500px;
    margin-right: 0.5%;
}

.user-board_right{
    background: white;
    width: 73%;
    height: 500px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}


.user-profilepic-container{
    width: 180px; 
    height: 180px; 
    margin: auto;
    margin-top: 40px;
    position: relative;
    display: block;
    border: 5px solid #f3f3f3; 
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius:50%;
    overflow: hidden;
}
.user-follow-style{
    margin: 30px auto 20px;
    display: block; 
    text-align: center;
    width: 100px;
}

.user-profilepic-container img{
    width: 180px;
    height: 180px; 
}

.user-profilepic-container:hover .changeuserprofilepic{
    opacity: 0.6;
}

.changeuserprofilepic > i{
    font-size: 35px;
    color: #fff;
    line-height: 180px;
    margin: auto;
    display: block;
    width: 35px;
}

.changeuserprofilepic{
    cursor: pointer;
    opacity: 0;
    background-color: #000;
    position: absolute;
    width: 170px;
    height: 170px;
    overflow:hidden;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius:50%;
}

.user-photo_left{
    float:left;
    width:100%;
}

.user-cover{
    height: 300px; 
    overflow: hidden;
}

.user-cover img{
    width:100%;
}

.user-cover:hover .edit-dashboard-btn{
    opacity: 1;
    box-shadow: 0 0 10px #fff;
}

.user-display-name{
    font-size: 26px;
    font-weight: bold; 
    line-height: 30px; 
    color: white;
    position: absolute;
    top: 245px;
    margin:0 30px;
    text-shadow: 0 0 10px #777;
}

.user-editor-content{
    height: 140px; 
    padding: 10px 20px;
    display: inline-block;
    position: relative;
    width: 100%;
}

#uploadStyleImg{
    display: none;
}

#uploadStyleImg img{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 40%;
    left: 62px;
}


/* interest BEGINS */
.show-interest{
    background-color: #f3f3f3;
    height: 30px;
    line-height: 33px;
    margin: 5px -20px 10px;
    padding: 0 20px;
}

.show-interest:hover{
    background-color: #fff;
}

.show-interest-style{
    font-weight: bold;
    line-height: 20px; 
    color: #777; 
    font-size: 17px;
    margin-bottom: 5px; 
    display:inline-block;
}

.show-interest-plus{
    height: 20px;
    line-height: 20px;
    margin:0;
}

.show-interest-plus i{
    font-size:13px;
    margin:0;
    padding:9px 10px;
}

.show-interest-up{
    float: right;
    padding: 7px;
}

.show-interest-button{
    text-align: center;
    right: 15px;
    position: relative;
}

.show-interest-button div i{
    position:absolute;
    top:0;
    left:0;
    width:33px;
    height:26px;
    line-height:26px;
    text-align:center;
}

.unvisible{
    color: #777;
    opacity: 0;
}

#interest_btn{cursor:pointer;}


#show_interest:hover .unvisible{
    opacity: .7
}

#show_interest
{
    position:absolute;
    top:298px;
    left:0;
    padding: 5px 20px 0;
    width: 100%;
    height: 200px;
    float:left;
    overflow: hidden;
    background: #F3F3F3;

}
div.profile-picture-active
{
    margin:5px 12px 0 20px!important;
    width:50px!important;
    height:50px!important;
    z-index:1!important;
    float:left!important;
    border-width:4px!important;
    position:absolute;
}
div#profile-picture.profile-picture-active > img{
    min-width:50px;
    min-height:50px;
    max-height:53px;
    max-width: 53px;
    margin:-4px 0 0 -4px;
}
#profile-picture > img{
    margin-left:-5px;
    min-width:180px;
    min-height:180px;
    max-width:235px;
    max-height:235px;
}

.follow-btn-active
{
    float: right!important;
    top: 13px!important;
    margin: 0 20px 0 0!important;
    width: auto !important;
}

textarea.add-interests{
    max-width:100%;
}

.user-profilepic-container > div#change_profile{max-width:100%;max-height:100%;}

.interesttags-container{width: 100%;height: 100px;line-height: 25px;padding: 0 0 0 0;margin-top: -5px;overflow: hidden;}

.interest-textarea{width: 100%;margin-bottom: 5px;height: 70px;}

.interest-insert-hint{
    display: none;
    height: 80px; 
    width: 100%; 
    border-radius: 6px; 
    border: 1px solid #999;
    background-color: rgba(30,30,30,.3); 
    color: #fff;
    line-height: 15px;
    text-align: center;
    font-weight: bold;

    margin: 5px auto 15px;
    padding: 6px 20px;
    font-size: 12px;
}

/* interest ENDS */



/* --------user photo edit ---------------*/

.user-picture-edit{
    display:block;height: 420px;
    top: 0;
    background-color: #fff;
    padding: 0;
    overflow: hidden
}

.user-picture-upload-box{
    height: 400px;
    width: 93%;
    position: absolute;
}

.user-picture-upload-box > i {
    width: 40px;
    margin: auto;
    display: block;
    position: relative;
    top: 125px;
}

.user-picture-span-font{
    display: block;
    position: relative;
    font-size: 20px;
    top: 140px;
    cursor: default;
    font-weight: bold;
    line-height: 25px;
    margin-left:0px;
}

.user-picture-span-size{
    font-size: 16px;
    display: block;
    line-height: 18px;
    position: relative;
    top: 240px;
    margin-left:0px;
}

.user-picture-upload-box > div{
    position: absolute;
    vertical-align: top;
    text-align: center;
    width: 100%;
    height: 398px;
    top: 0;
    line-height: 345px;
    background-color: Rgba(30,30,30,.2);
}

.user-picture-upload-box > div > div > img{
    max-width: 170px;
    max-height: 170px;
}


.user-picture-img-button{
    text-align: center;
    height: 75px;
    line-height: 85px;
    background-color: #f3f3f3;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.user-picture-img-button-choose{
    margin: 28px 10px;
    width: 83px;
    float: left;
}

.user-picture-img-button-choose > div{
    opacity:0;
    position: absolute;
    top: 0px;
    left: 0;
    width: 85px;
    overflow: hidden;
}

.user-picture-img-button-crop{
    margin: auto 10px;
    width: 150px;
    float: right;
}

.user-picture-img-crop-title{
    position:relative;
    height: 85px;
    width: 100%;
    background-color: #fafafa;
    text-align: left;
    color: #555;
    padding: 10px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
}

.user-picture-img-crop-title-icon{
    position: relative;
    display: inline-block;
    font-size: 40px;
    margin: 10px 0;
    vertical-align: top;
}

.user-picture-img-crop-title-name{
    position: relative;
    display: inline-block;
    margin: 15px 10px;
    font-size: 20px;
    line-height: 25px;
    width: 75%;
}

.user-picture-crop-container{
    width: 300px;
    height: 350px;
    text-align: center;
    margin: 10px auto
}

.user-picture-crop-container canvas{
    max-width: 300px;
    max-height: 350px;
    width: auto;
    height: auto;
}

.user-picture-crop-button{
    margin: auto;
    width: 150px;
}


/* ----------------user edit -------------*/

.user-edit-title{
    font-size: 25px; 
    color: #555; 
    text-align: center;
    font-weight: bold;
    margin: auto;
}

.user-cover-edit{
    display:block;
    height: 345px;
    width: 100%;
    top: 0;
    background-color: #fff; 
    padding: 0;
    overflow: hidden;
    position: relative; 
}

.user-edit-upload-box{
    height: 335px; 
    width: 95%;
    position: absolute; 
}

.user-edit-upload-box i{
    width: 40px;
    margin: auto;
    display: block;
    position: relative;
    top: 110px; 
}

.user-edit-upload-box-span-font{
    display: block; 
    position: relative;
    line-height: 30px;
    font-size: 30px;
    top: 115px; 
    cursor: default;  
    font-weight: bold;
    margin-left:0px;
    float: none; 
}

.user-edit-upload-box-span-size{
    font-size: 16px;
    display: block;
    line-height: 25px;
    top: 210px;
    position: relative;
    margin-left:0px;
    float: none; 
}

.user-edit-upload-box > div{
    position: absolute;  
    vertical-align: top; 
    text-align: center;
    width: 100%;
    height: 333px;
    top: 0;
    line-height: 333px;
    background-color: Rgba(30,30,30,.2); 
}

.user-edit-upload-box > div > div > img{
    max-width: 170px;
    max-height: 170px;
}

.user-edit-buttons{
    text-align: center;
    height: 75px;
    line-height: 85px;
    bottom: 0;
    position: relative;
    width: 98%;
}
.user-edit-crop-button{
    margin: auto;
    width: 250px;
    float: right;
}

.user-edit-choose-button{
    margin: 28px 20px;
    width: 83px; 
    float: left;
}

.user-edit-choose-button > div{
    opacity:0;
    position: absolute;
    top: 0px;
    left: 0;
}

.useredit-table{
    padding-right: 147px; 
    width: 100%; 
    font-size: 14px;  
    display: table; 
    border-spacing: 4px;
    margin:10px auto;
}

.useredit-table-row{
    text-align: right;
}


/*-----------------user talk --------------*/
.user-talk-main-container{
    z-index: 11; 
    position: fixed; 
    width: 545px; 
    margin: 10px auto; 
    border-radius:5px; 
    overflow: hidden; 
    background-color: rgb(255, 255, 255); 
    top: 25%; 
    left: 0px;
    display: block;
    right: 0;
    box-shadow: 0 0 5px #fff;
}
.user-talk-main-top{
    background-color: #f3f3f3; 
    width:100%;
    height: 70px; 
    border-bottom: 1px solid #ddd;
    padding: 0 20px;
}

.user-talk-main-top-img {
    line-height: 70px;
    float: left;
}
.user-talk-main-top-img > img{
    float: left; 
    margin: 12px; 
    box-shadow: 0 0 3px #888;
    border: 1px solid #f3f3f3;
    width: 45px;
    height: 45px;
     border-radius: 50%;
}

.user-talk-main-top-name {
    padding: 16px;
    float: left
}

.user-talk-display-name{
    color: #555;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
}

.user-talk-desc{
    font-size: 12px;
    color: #555;
    line-height: 20px;
}

.user-talk-textarea{
    width: 100%;
    padding: 20px 6.5%;
    margin: 0 auto;
    overflow: hidden;
}

.user-talk-textarea div{
    margin: 0;
    width: 100%; 
    height:200px;
}

.user-talk-upload-photo{
    background-color: rgba(0,0,0,.2);
    max-width: 100%;
    max-height: 100px;
    padding: 10px 12px;
    text-align: center;
}

.user-talk-upload-photo img{
    max-width: 100%; 
    max-height: 80px;
}

.user-talk-buttons{
    height: 41px;
    position: relative;
    border-top: 1px solid #ddd;
    bottom: 0;
    width: 100%;
}

.user-talk-cancel{
    width: 33%;
    height: 40px;
    line-height: 40px;
}

.user-talk-add-photo{
    border-right: 1px solid #ddd; 
    border-left: 1px solid #ddd;
    width: 34%; 
    height: 40px; 
    line-height: 40px;
}

.user-talk-add-photo div{
    opacity:0;
    position: relative;
    height:30px;
    top:-30px;
    overflow: hidden;
}

.user-talk-send{
    width: 33%;
    height: 40px;
    line-height: 40px;
}

.user-talk-spinner{
    top: 12px;
}

/* ---------------- user post -----------*/

.user-post-background{
    background-color: #fafafa;
}

.user-post-title{
    height: 50px;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.user-post-container{
    width: 98%;
    padding: 15px 10px;
    margin: 0 auto;
    border-bottom: 1px solid #ddd;
    min-height: 165px;
}

.user-post-wrapper{
    margin:0 auto;
    padding: 0 0 0 56px;
}

.user-post-angle{
    left: 55px;
}

.user-post-img{
    width: 45px;
    height: 45px;
    float: left;
    margin: 4px 0 0 -60px;
    margin-top: 0;
}

.user-post-content{
    width: 100%;
    border-radius: 2px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.user-post-content-textarea{
    margin: 0;
    width: 100%;
    height:100px;
}

.user-post-content-upload-photo{
    max-width: 100%;
    max-height: 100%;
    padding: 10px 12px;
    text-align: center;
    border-top: 1px solid #ddd;
}

.user-post-content-upload-photo img{
    max-width: 100%;
    max-height: 80px;

}

.user-post-content-button{
    height: 30px;
    position: relative;
    border-top: 1px solid #ddd;
    top: -1px;
}

.user-post-content-button-add-photo-back{
    opacity:0;
    position: relative;
    height:30px;
    top:-30px;
    overflow: hidden;
}

.user-about-us{
    font-size:15px;
    line-height: 20px;
    margin: 5px 20px;
    color: #888;
}

.user-about-us-title{
    margin-bottom: 5px;
    display: inline-block;
    font-size: 18px;
    padding:0;
}

.user-about-us-title i{
    margin-right: 10px;
    display: inline-block;
}

.user-about-us-textarea{
    height: 100px;
    border-radius: 3px;
}

.user-about-us-button{
    right: 40px;
    bottom: -49px;
    position: absolute;
}

.limit_about_us{
    word-wrap: break-word;
}

.user-about-us-share{
    margin: 10px 30px;
    width:600px;
    height: 40px;
    position:relative;
    overflow: hidden;
}

/* -----------user following and follower-----------*/

.user-following-profile-hero{
    position:relative;
    height: 100px;
    overflow: hidden;
    line-height: 0;
}

.user-following-profile-hero img{
    width:100%;
}

.user-following-position{
    text-align: center;
}

.user-following-profile-pic{
    cursor:pointer;
    width: 100px;
    position: relative;
    top: -50px;
    line-height: 100px;
    display: block;
}

.user-following-profile-pic a img{
    width:100%;
}

.user-following-profile-name{
    position:relative;  
    line-height: 18px;
    margin: -40px auto 5px;
    width: 150px;
}

.user-following-profile-name span{
    font-size: 13px;
    line-height: 15px; 
    text-shadow: 0 1px 0 rgba(255,255,255,0.8); 
    font-weight: bold;
}

.user-follow-style-top{
    margin: 15px auto;
    width: auto;
    display: block;
    text-align: center;
}

.user-following-location-link{
    position:relative; 
    background-color: #f3f3f3; 
    height: 25px; 
    width:100%;
    margin-top: 10px;
}

.user-following-location-link > ul
{
    font-size: 12px;
    height: 20px;
    margin: 2px auto;
    width: 100%;
    line-height: 10px;
}

.user-following-location-link > ul > li{
    padding: 0 5px;
}

.user-following-user-pic{
    position:relative; 
    top: -50px;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: 2px solid #f3f3f3;
}

.user-following-user-pic a img{
    width: 100px;
    height: 100px;
}

.user-following-user-name{
    position: relative;
    line-height: 15px;
    margin: -40px auto 5px;
    overflow: hidden;
    width: 150px;
}

.user-following-user-name span{
    font-size: 15px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8); 
    font-weight: bold;
}

/*--------------------user status ------------*/

.status-container{
  color:#555; background-color: #fff  
}

.status-warapper{
    padding: 20px;text-align: center;
}

.status-message{
   margin-bottom: 25px; 
}

.status-message div{
    margin: 10px auto;
    width: 160px;
    background-color: #000;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    padding: 5px 15px;
    border: 1px solid #aaa;
    color:#fff
}

.status-user-pic{
  margin:0 0 10px;
   position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.status-user-pic a img{
    box-shadow: 0 1px 2px #555;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    border: 1px solid #f3f3f3;
}


/* editCollection.hbs */
.upload-area{
    display: none;
}
.createNew{
    color: #333; 
    font-size: 20px; 
    font-weight: bold; 
    text-align: center; 
    margin: 5px 0 0;
}

.updateCollection{ 
    display: none;
}

.createNetwork{
    width: 80%;  
    margin: auto;
}

.createNetwork-link{
    font-size: 16px;
    font-weight: bold;
    color: #555; 
    line-height: 25px;
}

.createNetwork-preview{
    margin: auto; 
    vertical-align: top;
    width: 80%;
    left: 0;
    right: 0;
    position: relative;
}

.createNetwork-preview-inner{
    height: 180px; 
    overflow: hidden;
    width: 100%;
    line-height: 180px;
    text-align: center;
    margin-top: 5px;
}

.createNetwork-preview-inner img{
    max-height: 100%; 
    padding: 10px; 
    background-color: rgba(0,0,0,0.03);
}

.create-discription{
    font-size: 16px;
    font-weight: bold;
    color: #555; 
    line-height: 25px;
}

.create-discription-input{
    height: 150px;
}

.editCollection-action{
    margin-top: 0px;
    height: 60px;
}

.editCollection-updates{
    position: relative; 
    right: 15px;
    margin-top: 8px;
    float: right;
}

.editCollection-cancel{
    right: 0;
}

.editCollection-update{
    right:0; 
    display: none;
}

.editCollection-updates2{
    float: right; 
    margin: 5px 20px;
}

.editCollection-add{
    right:0;
}

/* invitePeople.hbs */
.invitepeople-container{
    z-index: 11; 
    position: fixed; 
    width: 545px; 
    margin: 10px auto; 
    border-radius:5px; 
    overflow: hidden; 
    background-color: rgb(255, 255, 255); 
    top: 25%; 
    left: 0px;
    display: block;
    right: 0;
    box-shadow: 0 0 5px #fff;
}

.invitepeople-title-box{
    height: 50px; 
    width: 100%;
    position: relative; 
    border-bottom: 1px solid #ddd; 
    background-color: #f3f3f3;
    padding: 0 15px;
}

.invitepeople-title{
    color: #555; 
    font-size: 15px; 
    line-height: 50px; 
    font-weight: bold; 
    float: left;
    margin-left: 20px;
}

.invitepeople-search{
    font-size: 15px; 
    line-height: 50px; 
    font-weight: bold; 
    width: 50px;
    height: 49px;
}

.invitepeople-display-container{
    position: relative; 
    width: 100%;
    min-height: 100px;
    max-height: 520px;
    padding: 0 45px;
}

.invitepeople-spinner{
    position: relative; 
    width: 100%;
    text-align: center;
    height: 190px;
    padding-top: 70px;
    float: left;
}

.invitepeople-isadded{
    opacity: .8;
}

.invitepeople-profileimg{
    box-shadow: 0 0 3px #888;
    border: 1px solid #f3f3f3;
    width: 45px;
    height: 45px;
}

.invitepeople-action-container{
    height: 41px;
    position: relative;
    border-top: 1px solid #ddd;
    bottom: 0;
    width: 100%;
    display: block;
    clear: both;
}

.invitepeople-action{
    font-size: 15px; 
    height: 40px; 
    line-height: 40px;
}

.invitepeople-cancel{
    border-right: 1px solid #ddd;
}

.invitepeople-action-span{
    position: relative;
    margin-left: 0px;
    float: none;
}

.invitepeople-action-plus{
    position: absolute;
    font-size: 8px;
    top: 8px;
    left: 10px;
    color: white;
    background-color: #333;
    height: 12px;
    width: 12px;
    line-height: 11px;
    border: 1px solid #fff;
    border-radius: 50%;
}


/* messageCenter.hbs */
.messagecenter-unreadcount{
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 15px;
    width: auto;
    padding: 0 5px 0 4px;
    height: 15px;
    background-color: red;
    line-height: 15px;
    border-radius: 2px;
    font-size: 11px;
    font-weight: bold;
    color: white;
}
.messagecenter-container{
    background-color: #f3f3f3; 
    width:100%;
    height: 70px; 
    border-bottom: 1px solid #ddd;
    padding: 0 20px;
}

.messagecenter-title{
    color: #555;
    font-size: 18px;
    line-height: 70px;
    font-weight: bold;
    float: left;
}

/* editReply.hbs */
.editreply-container{
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.editreply-innercontainer{
    margin:0 auto; 
    padding: 0 45px 0 0;
}

.editreply-reply{
    width: 100%;
    height: 32px;
}

.editreply-input{
    margin: 0;
    width: 210px; 
    height: 30px;
    float: left;
}

.editreply-edit{
    float: right;
    height: 34px;
    position: relative;
}

.editreply-addimg{
    width:30px; 
    border-right: 1px solid #ddd; 
    border-left: 1px solid #ddd;
}

.editreply-imgbtn{
    opacity:0;
    position: relative;
    height:30px;
    top:-30px;
    overflow: hidden;
}

.editreply-reply-w{
    width: 30px;
}

/* editMessage.hbs */
.editMessage-container{
    width: 98%;
    padding: 15px 10px;
    margin: 0 auto;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}

.editMessage-innercontainer{
    margin:0 auto; 
    padding: 0 0 0 50px;
}

.editMessage-img{
    width: 45px; 
    height: 45px;
    float: left; 
    margin: 4px 0 0 -50px; 
    margin-top: 0; 
}

.editMessage-input-container{
    width: 100%; 
    border-radius: 2px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.editMessage-inputbox{
    margin: 0;
    width: 100%; 
    height:100px;
}

.editMessage-addimg{
    max-width: 100%;
    max-height: 100px;
    padding: 10px 12px;
    text-align: center;
    border-top: 1px solid #ddd;
}

.editMessage-addimg img{
    max-width: 100%; 
    max-height: 80px;
}

.editMessage-actioncontainer{
    height: 30px;
    position: relative;
    border-top: 1px solid #ddd;
    top: -1px;
}

.editMessage-action-addphoto{
    border-right: 1px solid #ddd;
}

.editMessage-action-add{
    opacity:0;
    position: relative;
    height:30px;
    top:-30px;
    overflow: hidden;
}

/* itemFunction.hbs */
.itemfunction-add{
    display: none;
}

.itemfunction-icon-position{
    float: left;
}

.itemfunction-font{
    font-size: 11px;
}

.itemfunction-icon{
    padding:10px;
}

.itemfunction-share-container{
    width: 150px; 
    margin: 0 auto; 
    top: 35px; 
    left:45px; 
    position: absolute;
}

.itemfunction-clikearea{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:-1;
}

/* notification */

.notification-content{
    padding: 15px 0 0 95px;
    position: relative;
}

.notification-content a{
    position: absolute; 
    top: 18px;
    left: 42px;
}

.notification-content a img{
    border-radius: 50%; 
    width: 40px; 
    height: 40px; 
    border: 1px solid #f3f3f3;
}

.notification-name{
    display: inline-block; 
    vertical-align: top; 
    font-size: 13px;
}

notification-context{
     width: 387px;
     height: 35px;
     text-overflow: ellipsis;
}

.notification-preview-tag{
    left: 95px;
    position: relative;
    top: 10px; 
    float: left;
}

.notification-buttons{
    right: 60px;
    position: relative;
    top: 10px; 
    float: right;
}


.notification-edit-buttons{
    right: -135px;
    position: relative;
    float: right;
    top: -25px;
}

.notification-edit-buttons-before{
    right: 25px;
    position: relative;
    float: right;
    top: -25px;
}

/* item.hbs */
.item-authentic-block{
    position: absolute;
    margin: 10px; 
    top: 11px;
    left: 150px;
}

.item-edit-box{
    right: 40px;
}

.item-title{
    font-weight: bold;
    margin-bottom: 5px;
    font-size:16px;
    word-break: break-word;
    text-transform: capitalize;
}

.reset-margin{
    margin:0;
}

.item-hoverarea{
    cursor: pointer;
    position: absolute;
    width: 70px;
    height: 70px;
    border: 2px solid #fff;
    line-height: 66px;
    text-align: center;
    color: #fff;
    font-size: 25px;
    margin: 90px auto;
    left: 136px;
    right: 0;
    box-shadow: 0 0 10px #f3f3f3;
    z-index: 1;
}

.item-videoplay{
    margin-left: 5px;
    text-shadow: 0 0 10px #f3f3f3;
}

.item-edit-area{
    position: absolute;
    margin: 10px; 
    top: 11px;
    left: 150px;
}

.item-edit-action{
    font-size: 16px; 
    margin: 0px 5px;
}

.item-edit-delete{
    right: 40px;
}

.item-wordbreak{
    word-break: break-word;
}

.item-article{
    font-size: 13px; 
    max-height: 50px;
}

.item-pdf-icon{
    margin-left: 5px;
    text-shadow: 0 0 10px #f3f3f3; 
    color:#fff; 
    font-size:50px;
}

.item-pdf-title{
    font-style:italic;
}

.item-article-overflow{
    text-overflow: ellipsis;
}

.item-txt-auto{
    width: auto;
}

/* message.hbs */
.message-replyedit-container{
    padding: 15px;
}

.message-topreply{
    padding: 10px 0 10px 70px;
    position: relative;  
    background-color: #f3f3f3;  
    border-bottom: 1px solid #ddd;
}

.message-modify{
    float: right;
    color: #888;
    margin: 18px 20px;
    font-size: 13px; 
    position: relative;
    z-index: 1;
}

.message-deleteicon{
    margin: 0 10px; 
    cursor: pointer;
}

.message-profileimg{
    position: absolute; 
    top: 15px;
    margin: 0 0 0 -55px;
    border: 1px solid #f3f3f3;
    width: 45px;
    height: 45px;
    overflow: hidden;
}

.message-profileimg img{
    width: 45px; 
    height: 45px;
}

.message-title{
    margin: 8px 0; 
    z-index: 0;
}

.message-content-imgContainer{
    font-size: 12px;
    margin: 10px 20px;
}

.message-content-imgbox{
    margin: 5px auto;
    max-width: 300px;
    max-height: 300px;
}

.message-content-imgbox img{
    border: 4px solid #fff;
}

.message-post-reply{
    padding:10px 0;
}

.message-replytimename{
    margin-left: 70px;
    width: 270px;
}

.message-post-action{
    left: 240px;
    right: initial;
    top: 20px;
}

.message-post-img{
    margin: 5px auto;
    max-width: 300px;
    max-height: 300px;
}

.message-post-action img{
    border: 4px solid #fff;
}

