/*BASIC STYLE*/
a {
    color: #333 ;
    text-decoration: none;
}

a:visited{color: #555}

a:hover , a:focus {color: #aaa;}


#master_bg
{
    background:#fff url('../images/bgtexture.png') repeat;
    width:100%;
    height:100%;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
}

.dropdownicon{
    position: absolute;
    right: 15px;
    top: 15px;
}

.dropdownicon > i{
    height: 16px;
    width: 16px;
    font-size: 16px;
    overflow:hidden;
}

.easing {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.hover-opacity{opacity:.6; }
.hover-opacity:hover, .hover-opacity:focus, .hover-opacity:active{opacity:1}



/* flip item                     **************************************************/
/* flip item                     **************************************************/
/* flip item                     **************************************************/
.panel {
    float: left;
    width: 200px;
    height: 200px;
    margin: 20px;
    position: relative;
    font-size: .8em;

    -webkit-perspective: 600px;
    -moz-perspective: 600px;
}



.square-button{
    width: 45PX;
    height: 45px;
    float: left;
    color: #333;
    line-height: 48px;
    font-size: 15px;
    text-align: center;
    opacity: .6;
    cursor: pointer;
}

.square-button:hover{opacity: 1}


/* -- make sure to declare a default for every property that you want animated -- */
/* -- general styles, including Y axis rotation -- */
.panel .front {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: auto;
    height: auto;
    border-radius: 3px;
    background: #fff;
    text-align: center;



    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.9);
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.9);
    box-shadow: 0 1px 5px rgba(0,0,0,0.9);

    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;

    -moz-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;

    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}




.panel.flip .front {
    z-index: 900;
    height: 0;
    overflow: hidden;

    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);

    -moz-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
}

.panel .back {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 800;
    width: inherit;
    height: inherit;

    -webkit-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;

    -moz-transform: rotateY(-180deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;

    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.panel.flip .back {
    z-index: 1000;
    background: #fff;

    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);

    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
}

/* -- X axis rotation for click panel -- */
.click .front {
    cursor: pointer;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
}
.click.flip .front {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
}
.click .back {
    cursor: pointer;
    -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
}
.click.flip .back {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
}

/* -- contact panel -- */
.contact {
    width: 290px;
    height: 240px;
}

/* -- diagonal axis rotation -- */
.diagonal .front {
    -webkit-transform: rotate3d(45,45,0,0deg);
    -moz-transform: rotate3d(45,45,0,0deg);
}
.diagonal .front:hover {
    /* for the patient :) */
    -webkit-transition-duration: 10s;
    -moz-transition-duration: 10s;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;

    -webkit-transform: rotate3d(45,45,0,-36deg);
    -moz-transform: rotate3d(45,45,0,-36deg);
}

.diagonal.flip .front,
.diagonal.flip .front:hover {
    -webkit-transform: rotate3d(-45,-45,0,150deg);
    -moz-transform: rotate3d(-45,-45,0,150deg);

    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.diagonal .front .message {
    opacity: 0;
    font-size: 1.4em;
}
.diagonal .front:hover .message {
    opacity: .4;
    -webkit-transition-duration: 12s;
    -moz-transition-duration: 12s;
    -webkit-transition-delay: 4s;
    -moz-transition-delay: 4s;
    -webkit-transform: translateX(-30px) translateZ(40px) scale(1.4);
    -moz-transform: translateX(-30px) translateZ(40px) scale(1.4);
}
.diagonal.flip .front .message {
    -webkit-transition-duration: 1s;
    -webkit-transform: translateZ(0px) scale(.5);
}

.diagonal .back {
    -webkit-transform: rotate3d(45,45,0,-180deg);
    -moz-transform: rotate3d(45,45,0,-180deg);
}
.diagonal.flip .back {
    -webkit-transform: rotate3d(45,45,0,-30deg);
    -moz-transform: rotate3d(45,45,0,-30deg);
}

/* -- swing like a gate -- */
.swing .front,
.swing .back {
    width: 140px;
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transform-origin: 170px 0;
    -moz-transform-origin: 170px 0;
}
.swing .front {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
}
.swing .back {
    background-color: #555; /* hiding this side, so get darker */
    -webkit-transform: rotateY(-180deg) translateX(198px) translateZ(2px);
    -moz-transform: rotateY(-180deg) translateX(198px) translateZ(2px);

}

.swing.flip .front {
    background-color: #222; /* hiding this side, so get darker */
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}
.swing.flip .back {
    background-color: #80888f;
    -webkit-transform: rotateY(0deg) translateX(198px) translateZ(2px);
    -moz-transform: rotateY(0deg) translateX(198px) translateZ(2px);
}


/* -- cosmetics -- */
.panel .pad {padding: 0 15px; }
.panel.flip .action {display: none; }
.block ol li {text-align: left; margin: 0 0 0 28px; }
.block .action {display: block; padding: 3px; background: #333; text-align: right; font-size: .8em; opacity: 0; position: absolute; cursor: pointer; -webkit-transition: opacity .2s linear; }
.block:hover .action {opacity: .7; }
.circle div {border-radius: 100px; }
.circle div h2 {padding-top: 3em; text-align: center; }

/* flip item                     **************************************************/
/* flip item                     **************************************************/
/* flip item                     **************************************************/





.object-tags-box{
    -webkit-transition: box-shadow .218s ease,background-color .218s ease,max-width .218s step-end;
    transition: box-shadow .218s ease,background-color .218s ease,max-width .218s step-end;
    margin: 15px 0 0 0;
    max-width: 5%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    opacity: 0;
}

.object-tags-box:hover{opacity: 1 !important;}

.object-tags-box div{position:relative;z-index:100;}
.object-tags{
    clear: both;
    height: 26px;
    line-height: 26px;
    word-wrap: normal;
    position:relative;
    z-index:2;
    margin:1px;
}

.tags-mark{
    float: right;
    height: 26px;
    margin-right: -4px;
    padding-right: 4px;
    width: 0;
}

.tags{
    margin: 0 -2px 1px 0;
    color: #fff;
    display: block;
    float: right;
    max-width: 180px;
    /*overflow: hidden; this was removed for the tool tips 3/10/13 */
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #427fed;
    opacity: .6;
    cursor: pointer;
}

.tags:hover{
    color: white;
    background-color: #427fed;
    box-shadow: 0px 0px 8px #555;
    opacity: 1;
}

.tags-new{
    display: inline-block;
    font-weight: bold;
    padding: 0 10px;
    font-size: 12px;
    vertical-align: top;
    margin-right: -4px;
}
.object-tags-box .hint--top:after, .object-tags-box .hint--left:after
{
    background:#fff;
    border-color:#fff;
    color:#666;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    text-shadow:0 0 0;
}
.object-tags-box .hint--left:before
{
    border-left-color:#ccc!important;
}
.object-tags-box .hint--top:before
{
    border-top-color:#ccc!important;
}

.hashtags{
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    background-color: #FFF;
    color: #333;
    font-size: 11px;
    font-weight: bold;
    padding: 1px 7px;
    display: inline-block;
    line-height: 18px;
    white-space: nowrap;
}

.remove-hashtages{
    display: inline-block;
    opacity: .6;
    vertical-align: top;
    cursor: pointer;
    font-family: 'Helvetica', sans-serif;
    padding: 0px 0 0 8px;
    font-style: normal;
}

.remove-hashtages:hover{
    opacity: 1;
}


.object-type{
    display: inline-block;
    text-align: center;
    background-color: #427fed;
    color: white;
    border-bottom: 2px solid #427fed;
}

.object-type:hover{
    border-bottom: 2px solid #fff;
    opacity: 1;
}

.tagsappear{
    overflow: hidden;
}

.tagsappear:hover{
    opacity: 1;
}

.object-type > i {
    padding: 10px;
}



/*MANSONRY OBJECT STYLE*/

/*MANSONRY user OBJECT STYLE*/
.masonry-object_profile-pic{
    height: 165px;
    position: relative;
}

.masonry-object_username{
    border-top: 1px solid #e5e5e5;
    -webkit-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
    background-color: #f8f8f8;
}

.object-username{
    overflow: hidden;
    font-weight: bold;
    color: #777;
    font-size: 13px;
    margin: auto;
    width: 95%;
    padding: 10px 0;
    text-align: center;
}

.usersobject-hover{
    width: 163px;
    height: 163px;
}

.selected-topic{
    width: 300px;
    height: 300px;
    opacity: 1;
    position: absolute;
    z-index: 1;
}

.usersobject-hoverarea{
    width: 100px;
    height: 120px;
    opacity: 0;
    position: absolute;
    z-index: 1;
}

.usersobject-hoverarea:hover{
    opacity: 1;
}


.usersobject-hoverarea_bg{
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.7;
    z-index: 2;
    position: absolute;
    border-radius: 3px 3px 0 0;
}

.object-followbtn-position{
    opacity: 0;
    z-index: 6;
    left: 55px;
}

.usersobject-hover:hover .object-followbtn-position{
    opacity: 1;
}

.item-function-control{
    position: absolute;
    z-index: 1;
    top: 15px;
    line-height: 30px;
    background-color: #427fed;
    opacity: 0;
    cursor: pointer;
    height: 30px;
}

.item-function-control:hover{opacity: 1!important}
.col2:hover .item-function-control{opacity: .6}
.col2:hover .object-tags-box{opacity: .6}

/*MANSONRY user OBJECT STYLE               END*/


/*MANSONRY addnew OBJECT STYLE*/

.add-new-object-hoverarea{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 0;
    color: white;
    text-align: center;
    font-size: 68px;
    padding: 135px;
    border-radius: 3px;
    margin-top: -5px;
}

.add-new-object-hoverarea:hover{
    opacity: .7;
}

.add-new-object-content{
    width: 337px;
    height: 337px;
    background-color: rgb(242,240,240);
    padding: 60px;
    margin: 5px;
}

.add-new-object-content > i{
    font-size: 69px;
    padding: 16px;
    display: inline-block;
    text-shadow: 1px 1px 0px #fff, -1px -1px 0px #333;
    color: #555;
}

.controlbtn-field{
    border-top: 1px solid rgba(0,0,0,0.05);
    border-bottom: 1px solid rgba(0,0,0,0.05);
    background: -webkit-linear-gradient(top,rgba(0,0,0,.03),rgba(0,0,0,.01) 90%,rgba(0,0,0,0) 100%) no-repeat;
    background: -moz-linear-gradient(top,rgba(0,0,0,.03),rgba(0,0,0,.01) 90%,rgba(0,0,0,0) 100%) no-repeat;
    background: linear-gradient(top,rgba(0,0,0,.03),rgba(0,0,0,.01) 90%,rgba(0,0,0,0) 100%) no-repeat;
}

.controlbtn{
    text-align: right;
    padding: 15px 0;
    width: 200px;
    display: block;
    position: relative;
    margin: auto;
    left: 25%;
}


/*MANSONRY album OBJECT STYLE*/

.albumcover-container{
    display: block;
    width: 338px;
    height: 345px;
    overflow: hidden;
    margin: 5px;
}
.albumcover-container > div{
    float:left;
    width:1000px;
    margin-left:-331px;
    height:335px;
    text-align:center;
}

div.album-description{
    position: absolute;
    width: 100%;
    margin: auto;
    color: white;
    text-align: center;
    top: 25.5%;
    padding:2% 5px;
    z-index: 2;
    vertical-align: middle;
    word-wrap: normal;
    line-height: 24px;
    height:45%;
    overflow:hidden;
}
table.album-description, table.album-description-bg{

    width: 100%;
    height:100%;
    margin: auto;
    color: white;
    text-align: center;
    padding:5px;
    z-index: 2;
    vertical-align: middle;
    word-wrap: normal;
    line-height: 24px;
    overflow:hidden;
    position:absolute;
    top:0;
    left:0;
}
table.album-description-bg td, table.album-description td{

    max-height:80%;
    overflow:hidden;
}
table.album-description-bg td > div, table.album-description td > div{float:left;width:100%;padding:2% 5px;}
table.album-description-bg td > div{background:#000;opacity:.7;}

div.album-description-bg{
    text-align: center;
    position: absolute;
    width: 100%;
    margin: auto;
    opacity: 0.7;
    background-color: black;
    top: 25.5%;
    padding: 2% 5px;
    z-index: 1;
    word-wrap: normal;
    line-height: 24px;
    box-shadow: 0 0 20px 4px #000;
    height:45%;
    overflow:hidden;

    /* may need to delete this element in the template */
}

.album-description > table, .album-description-bg > table{
    float:left;
    width:100%;
    height:96%;
    overflow:hidden;

}


.album-description-hoverarea{
    width: 100%;
    height: 340px;
    position: absolute;
    opacity: 0;
}

.album-description-hoverarea:hover{
    opacity: 1;
}

.albumcover{
    /*min-width: 335px;
    max-width:335px;
    min-height: 335px;
 */
     min-height:335px;
     max-height:345px;
     min-width:338px;
     
    } 

.album-info{
    padding: 15px 10px 5px;
}

.album-info_name{
    font-size: 16px;
    line-height: 24px;
    color: #333;
    font-weight: bold;
}

.album-info_content{
    font-size: 13px;
    line-height: 20px;
}


/*MANSONRY album OBJECT STYLE               END*/


/*MANSONRY profiles OBJECT STYLE*/

.masonry-object_profile-cover{
    position: absolute;
    height: 170px;
    width: 100%;
    -webkit-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.masonry-object_cover-wapper{
    max-height: 170px;
    overflow: hidden;
}

.masonry-object_profilepic{
    width: 150px;
    margin: auto;
    right: 0;
    left: 0;
    position: relative;
    line-height: 150px;
    z-index: 1;
}

.masonry-object_profilepic img{
    box-shadow: 0 0 10px #333;
    -webkit-border-radius: 6%;
    -o-border-radius: 6%;
    -ms-border-radius: 6%;
    -moz-border-radius: 6%;
    border-radius: 6%;
}

.masonry-object_profilepic img:hover{
    box-shadow: 0 0 10px #fff;
    opacity: 0.8;
}

.masonry-object_name-position{
    position: relative;
    display: block;
    width: 80%;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*MANSONRY profiles OBJECT STYLE               END*/



.masonry-object_poster{
    position: relative;
    z-index: 1;
}

.profilepic-on-masonry{
    height: 46px;
    max-width: 46px;
    float: left;
    margin: 15px 15px 12px 0;
    padding: 0;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    position:relative;
    z-index:1;
    cursor: pointer;
}

.object_username{
    margin: 0 0 15px 61px;
    padding: 15px 0 0 0;
    text-overflow: ellipsis;
}

.masonry-object_mainfeature{
    padding: 0 13px;
    text-overflow: ellipsis;
}

.mainfeature-wrapper{
    margin: 0 -13px;
    clear: both;
    line-height: 0;
    overflow: hidden;
    position: relative;
    min-height: 150px;
    border-radius: 3px 3px 0 0;
}

.mainfeature-wrapper:hover > .hover-opacity{opacity: 1}

.edit-object{
    opacity: 0;
}

.mainfeature-wrapper:hover .edit-object{
    opacity: 1;
}

.masonry-object_profile-cover:hover .edit-object{
    opacity: 1;
}

.mainfeature-container{
    background-color: #f5f5f5;
    line-height: 0;
    min-width: 70px;
    overflow: hidden;
    position: relative;
}

.this-is-the-object{
    cursor: pointer;
    min-width: 350px;
    max-width: 100%;
    display: inline-block;
}

.masonry-object_text{
    color: #404040;
    font-size: 13px;
    line-height: 144%;
    min-height: 0;
    overflow: hidden;
    width: 322px;
}


.masonry-object_text-container{
    overflow: hidden;
    text-overflow: ellipsis;
}

.more_detail{
    color: #555;
    width: 300px;
    margin: 0 auto;
    height: auto;
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.masonry_more-btn{
    -webkit-user-select: none;
    -moz-user-select: none;
    color: #999;
    display:inline-block;
    font-size: 12px;
    margin-top: 2px;
    vertical-align: middle;
    cursor:pointer;
}

/* clint */
.masonry_more-btn:hover{
    color: #333;
}

.masonry-object_interact{
    margin: 20px 0 0;
    border-top: 1px solid #e5e5e5;
    -webkit-border-radius: 0 0 2px 2px;
    -o-border-radius: 0 0 2px 2px;
    -ms-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
    background-color: #f8f8f8;
}

.masonry_show-comment{
    margin: 16px auto 12px;
    width: 87%;
}
.masonry_show-comment .edit-object-ul{
    position:absolute;
    left:-61px!important;
    top:40px;
}
.masonry_show-comment .edit-object-ul:after{
    content: "";
    position: absolute;
    left: 65px;
    top: -21px;
    border-color: transparent transparent #ccc transparent;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    z-index: -1;	
}



.masonry_dropdownicon{
    display: inline-block;
    vertical-align: top;
    position: relative;
    right: -5px;
    top: -1px;
}

.masonry_addcommnetbox-container{
    /* margin: 0 20px 0 20px; */
    padding: 0 20px 8.5px 20px;
    width:100%;
    clear:both;
    float:left;

}














/*MANSONRY OBJECT STYLE             END*/





.objectview-wrapper{
    min-width: 700px;
}




/*OBJECT VIEW LEFT*/



.objectview-left{
    bottom: 0;
    top: 0;
    left: 0;
    margin: 0;
    position: fixed;
    right: 320px;
    overflow: hidden;
}


.exit{
    cursor: pointer;
    height: 44px;
    left: 0;
    filter: alpha(opacity=80);
    opacity: .8;
    position: absolute;
    right: 0px;
    top: 0;

    z-index: 1;
}

.top-controlbar{
    height: 44px;
    left: 0;
    margin: 0 auto;
    position: relative;
    right: 0px;
    text-align: center;
    background-color: rgba(0,0,0,.6);
    opacity: 0;

    cursor: pointer;
    z-index: 1;
}

.bottom-controlbar{
    bottom: 0;
    height: 44px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right:0;
    background-color: rgba(0,0,0,.6);
    opacity: 1;
    text-align: center;

    cursor: pointer;
    z-index: 1;

}


.objectview-left:hover > .top-controlbar{
    opacity: 1;
}

/*.objectview-left:hover > .bottom-controlbar{
    opacity: 1;
}*/


.mainfeature{
    bottom: 0px;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0px;
    top: 0px;
}



.mainfeature_object{
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    max-height: 95%;
    max-width: 95%;
    z-index: -1;
}

.next {
/*    cursor: url(../../../images/nextcursor.png), auto;*/
}

.previous{
/*    cursor: url(../../../images/previouscursor.png), auto;*/
}


.closeview{
    cursor: pointer;
    font-size: 18px;
    height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    width: 44px;
    color: #aaa;

    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    z-index: 100;
}

.closeview:hover{
    color: #fff;
}

.closeview > i{
    bottom: 0;
    height: 16px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;

}

.icon-on-black{
    color: #aaa;
    cursor: pointer;
    height: 44px;
    position: absolute;
    min-width: 44px;

    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
}


.icon-on-black:hover{
    color: #fff;
}


.icon-on-black > i{
    bottom: 0;
    height: 20px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    font-size: 21px;
    float:left;
}
/* top naviagtion specific styling */
.top-controlbar div.icon-on-black{height:auto;}
.top-controlbar .icon-on-black > i, .top-controlbar .icon-on-black > span{margin:10px 0;}
.top-controlbar .icon-on-black > span
{
    text-indent: 25px;
    line-height: 23px;
    font-size: 14px;
    font-weight: bold;
    font-family: FontAwesome, "Helvetica Neue", Helvetica, Arial, sans-serif;

}


/* top navigation specific styling ends */
.icon-on-black > .pretooltip{
    float:left;
}

.text-on-black{
    color: #737373;
    font: normal 14px Roboto,arial,sans-serif;
    line-height: 44px;
    padding: 0 10px;
    position: absolute;
    white-space: nowrap;
}


.caption-container{
    background-color: rgba(0,0,0,.4);
    padding: 20px 13px 20px 15px;
    color: #fff;
    position: absolute;
    bottom: 60px;
    border-radius: 5px;
    box-shadow: 0 0 10px #999;
    width: 350px;
}






/*OBJECT VIEW LEFT               END*/









/*OBJECT VIEW RIGHT*/


.objectview-right{
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 320px;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

.article-objectview-right{
    width: 15%;
}
.article-objectview-left{

}

.object-poster{
    padding: 15px;
    width: 100%;
    margin: 0;
    min-height: 75px;
}

.object-poster:hover{
    background-color: #e5e5e5;
}

.profilepic-container{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.profilepic/* for a*/{
    max-width: 46px;
    max-height: 60px;
    float: left;
    padding: 0px;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
}

.profilepic_user{
    border-radius: 50%;
    width: 46px;
    height: 46px;
    border: 1px solid #f3f3f3;
}


.poster_user{
    position: relative;
    vertical-align: middle;
    display: inline-block;
    width: 170px;
}

.poster-name{
    font-size: 15px;
    font-weight: bold;
    display: block;
    unicode-bidi: normal;
}
.poster-name:hover, .poster-name:focus{color:#005580;}


.posttime{
    color: #aaa;
    font-size: 11px;
    line-height:140%;
}





.object-collapes-title {
    cursor: pointer;
    background-color: rgb(242,240,240);
    color: #404040;
    padding: 15px;
    position: relative;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    -webkit-user-select: none;
    border-top: 2px solid #fff;
}


.object-collapes-title:hover {
    background-color: #e5e5e5;
}


.collapes-title_inner {
    display: inline-block;
}


.collapes-container {
    display:none;
    background-color: #f8f8f8;
}

.collapes-container_inner{
    padding: 30px 0;
    width: 87%;
    margin: auto;
    border-bottom: 1px solid rgba(0,0,0,.03)
}

.edit_photo-titile_field{
    margin-bottom: 7px;
}

.edit_photo-caption_field{
    height: 200px;
    resize: none;
    overflow: auto;
}

.edit_photo-caption_field2{
    height: 106px;
    resize: none;
    overflow: auto;
}

.sml-partner {
    margin: 7px;
    display: inline-block;

}

.sml-partner img{
    border-radius: 10%;
    width: 45px;
    height: 45px;
    box-shadow: 0px 1px 5px #555;
}

.classfication{
cursor: pointer;
    display: inline-block;
    width: auto;
    position: relative;
    top: -4px;

    -webkit-transition: background-color .218s,border-color .218s,box-shadow .218s;
    -moz-transition:  background-color .218s,border-color .218s,box-shadow .218s;
    -o-transition:  background-color .218s,border-color .218s,box-shadow .218s;
    transition: background-color .218s,border-color .218s,box-shadow .218s;
    -webkit-user-select: none;

    /*BOX STYLE*/
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.05);
    -o-box-shadow: 0 1px 0 rgba(0,0,0,.05);
    -ms-box-shadow: 0 1px 0 rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.05);
    box-shadow: 0 1px 0 rgba(0,0,0,.05);
    background-color: #fff;
    background-image: -webkit-linear-gradient(top, transparent, transparent);
    background-image: linear-gradient(top, transparent, transparent);
    color:#404040;
    border: 1px solid #d9d9d9;
    border: 1px solid rgba(0,0,0,.15);

    /*font-style:*/
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    height: 28px;
    line-height: 28px;
    min-width: 35px;
    outline: 0;
    padding: 0 8px;
}



.new-btn {
    /*BASIC POSITION*/
    cursor: pointer;
    display: inline-block;
    width: auto;
    position: relative;
    top: -4px;

    -webkit-transition: background-color .218s,border-color .218s,box-shadow .218s;
    -moz-transition:  background-color .218s,border-color .218s,box-shadow .218s;
    -o-transition:  background-color .218s,border-color .218s,box-shadow .218s;
    transition: background-color .218s,border-color .218s,box-shadow .218s;
    -webkit-user-select: none;

    /*BOX STYLE*/
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.05);
    -o-box-shadow: 0 1px 0 rgba(0,0,0,.05);
    -ms-box-shadow: 0 1px 0 rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.05);
    box-shadow: 0 1px 0 rgba(0,0,0,.05);
    background-color: #fff;
    background-image: -webkit-linear-gradient(top, transparent, transparent);
    background-image: linear-gradient(top, transparent, transparent);
    color:#404040;
    border: 1px solid #d9d9d9;
    border: 1px solid rgba(0,0,0,.15);

    /*font-style:*/
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    height: 28px;
    line-height: 28px;
    min-width: 35px;
    outline: 0;
    padding: 0 8px;
}

.new-btn > i{
    font-size: 13px;
}

.new-btn > k{
    font-size: 13px;
}


.new-btn:hover{
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0,.1);
    -o-box-shadow: 0 1px 0 rgba(0,0,0,.1);
    -ms-box-shadow: 0 1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.1);
    box-shadow: 0px 1px 0 rgba(0, 0, 0,.1);
    background-color: #fff;
    background-image: -webkit-linear-gradient(top, transparent, transparent);
    background-image: linear-gradient(top,transparent,transparent);
    color: #404040;
    border: 1px solid #b8b8b8;
}

.new-btn:active{
    -webkit-box-shadow: inset 0 2px 0 #ddd;
    -o-box-shadow: inset 0 2px 0 #ddd;
    -ms-box-shadow: inset 0 2px 0 #ddd;
    -moz-box-shadow: inset 0 2px 0 #ddd;
    box-shadow: inset 0 2px 0 #ddd;
    background-color: #e5e5e5;
    border-color: #262626;
}

.green-btn{
    background-color: #53a93f;
    color: #fff;
    text-shadow: none;
}

.green-btn:hover{
    -webkit-box-shadow: inset 0 -1px 0 #4c8534;
    -o-box-shadow: inset 0 -1px 0 #4c8534;
    -ms-box-shadow: inset 0 -1px 0 #4c8534;
    -moz-box-shadow: inset 0 -1px 0 #4c8534;
    box-shadow: inset 0px -1px 0 #4c8534;
    background-color: #65b045;
    background-image: -webkit-linear-gradient(top, transparent, transparent);
    background-image: linear-gradient(top,transparent,transparent);
    border: 1px solid transparent;
    border-bottom: 1px solid #4c8534;
    text-shadow: none;
    color: white;
}


.green-btn:active{
    -webkit-box-shadow: inset 0 2px 0 #2f6124;
    -o-box-shadow: inset 0 2px 0 #2f6124;
    -ms-box-shadow: inset 0 2px 0 #2f6124;
    -moz-box-shadow: inset 0 2px 0 #2f6124;
    box-shadow: inset 0 2px 0 #2f6124;
    background-color: #3e802f;
    border: 1px solid transparent;
    border-top: #2f6124;
    color: white;
}

.blue-btn{
    background-color: #427fed;
    color: #fff;
    text-shadow: none;
}

.blue-btn:hover{
    -webkit-box-shadow: inset 0 -1px 0 #2f69c2;
    -o-box-shadow: inset 0 -1px 0 #2f69c2;
    -ms-box-shadow: inset 0 -1px 0 #2f69c2;
    -moz-box-shadow: inset 0 -1px 0 #2f69c2;
    box-shadow: inset 0 -1px 0 #2f69c2;
    background-color: #4285f4;
    background-image: -webkit-linear-gradient(top,transparent,transparent);
    background-image: linear-gradient(top,transparent,transparent);
    border: 1px solid transparent;
    border-bottom-color: #2f69c2;
    text-shadow: none;
    color: white;
}




.blue-btn:active{
    -webkit-box-shadow: inset 0 1px 0 #21448d;
    -o-box-shadow: inset 0 1px 0 #21448d;
    -ms-box-shadow: inset 0 1px 0 #21448d;
    -moz-box-shadow: inset 0 1px 0 #21448d;
    box-shadow: inset 0 1px 0 #21448d;
    background: #2c56b1;
    border: 1px solid transparent;
    border-top: 1px solid #21448d;
}

.red-btn{
    background-color: #dd4b39;
    color: #fff;
    text-shadow: none;
}

.red-btn:hover{
    -webkit-box-shadow: inset 0 -1px 0 #b03c2d;
    -o-box-shadow: inset 0 -1px 0 #b03c2d;
    -ms-box-shadow: inset 0 -1px 0 #b03c2d;
    -moz-box-shadow: inset 0 -1px 0 #b03c2d;
    box-shadow: inset 0 -1px 0 #b03c2d;
    background-color: #e05d4c;
    background-image: -webkit-linear-gradient(top,transparent,transparent);
    background-image: linear-gradient(top,transparent,transparent);
    border: 1px solid transparent;
    border-bottom-color: #b03c2d;
    text-shadow: none;
    color: white;
}



.red-btn:active{
    -webkit-box-shadow: inset 0 1px 0 #581e16;
    -o-box-shadow: inset 0 1px 0 #581e16;
    -ms-box-shadow: inset 0 1px 0 #581e16;
    -moz-box-shadow: inset 0 1px 0 #581e16;
    box-shadow: inset 0 1px 0 #581e16;
    background: #842d22;
    border: 1px solid transparent;
    border-top: 1px solid #581e16;
}


.disabled-btn{
    display: inline-block;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #aaa;
    box-shadow: none;
    top: -4px;
    position: relative;
    padding: 0 8px;
    height: 28px;
    line-height: 28px;
    margin: 0 2px;
    cursor: default;

    font-size: 12px;
}

.disabled-green{
    border: 1px solid #53a93f;
    color: #53a93f;
}

.disabled-green:hover{
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0,.1);
    -o-box-shadow: 0 1px 0 rgba(0,0,0,.1);
    -ms-box-shadow: 0 1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.1);
    box-shadow: 0px 1px 0 rgba(0, 0, 0,.1);
    background-color: #fff;
    background-image: -webkit-linear-gradient(top, transparent, transparent);
    background-image: linear-gradient(top,transparent,transparent);
    color: #404040;
    border: 1px solid #a2cf8f;
    color: #74b757;
}

.disabled-green:active{
    -webkit-box-shadow: inset 0 2px 0 #74b757;
    -o-box-shadow: inset 0 2px 0 #74b757;
    -ms-box-shadow: inset 0 2px 0 #74b757;
    -moz-box-shadow: inset 0 2px 0 #74b757;
    box-shadow: inset 0 2px 0 #ddd;
    background-color: #f3f3f3;
    border-color: #74b757;
}








.readbtn{
    float: right;
    margin-right: 16px;
}

.closeReadbtn{
    float: right;
    margin-right: 16px;
}



.article-title{
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 10px;
    word-break: break-word;

}

.article-text{  
    font-size: 13px;
    line-height: 16px;
}

.caption-title{
    font-size: 22px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 10px;
}

.caption-text{
    font-size: 13px;
    line-height: 16px;
}

.article-text > p{
    font-size: 15px;
    color: #555;
    line-height: 20px;
    margin-bottom: 12px;
}


.comment-frame{
    width: 100%;
    padding:0 6.5%;
    margin: 0 auto;
    overflow:hidden;
}


.show-comment{
    padding-bottom: 30px;
}

.show-comment_container{
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #aaa;
    float:left;
}

.show-comment_inner{
    -webkit-transition: color .218s;
    -o-transition: color .218s;
    -moz-transition: color .218s;
    transition: color .218s;
    font-size: 12px;
    padding-right: 5px;

    cursor: pointer;
}


.comment-amount{
    overflow: hidden;
    vertical-align: top;
}
.comment-amount i{text-indent:.5em;}

.addcommnetbox-container{
    /* padding: 0 0 20px 0; */
    padding:0 6.5%;
}

.addcommnetbox{
    background-color: #fff;
    border: 1px solid #ddd;
    color: #999;
    cursor: text;
    font-size: 12px;
    height: auto;
    margin: 0 0 0 0;
    padding: 6px 8px;
}


.comment-item{
    position: relative;
    width: auto;
    height: auto;
    overflow-wrap: break-word;
    overflow-x: hidden;
    display: block;
    border-top: 1px solid #eee;
    margin: 0;
    padding: 5px 6.5%;
}

.comment-position{
    padding: 4.5px 0 4.5px 35px;
    vertical-align: top;
}

.profilepic-comment-container{
    cursor: pointer;
    position: absolute;
    left: 0px;
    margin: 5px 3.5%;
}

.Message-Board_comment-item .profilepic-comment-container{
    margin: 5px 3.5% 5px 0;
}

.profilepic_comment{
    border-radius: 50%;
    width: 33px;
    height: 33px;
    border: 1px solid #f3f3f3;
}

.comment-insert-field{
    cursor:text;
    word-wrap: break-word;

    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom:7px;
    min-height:3.9em;
    padding:6px 6px;
}


.comment-namentime{
    position: relative;
    display: block;
}

.namentime_position{
    margin-right: 70px;
}

.comment-username{
    -webkit-transition: color .218s;
    -o-transition: color .218s;
    -moz-transition: color .218s;
    transition: color .218s;
    color:#404040 !important;
    font-size: 13px;
    font-weight: bold;
}

.posttime-container{
    display: block;
    white-space: nowrap;
    /* margin-bottom: 5px; */
    line-height: 10px;
}

.like-amount{
    display: inline-block;
    float: none;
    font-size: 11px;
    margin-top: 2px;
    vertical-align: top
}

.comment-content{
    color:#404040 !important;
    font-size: 13px;
    line-height:16px;
    margin: 0 0 0 0;
    overflow: hidden;
    word-wrap: break-word;
}




/*OBJECT VIEW RIGHT             END*/





.collect_descriptionbox {
    width:300px;
    margin: 0px 0px 10px;
    height: 143px;
    resize: none;
}

.tag_descriptionbox {
    width:300px;
    margin: 0px 0px 10px;
    height: 95px;
    resize: none;
}
.tag_currenprofile {
    width:300px;
    margin: 0px 0px 10px;
    height: 30px;
        resize: none;
}

.tag_linkto {
    width:300px;
    margin: 0px 0px 10px;
    height: 30px;
    resize: none;
}
.collect_newcollection-name{
    width: 240px;
    padding: 4px;
}

.choose-exist-collection{
    min-width: 300px;
    background-color: rgba(0,0,0,0.03);
    height: 30px;
    padding: 5px 8px;
    cursor: pointer;
    text-align: left;
}

.choose-exist-collection:hover{
    background-color: rgba(0,0,0,0.1);
}

.exist-name{
    text-decoration: none;
    color: #ddd;
}

.exist-name{
    text-decoration: none;
    color: #555;
}

.contactmebox-wapper  .closeview:hover{
    color: #333;
}

.add-collection_select-collection{
    height: 240px;
    padding: 10px;
    position: absolute;
    left: 4px;
    top: 50px;
    background: #fff;
    -webkit-box-shadow: 0 0px 1px #888;
    -moz-box-shadow: 0 0px 1px #888;
    box-shadow: 0 0px 1px #888;
    z-index: 11;
}

.edit-btn{
    cursor: pointer;
    color: #333;
    opacity: .6;
    text-shadow: 0 0 10px #fff;
    display: inline-block;
    font-size: 16px;
    margin: 0 10px;
}

.edit-btn:hover{
    opacity: 1;
}

.edit-collection-btn{
    float: right;
}

.edit-object-btn{
    top: 10px;
    position: absolute;
    right: 10px;
}

.edit-object-ul {
    position: relative;
    z-index: 102;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.08);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    -webkit-box-shadow: 0 0 7px #888;
    -moz-box-shadow: 0 0 7px #888;
    box-shadow: 0 0 7px #888;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    margin: 0;
    text-align: left;
    padding: 0;
}



/* tool-tips for profile items 9/10/13 clint */
.itemprofile .location_li:after
{
    background: #fff;
    border-color: #fff;
    color: #555;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
    text-shadow: 0 0 0;
    top: 25px;
    right: -14px;
    line-height: 1em;
}

.itemprofile .location_li:before
{
    border-bottom-color: #ccc!important;
    top: 12px;
    left: 6px;
}
/* tool-tips for profile items  ENDS - 9/10/13 clint */



/* search item comment controller styling  2013/12/06 */

.comment-scroll-bar{
    max-height:360px;
    overflow:hidden;
}

/* search item comment controller styling ENDS - 2013/12/06 */




.collapes-container_inner > .for-tooltip-position.hint--bottom:after{left: -65px!important}

.collapes-container_inner > .hint--bottom:before{left: 14px!important}