/* Custom css file for the corporate toolbox */
/*Navigation*/
/*Colours=
Bright Orange = #F15C25
Dark Orange =   #D56D03
Orange =        #ED7A05
Light Orange =  #FBB846
Silver =        #CCCCCC
Medium Grey=    #5C5C5C
Dark Grey=      #454545
*/
#logo	{
    background-image: url("media/logos/logo_2012_web.jpg");
    background-repeat: no-repeat;
    display: block;
    height: 96px;
    margin-left: 0px;
    margin-top: 10px;
    text-align: left;
}
.nav-top-wrapper {
    color: white;
    background-color:#26225D;
}
.nav-bottom-wrapper {
	background-color:#C7C8CA;
}
.selected {
background-color: #C7C8CA;
}
/*Search boxes*/
#searchbox{
    background: #69b23c; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2VkN2EwNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2YxNWMyNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(left,  #69b23c 1%, #8CC63F 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(1%,#69b23c), color-stop(99%,#8CC63F)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #69b23c 1%,#8CC63F 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #69b23c 1%,#8CC63F 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #69b23c 1%,#8CC63F 99%); /* IE10+ */
    background: linear-gradient(left,  #69b23c 1%,#8CC63F 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69b23c', endColorstr='#8CC63F',GradientType=1 ); /* IE6-8 */
    border:1px solid #538E2F;
}
#register, #login{
    color:white;
    border-color: #AFDB94 #6AB43C #6AB43C ;
	background: #8CC63F; /* Old browsers */
	background: -moz-linear-gradient(top,  #8CC63F 0%, #69b23c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8CC63F), color-stop(100%,#69b23c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8CC63F 0%,#69b23c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8CC63F 0%,#69b23c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8CC63F 0%,#69b23c 100%); /* IE10+ */
	background: linear-gradient(top,  #8CC63F 0%,#69b23c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8CC63F', endColorstr='#69b23c',GradientType=0 ); /* IE6-9 */
    box-shadow: 0 1px 0 #AFDB94 ;
}
#login{
    border-left:1px solid #6AB43C;
}
.search_input	{
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4) inset, 0 2px 0 #93CF6E;		
    border: 1px solid #487A29; 
}
.browseicon, .search-label, #tile{
	color:white;
        background: #0e165e; /* Old browsers */
        background: -moz-linear-gradient(top,  #0e165e1%, #1825a0 99%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#0e165e), color-stop(99%,#1825a0)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #0e165e 1%,#1825a0 99%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #0e165e 1%,#1825a0 99%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #0e165e 1%,#1825a0 99%); /* IE10+ */
        background: linear-gradient(top,  #0e165e 1%,#1825a0 99%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e165e', endColorstr='#1825a0',GradientType=0 ); /* IE6-9 */
}

.browseicon-arrow {
    border-top: 10px solid #0E165E;
}
/*Ribbon*/
.name-wrapper, .tpl_supplier_name-wrapper{
	background: #8CC63F; /* Old browsers */
	background: -moz-linear-gradient(top,  #8CC63F 0%, #69b23c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8CC63F), color-stop(100%,#69b23c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8CC63F 0%,#69b23c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8CC63F 0%,#69b23c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8CC63F 0%,#69b23c 100%); /* IE10+ */
	background: linear-gradient(top,  #8CC63F 0%,#69b23c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8CC63F', endColorstr='#69b23c',GradientType=0 ); /* IE6-9 */
}
.offer-wrapper{
	background: #0e165e; /* Old browsers */
	background: -moz-linear-gradient(left,  #0e165e 48%, #1825a0 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(48%,#0e165e), color-stop(99%,#1825a0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #0e165e 48%,#1825a0 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #0e165e 48%,#1825a0 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #0e165e 48%,#1825a0 99%); /* IE10+ */
	background: linear-gradient(left,  #0e165e 48%,#1825a0 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e165e', endColorstr='#1825a0',GradientType=1 ); /* IE6-9 */
}
.ribbon-right-arrow{
	border-right:17px solid #0e165e;
}
/*Links*/
.business-link:link, .business-link:visited, .address-click:link, .address-click:visited, .contact-link:link, .contact-link:visited, .tel-click:link, .tel-click:visited, .email-click:link, .email-click:visited, .website-click:link, .website-click:visited, .ftel-click:link, .ftel-click:visited, .fax-click:link, .fax-click:visited, .ffax-click:link, .ffax-click:visited, .postal-click:link, .postal-click:visited{
	color:#0E165E;
}
.business-link:hover, .tel-click:hover, .address-click:hover, .contact-link:hover, .email-click:hover, .website-click:hover, .ftel-click:hover, .fax-click:hover, .postal-click:hover, .ffax-click:hover, .about-us-btn:hover, .reviews-btn:hover, .branches-btn:hover{
	color:#69B23C;
}
/*Footer*/
#footer-wrapper{
    background-color:#DCDDDE;   
}
#copyright{
    background-color: #C7C8CA;
	color: #4D4D4F;
	}
.defaultKTV .ktvText {
	 font-size: 12.8px !important;
}