body {
    padding:    0;
    margin:     0;
    display:    block;
    width:      100%;
}
body.registration {
    background: #D4D4D4; 
}
.BodyText {
    font-family: "Verdana", sans-serif;
    font-size: 11px;
    line-height: 1.4;
    color: #606060;
}
.BodyText:hover {
    font-family: "Verdana", sans-serif;
    font-size: 11px;
    line-height: 1.4;
    color: #000000;
}
.BodyText:link {
    font-family: "Verdana", sans-serif;
    font-size: 11px;
    line-height: 1.4;
    color: #202020;
    text-decoration: underline;
}
.BodyText:visited {
    font-family: "Verdana", sans-serif;
    font-size: 11px;
    line-height: 1.4;
    color: #202020;
    text-decoration: underline;
}
.BodyHeader {
    font-family: "Verdana", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #404040;
}
.BodyHeader:hover {
    font-family: "Verdana", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #404040;
}
.BodyHeader:link {
    font-family: "Verdana", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #202020;
    decoration: underline;
}
.CopyrightText {
    font-family: "Verdana", sans-serif;
    font-size: 11px;
    line-height: 1.4;
    color: #E0E0E0;
}
.CopyrightText:hover {
    font-family: "Verdana", sans-serif;
    font-size: 11px;
    line-height: 1.4;
    color: #CCCCCC;
}
.CopyrightText:link {
    font-family: "Verdana", sans-serif;
    font-size: 11px;
    line-height: 1.4;
    color: #E0E0E0; 
    decoration: underline;
}
.CopyrightText:visited {
    font-family: "Verdana", sans-serif;
    font-size: 11px;
    line-height: 1.4;
    color: #666666;
    decoration: underline;
}
.ErrorText {
    font-family: "Verdana", sans-serif;
    font-size: 13px;
    line-height: 1.4;
    color: #C00000;
}
.ErrorText:hover {
    font-family: "Verdana", sans-serif;
    font-size: 13px;
    line-height: 1.4;
    color: #C00000;
}
.ErrorText:link {
    font-family: "Verdana", sans-serif;
    font-size: 11px;
    line-height: 1.4;
    color: #C00000;
    decoration: underline;
}
.ErrorText:visited {
    font-family: "Verdana", sans-serif;
    font-size: 11px;
    line-height: 1.4;
    color: #C00000;
    decoration: underline;
}


.registration .nav{
    height: 48px;
    width:100%; 

    border-bottom: 1px solid #828282;
}
.registration .document{
    height: 400px;
    /* IE10 */ 
    background-image: -ms-linear-gradient(top, #CCCCCC 0%, #FFFFFF 1%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #CCCCCC 0%, #FFFFFF 1%);

    /* Opera */ 
    background-image: -o-linear-gradient(top, #CCCCCC 0%, #FFFFFF 1%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #CCCCCC), color-stop(.010, #FFFFFF));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #CCCCCC 0%, #FFFFFF 1%);

    /* Proposed W3C Markup */ 
    background-image: linear-gradient(top, #CCCCCC 0%, #FFFFFF 1%);

    border-bottom: 1px solid #828282;
}

.btnSave{
    height:50px; 
    width:200px;
    margin: 10px 0 0 15px;
}

.btnSaveIcon{
    float:left;
    left:45px;
    position:relative;
    top:25px;
}
.fieldLabel{
    position:relative;
    margin-top: 18px;
    margin-right:5px;
    float:right;
}

.tableLabel{
    text-align: right;
    padding: 2px 15px 0 0;
}

.lablesRegister{
    font-family: "Verdana", sans-serif;
    font-size: 11px;
    line-height: 1.4;
    color: #000000;
}
.ui_input{
    border: 1px solid #AAAAAA;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.9);
    padding: 5px;
}
