<div class="blur"></div>





<div style="z-index: 11; width: 160px;height: 50px;margin: 0 auto; text-align: center; position: fixed; top: 40%;display: block; left: 0;right: 0;">

    <div id="blurringTextG1">
        <div id="blurringTextG1_1" class="blurringTextG">
            L</div>
        <div id="blurringTextG1_2" class="blurringTextG">
            o</div>
        <div id="blurringTextG1_3" class="blurringTextG">
            a</div>
        <div id="blurringTextG1_4" class="blurringTextG">
            d</div>
        <div id="blurringTextG1_5" class="blurringTextG">
            i</div>
        <div id="blurringTextG1_6" class="blurringTextG">
            n</div>
        <div id="blurringTextG1_7" class="blurringTextG">
            g</div>
        <div id="blurringTextG1_8" class="blurringTextG">
            .</div>
        <div id="blurringTextG1_9" class="blurringTextG">
            .</div>
        <div id="blurringTextG1_10" class="blurringTextG">
            .</div>
    </div>


    <div id="followingBallsG">
        <div id="followingBallsG_1" class="followingBallsG">
        </div>
        <div id="followingBallsG_2" class="followingBallsG">
        </div>
        <div id="followingBallsG_3" class="followingBallsG">
        </div>
        <div id="followingBallsG_4" class="followingBallsG">
        </div>
    </div>



</div>
