/* tpl search result */
#tpl
{
    background-color: transparent;
    background-image: url("../images/dot_line.gif");
    background-repeat: repeat-x;
    background-position: 0 100%;
    margin-top:  5px;
    border-top: 1px dashed #e9e9ea;
    border-bottom: 1px dashed #e9e9ea;
/*    border-color: rgb(165, 175, 185);
    box-shadow: 0px -2px 0px rgba(58, 78, 103, 0.1) inset, 0px 2px 0px rgba(190, 210, 230, 0.85);
    transition-property: border-color, box-shadow;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    text-decoration: none;*/
}

#pretext
{
    font-family:Verdana,sans-serif;
    font-size:11px;
    font-weight: normal;
    margin-left:7px;
    line-height: 25px;
    vertical-align: baseline;
}

#tpl a:link, #tpl a:active, #tpl a:visited, #tpl a.postlink
{
    /*    color:#000000;*/
    text-decoration: none;
    border-bottom: 1px dashed #666666;
}
#tpl a:hover
{
    color:#EC1C24;
    text-decoration:none;
}

#tpl table td #name
{
    font-family:Verdana,sans-serif;
    font-size:24px;
    font-weight: bolder;
    font-style: normal;
    letter-spacing: normal;
    word-spacing: 0;
    line-height: 30px;
    vertical-align: baseline;
}

#tpl table td #name a:link, #tpl table td #name a:visited{
    color: #666666;
    text-decoration: none;
    border-bottom: 1px dashed #666666;
}

#profile
{
    font-family:Verdana,sans-serif;
    font-size:11px;
    font-style: normal;
    color:#000000;
    letter-spacing: normal;
    word-spacing: 0;
    line-height: 15px;
    vertical-align: baseline;
}
#tpl table td
{
    vertical-align: top;
}

#tpl table td #address
{
    font-family:Verdana,sans-serif;
    font-size:9px;
    font-weight: bold;
    font-style: normal;
    color:#666666;
    letter-spacing: normal;
    word-spacing: 0;
    line-height: 13px;
    vertical-align: baseline;
}

#tpl table td #telephone
{
    font-family:Verdana,sans-serif;
    font-size:17px;
    font-weight: bold;
    font-style: normal;
    color:#EC1C24;
    letter-spacing: normal;
    word-spacing: 0;
    line-height: 15px;
    vertical-align: baseline;
    background-color: transparent;
    background-image: url("../images/icon_sprite.gif");
    background-repeat: 	no-repeat;
    background-position: 0 -41px;
    background-attachment: scroll;
    opacity: 1;
    padding-left: 22px;
    display: block;
}

#tpl table td #text
{
    font-family:Verdana,sans-serif;
    font-size:10px;
    font-weight: normal;
    font-style: normal;
    color:#666666;
    letter-spacing: normal;
    word-spacing: 0;
    line-height: 13px;
    vertical-align: baseline;
}

#tpl table td #website
{
    font-family:Verdana,sans-serif;
    font-size:9px;
    font-width:400px;
    font-style: normal;
    color:#00AFF0;
    letter-spacing: normal;
    text-decoration:underline;
    word-spacing: 0;
    line-height: 20px;
    vertical-align: baseline;
    background-color: transparent;
    background-image: url("../images/icon_sprite.gif");
    background-repeat: 	no-repeat;
    background-position: 0 -219px;
    background-attachment: scroll;
    opacity: 1;
    padding-left: 22px;
    display: block;
}

#tpl table td #email
{
    font-family:Verdana,sans-serif;
    font-size:9px;
    font-width:400px;
    font-style: normal;
    color:#00AFF0;
    letter-spacing: normal;
    text-decoration:underline;
    word-spacing: 0;
    line-height: 20px;
    vertical-align: baseline;
    background-color: transparent;
    background-image: url("../images/icon_sprite.gif");
    background-repeat: 	no-repeat;
    background-position: 0 -19px;
    background-attachment: scroll;
    opacity: 1;
    padding-left: 22px;
    display: block;
}

/* tpl view from tree navigation */
#breadcrumb
{
    font-family:Verdana,sans-serif;
    font-size:9px;
    font-weight: normal;
    font-style: normal;
    color:#495961;
    letter-spacing: normal;
    word-spacing: 0;
    line-height: 12px;
    vertical-align: baseline;
    text-align: left;
}

#breadcrumb_sm
{
    font-family:Verdana,sans-serif;
    font-size:9px;
    font-weight: normal;
    font-style: normal;
    color:#495961;
    letter-spacing: normal;
    word-spacing: 0;
    line-height: 11px;
    vertical-align: baseline;
    text-align: left;
    margin-bottom: 5px;
}

#tpl_leaf tr td
{
    font-family:Verdana,sans-serif;
    font-size:11px;
    font-weight: normal;
    font-style: normal;
    color:#000;
    letter-spacing: normal;
    word-spacing: 0;
    line-height: 13px;
    vertical-align: baseline;
    text-align: left;
}

/* tpl view suppliers */
#tpl_viewsupinfo
{
    width: 100%;
    background-color: #fff;
    vertical-align: top;
}

#tpl_viewsupinfo tr th#brand, th#description, th#branch
{
    text-align: left;
    font-family:Verdana,sans-serif;
    font-size:11px;
    font-weight: bold;
    font-style: normal;
    color:#000000;
    letter-spacing: normal;
    word-spacing: 0;
    line-height: 20px;
    vertical-align: baseline;
}

#tpl_viewsupinfo tr th#brand a
{
    font-family:Courier New,monospace;
    font-size:12px;
    font-style: normal;
    letter-spacing: normal;
    text-decoration:none;
}
#tpl_viewsupinfo tr th#brand a:link
{
    color:#000000;
    font-family:Courier New,monospace;
    text-decoration:none;
}
#tpl_viewsupinfo tr th#brand a:hover
{
    font-family:Courier New,monospace;
    color:#EC1C24;
}

#tpl_viewsupinfo tr th#branch a
{
    font-family:Courier New,monospace;
    font-size:12px;
    font-style: normal;
    letter-spacing: normal;
    text-decoration:none;
}
#tpl_viewsupinfo tr th#branch a:link
{
    color:#000000;
    font-family:Courier New,monospace;
    text-decoration:none;
}
#tpl_viewsupinfo tr th#branch a:hover
{
    font-family:Courier New,monospace;
    color:#EC1C24;
}

#tpl_viewsupinfo td
{
    vertical-align: top;
}

#tpl_viewsupinfo_head
{
    background-image: url('../images/hvbg.gif');
    background-repeat: repeat-x;
    border-width: 1px;
    border-style: outset;
}

#tpl_viewsupinfo_head td
{
    vertical-align: top;
}

#tpl_viewsupinfo_lhead th
{
    text-align: left;
    font-family:Verdana,sans-serif;
    font-size:14px;
    font-weight: bold;
    font-style: normal;
    color:#000000;
    letter-spacing: normal;
    word-spacing: 0;
    line-height: 20px;
    vertical-align: baseline;
}

#tpl_viewsupinfo_lhead td#address
{
    font-family:Verdana,sans-serif;
    font-size:11px;
    font-weight: bold;
    font-style: normal;
    color:#666666;
    letter-spacing: normal;
    word-spacing: 0;
    line-height: 15px;
    vertical-align: baseline;
}

#tpl_viewsupinfo_lhead td#telephone
{
    font-family:Verdana,sans-serif;
    font-size:12px;
    font-weight: bold;
    font-style: normal;
    color:#EC1C24;
    letter-spacing: normal;
    word-spacing: 0;
    line-height: 15px;
    vertical-align: baseline;
    background-color: transparent;
    background-image: url("../images/icon_sprite.gif");
    background-repeat: 	no-repeat;
    background-position: 0 -40px;
    background-attachment: scroll;
    opacity: 1;
    padding-left: 22px;
    display: block;
}

#tpl_viewsupinfo_lhead td#website
{
    font-family:Verdana,sans-serif;
    font-size:12px;
    font-width:400px;
    font-style: normal;
    color:#00AFF0;
    letter-spacing: normal;
    text-decoration:underline;
    word-spacing: 0;
    line-height: 20px;
    vertical-align: baseline;
    background-color: transparent;
    background-image: url("../images/icon_sprite.gif");
    background-repeat: 	no-repeat;
    background-position: 0 -217px;
    background-attachment: scroll;
    opacity: 1;
    padding-left: 22px;
    display: block;
}


#tpl_viewsupinfo_lhead td#email
{
    font-family:Verdana,sans-serif;
    font-size:12px;
    font-width:400px;
    font-style: normal;
    color:#00AFF0;
    letter-spacing: normal;
    text-decoration:underline;
    word-spacing: 0;
    line-height: 20px;
    vertical-align: baseline;
    background-color: transparent;
    background-image: url("../images/icon_sprite.gif");
    background-repeat: 	no-repeat;
    background-position: 0 -17px;
    background-attachment: scroll;
    opacity: 1;
    padding-left: 22px;
    display: block;
}

#tpl_viewsupinfo_mhead
{
    padding: 0;
    width: 300px;
}

#tpl_viewsupinfo_mhead th
{
    vertical-align: top;
    text-align: left;
    font-family:Verdana,sans-serif;
    font-size:11px;
    font-width:100px;
    font-style: normal;
    color:#241F20;
    letter-spacing: normal;
}

#tpl_viewsupinfo_mhead td
{
    vertical-align: top;
    text-align: left;
    font-family:Verdana,sans-serif;
    font-size:11px;
    font-width:100px;
    color:#000000;
}

#tpl_viewsupinfo_mhead td#title 
{
    width: 30%;
}

#tpl_viewsupinfo_mhead td#ftel 
{
    font-family:Verdana,sans-serif;
    font-size:11px;
    color:#000000;
    word-spacing: 0;
    line-height: 15px;
    vertical-align: baseline;
    text-align: left;
    width: 200px;
}

#tpl_viewsupinfo_mhead td#fax 
{
    font-family:Verdana,sans-serif;
    font-size:11px;
    color:#000000;
    word-spacing: 0;
    line-height: 15px;
    vertical-align: baseline;
    text-align: left;
    width: 200px;
}

#tpl_viewsupinfo_mhead td#ffax 
{
    font-family:Verdana,sans-serif;
    font-size:11px;
    color:#000000;
    word-spacing: 0;
    line-height: 15px;
    vertical-align: baseline;
    text-align: left;
    width: 200px;
}

#paging tr td a
{
    font-family:Verdana,sans-serif;
    font-size:14px;
    color:#EC1C24;
}

#searchNoMatched
{
    font-family:Verdana,sans-serif;
    font-size:13px;
    font-style: normal;
    color:#000000;
    letter-spacing: normal;
    word-spacing: 0;
    line-height: 15px;
    vertical-align: baseline;
}

ul
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

defaultKTV{
    width:  275px;
}

defaultKTV .ktvtext {
    font-size: 14px;
}

li.ktvLI, li.ktvLast
{
    background-image: url(../images/bullet.gif);
    background-repeat: no-repeat;
    background-position: 20px 5px;
    /*    padding-left: 14px;*/
    font-family:Verdana,sans-serif;
    font-size:14px;
}

/*ktvInv: Make root node invisible*/
.defaultKTV .ktvInv
{
    display:none;
}
/*ktvOver: Apply to treenode content when mouse is over*/
.defaultKTV .ktvOver .ktvText
{
    cursor:pointer;
}