
<div id="user-header-menu" style="top: 10px">
    <ul class="loging_table moveTop nav" style='margin: 0;'>
        <li class="dropdown" style="list-style: none;">

            <div class="profilepic-container" data-toggle="dropdown" style="margin:5px;position: absolute;width: 35px;height:35px;'">
                <a ><img src="https://s3-ap-southeast-2.amazonaws.com/develop.devbox/profile_pic/default/defaultpic1.jpg" class="profilepic_user " style='width: 35px;height:35px;'/></a>           

                <a {{bindAttr href="controller.myUserProfile"}} ><img {{bindAttr src="controller.user.photo_url_large"}} class="profilepic_user profilepic_effect easing" style='width: 35px;height:35px;margin: -57px 0 0 0;'/></a>              
                
            </div>

            <ul id="user-dd-menu" class="dropdown-menu">
                <li class="active">
                    <a tabindex="-1" {{bindAttr href="controller.myUserProfile"}}>My Trends</a>
                </li>

                <li class="active">
                    <a tabindex="-1" href="about.trendsideas.com" target="blank">Feedback & Support</a>
                </li>                
                <li>
                    <a tabindex="-1" href="#" onclick="logout();">Logout </a>
                </li>
            </ul>
        </li>
    </ul>
</div>


<script>

                        function logout() {

                            var address = document.URL;
                            var domain = address.split("/")[2];



                            $.ajax({
                                    type: 'POST',
                                url: 'http://api.' + domain + '/logout',
                                contentType: 'application/json; charset=uft-8',
                                dataType: 'json',
                                success: function() {

                                }
                            });

                            localStorage.clear();


                        }
</script>
