<div id="user-header-menu" style="">

    <div class="user-face-size" data-toggle="dropdown" style="position: static;">
        <a class="user-face-size" style="position: absolute;z-index: -1"><img src="https://s3-ap-southeast-2.amazonaws.com/develop.devbox/profile_pic/default/defaultpic1.jpg" class="profilepic_user " /></a>           
        <a class="user-face-size" style="z-index: 1"><img {{bindAttr src="controller.user.photo_url_large"}} class="profilepic_user  easing" /></a>              
    </div>

    <ul id="user-dd-menu" class="hideClass edit-object-ul" style="padding: inherit;  width: 165px; right: 56px; position: relative; top:30px;">
        <li class="ite" ><a tabindex="-1" {{bindAttr href="controller.myUserProfile"}}>
                <i class="fa fa-user" style="">&nbsp;&nbsp;</i>
                <span>My Profile</span>
            </a></li>
        <li class="ite" ><a tabindex="-1" {{bindAttr href="controller.myMessageBoard"}}>
                <i class="fa fa-envelope" style="">&nbsp;&nbsp;</i>
                <span>Messages</span>
            </a></li>
                {{#if controller.is_trends_user}}
                <li class="ite" ><a tabindex="-1"  href="#/profiles/new">
                        <i class="fa fa-briefcase" style="">&nbsp;&nbsp;</i>
                        <span>New Profile</span>
                    </a></li>
                {{/if}}

                <li class='ite'><a tabindex="-1" href="http://about.trendsideas.com/" target="blank">
                        <i class="fa fa-question-circle" style="">&nbsp;&nbsp;</i>
                        <span>Help</span>
                    </a></li>
                     <li class='ite'><a tabindex="-1" href="javascript:void(0);" id="startButton">
                <i class="fa fa-info" style="">&nbsp;&nbsp;</i>
                <span>User Tour</span>
            </a></li>
                <li class="ite"><a tabindex="-1"{{action logout on="click"  target="view"}}  >
                        <i class="fa fa-power-off" style="">&nbsp;&nbsp;</i>
                        <span>Log out</span> 
                    </a></li>

    </ul>

</div>
