<div id="user-header-menu" style="">

    <div class="user-face-size" data-toggle="dropdown" style="position: static;">
        <a class="user-face-size" style="position: absolute;z-index: -1"><img src="https://s3-ap-southeast-2.amazonaws.com/develop.devbox/profile_pic/default/defaultpic1.jpg" class="profilepic_user " style='width: 45px;height:45px;'/></a>           
        <a class="user-face-size" style="z-index: 1"><img {{bindAttr src="controller.user.photo_url_large"}} class="profilepic_user  easing" style='width: 45px;height:45px'/></a>              
    </div>

    <ul id="user-dd-menu" class="hideClass edit-object-ul" style="padding: inherit;  width: 165px; right: 56px; position: relative; top:30px;">
        <li class="ite" ><a tabindex="-1" {{bindAttr href="controller.myUserProfile"}}>
                <k class="icon-user" style="">&nbsp;&nbsp;</k>
                <span>My Profile</span>
            </a></li>
        <li class="ite" ><a tabindex="-1" {{bindAttr href="controller.myMessageBoard"}}>
                <k class="icon-envelope" style="">&nbsp;&nbsp;</k>
                <span>Messages</span>
            </a></li>
        <li class='ite'><a tabindex="-1" href="http://about.trendsideas.com/" target="blank">
                <k class="icon-question-sign" style="">&nbsp;&nbsp;</k>
                <span>Help</span>
            </a></li>
        <li class="ite"><a tabindex="-1" href="#" onclick="logout();">
                <k class="icon-off" style="">&nbsp;&nbsp;</k>
                <span>Log out</span> 
            </a></li>

    </ul>

</div>




<script>

            function logout() {
                $.ajax({
                    type: 'POST',
                    url: getRestAPIURL() + '/logout',
                    contentType: 'application/json; charset=uft-8',
                    dataType: 'json',
                    success: function(param) {
                    }
                });
                localStorage.removeItem('loginStatus');


            }

</script>
