




{{#if controller.feedback}}


<div id="appfeedback" class="blur_black"></div>



<div class="fresh-message">
<k class="icon-info-sign"></k>
{{controller.status}}
</div>

<div class="fresh-message fresh_succeed">
<k class="icon-ok-sign"></k>
{{controller.status}}
</div>

<div class="fresh-message fresh_failed">
<k class="icon-remove-sign"></k>
{{controller.status}}
</div>

{{/if}}