

<div id="login-filter" class="Geo-Filter easing joinUsBtn" >
    <div class="circle-btn" {{action ctalogin}}><i class="fa fa-user fa-lg"></i></div>
    <div class="Geo-Filter-location"{{action ctalogin}}>Log in</div>
    
    <div class="joinUs easing"{{action ctaregister}}><div>Create an account</div></div>
</div>

