<!--
<ul class="login_guest nav"  style="top:22px; font-size: 15px; margin: 0;text-align: center" {{action popupModal}}>
    <li class="easing " href="#" style="font-weight: bold">Login/</li>
</ul>
-->


<div id="geo-filter" class="Geo-Filter easing joinUsBtn"  {{action popupModal}}>
    <div class="circle-btn"><i class="fa fa-user fa-lg"></i></div>
    <div class="Geo-Filter-location">Login</div>
    
    <div class="joinUs easing"><div>Create an account</div></div>
</div>

