<!--
<ul class="login_guest nav"  style="top:22px; font-size: 15px; margin: 0;text-align: center" {{action popupModal}}>
    <li class="easing " href="#" style="font-weight: bold">Login/</li>
</ul>
-->


<div id="login-filter" class="Geo-Filter easing joinUsBtn" >
    <div class="circle-btn" {{action ctalogin}}><i class="fa fa-user fa-lg"></i></div>
    <div class="Geo-Filter-location"{{action ctalogin}}>Login</div>
    
    <div class="joinUs easing"{{action ctaregister}}><div>Create an account</div></div>
</div>

