


<div class="blur_black"></div>




<div class="popup-box-style">
    <i class="fa fa-exclamation-circle pop-box-style-info" ></i>
    <div  class="popup-box-style-message">
        {{controller.message}}
    </div>
    <div class="popup-box-style-hint"> You won't be able to undo this!</div>
    <div class="popup-box-style-btn">       
        <div class="new-btn red-btn" {{action deleteSelection target="view"}}>Remove</div>
        <div class="new-btn" {{action cancelDelete target="view"}}>Cancel</div>
    </div>

</div>
