


<div class="blur_black" style="z-index:13"></div>

<div class="delete-container">
    <i class="fa fa-exclamation-circle deleted-icon"></i>
    <div class="deleted-reask">
        {{controller.message}}
    </div>
    <div class="deleted-warning"> You won't be able to undo this!</div>
    <div class="deleted-action">       
        <div class="new-btn red-btn" {{action deleteSelection target="view"}}>Remove</div>
        <div class="new-btn" {{action cancelDelete target="view"}}>Cancel</div>
    </div>

</div>
