




<div id="discovery_search_bar_wrapper" style="z-index: 11">

    <div style="position: absolute; top: 150px; width: 600px;left:0; right: 0; margin: auto; l">
        <img src="../../images/Wecometext.png"/>
    </div>

    <div class="search-bar" style="">
        <div class="Search-box easing" style="">
            {{view HubStar.SearchRequireTextFieldView valueBinding="search_string"  id="search_business" class="no-effect hover-opacity easing" placeholder="Search by keyword" }}
            <div class="Nav-btn easing" style="position: absolute;right: -5px;border-radius: 0 3px 3px 0;top: 0; border-left: 1px solid #ddd;"  {{action searching on="click" target="view"}}>
                <i class="icon-search"></i>
            </div>
        </div>
        <div id ="navigator" class="Nav-btn easing" style="float: right;" {{action dropdownNavigator}}><i class="icon-list"></i></div>
        {{#if controller.isNavigatorDropdown}}
        {{view HubStar.NavigatorView}}
        {{/if}}
    </div>

    <div class="popular-topics" style="">
        <span style="float: left;color: white;font-family: Georgia, serif;font-style: italic;margin: 5px 15px;">Most Popular Topics:</span>
        <div>New Homes</div>
        <div>Kitchens</div>
        <div>Bathrooms</div>
        <div>Renovations</div>
        <div>Outdoor Living</div>
        <div>Interior</div>
    </div>

</div>

