



    <div class="Add-review" style="">
       

        <div id ="" style="margin: 5px auto; padding: 0 15px;height: 200px;">
           {{view Ember.TextArea valueBinding="controller.review_content"  class="no-resize"  placeholder="hehe" }}  
        </div>

        <div class="" style="height: 41px;position: absolute;border-top: 1px solid #ddd;bottom: 0;width: 100%;">
            <div  class="message-btn easing"  style="width: 50%;" {{action cancelReview }}><k class="icon-remove">&nbsp;</k>Cancel{{controller}}</div>
            <div class="message-btn easing" style="width: 50%;" {{action  saveReview }}><k class='icon-ok'>&nbsp;</k>Post</div>
        </div>


    </div>

    
  
          
