
<div class="head"></div>
<div class="content" id="about">

    {{view Ember.TextArea class="fake" }}
    {{view Ember.TextArea valueBinding="about" class="textarea" }}

    <div class="buttons" style="position: relative;display: block;margin: 10px auto;right: 0;left: 85%;">

        <div  type="button" class="new-btn blue-btn" {{action changeAbout }} > <i class="fa fa-check fa fa-white"></i></div>

        <div  type="button" class="new-btn" {{action exitAboutEditing }}> <i class="fa fa-times"></i></div>

    </div>

</div>

<script>
    $('.fake').wysihtml5();
</script>