
<div class="head"></div>
<div class="content">
    {{input type="text" value=profile_name }} 

    <div class="buttons" style="display: inline-block; vertical-align: text-top;">

        <div  type="button" class="new-btn blue-btn" {{action changeTitle }}> <i class="fa fa-check fa fa-white"></i></div>

        <div  type="button" class="new-btn" {{action exitEditing }}> <i class="fa fa-times"></i></div>
    </div>
</div>
