<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>

    <body style="background:#fff url('images/bgtexture.png') repeat; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; width: 100%;height: 100%;margin: 0;">
        <div style=" width: 100%;background-color: #63A2C8; height: 968px; position: relative; display: block;">

            <div style="position: absolute;top: 240px; width: 35%;display: block; left:-50%;" id="offline_computer">
                <img style="width:100%" src="images/offline-computer.png"/>
            </div>
            <div style="position: absolute;top: 240px; width: 35%;display: block; right:-50%;" id="image_cup">
                <img style="width: 100%" src="images/offline-cup.png" />

            </div>
            <div style="color:#fff;position: absolute;top: 320px; width: 26%; right:-50%;" id="Offline_caption">
                <div style="font-size: 80px;  font-weight: bold;line-height: 75px;letter-spacing: 1px;">Coffee time</div>
                <div style=" font-size: 15px;  letter-spacing: 1px;line-height: 20px; margin-left: 5px;">We are busy enhancing your experience right now. This is a great time to make a coffee and enjoy.</div>
            </div>
        </div>
    </body>

 