<div id="footer">
    <div class="footer_contentbox">

        <div style="text-align: center; padding: 55px 0; margin: 0 auto; font-size: 13px; width: 200px; ">
            <img class="logonew" style="height: auto; position: relative; top: 0; margin:0;width: 160px;"  src ="../../../images/landing-trends.png"/>
            <div style="padding-top: 15px;">

                <a href="http://www.facebook.com/trendsideas"> <i class="fa fa-facebook-square fa-3x"></i></a>
                <a href="http://www.twitter.com/trendsideas"><i class="fa fa-twitter-square fa-3x" style=" padding: 0 27px;"></i></a>
                <a  href="http://www.pinterest.com/trendsideas"><i class="fa fa-pinterest-square fa-3x"></i></a>
                
            </div>
        </div>

    </div>
</div><!-- footer -->

<p id="back-top">
    <a href="#top"><span></span>Back to Top</a>
</p>