<div id="footer">
    <div class="footer_contentbox">

        <div class="footer-container">
            <img class="logonew footer-logo"   src ="../../../images/landing-trends.png"/>
            <div style="padding-top: 15px;">

                <a href="http://www.facebook.com/trendsideas"> <i class="fa fa-facebook-square fa-3x"></i></a>
                <a href="http://www.twitter.com/trendsideas"><i class="fa fa-twitter-square fa-3x footer-twitter" ></i></a>
                <a  href="http://www.pinterest.com/trendsideas"><i class="fa fa-pinterest-square fa-3x"></i></a>
                
            </div>
        </div>

    </div>
</div><!-- footer -->

<p id="back-top">
    <a href="#top"><span></span>Back to Top</a>
</p>