<div id="footer">
    <div class="footer_contentbox">

        <div style="text-align: center; padding: 20px 0; margin: 0 auto; font-size: 13px; width: 200px; ">
            <img class="logonew" style="height: auto; position: relative; top: 0; margin:0;width: 160px;"  src ="../../../images/landing-trends.png"/>
            <div style="padding-top: 15px;">
                <i class="socon icon-facebook-sign icon-3x"></i>
                <i class="socon icon-twitter-sign icon-3x" style=" padding: 0 27px;"></i>
                <i class="socon icon-rss icon-3x"></i>
            </div>
        </div>

    </div>
</div><!-- footer -->

<p id="back-top">
    <a href="#top"><span></span>Back to Top</a>
</p>