<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>


<div class="objectview-wrapper" >
    <div class="fourOhFour-bg">


        <div class="fourOhFour-container">
            <div class="inset-text fourOhFour-innerContainer" >
                <div class="fourOhFour-txt1">404</div>
                <div class="fourOhFour-txt2">Page Not Found!</div>
                <div class="fourOhFour-txt3">We Are Sorry.</div>
                <div class="fourOhFour-txt4">This could be the result of the page being removed, the name being changed or the page being temporarily unavailable.</div>
            </div>

            <div class="search-bar fourOhFour-searchbar-c">
                <div class="search-box easing fourOhFour-searchbar">
                    {{view HubStar.SearchRequireTextFieldView valueBinding="search_string"  id="errorpage_search" class="no-effect hover-opacity easing" placeholder="Search by keyword" }}
                    <div class="Nav-btn easing fourOhFour-searchbtn" {{action searching }}>
                         <i class="fa fa-search fourOhFour-searchicon" ></i>
                    </div> 
                </div>
            </div>
        </div>

    </div>
</div>

