
<div id="google_pop" class="blur_black" onclick="document.getElementById('google_pop').style.display = 'none';
     document.getElementById('google_map_pop').style.display = 'none';
      " style=""></div>


<div  id ="google_map_pop" class="aside-container" style="position: fixed; top: 20%; z-index: 10; margin: auto; left: 0px; right: 0px; display: block;width: 830px;vertical-align: top;background-color: #fff;padding: 10px;" >
<div  id="map_canvas_pop"style="width: 500px; height: 400px; margin: auto; left: 0px; right: 0px; position: relative; background-color: rgb(229, 227, 223); overflow: hidden; -webkit-transform: translateZ(0);display: inline-block;" >
  

</div>
    <div  id="directionsPanel" style="width: 300px; height: 200px; margin: auto; left: 0px; right: 0px; direction: ltr;display: inline-block;vertical-align: top;height: 400px;overflow: hidden;" >
        
  </div>

<div id="directionsPanel" style="float:right;width:30%;height:100%"></div>
<div > {{input type="text" value=fromAddress placeholder="from"}}</div>
<div > {{input type="text" value=toAddress placeholder="to"}}</div>
<select id="routeMode" name="routeMode">
    <option value="DRIVING">Driving</option>
    <option value="WALKING">Walking</option>
    <option value="BICYCLING">Bicycling</option>
    <option value="TRANSIT">Transit</option>
</select>
     <button id="routeGo">Get Direction</button>
    <button id="routeClear">Clear </button>
    </div>
