
<div class="blur_black" onclick="this.parentNode.style.display = 'none'"></div>


<div class="aside-container" style="position:fixed; top: 20%;z-index: 10;margin: auto;left: 0;right: 0;">
<div  id="map_canvas_pop"style="width: 800px;  height: 600px; margin: auto;left: 0;right: 0;" >
  

  </div>

    </div>
