
<div class="blur_black" onclick="this.parentNode.style.display = 'none'"></div>




<div  id="map_canvas" style="width: 500px;  height: 400px;position: fixed;top: 20%;background-color: #fff;z-index: 10;margin: auto;left: 0;right: 0;">
  
  
 

  
  </div>

    
