
{{#if controller.loadingTime}}

{{render "loadingSpinner"}}

{{/if}}
{{#each  contentData}}
<div class="box col2 noStyle1">
    <div class="masonry-object">            
        {{render "itemProfiles" this}}

        {{render "comment" this}}
    </div>
</div>
{{/each}}
