<div class="navbar">
    <div style="position: absolute;right: 0;z-index: 1;">
        <img src="../../../images/beta-version.png"/>

        <span style="position: absolute; top: 21px; left: 33px; font-size: 12px;font-weight: bold;color: #f3f3f3;" id="lastidentifie">0.3-20</span>
    </div>

    <div class="navbar-inner">
        <div class="container">
            <div class="brand">
                <a href="/#">
                    <img class="logonew" style="position: relative; top: 0; margin:0;" src="../../../images/landing-trends.png">
                </a>
            </div>

            <!-- show if not logged into platform-->
            {{#if controller.islogin}}

            <div id="login_detail" style="position: absolute;right: 170px;cursor: pointer;vertical-align: top;display: inline-block;">
                {{view HubStar.AfterLoginView}}
            </div>


            {{else}}


            <div id="login_icon" style="position: absolute; right: 80px;">

                {{view HubStar.BeforeLoginView}}

                {{#if controller.popup}}


                {{view HubStar.LoginModalView}}


                {{/if}}

            </div>


            {{/if}}


            <!-- user is logged in -->

            <div class="smallIcon">
                <a href="#" class="icon_c"><i class="icon-search icon-large"></i></a>
            </div>

        </div>
    </div>
</div>




<script type="text/javascript">

    $(document).ready(function() {
        $('.smallIcon').attr("style", "display:none");
        $('#main-nav span').removeClass('caret');


        // left hiding menu bar

        $('.main-nav ').attr("style", "opacity:0.4;width:10px;overflow:hidden");
        // hide #back-top first
        $("#back-top").hide();
        $(window).scroll(function() {

            if ($(this).scrollTop() > 150) {
                $('#back-top').fadeIn();
            } else {
                $('#back-top').fadeOut();
            }

            if ($(this).scrollTop() > 150) {
                $('.smallIcon').fadeIn();
            } else {
                $('.smallIcon').fadeOut();
            }
        });
        $('#back-top a').click(function() {
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });
    });






    function setDomain() {

        var api_url = document.domain;
        var api_domain_start_pos = api_url.indexOf('.');
        var api_url = api_url.slice(api_domain_start_pos);

        return api_url;
    }





    function Facebook(popupWidth, popupHeight) {
        var left = (screen.width / 2) - (popupWidth / 2);
        var top = (screen.height / 2) - (popupHeight / 2);
        var api_url = "http://" + document.domain + "/hybridauth/default/login/?provider=Facebook";
        newwindow = window.open(api_url, 'name', 'height=' + popupHeight + ',width=' + popupWidth + ',top=' + top + ',left=' + left + ',toolbar=no,scrollbars=no,location=no,resizable =yes');
        if (window.focus) {
            newwindow.focus();
        }


    }
    function Yahoo(popupWidth, popupHeight) {
        var left = (screen.width / 2) - (popupWidth / 2);
        var top = (screen.height / 2) - (popupHeight / 2);
        var api_url = "http://" + document.domain + "/hybridauth/default/login/?provider=Yahoo";
        newwindow = window.open(api_url, 'name', 'height=' + popupHeight + ',width=' + popupWidth + ',top=' + top + ',left=' + left + ',toolbar=no,scrollbars=no,location=no,resizable =yes');
        if (window.focus) {
            newwindow.focus();
        }
    }
    function QQ(popupWidth, popupHeight) {
        var left = (screen.width / 2) - (popupWidth / 2);
        var top = (screen.height / 2) - (popupHeight / 2);
        var api_url = "http://" + document.domain + "/hybridauth/default/login/?provider=QQ";
        newwindow = window.open(api_url, 'name', 'height=' + popupHeight + ',width=' + popupWidth + ',top=' + top + ',left=' + left + ',toolbar=no,scrollbars=no,location=no,resizable =yes');
        if (window.focus) {
            newwindow.focus();
        }
    }
    function Sina(popupWidth, popupHeight) {
        var left = (screen.width / 2) - (popupWidth / 2);
        var top = (screen.height / 2) - (popupHeight / 2);

        var api_url = "http://" + document.domain + "/hybridauth/default/login/?provider=Sina";
        newwindow = window.open(api_url, 'name', 'height=' + popupHeight + ',width=' + popupWidth + ',top=' + top + ',left=' + left + ',toolbar=no,scrollbars=no,location=no,resizable =yes');
        if (window.focus) {
            newwindow.focus();
        }
    }
    function LinkedIn(popupWidth, popupHeight) {
        var left = (screen.width / 2) - (popupWidth / 2);
        var top = (screen.height / 2) - (popupHeight / 2);
        var api_url = "http://" + document.domain + "/hybridauth/default/login/?provider=LinkedIn";
        newwindow = window.open(api_url, 'name', 'height=' + popupHeight + ',width=' + popupWidth + ',top=' + top + ',left=' + left + ',toolbar=no,scrollbars=no,location=no,resizable =yes');
        if (window.focus) {
            newwindow.focus();
        }
    }
    function Google(popupWidth, popupHeight) {
        var left = (screen.width / 2) - (popupWidth / 2);
        var top = (screen.height / 2) - (popupHeight / 2);
        var api_url = "http://" + document.domain + "/hybridauth/default/login/?provider=Google";
        newwindow = window.open(api_url, 'name', 'height=' + popupHeight * 1.5 + ',width=' + popupWidth + ',top=' + top + ',left=' + left + ',toolbar=no,scrollbars=no,location=no,resizable =yes');
        if (window.focus) {
            newwindow.focus();
        }
    }
</script>
