<div class="blur_white"></div>


<div class="loading" >
    <div id="blurringTextG">
        <div id="blurringTextG_1" class="blurringTextG">
            C</div>
        <div id="blurringTextG_2" class="blurringTextG">
            r</div>
        <div id="blurringTextG_3" class="blurringTextG">
            e</div>
        <div id="blurringTextG_4" class="blurringTextG">
            a</div>
        <div id="blurringTextG_5" class="blurringTextG">
            t</div>
        <div id="blurringTextG_6" class="blurringTextG">
            i</div>
        <div id="blurringTextG_7" class="blurringTextG">
            n</div>
        <div id="blurringTextG_8" class="blurringTextG">
            g</div>
        <div id="blurringTextG_9" class="blurringTextG">
            &nbsp;
        </div>
        <div id="blurringTextG_10" class="blurringTextG">
            y</div>
        <div id="blurringTextG_11" class="blurringTextG">
            o</div>
        <div id="blurringTextG_12" class="blurringTextG">
            u</div>
        <div id="blurringTextG_13" class="blurringTextG">
            r</div>
        <div id="blurringTextG_14" class="blurringTextG">
            &nbsp;
        </div>
        <div id="blurringTextG_15" class="blurringTextG">
            i</div>
        <div id="blurringTextG_16" class="blurringTextG">
            d</div>
        <div id="blurringTextG_17" class="blurringTextG">
            e</div>
        <div id="blurringTextG_18" class="blurringTextG">
            a</div>
        <div id="blurringTextG_19" class="blurringTextG">
            s</div>
        <div id="blurringTextG_20" class="blurringTextG">
            &nbsp;
        </div>
        <div id="blurringTextG_21" class="blurringTextG">
            s</div>
        <div id="blurringTextG_22" class="blurringTextG">
            p</div>
        <div id="blurringTextG_23" class="blurringTextG">
            a</div>
        <div id="blurringTextG_24" class="blurringTextG">
            c</div>
        <div id="blurringTextG_25" class="blurringTextG">
            e</div>
        <div id="blurringTextG_26" class="blurringTextG">
            &nbsp;
        </div>
        <div id="blurringTextG_27" class="blurringTextG">
            .</div>
        <div id="blurringTextG_28" class="blurringTextG">
            .</div>
        <div id="blurringTextG_29" class="blurringTextG">
            .</div>
    </div>
</div>

