
<div class="blur_black"></div>

<div class="head" style="width:600px; height:480px;background-color:black;border-radius: 5px;padding: 10px 8px; cursor: auto; z-index: 11; position:absolute;">
<img src="../../../images/Close-icon.png" {{action popupModal }} style=" z-index: 1; width: 25px; position: absolute; right: 0; top: 0; cursor:pointer;"/>
    <div style="width: 584px;height: 460px;background-color: white;">
        <img src="../../../images/header.jpg" style="width:100%;cursor: move;"/>

        <div id="dd" class="wrapper-dropdown-3" tabindex="1" style="width:270px; height:45px;top: 20px;">

            <div>
                <div id="dropdown-cover" class="dropdown_test"  style="float: left; bottom: 10px; position: relative; width: 64px; height: 45px; margin-left: -11px; padding-left: 35px; border-radius: 3px 0 0 3px;">
                    <div class="login-icon">
                        <i class="icon-facebook icon-large">
                        </i>
                    </div>   
                </div>
                <div  id="dropdown-cover" onclick="Facebook(650, 400);" style="float: right; bottom: 10px; position: relative; width: 204.5px; height: 45px; margin-right: -9.5px; border-radius: 0 3px 3px 0;">
                    <div class="sign-in-with" >Sign In with Facebook</div>
                </div>
            </div>
            <ul class="dropdown"  style="width:270px">
                <li  onclick="LinkedIn(650, 400);" ><a style="color:rgb(0,172,237)" href="#"><i class="icon-linkedin-sign icon-large"></i>Sign in with LinkedIn</a></li>
                <li  onclick="Google(650, 400);" ><a style="color:rgb(211,72,54)" href="#"><i class="icon-google-plus icon-large"></i>Sign in with Google+</a></li>
                <li  onclick="Yahoo(650, 400);" ><a style="color:rgb(123,0,153)" href="#"><img src='../../../images/yahoo.png' style='width: auto; height: 35px; float:left;margin: -3% -5% 0 6%;'>Sign in with Yahoo</a></li>
                <!--                    <li  onclick="Sina(650, 400);" ><a style="color:rgb(245,213,0)" href="#"><img src='../../../images/sina.png' style='width: auto; height: 35px; float:left;margin: -3% -3% 0 6%;'>Sign in with Sina</a></li>-->
                <li  onclick="QQ(650, 400);" ><a style="color:rgb(62,59,62)" href="#"><img src='../../../images/qq.png' style='width: auto; height: 35px; float:left;margin: -3% -2% 0 7%;'>Sign in with QQ</a></li>
                <li  class='signup'><a style="color:rgb(0,153,68)" href="#"><i class="icon-envelope icon-large"></i>Sign in with Email</a></li>
            </ul>
        </div>

        <div style="margin: 30px auto 0; width: 270px;">
            <div class="insetbox-shadow" style="width: 100%; height: 50px; border-radius:5px 5px 0 0; border:1px solid #aaa;border-bottom: 0;color: #aaa;font-size: 20px;font-weight: bold;padding: 15px 10px;">Email</div>
            <div class="insetbox-shadow" style="width: 100%; height: 50px; border-radius:0 0 5px 5px; border:1px solid #aaa;color: #aaa;font-size: 20px;font-weight: bold;padding: 15px 10px;">
                Password<k class="icon-question-sign" style="float:right;"></k></div>
        </div>

        <div style="width: 270px;margin: auto;padding: 10px 0;line-height: 15px;">
            <div class="insetbox-shadow" style="width: 15px; height: 15px;border: 1px solid #aaa;display: inline-block;"></div>
            <span style="color: #555;font-size: 13px;font-weight: bold;">Remember me</span>
        </div>

<div class="new-btn green-btn" style="width:270px;height: 40px;font-size: 20px;line-height: 36px;margin:10px auto;display: block;">Log in</div>

<div class="controlbtn-field" style="background-color:#f3f3f3; width:100%; height: 60px;position: relative;bottom: 0px;text-align: center;padding: 20px;">
<span style="color: #555; font-size: 13px; font-weight: bold;">Don't have an account? <a>Sign up for Trendsideas <k class="icon-long-arrow-right"></k></a></span>
</div>

    </div>




</div>
</div>