<div id="masonry_wrapper" style="min-height:300px;">
    <div id="masonry_container" class=" centered clearfix noStyle1" style="top: 100px;">
        <div class="box col2 noStyle1">
            {{render status}}
        </div>

     

        {{#each  content}}
        {{view HubStar.ItemView}}
        <script>
            $(function() {
                var $container = $('#masonry_container');
                window.setTimeout(function() {
                    $container.masonry();
                    $container.masonry('reload');
                }, 1000);
            });
        </script>
        {{/each}}
    </div> <!-- #container -->
</div><!-- #wrapper -->

<div id ="show_more_button"style="width:100%;float:left;clear:both;display: block;">
    <div id="more-result-button" class="new-btn" style=' width: 200px;margin: 60px auto;display: block; box-shadow: 0 0 10px #fff;'{{action scrollDownAction}}><i class="fa fa-long-arrow-down" style="margin-right: 8px"></i>Show more results!
    </div>
</div>



