<div id="masonry_wrapper" class="masonry-searchwall-container">
    <div id="masonry_container" class=" centered clearfix noStyle1">
        <div class="box col2 noStyle1">
            {{render "status"}}
        </div>
        {{collection HubStar.MasonryTestView}}
    </div> <!-- #container -->
</div><!-- #wrapper -->

<div id ="show_more" class="masonry-showmore">

</div>
{{#if controller.nextPageSpinner}}
<div id ="show_more_button" class="masonry-showmorebtn">
    <div id="more-result-button" class="new-btn masonry-moreresult-btn" >
        <div class="loader2 masonry-moreresult-load" ></div>
        <div class="masonry-moreresult-txt" {{action scrollDownAction}}>Loading more results...</div>
    </div>
</div>
{{/if}}






