

<div class="blur_black" style="background-color: initial"  {{action dropdownNavigator on="click" target="controller"}}>&nbsp;</div>
<div class="Navigator-box" style="">
    <div style="background-color: #f3f3f3; height: 35px; line-height: 35px;width: 100%; border-bottom: 1px solid #ddd;padding: 0 15px;border-radius: 3px 3px 0 0;"><span style="font-size: 18px;font-weight: bold;color: #555;">Navigator</span></div>

    <div class="Navigator-content" style="">
        <div class="" style="width: 33%;height: 100%;float: left;padding: 8px 0;overflow: auto">
            <ul>
                <li>Apartment Design <i class="icon-angle-right"></i></li>
                <li>Bathroom<i class="icon-angle-right"></i></li>
                <li>Civic design<i class="icon-angle-right"></i></li>
                <li>Educational design<i class="icon-angle-right"></i></li>
                <li>Home theatre<i class="icon-angle-right"></i></li>
                <li>Hospitality design<i class="icon-angle-right"></i></li>
                <li>Interior living<i class="icon-angle-right"></i></li>
                <li>Kitchen<i class="icon-angle-right"></i></li>
                <li>New homes<i class="icon-angle-right"></i></li>
                <li>Office design<i class="icon-angle-right"></i></li>
                <li>Outdoor living<i class="icon-angle-right"></i></li>
                <li>Refurbishment<i class="icon-angle-right"></i></li>
                <li>Revonations<i class="icon-angle-right"></i></li>
                <li>Retail design<i class="icon-angle-right"></i></li>
            </ul>
        </div>
        <div style="width: 33.5%;height: 100%;border-left: 1px solid #ddd; border-right: 1px solid #ddd;float: left;padding: 8px 12px;overflow: auto">

        </div>
        <div style="width: 33%;height: 100%;float: left;padding: 8px 12px;overflow: auto">

        </div>
    </div>

    <div class="Navigator_links" style="">
        <div style="float: left">
            <span><a target="blank" href="http://about.trendsideas.com/">About</a></span>
            <span><a target="blank" href="http://about.trendsideas.com/business/">Business</a></span>
            <span><a target="blank" href="http://about.trendsideas.com/learning-centre/">Learning Centre</a></span>
            <span><a target="blank" href="http://about.trendsideas.com/contact-us/">Contact us</a></span>
        </div>
        <div style="float: right">
            <span><a target="blank" href="http://about.trendsideas.com/terms-of-use-agreement/">Terms of Use</a></span>
            <span><a target="blank" href="http://about.trendsideas.com/Privacy-policy/">Privacy Policy</a></span>
        </div>
    </div>
</div>



<script>

</script>