
<h1> profiles</h1>


{{#each model}}
<ul>
    <li>
        <h3> id | {{#linkTo 'profile' this}}{{id}}{{/linkTo}}   |   {{profile_name}}</h3>
    </li>
</ul>


{{/each}}





<div style="position: relative; width: 545px; height: 750px; margin: 10px;border-radius: 5px;overflow: hidden">
    <div style="background-color: #f3f3f3; width:100%;height: 50px; border-bottom: 1px solid #aaa;">
        <div style="color: #555;font-size: 20px;line-height: 50px;"><i class="icon-comments-alt">&nbsp;</i>Message Board</div>
        
    </div>
    
    
</div>