

<h1> profiles</h1>


{{#each model}}
<ul>
    <li>
        <h3> id | {{#linkTo 'profile' this}}{{id}}{{/linkTo}}   |   {{profile_name}}</h3>
    </li>
</ul>


{{/each}}


<div style="position: relative; width: 1000px; height:700px; margin: 30px 0; left: 100px;background-color: white;clear: both;">



</div>
