

<h1> profiles</h1>


{{#each model}}
<ul>
    <li>
        <h3> id | {{#linkTo 'profile' this}}{{id}}{{/linkTo}}   |   {{profile_name}}</h3>
    </li>
</ul>


{{/each}}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <body style="background: #E5E5E5; margin: 0 auto; padding: 0;">
        <div style="width: 600px;  box-shadow: 0 0 5px #888; margin: 50px auto;background-color: white;">
            <img src="https://s3-ap-southeast-2.amazonaws.com/develop.devbox/header.jpg" />
            <div style="position: relative; padding: 15px 30px;">
                <h1 style=" font-size: 2em;   line-height: 200%;font-weight: 700;margin-bottom: 10px">Hi   ' . $receiveName . ' ,</h1>
                <p style="font-size: 1.5em;">You have new notifications on myTrends!</p>
                <div style="margin: 20px 10px;font-size: 1.2em;line-height: 30px;height: 90px;">
                    <div style="height: 45px;">
                        <div style="margin: 0 5px;float: left;">
                            <div style="width: 30px;height:30px;">         
                                <img src="http://develop.devbox.s3.amazonaws.com/followers-icon-for-email.png"  style="width: 30px;height:30px; float: left"/> 
                            </div>
                        </div>
                        <div style="float: left;">' . $notificationCountFollow . ' New Followers</div>
                    </div>
                    <div>
                        <div style="margin: 0 5px;float: left;">
                            <div style="width: 30px;height:30px;">         
                                <img src="http://develop.devbox.s3.amazonaws.com/message-icon-for-email.png"  style="width: 30px;height:30px;float: left"/>
                            </div>
                        </div>
                        <div style="float: left;">' . $notificationCountMessage . ' New Messages</div>
                    </div>
                </div>

                <div style="font-size: 1.5em;margin: 20px 0;"><a style="cursor: pointer;color: #05B1E5;" href="http://' . $domainWithoutAPI . '/#/users/' . $ownerId . '/messagecenter/notifications">View and manage notifications</a> on myTrends</div>
                <hr  style="margin-bottom: 5px; color: #333"/>
                <p>If you do not want to receive these emails from myTrends, please <a style="cursor: pointer;color: #05B1E5;">unsubscribe</a>.</p>
            </div>

            <div style="margin-top: 20px"><img src="http://develop.devbox.s3.amazonaws.com/email-bottom.jpg"  /></div>

        </div>
    </body>
</html>
