

<h1> profiles</h1>


{{#each model}}
<ul>
    <li>
        <h3> id | {{#linkTo 'profile' this}}{{id}}{{/linkTo}}   |   {{profile_name}}</h3>
    </li>
</ul>


{{/each}}


<<<<<<< HEAD

=======
>>>>>>> 34b1b381a892b85b207c52433f75e4ab00a178e5
