{{#if controller.loadingTime}}

{{render loadingSpinner}}

{{/if}}


<div class="review-list-container">
    {{#each model.reviews}} 
    {{render reviewListSingle this}}
    {{/each}}
</div>

<script>
    $(function() {
        var $container = $('#masonry_user_container');
        window.setTimeout(function() {
            $container.masonry();
            $container.masonry('reloadItems');
        }, 10);
        
    });  
         
</script>



