{{#if controller.loadingTime}}

{{render "loadingSpinner" null}}

{{/if}}


<div class="review-list-container">
    {{#each model.reviews}} 
    {{render "reviewListSingle" this}}
    {{/each}}
</div>




