

<div class="review-list-container">
    {{#each reviews}} 



    <div id="reviewList"  class="review-list box" style="">

        <div class="review-list-profile-pic" style="">
            <img {{bindAttr src="this.review_user_photo_url"}} id="leftOrRight" style=""/>
        </div>


        <div class="review-list-content" style="">




            <k class="icon-ok-sign">{{controller.review_user_name}}  </k>



            <div class="rating" style="margin: 6px 0 0 0;">
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>
                <span class="star"></span>


            </div>

            <div>{{this.review_content}}   {{this.review_count}}</div>

        </div>
    </div>
    <script>
        $(function() {
            var $container = $('#masonry_user_container');
            window.setTimeout(function() {
                $container.masonry();
                $container.masonry('reload');
            }, 10);
        });
    </script>


    {{/each}}

</div>