<div id ="tagit">
    <div class="box">
    </div>
    <div class="name">
        <div class="text">Type any  tag
        </div>
        <input type="text" name="txtname" id="tagname" />
        <input type="button" name="btnsave"   value="Save" id="btnsave" />
               <input type="button" name="btncancel" value="Cancel" id="btncancel" />
    </div> 
</div> 