{{#view HubStar.SingleFileUploaderView }}


<div class="single-file-uploader-container"> 
    <div class="single-file-uploader-panel">
        <i class="fa fa-arrow-circle-o-up"></i>
        <p>
            Drag and drop
        </p>
    </div>

    <div class="new-btn blue-btn single-file-uploader-choose" >
        Choose 
        <div> </div> 
    </div> 

    <div id="dragAndDroppArea" class="dragndropbox" style="display:none">

   
    </div>
</div>
<div class="controlbtn-field single-file-uploader-buttons" >
    <div class="controlbtn">
        <span class="new-btn" >Close</span>
        <span class="new-btn green-btn" >Upload</span> 
    </div>
</div>
{{/view}}

