
<div  class="blur_black" {{action canelSupply}}>&nbsp;</div>
<div class="top">Supplier</div>
<table class="item">

        <tr class="title">
            <th>Product Code</th>
            <th>Product Description</th>
        </tr>
        
        <tr>
            <td>{{controller.supplierItem.SupplierCode}}</td>
            <td>{{controller.supplierItem.SupplierName}}</td>
        </tr>
    </table>
