

<div style="height: 500px; background-color: grey"></div>
{{log controller}}

<p>aaaaaaaaaaaaaaaaaaa</p>

<br />




<!--DIRECT EMAIL-->


<div>
    <div style="position: relative;background: #fff; width: 600px; height: auto; margin: auto; box-shadow: 0px 0px 8px #555; border-radius: 3px 3px 0 0;">
        <div style="width:600px; height:132px;overflow:hidden; margin-bottom:20px;">
            <img src="https://s3-ap-southeast-2.amazonaws.com/develop.devbox/header.jpg"/>
        </div>
        <table style="padding: 0 80px 0 130px; width: 100%;  display: table;border-collapse: separate;border-spacing: 4px;color: #666; font-family: Arial; margin-bottom: 5px; font-size: 13px; line-height: 16px;">
            <tbody style="display: table-row-group; vertical-align: middle; border-color: inherit;">
                <tr>
                    <td>Project Category:</td>
                    <td> 
                        <div style="display: block;">
                            Bathrooms
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Project Timeframe:</td>
                    <td> 
                        <div style="display: block;">
                            1-2 months
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Project Budget:</td>
                    <td> 
                        <div style="display: block;">
                            Less than 5k
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Project Experience:</td>
                    <td>
                        <div style="display: block;">
                            First Time 
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>I want help in:</td>
                    <td>
                        <div style="display: block;">
                            Appliances                           
                        </div>
                        <div style="display: block;">
                            Design                            
                        </div>
                        <div style="display: block;">
                            Products                          
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>   
        <div style="width:350px;margin: auto;padding: 20px 0;">
            <div style="color: #555;font-family:Arial;margin-bottom: 5px;font-size: 15px;line-height:16px;font-weight: bold;">Subject:  </div>
            <div style="color: #555;font-family:Arial;margin-bottom: 5px;font-size: 15px;line-height:16px;font-weight: bold;">From:  </div>
            <div style="color: #555;font-family:Arial;margin-bottom: 5px;font-size: 15px;line-height:16px;font-weight: bold;">To:  </div>
            <div style="color:#666;font-family:Arial;margin:0;font-size:11px;line-height:16px">
                WQNMLGB~~~~!Yeah
            </div> 
        </div>

        <div style="width:600px; height: 20px;overflow:hidden;">
            <img src="https://s3-ap-southeast-2.amazonaws.com/develop.devbox/contactus-botbar.png"/>
        </div>

    </div>
</div>





















<!--USER SOCIAL LINK-->


<div style="font-size: 13px;line-height: 20px;margin: 5px auto;color: #888; overflow: hidden;height: 50px; text-overflow: ellipsis;">{{description}}</div>
<ul class="locationandlinks">
    <li class="location_li" style="background: none;padding: 0;"><i class="fa fa-map-marker"> </i>Auckland</li> 
    <li><a href="#" target="_blank">www.you.com</a></li>
    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
    <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
</ul>
</div>