

<div class="Message-Board box" style="position: relative; width: 545px; height: 750px; margin: 10px;border-radius: 5px;overflow: hidden;background-color: #fff;">
    <div style="background-color: #f3f3f3; width:100%;height: 50px; border-bottom: 1px solid #ddd;padding: 0 20px;">
        <div style="color: #555;font-size: 18px;line-height: 50px;"><i class="icon-comments-alt">&nbsp;</i>Message Board</div>

    </div>

    <div class="" id="" style="width: 100%;padding: 0 6.5%;margin: 20px auto;overflow: hidden;">
        <div style="margin:0 auto; padding: 0 0 15px 45px;">
            <a>
                <img class="profilepic_comment"  style="float: left; margin: 4px 0 0 -45px; margin-top: 0;" src="https://s3-ap-southeast-2.amazonaws.com/develop.devbox/profile_pic/default/defaultpic1.jpg" /> 
            </a>
            <div  id="about_me" style="margin: 0;width: 100%; height:100px;">
                {{view Ember.TextArea valueBinding="about_me" class="no-resize" placeholder="What's up!" }}
            </div>
        </div>
    </div>
    <div class="" style="margin: 10px auto 0; width: 100%;height: 45px;border-bottom: 1px solid #ddd;">
        <div  class="message-btn easing" style="border-right: 1px solid #ddd; "><i class='icon-picture'>&nbsp;</i>Add Photo</div>
        <div class="message-btn easing" style="">Post</div>
    </div>


</div>


