<div id="user-photo_left-back">

    <div class='' style="height: 375px;">
        <a href="#ddddd" data-toggle="tab" style="width: 70%; position: relative; margin: auto; display: block; text-align: center;">
            <div class='styleup_uploadbox easing hint--right hint--rounded' data-hint='Upload'  style="margin: 85px 0;">
                <i class='icon-upload icon-3x' style="width: 30px;margin: auto;display: block;position: relative;top: 40px;" ></i>
                <span style="font-size: 13px;font-weight:bold;bottom: 20px;position: relative;">Profile Picture </span>
            </div>
        </a>
        <div style='height: 150px;margin: 10px 15px;display: inline-block; width: auto;line-height: 150px;vertical-align: top;'>
            <img style="max-height: 100%; width: auto;max-width: 300px;" {{bindAttr src="profile_pic_url"}} />
        </div>

    </div>   



    <div style="text-align: center;height: 75px;line-height: 85px;background-color: #f3f3f3;">
        <div class="new-btn blue-btn" style="margin: 28px 20px; width: 67px; float: left;">
            Choose 
            <div style="opacity:0;position: absolute;top: 0px;left: 0;"> {{view HubStar.SingleImageInputButtonView }}</div>
        </div>
        <div style="margin: auto;width: 150px;float: right;">
            <span class="new-btn green-btn" {{action saveUpdate}} >Save</span>
            <span class='new-btn flip-back'{{action userPhotoEditBackButton }}><k class='icon-user'> &nbsp;</k>Back</span>
        </div>

    </div>

</div>