<div id="user-photo_left-back">
        
            <div class='styleup_section' style="height: 250px;">
                        <a href="#ddddd" data-toggle="tab" >
                           <div class='styleup_uploadbox easing hint--right hint--rounded' data-hint='Upload'  style="margin: 30px 45px;">
                                <i class='icon-upload icon-3x' style="width: 30px;margin: auto;display: block;position: relative;top: 40px;" ></i>
                                <span style="font-size: 13px;font-weight:bold;bottom: 20px;position: relative;">Profile Picture </span>
                            </div>
                        </a>
                        <div style='height: 150px;margin: 10px 15px;display: inline-block; width: auto;line-height: 150px;vertical-align: top;'>
                            <img style="max-height: 100%; width: auto;max-width: 300px;" {{bindAttr src="profile_pic_url"}} />
                        </div>
              
                    </div>   
           
     
       
            <div style="text-align: center;">
                 <div style="right: 0;margin: 30px auto 0;width: 150px;">
                       <div class="new-btn green-btn" style="margin: auto; width: 67px; top: 255px; position: absolute;left: 0;">
                            Choose 
                            <div style="opacity:0;position: absolute;top: 0px;left: 0;"> {{view HubStar.SingleImageInputButtonView }}</div>
                        </div>
                      <span class="new-btn green-btn" {{action saveUpdate}} >Save</span>
                        <span class='new-btn blue-btn flip-back'{{action userPhotoEditBackButton }}><k class='icon-group'> &nbsp;</k>Back</span>
                    </div>

            </div>
      
 </div>