
<div id="user-board_right_back">
       <div class="tabbable">
            <div class="tabs-left">
                <ul class="nav nav-tabs easing">
                    <li class="active" ><a href="#tab1" data-toggle="tab">CHANGE COVER</a></li>
                    <li class="easing" ><a href="#tab2" data-toggle="tab">SETTING</a></li>
                    <li class="easing" ><a href="#tab3" data-toggle="tab">SECURITY</a></li>
                </ul>
            </div>
         <div class="tab-content easing">
                <div class="tab-pane active" id="tab1">
              </div>
                     <div style="right: 0;margin: 30px auto 0;width: 150px;">
                        <span class='new-btn blue-btn flip-back'{{action userDashboardBackButton }}><k class='icon-group'> &nbsp;</k>Back</span>
                    </div>  
                </div>



         </div>
       </div>
</div>