* {
    -moz-box-sizing: border-box;
}


#footer
{
    position: absolute;
    width: 100%;
    background: #333333 url('../images/footerbg.png') repeat-x;
    color: white;
    padding: 40px;
    font-size: 0.8em;
    text-align: center;
}

.footer_contentbox {
    width: 1000px;
    margin: auto;
    height: 220px;
    position: relative;
    top: 15px;
}

.footer-text-left {
    text-align: right;
    padding: 20px 0;
    margin-right: 13px;
    float: left;
    font-size: 14px;
    line-height: 20px;
    color: #ccc;
    width: 150px;

}

.footer-text-right {
    text-align: left;
    padding: 20px 0;
    margin-left: 0px;
    float: left;
    font-size: 14px;
    line-height: 20px;
    color: #ccc;
    width: 150px;
}

#footer ul {
    list-style: none;
    
}




#back-top {
    position: fixed;
    bottom: -5px;
    right: 50px;
    z-index: 100000;
    opacity: 0.6;
}

#back-top a {
    width: 50px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #bbb;

    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover {
    color: #000;
}

/* arrow icon (span tag) */
#back-top span {
    width: 50px;
    height: 50px;
    display: block;
    margin-bottom: 7px;
    background:  #ddd url(../images/up-arrow.png) no-repeat center center;
    background-size: 45px;
    opacity: 0.7;


    /* rounded corners */
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 6px;

    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover span {
    background-color: #777;
}