* {
    -moz-box-sizing: border-box;
}


#footer
{
    position: absolute;
    width: 100%;
    background: #333333 url('../images/footerbg.png') repeat-x;
    color: white;
    padding: 40px;
    font-size: 0.8em;
    text-align: center;
}

.footer_contentbox {
    width: 1000px;
    margin: auto;
    height: 220px;
    position: relative;
    top: 15px;
}

.footer-text-left {
    text-align: right;
    padding: 20px 0;
    margin-right: 13px;
    float: left;
    font-size: 14px;
    line-height: 20px;
    color: #ccc;
    width: 150px;

}

.footer-text-right {
    text-align: left;
    padding: 20px 0;
    margin-left: 0px;
    float: left;
    font-size: 14px;
    line-height: 20px;
    color: #ccc;
    width: 150px;
}

#footer ul {
    list-style: none;
    
}
