/* 
    Document   : gallery
    Created on : 16/01/2013, 2:50:04 PM
    Author     : devbox
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

/* End: Recommended Isotope styles */


/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}


.gold img{

    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    cursor: pointer;
    height:365px;

    overflow: hidden;
}
.image_load_gold{
    left:5px;
    height:365px;
    width:220px;
    overflow: hidden;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    position:absolute;
    top:30px;
}
.image_load_bronze{
    left:5px;
    height:135px;
    width:100px;
    overflow: hidden;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    top:30px;
    position:absolute;

}
.image_load_silvier{
    left:5px;
    height:155px;
    width:220px;
    overflow: hidden;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;

    top:30px;
    position:absolute;
}

.bronze img{
    cursor: pointer;

    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    height:140px;


    overflow: hidden;

}
.silvier img{
    cursor: pointer;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    height:150px;


    overflow: hidden;
}
.description_title_silvier{
    white-space: nowrap;
    width:100px;
    height:10px;
    top:200px;
    left:24px;
}
.comment_title_silvier{
    white-space: nowrap;
    width:100px;
    height:10px;
    top:200px;
    left:108px;
}

.description_title_bronze{
    white-space: nowrap;
    width:100px;
    height:10px;
    top:180px;
    left:20px;

}
.comment_title_bronze{
    white-space: nowrap;
    width:100px;
    height:10px;
    top:200px;
    left:13px;
}
.description_title_gold{
    white-space: nowrap;
    width:100px;
    height:20px;
    top:420px;
    left:24px;

}
.comment_title_gold{

    white-space: nowrap;
    width:100px;
    height:20px;
    top:420px;
    left:108px;
}
.squire_title{
    white-space: nowrap;
    top:5px;
    left:5px;

}

.element a, .element a:visited, .element a:active {color:black; text-decoration:none;}
.element a:hover{color:rgb(47,183,234);text-decoration: none;}
.icon-comment{
    margin:2px;

}


.element {
    width: 230px;
    height: 110px;
    margin: 5px;
    float: left;
    overflow: hidden;
    position: relative;
    background: linear-gradient(to bottom, rgb(241, 241, 241) 0%, gainsboro 100%) repeat scroll 0% 0% transparent;
    background: -moz-linear-gradient(top,  rgb(241, 241, 241)  0%, gainsboro 100%);                                                                        /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(241, 241, 241)), color-stop(100%,gainsboro));       /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgb(241, 241, 241)  0%,rgainsboro 100%);                                                                      /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgb(241, 241, 241)  0%,gainsboro 100%);                                                                               /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgb(241, 241, 241)  0%,gainsboro 100%);                                                                             /* IE10+ */    
    color: #222;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.4), 0px 0px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4), 0px -2px 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4), 0px -2px 2px rgba(0, 0, 0, 0.4);
}


.element * {
    position: absolute;
    margin: 0;
}

.element .symbol {
    left: 0.2em;
    top: 0.4em;
    font-size: 3.8em;
    line-height: 1.0em;
    color: #FFF;
}

.element.large .symbol {
    font-size: 4.5em;
}

.element.fake .symbol {
    color: #000;
}

.element .name {
    left: 0.5em;
    bottom: 1.6em;
    font-size: 1.05em;
}

.element .weight {
    font-size: 0.9em;
    left: 0.5em;
    bottom: 0.5em;
}

.element .number {
    font-size: 1.25em;
    font-weight: bold;
    color: hsla(0,0%,0%,.5);
    right: 0.5em;
    top: 0.5em;
}


.variable-sizes .element.width2 { width: 230px; }

.variable-sizes .element.height2 { height: 230px; }

.variable-sizes .element.width3 { width: 470px; }

.variable-sizes .element.height3 { height: 470px; }

.variable-sizes .element.width2.height2 {
    font-size: 2.0em;
}

.element.large,
.variable-sizes .element.large,
.variable-sizes .element.large.width2.height2 {
    font-size: 3.0em;
    width: 1400px;
    height: 470px;
    z-index: 100;
}

.clickable .element:hover {
    cursor: pointer;
}

.clickable .element:hover h3 {
    text-shadow:
        0 0 10px white,
        0 0 10px white
        ;
}

.clickable .element:hover h2 {
    color: white;
}

.corner-stamp {
    width: 280px;
    height:auto;


    padding: 10px;
    margin: 5px 18px 5px 1px;
    float: right;
    background: none repeat scroll 0% 0% white;
    color: white;
    border: 1px solid #666;
    border-radius: 5px 5px 5px 5px;
}



/**** Isotope styles ****/

/* required for containers to inherit vertical size from window */
html,
body {
    height: 100%;
}

#container {
    width: 100%;
    min-width: 678px;
    border: none;
    padding: 5px;
    margin-bottom: 20px;
    margin-top:70px;
}

.item{
    border: solid 1px gray;
    padding: 3px;
    margin: 5px;
}

.category_box{
    width: 250px;
    height: 150px;
}

.browse_box{
    width: 250px;
    height: 600px;
}

.bc_std_horizontal {
    width: 100px;
    height: 50px;
}

.bc_std_vertical {
    width: 50px;
    height: 100px;
}

.bc_adv_horizontal {
    width: 200px;
    height: 50px;
}

.bc_adv_vertical {
    width: 50px;
    height: 200px;
}

.bc_prm_horizontal {
    width: 200px;
    height: 200px;
}

.bc_prm_vertical {
    width: 200px;
    height: 200px;
}

.category-container{
    position: relative;
    top: 10px;
    left:10px;
}

.category-level0{
    position: relative;
}

.category-level1{
    position: relative;
}

/* The Magnificent Clearfix: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

