/* 
    Document   : gallery
    Created on : 16/01/2013, 2:50:04 PM
    Author     : devbox
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

/* End: Recommended Isotope styles */


/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}


.gold img{

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    width:100%;

    overflow: hidden;
}
.image_load_gold{
    left:15px;
    height:365px;
    width:180px;
    overflow: hidden;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    position:absolute;
    top:30px;
}
.image_load_bronze{
    left:15px;
    height:135px;
    width:180px;
    overflow: hidden;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    top:30px;
    position:absolute;

}
.image_load_silvier{
    left:15px;
    height:155px;
    width:180px;
    overflow: hidden;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    top:30px;
    position:absolute;
}

.bronze img{
    cursor: pointer;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width:100%;


    overflow: hidden;

}
.silvier img{
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width:100%;


    overflow: hidden;
}
.place_holder{
    width:100%;
    height:90px;

}
.display_btn{
    height:50px;
    padding-right:45%;
    padding-top:0px;

}
.loading_img{
    margin-top:-55px;
    margin-right:52%;
    height:110px;
}
.loading_img_position{

    margin-left:100%;
}

/*this must be set so that the loading div
  can be height:100% */
body{height:100%}

/*this is what we want the div to look like
  when it is not showing*/
div.loading-invisible{
    /*make invisible*/
    display:none;
}

/*this is what we want the div to look like
  when it IS showing*/
div.loading-visible{
    /*make visible*/
    z-index:999999;
    display:block;

    /*position it at the very top-left corner*/
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-align:center;

    /*in supporting browsers, make it
      a little transparent*/
    background:#fff;
    _background:none; /*this line removes the background in IE*/
    opacity:.95;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;

    /*set the padding, so that the content
      of the div is centered vertically*/
    padding-top:15%;
}

div.search-loading-invisible{
    /*make invisible*/
    display:none;
}

/*this is what we want the div to look like
  when it IS showing*/
div.search-loading-visible{
    /*make visible*/
    z-index:999999;
    display:block;

    /*position it at the very top-left corner*/
    position:fixed;
    top:200px;
    left:0;
    width:100%;
    height:100%;
    text-align:center;

    /*in supporting browsers, make it
      a little transparent*/
    background:#fff;
    _background:none; /*this line removes the background in IE*/
    opacity:.95;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;

    /*set the padding, so that the content
      of the div is centered vertically*/
    padding-top:15%;
}





.comments{
    width:212px;
    bottom:0px;

    height:45px;
    color: #222;
    background: linear-gradient(to bottom, rgb(241, 241, 241) 0%, gainsboro 100%) repeat scroll 0% 0% transparent;
    background: -moz-linear-gradient(top,  rgb(241, 241, 241)  0%, gainsboro 100%);                                                                        /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(241, 241, 241)), color-stop(100%,gainsboro));       /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgb(241, 241, 241)  0%,rgainsboro 100%);                                                                      /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgb(241, 241, 241)  0%,gainsboro 100%);                                                                               /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgb(241, 241, 241)  0%,gainsboro 100%);    
}
.user_profile{
    bottom:5px;
    left:7px;

}

.squire_title{
    white-space: nowrap;
    top:5px;
    left:5px;

}

.element a, .element a:visited, .element a:active {color:black; text-decoration:none;}
.element a:hover{color:rgb(47,183,234);text-decoration: none;}
.icon-comment{
    margin:2px;

}


.element{
    width: 212px;
    height: 110px;
    margin: 5px;
    float:left;
    overflow: hidden;
    position: relative;
    /* IE10+ */    
    background-color: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.4), 0px 0px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4), 0px -2px 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4), 0px -2px 2px rgba(0, 0, 0, 0.4);
}


.element a * {
    position: absolute;
    margin: 0;
}

.element .symbol {
    left: 0.2em;
    top: 0.4em;
    font-size: 3.8em;
    line-height: 1.0em;
    color: #FFF;
}

.element.large .symbol {
    font-size: 4.5em;
}

.element.fake .symbol {
    color: #000;
}

.element .name {
    left: 0.5em;
    bottom: 1.6em;
    font-size: 1.05em;
}

.element .weight {
    font-size: 0.9em;
    left: 0.5em;
    bottom: 0.5em;
}

.element .number {
    font-size: 1.25em;
    font-weight: bold;
    color: hsla(0,0%,0%,.5);
    right: 0.5em;
    top: 0.5em;
}


.variable-sizes .element.width2 { width: 212px; }

.variable-sizes .element.height2 { height: 230px; }

.variable-sizes .element.width3 { width: 212px; }

.variable-sizes .element.height3 { height: 470px; }

.variable-sizes .element.width2.height2 {
    font-size: 2.0em;
}

.element.large,
.variable-sizes .element.large,
.variable-sizes .element.large.width2.height2 {
    font-size: 3.0em;
    width: 1400px;
    height: 470px;
    z-index: 100;
}

.clickable .element:hover {
    cursor: pointer;
}

.clickable .element:hover h3 {
    text-shadow:
        0 0 10px white,
        0 0 10px white
        ;
}

.clickable .element:hover h2 {
    color: white;
}

.corner-stamp {
    width: 280px;
    height:auto;


    padding: 10px;

    float: right;
    background: none repeat scroll 0% 0% white;
    color: white;
    border: 1px solid #666;
    border-radius: 5px 5px 5px 5px;
}



/**** Isotope styles ****/

/* required for containers to inherit vertical size from window */
html,
body {
    height: 100%;
}

#container {

    min-width: 769px;
    border: none;
    margin:70px 0px 0px 8px;

}

.item{
    border: solid 1px gray;

}

.category_box{
    width: 250px;
    height: 150px;
}

.browse_box{
    width: 250px;
    height: 600px;
}

.bc_std_horizontal {
    width: 100px;
    height: 50px;
}

.bc_std_vertical {
    width: 50px;
    height: 100px;
}

.bc_adv_horizontal {
    width: 200px;
    height: 50px;
}

.bc_adv_vertical {
    width: 50px;
    height: 200px;
}

.bc_prm_horizontal {
    width: 200px;
    height: 200px;
}

.bc_prm_vertical {
    width: 200px;
    height: 200px;
}

.category-container{
    position: relative;
    top: 10px;
    left:10px;
}

.category-level0{
    position: relative;
}

.category-level1{
    position: relative;
}

/* The Magnificent Clearfix: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



.panelcircle {
    width:40px;
    height:40px;
    border-radius:50px;
    font-size:18px;
    color:#fff;
    line-height:40px;
    text-align:center;
    background:rgb(201,202,202)
}


/*  facebook google qq dropdown list                             */

.wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    width: 200px;
    margin: 0;
    left:40%;
    padding: 10px;

    /* Styles */
    background: #fff;
    border-radius: 7px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;

    /* Font settings */
    font-weight: bold;
    color: #8AA8BD;
}

.modal-topbox > .wrapper-dropdown-3 {
    left:24%;
    color: white;
    /* gradients */
    background-color: #2b4170;
    background: -moz-linear-gradient(top, #3b5998, #2b4170);
    background: -ms-linear-gradient(top, #3b5998, #2b4170);
    background: -webkit-linear-gradient(top, #3b5998, #2b4170);
    border: 1px solid #2b4170;
    border-top: 1px solid rgb(161,163,197);
    border-left:  1px solid rgb(110,112,146);


    -moz-text-shadow: -1px -1px  #595757, 1px 1px #f7f8f8;
    -webkit-text-shadow: -1px -1px  #595757, 1px 1px #f7f8f8;
    text-shadow: -1px -1px  #595757, 1px 1px #f7f8f8;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;

}
.container >.wrapper-dropdown-3 {

    font-weight: normal;
}
.tile_img >.wrapper-dropdown-3 {
    left: 0px;
    color: white;
    width:270px;
    text-align: center;
    position:relative;

    /* gradients */
    background-color: #2b4170;
    background: -moz-linear-gradient(top, #3b5998, #2b4170);
    background: -ms-linear-gradient(top, #3b5998, #2b4170);
    background: -webkit-linear-gradient(top, #3b5998, #2b4170);
    border: 1px solid #2b4170;
    border-top: 1px solid rgb(161,163,197);
    border-left:  1px solid rgb(110,112,146);


    -moz-text-shadow: -1px -1px  #595757;
    -webkit-text-shadow: -1px -1px  #595757;
    text-shadow: -1px -1px  #595757;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}

.modal-topbox >.wrapper-dropdown-3 {
    left: 25%;
    color: white;
    width:270px;
    text-align: center;
    position:relative;

    /* gradients */
    background-color: #2b4170;
    background: -moz-linear-gradient(top, #3b5998, #2b4170);
    background: -ms-linear-gradient(top, #3b5998, #2b4170);
    background: -webkit-linear-gradient(top, #3b5998, #2b4170);
    border: 1px solid #2b4170;
    border-top: 1px solid rgb(161,163,197);
    border-left:  1px solid rgb(110,112,146);


    -moz-text-shadow: -1px -1px  #595757;
    -webkit-text-shadow: -1px -1px  #595757;
    text-shadow: -1px -1px  #595757;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}





#dropdown-cover{
    /* webkit example */
    background-image: -webkit-gradient(
        linear, left top, left bottom, from(rgba(255,255,255,0.15)),
        to(rgba(255,255,255,0))
        );

    /* mozilla example - FF3.6+ */
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0.15) , rgba(255, 255, 255, 0) 
        );

    /* approximately a 33% opacity on blue */
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr=rgba(255,255,255,0.15), endColorstr=rgba(255, 255, 255, 0)
        );

    /* IE8 uses -ms-filter for whatever reason... */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr=rgba(255, 255, 255, 0.15), endColorstr=rgba(255, 255, 255, 0)
        );
}      

#dropdown-cover:hover{
    /* webkit example */
    background-image: -webkit-gradient(
        linear, left top, left bottom, from(rgba(255,255,255,0)),
        to(rgba(255,255,255,0))
        );

    /* mozilla example - FF3.6+ */
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) , rgba(255, 255, 255, 0) 
        );

    /* approximately a 33% opacity on blue */
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr=rgba(255,255,255,0), endColorstr=rgba(255, 255, 255, 0)
        );

    /* IE8 uses -ms-filter for whatever reason... */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr=rgba(255, 255, 255, 0), endColorstr=rgba(255, 255, 255, 0)
        );
}      

#dropdown-cover:active{
    /* webkit example */
    background-image: -webkit-gradient(
        linear, left top, left bottom, from(rgba(0,0,0,0.45)),
        to(rgba(0,0,0,0.05))
        );

    /* mozilla example - FF3.6+ */
    background-image: -moz-linear-gradient(
        rgba(0,0,0,0.45) , rgba(0,0,0,0.05) 
        );

    /* approximately a 33% opacity on blue */
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr=rgba(0,0,0,0.45), endColorstr=rgba(0,0,0,0.05)
        );

    /* IE8 uses -ms-filter for whatever reason... */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr=rgba(0,0,0,0.45), endColorstr=rgba(0,0,0,0.05)
        );
}

.tile_img  .sign-in-with{
    text-shadow: 1.5px 2px 1px #000000; 
    padding-left: 3%; 
    border-left: 1px solid rgba(242,240,240,0.4); 
    font-weight: normal; 
    size: 16px; 
    margin-right: 0%;       
    position: relative;
    bottom: -12px;
}

.modal-topbox .sign-in-with{
    text-shadow: 1.5px 2px 1px #000000; 
    padding-left: 3%; 
    border-left: 1px solid rgba(242,240,240,0.4); 
    font-weight: normal; 
    size: 16px; 
    margin-right: 0%;       
    position: relative;
    bottom: -12px;
}      

.tile_img  .login-icon {
    margin-right: 0px; 
    text-shadow: 1.5px 2px 1px #000000; 
    border-right:1px solid rgba(42,39,42,1); 
    padding-left: 0%; 
    padding-right: 0%; 
    width: 44px;
    position: relative;
    bottom: -11px;
    left:-15px;
}

.modal-topbox  .login-icon {
    margin-right: 0px; 
    text-shadow: 1.5px 2px 1px #000000; 
    border-right:1px solid rgba(42,39,42,1); 
    padding-left: 0%; 
    padding-right: 0%; 
    width: 40px;
    position: relative;
    bottom: -11px;
    left:-11px;
}

.wrapper-dropdown-3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #8aa8bd transparent;
}


/*region dropdown triangle*/
.container>.wrapper-dropdown-3:after {

    border-color: #fff transparent;

}

/*button dropdown triangle*/
.tile_img >.wrapper-dropdown-3:after {
    border-color:  #fff  transparent;
    left:15px;
}

.modal-topbox >.wrapper-dropdown-3:after {
    border-color:  #fff  transparent;
    left:15px;
}

.login_guest{
    margin: -64px 0px 0px 3%;
}
.wrapper-dropdown-3 .dropdown {
    /* Size & position */
    position: absolute;
    top: 140%;
    left: -25px;
    right: 0;

    /* Styles */
    background: rgb(242,240,240);
    border-radius: inherit;
    border: 1px solid rgb(62,59,62);
    box-shadow: 1px 2px 10px rgb(0,0,0);
    font-weight: normal;
    transition: all 0.5s ease-in;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
    z-index:10000;
    display:none;
}

.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #8aa8bd;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-3 .dropdown li i {
    float: left;
    margin-left: 10%;
    color: inherit;
}

.wrapper-dropdown-3 .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0;
}

.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border-radius: 0 0 7px 7px;
    border: none;
}

















/* Hover state */
/*frontpage login button hover state*/
.wrapper-dropdown-3 .dropdown li:nth-child(1):hover a{

    background: rgba(0,172,237,0.2);
}
.wrapper-dropdown-3 .dropdown li:nth-child(2):hover a{

    background: rgba(211,72,54,0.2);
}
.wrapper-dropdown-3 .dropdown li:nth-child(3):hover a{

    background: rgba(123,0,153,0.2);
}
.wrapper-dropdown-3 .dropdown li:nth-child(4):hover a{

    background: rgba(245,213,0,0.2);
}
.wrapper-dropdown-3 .dropdown li:nth-child(5):hover a{

    background: rgba(62,59,62,0.2);
}
.wrapper-dropdown-3 .dropdown li:nth-child(6):hover a{

    background: rgba(0,153,68,0.2);
}





/*login panel login button hover state*/

.modal-topbox .dropdown li:nth-child(1):hover a{

    background: rgba(0,172,237,0.2);
}
.modal-topbox .dropdown li:nth-child(2):hover a{

    background: rgba(211,72,54,0.2);
}
.modal-topbox .dropdown li:nth-child(3):hover a{

    background: rgba(123,0,153,0.2);
}
.modal-topbox .dropdown li:nth-child(4):hover a{

    background: rgba(245,213,0,0.2);
}
.modal-topbox .dropdown li:nth-child(5):hover a{

    background: rgba(62,59,62,0.2);
}
.modal-topbox .dropdown li:nth-child(6):hover a{

    background: rgba(0,153,68,0.2);
}



/*square button*/
.square-button {
    float: left;
    margin: 10px;

}

.square-button-google {
    width: 45px;
    height: 45px;
    /*    border: 1px solid rgb(201,202,202);
            padding: 60px 0;*/
    text-align: center;
    color: white; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: #666 0px 0px 1px;
    -moz-box-shadow: #666 0px 0px 1px;
    box-shadow: #666 0px 0px 1px;
    background: #e64522;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#e64522), to(#c33219));
    background: -webkit-linear-gradient(#e64522, #c33219);
    background: -moz-linear-gradient(#e64522, #c33219);
    background: -ms-linear-gradient(#e64522, #c33219);
    background: -o-linear-gradient(#e64522, #c33219);
    background: linear-gradient(#e64522, #c33219);
    -pie-background: linear-gradient(#e64522, #c33219);
    behavior: url(/pie/PIE.htc);

    -moz-text-shadow: -1px -1px  #595757; 
    -webkit-text-shadow: -1px -1px  #595757;
    text-shadow: -1px -1px  #595757;

}

.square-button-twitter {
    width: 45px;
    height: 45px;
    /*    border: 1px solid rgb(201,202,202);
            padding: 60px 0;*/
    text-align: center;
    color: white; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: #666 0px 0px 1px;
    -moz-box-shadow: #666 0px 0px 1px;
    box-shadow: #666 0px 0px 1px;
    background: #e64522;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#00aced), to(#0081ce));
    background: -webkit-linear-gradient(#00aced, #0081ce);
    background: -moz-linear-gradient(#00aced, #0081ce);
    background: -ms-linear-gradient(#00aced, #0081ce);
    background: -o-linear-gradient(#00aced, #0081ce);
    background: linear-gradient(#00aced, #0081ce);
    -pie-background: linear-gradient(#00aced, #0081ce);
    behavior: url(/pie/PIE.htc);

    -moz-text-shadow: -1px -1px  #595757; 
    -webkit-text-shadow: -1px -1px  #595757;
    text-shadow: -1px -1px  #595757;
}

.square-button-yahoo  {
    width: 45px;
    height: 45px;
    /*    border: 1px solid rgb(201,202,202);
            padding: 60px 0;*/
    text-align: center;
    color: white; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: #666 0px 0px 1px;
    -moz-box-shadow: #666 0px 0px 1px;
    box-shadow: #666 0px 0px 1px;
    background: rgb(163,89,167);
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgb(163,89,167)), to(rgb(138,43,143)));
    background: -webkit-linear-gradient(rgb(163,89,167), rgb(138,43,143));
    background: -moz-linear-gradient(rgb(163,89,167), rgb(138,43,143));
    background: -ms-linear-gradient(rgb(163,89,167), rgb(138,43,143));
    background: -o-linear-gradient(rgb(163,89,167), rgb(138,43,143));
    background: linear-gradient(rgb(163,89,167), rgb(138,43,143));
    -pie-background: linear-gradient(rgb(163,89,167), rgb(138,43,143));
    behavior: url(/pie/PIE.htc);
}

.square-button-sina {
    width: 45px;
    height: 45px;
    /*    border: 1px solid rgb(201,202,202);
            padding: 60px 0;*/
    text-align: center;
    color: white; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: #666 0px 0px 1px;
    -moz-box-shadow: #666 0px 0px 1px;
    box-shadow: #666 0px 0px 1px;
    background: rgb(245,213,0);
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgb(245,213,0)), to(rgb(230,200,0)));
    background: -webkit-linear-gradient(rgb(245,213,0), rgb(230,200,0));
    background: -moz-linear-gradient(rgb(245,213,0), rgb(230,200,0));
    background: -ms-linear-gradient(rgb(245,213,0), rgb(230,200,0));
    background: -o-linear-gradient(rgb(245,213,0), rgb(230,200,0));
    background: linear-gradient(rgb(245,213,0), rgb(230,200,0));
    -pie-background: linear-gradient(rgb(245,213,0), rgb(230,200,0));
    behavior: url(/pie/PIE.htc);
}

.square-button-qq {
    width: 45px;
    height: 45px;
    /*    border: 1px solid rgb(201,202,202);
            padding: 60px 0;*/
    text-align: center;
    color: white; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: #666 0px 0px 1px;
    -moz-box-shadow: #666 0px 0px 1px;
    box-shadow: #666 0px 0px 1px;
    background: rgba(62,59,62,0.8);
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(62,59,62,0.8)), to(rgba(62,59,62,1)));
    background: -webkit-linear-gradient(rgba(62,59,62,0.8), rgba(62,59,62,1));
    background: -moz-linear-gradient(rgba(62,59,62,0.8), rgba(62,59,62,1));
    background: -ms-linear-gradient(rgba(62,59,62,0.8), rgba(62,59,62,1));
    background: -o-linear-gradient(rgba(62,59,62,0.8), rgba(62,59,62,1));
    background: linear-gradient(rgba(62,59,62,0.8), rgba(62,59,62,1));
    -pie-background: linear-gradient(rgba(62,59,62,0.8), rgba(62,59,62,1));
    behavior: url(/pie/PIE.htc);
}

.square-button-email {
    width: 45px;
    height: 45px;
    /*    border: 1px solid rgb(201,202,202);*/
    text-align: center;
    color: white; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: #666 0px 0px 1px;
    -moz-box-shadow: #666 0px 0px 1px;
    box-shadow: #666 0px 0px 1px;
    background: rgb(84,181,112);
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(rgb(84,181,112)), to(rgb(39,162,75)));
    background: -webkit-linear-gradient(rgb(84,181,112), rgb(39,162,75));
    background: -moz-linear-gradient(rgb(84,181,112), rgb(39,162,75));
    background: -ms-linear-gradient(rgb(84,181,112), rgb(39,162,75));
    background: -o-linear-gradient(rgb(84,181,112), rgb(39,162,75));
    background: linear-gradient(rgb(84,181,112), rgb(39,162,75));
    -pie-background: linear-gradient(rgb(84,181,112), rgb(39,162,75));
    behavior: url(/pie/PIE.htc);

    -moz-text-shadow: -1px -1px  #595757; 
    -webkit-text-shadow: -1px -1px  #595757;
    text-shadow: -1px -1px  #595757;
}




.wrapper-dropdown-3 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;   
}
/*dropdowntriangle*/
.tile_img > .wrapper-dropdown-3 .dropdown:after {
    right: 90%  
}
.modal-topbox > .wrapper-dropdown-3 .dropdown:after {
    right: 90%  
}
.container > .wrapper-dropdown-3 .dropdown:after {
    border-color: #000 transparent;
}

.wrapper-dropdown-3 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;   
}
.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
    display:block;
    transition: all 0.5s ease-in 0s;
}



.tile_img {
    float: right;
    margin: -370px 5% 0px 0%;
    position: relative;
    color:white;
}
.title_text{
    position:relative;
    text-align: right;
    margin-top:40px ;
    text-shadow: 0 0 0.5em #000;
    filter:
        progid:DXImageTransform.Microsoft.Shadow(color=#404040,direction=135,strength=3)
        progid:DXImageTransform.Microsoft.Shadow(color=#404040,direction=315,strength=3);

}





* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;}

html, body {
    min-height: 100%; }

a {
    text-decoration: none; }

.main-header { 
    text-align: center;
    position: fixed;
    left: 0;
    transition: all 0.3s ease; 
    margin:-40px 0px 0px 0px;

}
.main-header a {
    position: fixed;
    left: 20px;
    top: 350px;
    color: black;
    font-size: 32px; 
    z-index:500;
    transition: width 0.3s ease; 
}

.page-wrap {
    position: fixed;
    width: 100%;
    transition: width 0.3s ease; 
    margin: 200px 0px 0px;
}

.main-nav {
    position: fixed;
    top: 18%;
    width: 10px;
    height: 490px;
    background: black;

    transition: width 0.3s ease; 
    opacity:0.4;
    -webkit-border-top-right-radius: 30px;
    -moz-border-top-right-radius: 30px;
    border-top-right-radius: 30px;

    -webkit-border-bottom-right-radius: 30px;
    -moz-border-bottom-right-radius: 30px;
    border-bottom-right-radius: 30px;
    z-index:10000;
}
.main-nav a {
    display: block;

    color: rgba(255,255,255,0.8);
    padding-top: 20px; 
    padding-left: 13px; 
    padding-bottom: 10px; 


}
.main-nav a:hover, .main-nav a:focus {
    color: rgba(255,255,255,1);
    text-decoration:none;
}
.main-nav:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 34px;
    background: linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)); 

}

.content {
    padding: 100px 20px 20px 20px; }

.close-menu {
    display: none; 

}

.open-menu {
    opacity:0.4;
    transition: width 0.3s ease; 
}



.dropdown_left >li>ul>li{

    background-color:black;
}
.dropdown_left >li>ul>li:first-child{

    border-radius: 6px 6px 0px 0px;
}
.dropdown_left >li>ul>li:last-child{

    border-radius: 0px 0px 6px 6px;
}

.dropdown_left >li>ul>li>ul>li{

    background-color:black;
}

.dropdown_left >li>ul>li>ul>li:first-child{

    border-radius: 6px 6px 0px 0px;
}
.dropdown_left >li>ul>li>ul>li:last-child{

    border-radius: 0px 0px 6px 6px;
}

.main-header >a:hover{
    text-decoration: none;
    cursor:default;

}























#discovery_search_bar_wrapper {

    z-index: 500;
    margin-top: 36px;
    height: 160px;
    width: 100%;
    min-width: 768px;
    background: none repeat scroll 0% 0% rgb(235, 235, 235);
    border-bottom: 1px solid #AFAFAF; 
}
#discovery_search_bar_wrapper_moving {

    z-index: 500;
    margin-top: 36px;
    height: 160px;
    width: 100%;
    min-width: 768px;
    background: none repeat scroll 0% 0% rgb(235, 235, 235);
    border-bottom: 1px solid #AFAFAF; 
}

#discovery_search_bar{
    margin: 0px 0 0 20%;
    max-width: 1200px;
    float: none;
    clear:both;
}

#wrapper {
    margin: 0 auto;
    width: auto;
    height: auto;
    min-width:768px;
    /*    background-image:url(../images/page_t.jpg); */
    background: #ffffff;
    background-repeat: repeat-y;
    /*border:solid 1px rgb(212,212,212);*/
    text-align: left;
    color:#000000;
    font-family:tahoma,verdana,sans-serif;
    font-size:11px;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:1.273em;
    /*    padding-left:12px;*/
    clear: both;
    /*padding-right:2px;*/		
}

.select_container_left{

    width:400px;
    margin:20px 10px 0 22%;


}
.select_container_left >ul:hover{
    background-color:white;
}
.discovery_select_left
{
    width:400px;
    height:56px;
}

.discovery_select_left li
{
    float: left;
    width: 100px;
    list-style-type: none;
    text-align: center;
}
.discovery_select_left li a
{


    color: #333333;
    display: block;
    font:bold 14px Arial,sans-serif;
    padding: 20px 10px 20px 10px;
    text-align: center;
    text-decoration: none;
}
.discovery_select_left li a:hover
{
    background-color: #666666;
    color: #ffffff;
}




.select_container_right{

    width:300px;

    top:-57px;
    left:54%;
    position:relative;


}
.select_container_right >ul:hover{
    background-color:white;
}
.discovery_select_right
{
    width:300px;
    height:56px;
}

.discovery_select_right li
{
    float: left;
    width: 100px;
    list-style-type: none;
    text-align: center;
}
.discovery_select_right li a
{


    color: #333333;
    display: block;
    font: 14px Arial,sans-serif;
    padding: 20px 10px 20px 10px;
    text-align: center;
    text-decoration: none;
}
.discovery_select_right li a:hover
{
    background-color: #666666;
    color: #ffffff;
}
.discovery_select_right li:nth-child(1) a:hover:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    left: 30px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #666666 transparent;   
}

.discovery_select_right li:nth-child(2) a:hover:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    right: 146px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #666666 transparent;   
}
.discovery_select_right li:nth-child(3) a:hover:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    right: 30px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #666666 transparent;   
}

#page_header	{
    border:0px;
    width:968px;
    height:10px;
    /*    border-bottom:solid 1px #e9e9ea;*/
}

#logo	{
    margin: 0px auto;
    text-align: left;
    background-image:url(../images/logo_new.gif);
    background-repeat: no-repeat;
    height: 130px;
    width: 300px;
    display:block;	
}


#topmenuholder	{
    border: 0px;
    top:148px;
    text-align:right;
    padding: 5px;
}

#topmenuholder a {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #58585a;
    font-size:11px;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height: 1.273em;
}

#menubar	{
    border: 0px;
    width: 960px;
    height: 25px;
}

#search_icon{
    width:200px;
    height: 60px;
    background-image:url(../images/icon_search.gif);
    background-repeat:no-repeat;
    border: none;
    position: relative;
    float: left;
    margin: 10px 0px;
}

#page_header .search{
    background-image:url(../images/icon_search.gif);
    background-repeat:no-repeat;
    border: none;
    width: 680px;
    height: 58px;
    /*display: inline-block;*/
    margin-top: 15px;
    margin-left: 35px;
    position: relative;
}

.search_input	{
    width:300px;
}
.search_business{
    width:690px;

}
.fieldsetting{
    min-width:800px;

}
.cancleIcon{

    position: absolute;
    margin: 5px 0px 0px 10px;
}

.search_button	{
    position: absolute;
    margin: 5px 0px 0px -40px;
}

.view_control_list{
    position: absolute;
    margin: 5px 0px 0px -115px;

}
.view_control_gal{
    position: absolute;
    margin: 5px 0px 0px -75px;
}
.search a, .search a:visited, .search a:active {color:rgb(235,235,235); text-decoration:none;}
.search a:hover{color:black;text-decoration: none;}

.search a, .search a:visited, .search a:active {color:rgb(235,235,235); text-decoration:none;}
.search a:hover{color:black;text-decoration: none;}

.fieldsetting a:nth-child(5), .fieldsetting a:nth-child(5):visited, .fieldsetting a:nth-child(5):active {color:black; text-decoration:none;}
.fieldsetting a:nth-child(5):hover{color:rgb(22,166,220);text-decoration: none;}

#dynamic_container{
    margin: 0px 60px 0px 80px;
}

.browse_container{
    float:left;
    width: 275px;

    /*height: auto;*/
    min-height: 100%;
    border-right: solid 1px #e9e9ea;
    overflow:hidden;
    vertical-align:top;	
}

.browseicon{
    background-image:url(../images/icon_browse.gif);
    background-repeat:no-repeat;
    border: 0;
    width: 189px;
    height: 66px;
    margin: 14px 0px 14px 35px;
}
.logonew{
    height:25px;
}

.modal-topbox .logonew{
    height: 40px;
    float: left;
    left: 36%;
    position: relative;
}

#treeview{
    height:auto;


    border:solid 0px gray;
    width:275px;
    margin: 0px 0px 0px 0px;
    overflow: hidden;
    padding-left:   1px;
}
#content_container {
    border:solid 0px gray;
    margin: 0px auto;
    text-align: left;
    font-family:tahoma,verdana,sans-serif;
    font-size:11px;
    font-size-adjust:none;
    line-height:1.273em;
    /*padding-left:2px;*/
    float:right;
}

#dynamic_content{
    position:absolute;
    /*top:430px;*/
    height: auto;
    background: #FFFFFF;
    width: 1080px;
}


#mainbody	{
    /*left: 3px;
    margin-left: 3px;*/
    /*border:solid 0px gray;
    width:968px;
    height: 0 auto;*/
    /*height: 1110px;*/
    /*height:760px;*/
    /*height:830px;*/
    /*controlling the length of the body as skyscraper is in absolute position*/
}
.content_zone	{
    /*margin-left: 3px;*/
    float:left;
    width: 804px;
    height: 0 auto;
    /*min-height: 1200px;*/
    left: 0px;
    overflow:hidden;
    background: transparent;
    vertical-align:top;
}

#content_target {
    width:100%;
    min-height: 1000px;
    padding: 0px 0px 0px 0px;
    border:solid 0px gray;
    background-color: #FFFFFF;
}


#wrap{
    /*margin: 0 auto;*/
    /*padding: 0 0 0 0;*/
    width: 100%;
}
#frontlinkpanel{
    float:left;
    width: 100%;
}



#leaderboard {
    border: 0px;
    width:728px;
    height:90px;
}
#promopage
{
    margin: 2px 0 0 2px;
    height:90px;
}
#announcement {
    border: 0px;
    height: 150px;
    width: 500px;
}

.left_panel{
    float: left;
    width: 350px;
    height: 0 auto;
    padding: 5px;
}

div.left_panel img {
    margin-left: 30px;
}

.right_panel{
    float: right;
    width: 350px;
    height: 0 auto;
    padding: 5px;
}

div.right_panel img {
    margin-left: 30px;
}

#content_zone_right{
    float: right;
    position:relative;
    margin-bottom:2px;
    width:160px;
    height:600px;
}





#back-top {
    position: fixed;
    bottom: -5px;
    right: 50px;
    z-index: 100000;
}

#back-top a {
    width: 108px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #bbb;

    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover {
    color: #000;
}

/* arrow icon (span tag) */
#back-top span {
    width: 108px;
    height: 108px;
    display: block;
    margin-bottom: 7px;
    background: #ddd url(../images/up-arrow.png) no-repeat center center;

    /* rounded corners */
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#back-top a:hover span {
    background-color: #777;
}