/* 
Title:		Screen styles and ie/win patches
Author: 	jason@the-ebusiness-company.com
*/

#parent_body {
    margin: 0px 0px;
    padding: 0px;
    /*    background: #D4D4D4;*/
    /*    background: #F5F5F5;*/
    background: none repeat scroll 0% 0% rgb(22, 166, 220);
    min-width: 1010px;
}

#container_bg {



    /*background-image:url(../images/background_new.gif); */

}

#topnavbar_wrapper {
    background: #16a6dc;
    background: linear-gradient(to bottom, rgb(22,166,220) 0%, rgb(18,139,184) 99%) repeat scroll 0% 0% transparent;                          /* W3C */
    background: -moz-linear-gradient(top,  rgb(47,183,234) 0%, rgb(22,166,220) 99%);                                                                        /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(47,183,234)), color-stop(99%,rgb(22,166,220)));       /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgb(47,183,234) 0%,rgb(22,166,220) 99%);                                                                      /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgb(47,183,234) 0%,rgb(22,166,220) 99%);                                                                               /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgb(47,183,234) 0%,rgb(22,166,220) 99%);                                                                             /* IE10+ */                                                                              
    width: 100%;
    height: 36px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 600;
    box-shadow: 0px 0px 15px #000;
    -moz-box-shadow: 0 0px 15px #000;
    -webkit-box-shadow: 0 0px 15px #000;
    border: medium none;
}

#discovery_search_bar_wrapper {
    z-index: 500;
    margin-top: 36px;
    height: 160px;
    width: 100%;
    min-width: 768px;
    background: none repeat scroll 0% 0% rgb(235, 235, 235);
    border-bottom: 1px solid #AFAFAF; 
}

#discovery_search_bar{
    margin: 0px 0 0 20%;
    max-width: 1000px;
    float: none;
    clear:both;
}

#wrapper {
    margin: 0 auto;
    width: auto;
    height: auto;
    min-width:768px;
    /*    background-image:url(../images/page_t.jpg); */
    background: #ffffff;
    background-repeat: repeat-y;
    /*border:solid 1px rgb(212,212,212);*/
    text-align: left;
    color:#000000;
    font-family:tahoma,verdana,sans-serif;
    font-size:11px;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:1.273em;
    /*    padding-left:12px;*/
    clear: both;
    /*padding-right:2px;*/		
}


#page_header	{
    border:0px;
    width:968px;
    height:10px;
    /*    border-bottom:solid 1px #e9e9ea;*/
}

#logo	{
    margin: 0px auto;
    text-align: left;
    background-image:url(../images/logo_new.gif);
    background-repeat: no-repeat;
    height: 130px;
    width: 300px;
    display:block;	
}


#topmenuholder	{
    border: 0px;
    top:148px;
    text-align:right;
    padding: 5px;
}

#topmenuholder a {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #58585a;
    font-size:11px;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height: 1.273em;
}

#menubar	{
    border: 0px;
    width: 960px;
    height: 25px;
}

#search_icon{
    width:200px;
    height: 60px;
    background-image:url(../images/icon_search.gif);
    background-repeat:no-repeat;
    border: none;
    position: relative;
    float: left;
    margin: 10px 0px;
}

#page_header .search{
    background-image:url(../images/icon_search.gif);
    background-repeat:no-repeat;
    border: none;
    width: 680px;
    height: 58px;
    /*display: inline-block;*/
    margin-top: 15px;
    margin-left: 35px;
    position: relative;
}

.search_input	{
    background-position: 0px 5px 5px 3px;
    background-repeat: no-repeat;
    outline: 0 none;
    -moz-appearance: none;
    border: 1px solid #95023A;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4) inset, 0 2px 0 #FFFFFF;	
    border: none;
    width: 87%;
    position: relative;
    bottom:52px;
    left:-53px;
    font-family: arial,sans-serif;
    font-size: 22px;
    font-weight: normal;
    line-height: 22px;

    padding: 5px 7px;
    border-radius:5px;
    margin: 0px 5px 0px 100px;
    border: 1px solid #AFAFAF; 
    float:left;
}
.fieldsetting{
    min-width:800px;

}
.cancleIcon{

    position: absolute;
    margin: -46px 0px 0px -40px;
}

.search_button	{
    position: absolute;
    margin: -46px 0px 0px -90px;
}

.view_control_list{
    position: absolute;
    margin: -46px 0px 0px -190px;

}
.view_control_gal{
    position: absolute;
    margin: -45px 0px 0px -135px;
}
.search a, .search a:visited, .search a:active {color:rgb(235,235,235); text-decoration:none;}
.search a:hover{color:black;text-decoration: none;}

.search a, .search a:visited, .search a:active {color:rgb(235,235,235); text-decoration:none;}
.search a:hover{color:black;text-decoration: none;}

.fieldsetting a:nth-child(5), .fieldsetting a:nth-child(5):visited, .fieldsetting a:nth-child(5):active {color:black; text-decoration:none;}
.fieldsetting a:nth-child(5):hover{color:rgb(22,166,220);text-decoration: none;}

#dynamic_container{
    margin: 0px 60px 0px 80px;
}

.browse_container{
    float:left;
    width: 275px;

    /*height: auto;*/
    min-height: 100%;
    border-right: solid 1px #e9e9ea;
    overflow:hidden;
    vertical-align:top;	
}

.browseicon{
    background-image:url(../images/icon_browse.gif);
    background-repeat:no-repeat;
    border: 0;
    width: 189px;
    height: 66px;
    margin: 14px 0px 14px 35px;
}



#treeview{
    height:auto;


    border:solid 0px gray;
    width:275px;
    margin: 0px 0px 0px 0px;
    overflow: hidden;
    padding-left:   1px;
}
#content_container {
    border:solid 0px gray;
    margin: 0px auto;
    text-align: left;
    font-family:tahoma,verdana,sans-serif;
    font-size:11px;
    font-size-adjust:none;
    line-height:1.273em;
    /*padding-left:2px;*/
    float:right;
}

#dynamic_content{
    position:absolute;
    /*top:430px;*/
    height: auto;
    background: #FFFFFF;
    width: 1080px;
}


#mainbody	{
    /*left: 3px;
    margin-left: 3px;*/
    /*border:solid 0px gray;
    width:968px;
    height: 0 auto;*/
    /*height: 1110px;*/
    /*height:760px;*/
    /*height:830px;*/
    /*controlling the length of the body as skyscraper is in absolute position*/
}
.content_zone	{
    /*margin-left: 3px;*/
    float:left;
    width: 804px;
    height: 0 auto;
    /*min-height: 1200px;*/
    left: 0px;
    overflow:hidden;
    background: transparent;
    vertical-align:top;
}

#content_target {
    width:100%;
    min-height: 1000px;
    padding: 0px 0px 0px 0px;
    border:solid 0px gray;
    background-color: #FFFFFF;
}


#wrap{
    /*margin: 0 auto;*/
    /*padding: 0 0 0 0;*/
    width: 100%;
}
#frontlinkpanel{
    float:left;
    width: 100%;
}



#leaderboard {
    border: 0px;
    width:728px;
    height:90px;
}
#promopage
{
    margin: 2px 0 0 2px;
    height:90px;
}
#announcement {
    border: 0px;
    height: 150px;
    width: 500px;
}

.left_panel{
    float: left;
    width: 350px;
    height: 0 auto;
    padding: 5px;
}

div.left_panel img {
    margin-left: 30px;
}

.right_panel{
    float: right;
    width: 350px;
    height: 0 auto;
    padding: 5px;
}

div.right_panel img {
    margin-left: 30px;
}

#content_zone_right{
    float: right;
    position:relative;
    margin-bottom:2px;
    width:160px;
    height:600px;
}

#skyscraper	{

    border:solid 0px gray;
    /*top:1px;*/
    margin: 0 0 0 0;
    /*left:800px;*/
    width:160px;
    height:600px;
}

#footer_divider{
    border-top:			solid 1px #e9e9ea;
}

.moduletable_content{
    height: 			151px; 
    width: 				933px; 
    margin: 			0 auto; 
    text-align: 		center;
}

.footer_ads{
    /*position:relative;*/
    width:				728px;
    height: 			90px;
    margin: 			0 auto; 
    text-align: 		center;
    border: 			solid 1px #e9e9ea;
    /*	padding-left:		1px;*/
    margin-bottom:		10px;
}

#page_footer	{
    width:100%;
    min-width: 768px;
    height:344px;
    color:#000000;
    font-family: 'Tangerine', serif;
    font-size:15px;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:1.273em;
    background:  #16a6dc;
    position: absolute;

    box-shadow:  inset 0px 25px 25px -25px  #0f7296;
    -moz-box-shadow:  inset 0px 25px 25px -25px  #0f7296;
    -webkit-box-shadow:  inset 0px 25px 25px -25px  #0f7296;
    border-top: 1px solid #128bb8;

}

.SpanFontSetting{
    font-family: Arial,Helvetica,sans-serif;
    
}

.wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    width: 180px;
    margin: -35px 0 0 780px;;
    padding: 7px;

    /* Styles */
    background: rgb(22,166,220) ;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;

    font-size: 14px;
    color: white;
}
.wrapper-dropdown-3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: white transparent;
}
.wrapper-dropdown-3 .dropdown {
    /* Size & position */
    position: absolute;
    top: 140%;
    left: 0;
    right: 0;

    /* Styles */
    background: rgb(45,45,45) ;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    transition: all 0.5s ease-in;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid black;
    border-top:1px solid rgb(66,66,66);
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-3 .dropdown li i {
    float: left;
    color: inherit;
}


/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
    background: rgb(22,166,220) ;
}
.wrapper-dropdown-3 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: rgb(45,45,45) transparent;   
}

.wrapper-dropdown-3 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;   
}
.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}
.smallIcon{
    position:absolute;
    margin: -26px 0 0 1030px;
    display:none;
    width:200px;
}

.smallIcon a, .smallIcon a:visited, .smallIcon a:active {color:rgb(235,235,235); ; text-decoration:none;}
.smallIcon a:hover{ color: black;text-decoration: none;}

.icon_a{


}
.icon_b{
    margin: 0 0 0 22px;

}
.icon_c{
    margin: 0 0 0 24px;

}

.userProfile{
    position: absolute;
    width: 155px;
    height:8px;
    margin: -42px 0 0 1200px;;
    padding: 10px;

}
.loginDropdown{
    background: rgb(22,166,220) ;
    width: 150px;
    height:8px;
    border: 1px solid rgba(0,0,0,0.15);
    list-style-type: none;
    list-style: none outside none;
    padding: 9px 12px 13px 13px;
}
.loginDropdown li{

    display: inline;
    margin-top: 50px;
    padding: 9px 12px 13px 13px;
}

.loginDropdown >li >a, .loginDropdown >li >a:visited, .loginDropdown >li >a:active {font-size: 14px;color:#bee8f8; text-decoration:none;}
.loginDropdown >li >a:hover{ font-size: 14px;color: white;text-decoration: none;}

.select_container_left{

    width:400px;
    margin:20px 10px 0 22%;


}
.select_container_left >ul:hover{
    background-color:white;
}
.discovery_select_left
{
    width:400px;
    height:56px;
}

.discovery_select_left li
{
    float: left;
    width: 100px;
    list-style-type: none;
    text-align: center;
}
.discovery_select_left li a
{


    color: #333333;
    display: block;
    font:bold 14px Arial,sans-serif;
    padding: 20px 10px 20px 10px;
    text-align: center;
    text-decoration: none;
}
.discovery_select_left li a:hover
{
    background-color: #666666;
    color: #ffffff;
}




.select_container_right{

    width:300px;

    top:-57px;
    left:54%;
    position:relative;


}
.select_container_right >ul:hover{
    background-color:white;
}
.discovery_select_right
{
    width:300px;
    height:56px;
}

.discovery_select_right li
{
    float: left;
    width: 100px;
    list-style-type: none;
    text-align: center;
}
.discovery_select_right li a
{


    color: #333333;
    display: block;
    font: 14px Arial,sans-serif;
    padding: 20px 10px 20px 10px;
    text-align: center;
    text-decoration: none;
}
.discovery_select_right li a:hover
{
    background-color: #666666;
    color: #ffffff;
}
.discovery_select_right li:nth-child(1) a:hover:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    left: 30px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #666666 transparent;   
}

.discovery_select_right li:nth-child(2) a:hover:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    right: 146px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #666666 transparent;   
}
.discovery_select_right li:nth-child(3) a:hover:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    right: 30px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #666666 transparent;   
}


.textFont{

    font-size: 28px;
    font-family: ‘Metrophobic’, Arial, serif;
    text-shadow: 0px -1px 0px rgba(18,139,184,0.8);
    -moz-text-shadow: 0px -1px 0px rgba(18,139,184,0.8);
    -webkit-text-shadow: 0px -1px 0px rgba(18,139,184,0.8);
    font-weight:bold;
    color:white;
}
.titleText{
    color:white;
    position:absolute;
    margin:-25px 0 0 550px;
    font-size: 15px;
    min-width: 200px;

}
.textFontSmall{

    font-size: 20px;
    font-family: ‘Metrophobic’, Arial, serif;
    text-shadow: 0px -1px 0px rgba(18,139,184,0.8);
    -moz-text-shadow: 0px -1px 0px rgba(18,139,184,0.8);
    -webkit-text-shadow: 0px -1px 0px rgba(18,139,184,0.8);
    font-weight:bold;
}
.fot a, .fot a:visited, .fot a:active {color:#bee8f8; text-decoration:none;border-bottom: 1px #23b3e9 dotted;}
.fot a:hover{ color: white;text-decoration: none;border-bottom: 1px white dotted;}

.fot{

    width:100%;
    height:60%;
    font-size: 15pt;

    text-align: left;
}
.icon{
    float:right;
    padding:0px 0px 0px 10px;
    clear:right;
    width:200px;
}
.row{

    height:35px;


}
.col1{
    width:2px;
    height:110px;
    float:left;
    margin-top: 50px;
    margin-left: 19%;

}
.col2{
    width:2px;
    height:110px;
    float:left;
    margin-top: 50px;
    margin-left: 28%;

}
.col3{
    width:2px;
    height:110px;
    float:left;
    margin-top: 50px;
    margin-left: 28%;


}
.footer_link {
    font-family:tahoma,verdana,sans-serif;

    font-size:11px;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:1.273em;
}

.copyrighttext{
    color: #FFFFFF;
    text-align: center;
    margin:60px 0 0 18%;
    padding: 100px;
    font-family: ‘Metrophobic’, Arial, serif;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.8);
    -moz-text-shadow: 0px 1px 0px rgba(255,255,255,0.8);
    -webkit-text-shadow: 0px 1px 0px rgba(255,255,255,0.8);
    border-top: 1px dotted white;
    width:60%;;
    height:auto;
}
.logos{
    width:150px;
    position:absolute;
    margin:-60px 0 0 -22%;


}
div.copyrighttext a{
    color: #FFFFFF;
    font-weight:bold;
}

/* menu */
.menu_item{
    margin:5px 20px 2px 20px;
}
/* */

#search_target{
    width:685px;
    height:680px;
    padding:2px 0 2px 0;
    border:solid 0px gray;
}



/*homepage blocks */
#home_banner_ad{
    border:solid 0px gray;
    position:absolute;
    top:0px;
    right:0px;
    width: 490px;
    height: 100px;
}
#recently_added{
    border:solid 0px gray;
    position:absolute;
    top:360px;
    left:5px;
    width: 340px;
    height: 125px;
}
#most_popular{
    border:solid 0px gray;
    position:absolute;
    top:185px;
    left:5px;
    width: 490px;
    height: 220px;
}

#popular_tags{
    border:solid 0px gray;
    position:absolute;
    top: 165px;
    left: 350px;
    width: 169px;
    height: 310px;
    padding: 10px 0px 10px 10px;
    /*	margin:0px 0px 0px 10px; */
}
#popular_tag_padding {
    padding:10px;
}

.popular_tag_link{
    text-decoration:none;
    color:#000000;
}

/******* ENQUIRY FORM STYLES *******/

#wrapenquiry{
    width:				550px;
}

#headerenquiry{
    width:				550px;
    padding-top:		15px;
}

#icon_contactus{
    position:			relative;
    width:				237px;
    height:				66px;
    left: 				200px;
}

fieldset ul{
    width:				450px;
    padding: 			10px 40px 0px 10px;  
    list-style: 		none;
}

#enquiryform li{
    width: 			500px;
}

#enquiryform label {
    position:			relative;
    width:				8em;
    line-height:		1.4em;
    clear:				left;
    float:				left;
    position:			relative;
    margin: 			5px;
    padding-top:		5px;
    font-family: 		Arial, Helvetica, sans-serif; 
    font-size:			12px;
    font-weight:		bold;
    /*vertical-align:		top;
    text-align:	left;*/	
}
#enquiryform li input{
    width: 				350px;
    margin: 			5px;
}

#enquiryform li textarea{
    width: 				350px;
    margin: 			5px;
}

.submitbutton{
    background: 		url(../images/submit.gif) no-repeat center center;
    height:				35px;
    width:				112px;
    margin-top:			5px;
    margin-left:		125px;
    text-align:			left;
    text-indent:		-9999px;
    cursor:				pointer;
    border-style:		none;	
}

/* SEARCH styles */
#search_results{
    border:solid 0px gray;
    position:relative;
    height:300px;
    width: inherit;
}
#search_navigation{
    border:solid 0px gray;
    position:absolute;
    top:400px;
    left: 10px;
}
#search_nav_link{
    text-decoration:none;
    color:#000000;
}

.search_product_category{
    margin:10px 5px 0px 10px;
}

.search_product{
    margin:10px 5px 0px 10px;
}

.search_supplier{
    margin:10px 5px 0px 10px;
}
.search_brand{
    margin:10px 5px 0px 10px;
}

.search_link{
    text-decoration:underline;
    font-weight:bold;
}
.search_display{
    font-size:10px;
}
.view_name {
    font-weight:bold;
}

p{
    font-family: 		Arial, Helvetica, sans-serif; 
    font-size:			12px;
    text-decoration: 	none;
    letter-spacing: 	normal;
    line-height:		16px; 
}


ul
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    font-family:sans-serif;
    font-size:12px;
}
li
{
    background-position: 0px 5px;
    /*    padding-left: 14px;*/
}

h1, h2, h3, h4, h5, h6{
    font-family: 		Arial, Helvetica, sans-serif;
    font-size:			18px;	
}



h2{
    font-family: 		Arial, Helvetica, sans-serif;
    font-size: 			14px;
    font-weight:		bold;
}


h3, a:visited, a{
    font-family: 		Arial, Helvetica, sans-serif; 
    font-size:			12px;
    color: 				#58585a;
    outline: 			none;

}
#tpl_view {
    width:  100%;
}

#tpl_leaf{
    width:  100%;
}

#tpl_leaf a:visited, #tpl_leaf a {
    padding: 10px 0 10px 5px;
    width: 100%;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    color:  #666666;
    text-decoration: none;
    letter-spacing: normal;
    word-spacing: 0;
    line-height: 28px;
    display:	block;
    border-bottom: 1px dashed #666666;
}
#tpl_leaf a:hover {
    color:#EC1C24;
    text-decoration:none;
    background-color: #e9e9ea;
}


/* self-clear floats */

.group:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
