/* CSS file for the Cool Message dropdown*/
body
{
    margin: 0;
    padding: 0;
    font: 16px Arial, Helvetica, sans-serif;
    background: #f1f1f1;
}

.message
{
    -webkit-background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    background-size: 40px 40px;		
    font: 16px Arial, Helvetica, sans-serif;
    width: 100%;
    border: 1px solid;
    color: #fff;
    padding: 15px;
    position: fixed;
    _position: absolute;

}

.info
{
    background-color: #4ea5cd;
    border-color: #3b8eb5;
    z-index: 2000;
}

.warning
{
    background-color: #eaaf51;
    border-color: #d99a36;
    z-index: 2010;
}

.error
{
    background-color: #de4343;
    border-color: #c43d3d;
    z-index: 2030;
}

.success
{
    background-color: #61b832;
    border-color: #55a12c;
    z-index: 2020;
}

.message h3
{
    margin: 0 0 5px 0;													 
}

.message p
{
    margin: 0;													 
}

@-webkit-keyframes animate-bg
{
    from {
    background-position: 0 0;
}
to {
    background-position: -80px 0;
}
}


@-moz-keyframes animate-bg 
{
    from {
    background-position: 0 0;
}
to {
    background-position: -80px 0;
}
}



