



.style-box{
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3f3f3), color-stop(100%, #e5e5e5));
    background: -webkit-linear-gradient(#f3f3f3,#e5e5e5);
    background: -moz-linear-gradient(#f3f3f3,#e5e5e5);
    background: -o-linear-gradient(#f3f3f3,#e5e5e5);
    background: linear-gradient(#f3f3f3,#e5e5e5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.14);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.14);
    box-shadow: 0 1px 4px rgba(0,0,0,0.14);
    overflow: hidden;
    background-color: #f3f3f3;
    border-left: 1px solid #d4d4d4;
    border-left: 1px solid rgba(0,0,0,0.17);
    border-top: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(0,0,0,0.17);
    border-left: 1px solid #d4d4d4;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    clear: both;
    color: #333;
    line-height: 44px;

    max-width: 10000px;
    position: relative;
}

.t-style-box{
    padding: 0;
    background-color: #fff;
    box-shadow: 0 0 0 0px #eef2f9 inset,0 0 20px 0px rgba(0,0,0,0.07) inset;
    background-image: none;
}

.user-board{
    width: 87%; 
    position: relative; 
    margin: 100px auto 20px; 
    left: 0; 
    right: 0; 
    min-width: 796px; 
    max-width: 1260px;    
}

.user-board_left{
    background: white;
    width: 69%;
    display: inline-block;
    vertical-align: top;
    height: 150px;
    margin-right: 0.5%;
}


.locationandlinks{
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    bottom: 15px;
    color: #777;
    font-size: 13px;
    position: relative;
    display: block;
    list-style-type: none;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.locationandlinks > li{
    background: url(../../images/list-doc.png) no-repeat 5px 9px;
    display: inline-block;
    padding-left: 12px;
}


.location_li{
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    color: #777;
    line-height: 19px;
    height: 19px;
    max-width: 180px;
    padding-left: 20px;
    position: relative;
}


.album-name{
    margin: 2px 20px 2px 40px; 
    font-size: 20px; 
    font-weight: bold; 
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    float: left;
}


.album-name:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background: -webkit-linear-gradient(top,rgba(222,222,222,1),rgba(222,222,222,0.5) 90%,rgba(222,222,222,0) 100%) no-repeat;
    background: -moz-linear-gradient(top,rgba(222,222,222,1),rgba(222,222,222,0.5) 90%,rgba(222,222,222,0) 100%) no-repeat;
    background: linear-gradient(top,rgba(222,222,222,1),rgba(222,222,222,0.5) 90%,rgba(222,222,222,0) 100%) no-repeat;
}


.user-stats{
    margin:0;
    float: right;
    display: inline-block;
    overflow: hidden;

    vertical-align: top;
    background: -webkit-linear-gradient(top,rgba(0,0,0,.03),rgba(0,0,0,.01) 90%,rgba(0,0,0,0) 100%) no-repeat;
    background: -moz-linear-gradient(top,rgba(0,0,0,.03),rgba(0,0,0,.01) 90%,rgba(0,0,0,0) 100%) no-repeat;
    background: linear-gradient(top,rgba(0,0,0,.03),rgba(0,0,0,.01) 90%,rgba(0,0,0,0) 100%) no-repeat;
}

.user-stats > li{
    cursor: pointer;
    border-left: 1px solid rgba(0,0,0,0.05);
    padding: 0!important;
    display: inline;
    float: left;
}

.selected-user-stats{
    border-top: 1px solid rgba(0,0,0,.16);
    border-right: 1px solid rgba(0,0,0,0.16);
    border-bottom: 1px solid rgba(0,0,0,.05);
    margin-bottom: -1px;
    position: relative;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255,255,255,1);
    background: rgba(0,0,0,0.05);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
    -ms-box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
    -o-box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
    box-shadow: 0 1px 3px rgba(0,0,0,0.16) inset;
    color: #555;
}


.user-stats li a{
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,0.9) inset;
    -moz-box-shadow: 0 0 1px rgba(255,255,255,0.9) inset;
    box-shadow: 0 0 1px rgba(255,255,255,0.9) inset;
    color: #777;
    display: block;
    font-weight: bold;
    padding: 1px 20px 0;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    line-height: 44px;
    height: 50px;

    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
}


.user-stats li a:hover{
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f4f4f4));
    background: -webkit-linear-gradient(#ffffff,#f4f4f4);
    background: -moz-linear-gradient(#ffffff,#f4f4f4);
    background: -o-linear-gradient(#ffffff,#f4f4f4);
    background: linear-gradient(#ffffff,#f4f4f4);
    background-color: #fff;
    color: #333;
    text-decoration: none;
}

#user-stats > .selected-user-stats > a:hover{
    background: none;
    color: #333;
    text-decoration: none;
}

.edit-dashboard-btn{
    opacity: 0;
    margin: 10px;
    box-shadow: 0 0 10px #bbb;
}


.profilecorpbanner:hover .edit-dashboard-btn{
    opacity: 1;
    box-shadow: 0 0 10px #fff;
}