
div.search-loading-invisible{
    /*make invisible*/
    display:none;
}

.lightbox{

    overflow: visible;
    position: fixed;
    top: 0;
    width: 100%;
    height:100%;
    z-index: 1000050;
    background-color: rgba(0,0,0,1);
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;


}




/*/WindowContainer-------------------/*/
.window-container {
    cursor: move;
    overflow: visible;
    position: fixed;
    top: 20%;
    left: 40%;
    z-index: 1000050;
    background-color: white;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.window-container > .head {
    height:30px; 
    background-color: rgb(242,240,240);
    border-radius: 3px 3px 0 0;
}

.window-container > .content {
    padding: 10px 15px;
    border-radius: 3px 3px 0 0;
}
/*/End WindowContainer---------------/*/


.content > .ember-view {
    width: 265px;
    display: inline-block;
    margin: 6px 6px;

}

#aside_contact  .ember-view{
    width: 190px;
    height: 30px;
    margin: 5px;
}

.form-inline  .ember-view {
    width: 250px;
    height: 30px;


    border-width:1px;
    border-style:inset;

    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}


#about > .textarea {
    width: 810px;
    height: 300px;
    display: inline-block;
    margin: 6px 6px;

}
#about > .fake {

    display: none;


}


/*/TabIndexItem----------------------/*/
.tab-index-item {
    line-height: 40px;
}

.tab-index-item .buttons {
    display: none;
}

.tab-index-item:hover .buttons{
    display: inline-block;
}

.tab-index-item .icon-resize-vertical {
    display: none;
}

.tab-index-item:hover .icon-resize-vertical{
    display: inline-block;
}

/*/End TabIndexItem------------------/*/

/*/Tab-------------------------------/*/
.tab .navbar {
    margin-bottom: 0px;
}
/*/End Tab---------------------------/*/


.content .ember-text-field{
    height:30px;


}



/*CONTACT ME  BUTTON*/
.contactmebtn {
    position: relative;
    z-index: 1;
    text-align: center;
    float: right;
    bottom: 30px;
    right: 30px;
}

.contactmebtn a {


    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    line-height: 53px;
    background-color: #eaeaea;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eaeaea));
    background-image: -webkit-linear-gradient(top, #f6f6f6, #eaeaea);
    background-image: -moz-linear-gradient(top, #f6f6f6, #eaeaea); 
    background-image: -ms-linear-gradient(top, #f6f6f6, #eaeaea); 
    background-image: -o-linear-gradient(top, #f6f6f6, #eaeaea);
    background-image: linear-gradient(top, #f6f6f6, #eaeaea);
    -moz-border-radius: 32px;
    -webkit-border-radius: 32px;
    border-radius: 32px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
}

.contactmebtn a:active {
    top: 1px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#f6f6f6));
    background-image: -webkit-linear-gradient(top, #eaeaea, #f6f6f6);
    background-image: -moz-linear-gradient(top, #eaeaea, #f6f6f6); 
    background-image: -ms-linear-gradient(top, #eaeaea, #f6f6f6); 
    background-image: -o-linear-gradient(top, #eaeaea, #f6f6f6);
    background-image: linear-gradient(top, #eaeaea, #f6f6f6);
}



.contactmebtn a::before{
    content: '';
    position: absolute;
    z-index: -1;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    background-color: #eaeaea;
    -moz-border-radius: 140px;
    -webkit-border-radius: 140px;
    border-radius: 140px;
    opacity: 0.5;	


    display: block;
    border-top: 2px solid #ddd;
    box-shadow: inset 0px 8px 48px #ddd;
}

.contactmebtn a:active::before {
    top: -9px;
}

.contactmebtn a:hover::before {
    opacity: 0.8;
    background-color: #6399cd;
}

.contactmeicon img {
    vertical-align: -7px;
    width: 24px;
}


.contactmebtn > .contactmeicon > i {
    color: rgba(10,60,150, 0.8);
    text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;

}
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }








.slider1 > .slide > img {
    position: absolute;
    clip: rect(0, 112px, 112px, 0);
}

.slider1 > .slide > .slider_name {
    position: relative;
    margin-top: 113px;
    display: block;
    font-size: 13px;
    color: #555;
    text-align: center;
    font-weight: bold;
}

.slider1 > .slide > .slider_type {
    position: relative;
    display: block;
    font-size: 12px;
    text-align: center;
    color: #777;
}

.slider1 > .slide > .slider_region {
    position: relative;
    display: block;
    font-size: 12px;
    text-align: center;
    padding-bottom: 10px;
}

.partner {
    margin: 15px;
    width: 100px;
    height: 150px;
    display: inline-block;
    vertical-align: top;
}

.partner > img {
    position: absolute;
    clip: rect(0, 100px, 100px, 0);
    width: 100px
}

.partner > .slider_name {
    position: relative;
    margin-top: 100px;
    display: block;
    font-size: 13px;
    color: #555;
    text-align: center;
    font-weight: bold;
}

.partner > .slider_type {
    position: relative;
    display: block;
    font-size: 12px;
    text-align: center;
    color: #777;
}

.partner > .slider_region {
    position: relative;
    display: block;
    font-size: 12px;
    text-align: center;
    padding-bottom: 10px;
}

#aside_contact  .second-th{
    display: block;
    width: 170px;
    margin-left: 20px;
    text-align: left;
    word-wrap: break-word;
}

.main_aboutus p{
    font-size: 13px;
}




/*EDITICON*/
.editicon_callout{
    position: absolute;
    top: 20px;
    left: 7px;
    margin: 0;
    border-top: 4px solid #fff;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    padding: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}

.editicon{
    display: inline-block;
    position: relative;
    margin: 0 10px;
    background-color: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    width: 20px;
    height: 20px;

    opacity: 0.8;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.editicon:hover{
    opacity: 1;
    -webkit-box-shadow: 0px 0px 20px rgba(0,190,255,0.8);
    -moz-box-shadow: 0px 0px 20px rgba(0,190,255,0.8);
    box-shadow: 0px 0px 20px rgba(0,190,255,0.8);

    margin-bottom: 5px;
}

.editicon > .icon-pencil{
    left: 4px;
    position: absolute;
    top: 3px;
    color: #555;
    font-size: 14px;
}





#discovery_search_bar_wrapper {

    z-index: 500;
    margin-top: 3px;
    height: 200px;
    width: 100%;
    min-width: 768px;
    background: none repeat scroll 0% 0% rgb(242, 240, 240);
    border-bottom: 1px solid #AFAFAF; 
}
#discovery_search_bar_wrapper_moving {

    z-index: 500;
    margin-top: 36px;
    height: 160px;
    width: 100%;
    min-width: 768px;
    background: none repeat scroll 0% 0% rgb(235, 235, 235);
    border-bottom: 1px solid #AFAFAF; 
}

#discovery_search_bar{
    margin: 45px 0 0 0;
    min-width: 800px;
    float: none;
    position: absolute;
    clear: both;
    left: 19%;
    width: 61%;
}

#wrapper {
    margin: 0 auto;
    width: auto;
    height: auto;
    min-width:768px;
    /*    background-image:url(../images/page_t.jpg); */
    background: #ffffff;
    background-repeat: repeat-y;
    /*border:solid 1px rgb(212,212,212);*/
    text-align: left;
    color:#000000;
    font-family:tahoma,verdana,sans-serif;
    font-size:11px;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:1.273em;
    /*    padding-left:12px;*/
    clear: both;
    /*padding-right:2px;*/		
}

.select_container_left{

    width:40%;
    min-width: 450px;
    position: relative;
    left: 18%;
    top: 40px;
    display: inline-block;
    clear: both;
}


.discovery_select_left
{
    width:400px;
    height:56px;
}

.discovery_select_left li
{
    float: left;
    width: 100px;
    list-style-type: none;
    text-align: center;
}
.discovery_select_left li a
{


    color: #ccc;
    display: block;
    font:bold 14px Arial,sans-serif;
    padding: 20px 10px 20px 10px;
    text-align: center;
    text-decoration: none;
}
.discovery_select_left li a:hover
{
    color: #333333;
}


.select_container_right{

    width:300px;

    top:-57px;
    left:54%;
    position:relative;


}
.select_container_right >ul:hover{
    background-color:white;
}
.discovery_select_right
{
    width:300px;
    height:56px;
}

.discovery_select_right li
{
    float: left;
    width: 100px;
    list-style-type: none;
    text-align: center;
}
.discovery_select_right li a
{


    color: #333333;
    display: block;
    font: 14px Arial,sans-serif;
    padding: 20px 10px 20px 10px;
    text-align: center;
    text-decoration: none;
}
.discovery_select_right li a:hover
{
    background-color: #666666;
    color: #ffffff;
}
.discovery_select_right li:nth-child(1) a:hover:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    left: 30px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #666666 transparent;   
}

.discovery_select_right li:nth-child(2) a:hover:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    right: 146px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #666666 transparent;   
}
.discovery_select_right li:nth-child(3) a:hover:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    right: 30px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #666666 transparent;   
}

#page_header	{
    border:0px;
    width:968px;
    height:10px;
    /*    border-bottom:solid 1px #e9e9ea;*/
}

#logo	{
    margin: 0px auto;
    text-align: left;
    background-image:url(../images/logo_new.gif);
    background-repeat: no-repeat;
    height: 130px;
    width: 300px;
    display:block;	
}


#topmenuholder	{
    border: 0px;
    top:148px;
    text-align:right;
    padding: 5px;
}

#topmenuholder a {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #58585a;
    font-size:11px;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height: 1.273em;
}

#menubar	{
    border: 0px;
    width: 960px;
    height: 25px;
}

#search_icon{
    width:200px;
    height: 60px;
    background-image:url(../images/icon_search.gif);
    background-repeat:no-repeat;
    border: none;
    position: relative;
    float: left;
    margin: 10px 0px;
}

#page_header .search{
    background-image:url(../images/icon_search.gif);
    background-repeat:no-repeat;
    border: none;
    width: 680px;
    height: 58px;
    /*display: inline-block;*/
    margin-top: 15px;
    margin-left: 35px;
    position: relative;
}

.search_input	{
    width:300px;
}
.search_business{
    width:690px;

}
.fieldsetting{
    min-width:800px;

}
.cancleIcon{
    position: absolute;
    margin: 7px 0px 0px 10px;
}

.search_button	{
    cursor:pointer;
    position: absolute;
    margin: 8px 0px 0px -32px;
}

.view_control_list{
    position: absolute;
    margin: 7px 0px 0px -115px;

}
.view_control_gal{
    position: absolute;
    margin: 7px 0px 0px -76px;
}

.view_book {
    position: absolute;
    margin: 7px 0px 0px -150px;

}


#newtemplate{
    top: 500px; 
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
}

#newtemplate:hover{
    top: 180px;


}

#addnew{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;

    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
}

#addnew:hover{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;

}


.object-poster_contact tr {
    display: table-row;
    vertical-align: top;
    border-color: inherit;

}

.object-poster_contact td:nth-child(1)  {
    color: #aaa;
    text-align: left;
    width: 45%;

}

.object-poster_contact td:nth-child(2)  {
    color: #404040;
    word-break: break-all;

    display: table-cell;
    vertical-align: inherit;
}

.object-partner_content a {
    margin:10px;
    display: inline-block;

}

.object-partner_content a  img{
    border-radius: 10%;
    width: 45px;
    height: 45px;
    box-shadow: 0px 1px 5px #555;
}







.easing {
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
}









/*PHOTO VIEW*/
.closeview{
    font-size: 16px;
    height: 44px; 
    position: absolute; 
    right: 0; 
    top: 0; 
    width: 44px;
    color: #737373;
}

.closeview:hover{
    color: #fff;
}

.closeview > i{
    bottom: 0;
    height: 16px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;

}

.icon-on-black > i{
    bottom: 0;
    height: 20px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    font-size: 21px;
}

.icon-on-black:hover{
    color: #fff;
}



.object-poster{
    padding: 15px;
    width: 100%; 
    margin:0;

}

.object-poster:hover{
    background-color: #e5e5e5;
}

.object-detail {
    cursor: pointer;
    background-color: rgb(242,240,240);
    color: #404040; 
    padding: 15px; 
    position: relative; 
    -webkit-transition: 300ms; 
    transition: 300ms;
    -webkit-user-select: none;
    border-top: 2px solid #fff;
}

.object-detail:hover {
    background-color: #e5e5e5;
}

.object-partner{
    background-color: rgb(242,240,240);
    color: #404040; 
    padding: 15px; 
    position: relative; 
    -webkit-transition: 300ms; 
    transition: 300ms;
    -webkit-user-select: none;
    border-top: 2px solid #fff;
}

.object-partner:hover{
    background-color: #e5e5e5;
}

.object-discussion{
    background-color: rgb(242,240,240);
    color: #404040; 
    padding: 15px; 
    position: relative; 
    -webkit-transition: 300ms; 
    transition: 300ms;
    -webkit-user-select: none;
    border-top: 2px solid #fff;
}

.object-discussion:hover{
    background-color: #e5e5e5;
}

.dropdownicon{
    position: absolute; 
    right: 15px; 
    top: 15px;
    font-size: 11px;
}

.object-discussion_content{
    position: relative;
    height: auto;
    overflow: hidden;
    -webkit-transition: height 0.35s ease;
    -moz-transition: height 0.35s ease;
    -o-transition: height 0.35s ease;
    transition: height 0.35s ease;
}



.readbtn {
    display: inline-block;
    float: right;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.05);
    box-shadow: 0 1px 0 rgba(0,0,0,.05);
    -webkit-transition: background-color .218s,border-color .218s,box-shadow .218s;
    transition: background-color .218s,border-color .218s,box-shadow .218s;
    -webkit-user-select: none;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    cursor: pointer;
    line-height: 28px;
    padding: 0 10px 0 10px;
    outline: none;
    width: auto;
    position: relative;
    top: -4px;
}

.readbtn:hover{
    -webkit-box-shadow: 0 0px 6px rgba(0, 172, 237,.5);
    box-shadow: 0px 0px 6px rgba(0, 172, 237,.5);
    border-color: #bfbfbf;
}

.readbtn:active{
    -webkit-box-shadow: inset 0 1px 0 #ddd;
    box-shadow: inset 0 1px 0 #ddd;
    background-color: #e5e5e5;
    border-color: #bfbfbf;
}

.readbtn_read{
    color: #262626;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    opacity: .7;
    text-shadow: 1px 1px 0px #fff, -0.5px -0.5px 0px #555;
}