.blur{
    z-index: 10;
    top: 0;
    width: 100%;
    position: fixed;
    height: 100%;
    opacity: 0.6;
    background-color: black;
}

.text-anchor{
    cursor: pointer;
    color: #888;
}

.text-anchor:hover{
    color: #333;  
}

div.search-loading-invisible{
    /*make invisible*/
    display:none;
}

.lightbox{
    min-width: 700px;
    overflow: visible;
    position: fixed;
    top: 0;
    width: 100%;
    height:100%;
    z-index: 1000050;
    background-color: rgba(0,0,0,1);
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;


}


/*/WindowContainer-------------------/*/
.window-container {

    overflow: visible;
    position: fixed;
    z-index: 100;
    background-color: white;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px #888;
    -moz-box-shadow: 0 3px 7px #888;
    box-shadow: 0 3px 7px #888;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}


.contact-container {

    overflow: visible;
    position: fixed;
    left: 30%;
    top:20%;
    z-index: 100;
    background-color: white;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px #888;
    -moz-box-shadow: 0 3px 7px #888;
    box-shadow: 0 3px 7px #888;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.dropdownViewStyle {
    overflow: visible;
    position: fixed;
    min-width: 233px;
    z-index: 102;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.08);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px #888;
    -moz-box-shadow: 0 3px 7px #888;
    box-shadow: 0 3px 7px #888;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    max-height: 200px;
    overflow: auto;
}

.ite{
    padding: 6px 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
}

.ite:hover{
    background-color: rgba(0,0,0,0.1);
}







.head { 
    border-radius: 3px 3px 0 0;
    padding: 15px 30px 20px;
}

.head > .closeview:hover{
    color: black;
}

.content {
    padding: 15px 30px 20px;
    border-radius: 0 0 3px 3px;
}

.lineuptextbox{
    display: inline-block;
    width: 270px;
    margin-right: 5px;
}






.contactme-table tr {
    display: table-row;
    vertical-align: top;
    border-color: inherit;

}

.contactme-table td:nth-child(1)  {
    color: #555;
    text-align: right;
    width: 35%;
}

.contactme-table td:nth-child(2)  {
    padding: 0 0 5px 20px;
    color: #555;
    text-align: center;
}

.dropdown-contactme {
    width: 230px;
}





.checkbox-columncontainer{
    display: inline-block;
    width: 40%;
    text-align: left;
}

.checkbox-container{
    padding: 2px 8px;
}

/*CSS Checkboxes*/

input[type=checkbox].css-checkbox {
    display:none;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left:20px;
    height:15px; 
    display:inline-block;
    line-height:15px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:15px;
    vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -15px;
}

.css-label{
    background-image:url(http://csscheckbox.com/checkboxes/dark-check-green.png);
}

.lite-blue-check{background-image: url(../../images/blue-check.png) ;}

input[type=checkbox].css-checkbox.med + label.css-label.med {
    padding-left:22px;
    height:17px; 
    display:inline-block;
    line-height:17px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:15px;
    vertical-align:middle;
    cursor:pointer;
}

/*/End checkbox---------------/*/


/*/End WindowContainer---------------/*/





/*CONTACT ME  BUTTON*/
.contactmebtn {
    position: relative;
    z-index: 1;
    text-align: center;
    float: right;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
}

.contactmebtn a {


    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    line-height: 53px;
    background-color: #eaeaea;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eaeaea));
    background-image: -webkit-linear-gradient(top, #f6f6f6, #eaeaea);
    background-image: -moz-linear-gradient(top, #f6f6f6, #eaeaea); 
    background-image: -ms-linear-gradient(top, #f6f6f6, #eaeaea); 
    background-image: -o-linear-gradient(top, #f6f6f6, #eaeaea);
    background-image: linear-gradient(top, #f6f6f6, #eaeaea);
    -moz-border-radius: 32px;
    -webkit-border-radius: 32px;
    border-radius: 32px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
}

.contactmebtn a:active {
    top: 1px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#f6f6f6));
    background-image: -webkit-linear-gradient(top, #eaeaea, #f6f6f6);
    background-image: -moz-linear-gradient(top, #eaeaea, #f6f6f6); 
    background-image: -ms-linear-gradient(top, #eaeaea, #f6f6f6); 
    background-image: -o-linear-gradient(top, #eaeaea, #f6f6f6);
    background-image: linear-gradient(top, #eaeaea, #f6f6f6);
}



.contactmebtn a::before{
    content: '';
    position: absolute;
    z-index: -1;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    background-color: #eaeaea;
    -moz-border-radius: 140px;
    -webkit-border-radius: 140px;
    border-radius: 140px;
    opacity: 0.5;	


    display: block;
    border-top: 2px solid #ddd;
    box-shadow: inset 0px 8px 48px #ddd;
}

.contactmebtn a:active::before {
    top: -9px;
}

.contactmebtn a:hover::before {
    opacity: 0.8;
    background-color: #6399cd;
}

.contactmeicon img {
    vertical-align: -7px;
    width: 24px;
}


.contactmebtn > .contactmeicon > i {
    color: rgba(10,60,150, 0.8);
    text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;

}
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }








#aside_contact  th:first-child{
    color: #aaa;
    text-align: right;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: normal;
    width: 90px;
}

.insert-contactdetails{
    margin-left: 20px;
}

.Contact_2child{
    display: block;
    width: 170px;
    margin-left: 20px;
    text-align: left;
    word-wrap: break-word;
    font-weight: normal;
}

.inserthours-day{
    width:100px;
}

.inserthours-time{
    width: 170px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.main_aboutus p{
    font-size: 13px;
}

.selected_image_style{
    opacity: 1;
    -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
    -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
    box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
    bottom: 5px;
    border: 7px solid #fff;
}





#discovery_search_bar_wrapper {
    margin: 0 0 100px 0;
    z-index: 1;
    height: 300px;
    width: 100%;
    min-width: 768px;
    background: url(../../images/searchbarbg.jpg) repeat scroll 0% 5% rgb(242, 240, 240);
    border-bottom: 1px solid #aaa;
    background-size: 100% auto;
    top: 45px;
    position: relative;
    min-width: 1040px;
}


#discovery_search_bar_wrapper_moving {

    z-index: 500;
    margin-top: 36px;
    height: 160px;
    width: 100%;
    min-width: 768px;
    background: none repeat scroll 0% 0% rgb(235, 235, 235);
    border-bottom: 1px solid #AFAFAF; 
}

#discovery_search_bar{
    min-width: 800px;
    position: absolute;
    width: 40%;
    top: 170px;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
}



#discovery_search_bar > a {
    color: #ccc;
    width: 37px;
    height: 37px;
    position: absolute;
    float: right;
    display: inline-block;
    vertical-align: top;

    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
}

#discovery_search_bar > a:hover {
    color: #333333;
    text-decoration: none;
}

#discovery_search_bar > a > i {
    margin: 9px;
    position: absolute;
}



#addnew{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;

    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
}

#addnew:hover{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;

}


#exit-add-photos{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0px;
    margin: 13px 55px;
    color: #aaa;
}


#exit-add-photos:hover{

    color: #333;
}



/*SHOW ALBUM TEMPLATE STYLE*/

.photo_original_style{
    border-radius: 3px;
    width: 110px;
    margin: 5px;
}





.dragndropbox{
    position: absolute;
    height: 100%; 
    width: 100%;
    bottom: 0; 
    padding: 10px;  
    overflow: auto;
    background-color: rgba(0,0,0,0.3);
}

.vertical-resize{
    resize:vertical;
    overflow:auto;
}